[2020-02-27 16:02] #672 closed

[2020-02-27 16:53] maxluk opened #823 "No reference to Run class"
Tensorboard class constructor takes list of Run objects as input. The documentation page should include link to the Run object class documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a27c9b-8c46-66ea-3232-45687d198ac0
* Version Independent ID: fc5fb2e8-9579-79a0-c914-d5f90a5e201e
* Content: [azureml.tenso

[2020-02-27 17:41] vmagelo commented on #768
Thanks for reporting this. There was formatting issues in the docstring preventing parameters from rendering in HTML. The fix is in and will appear in next release in a few weeks.

[2020-02-27 17:41] #768 closed

[2020-02-27 18:29] vmagelo commented on #792
Thanks for pointing this out. It has been fixed and should appear live in a few weeks.

[2020-02-27 18:30] #792 closed

[2020-02-27 18:32] aywolman opened #824 "Testing New Repo"
This is a test

[2020-02-28 07:04] vmagelo commented on #732
The sample was updated and the change will go live with next sdk release in a few weeks. Thanks for pointing this out.

[2020-02-28 07:05] vmagelo commented on #815
Thanks for pointing this out. We fixed the sample code. The change will go live with the next sdk release in a few weeks.

[2020-02-28 12:43] zronaghi commented on #786
Any updates on this? We're looking into using a similar notebook as demo and would be great if we could suppress these warnings

[2020-02-28 16:33] gitsathish commented on #240
Could you please share pointers to a doc or steps to pre-configure a cluster to an I/O path ?

[2020-02-28 16:54] ficocesari commented on #410
Could you please add disable pipeline functionality in the UI?

[2020-02-28 17:24] ficocesari opened #825 "Updating arguments in PythonScriptStep is not reflected in published pipeline"
Steps to reproduce

1. Create a PythonScriptStep with name "output" and arguments=["--format", "json"]
2. Publish pipeline
3. Update PythonScriptStep with the same name "output" and arguments=["--format", **"geojson"**]
4. Publish pipeline
5. Notice in the UI and at runtime that the --format argument still has the old value "json"

Had to resort to change the name of the step to avoid this issue.

[2020-02-28 17:43] swanderz commented on #338
@sdgilley I can confirm that this works (but not with dark theme lol)

[code]

![image](https://user-images.githubusercontent.com/8158673/75571718-955a8180-5a0e-11ea-891f-45969fe27647.png)

[2020-02-28 17:46] #732 closed

[2020-02-28 17:46] #815 closed

[2020-02-28 17:46] #816 closed

[2020-02-28 19:10] swanderz opened #826 "BUG: compute queues for many hours, then silent failure on DataTransferStep"
### Overview
Wish I could give a clean repo on this one, but can't really. Multiple people across two repos we have are experience this lagged compute provisioning issue and ghostly failures of random steps.

### SDK version:
compute: `1.0.85`
local: both `1.0.85` and `1.1.1rc0`

### Timeline:
[code]

### Relevant RunIds
[code]

### Logs -- Failed Data Transfer Step
#### `logs/azureml/stderrlogs.t

[2020-03-01 07:03] Rahulvks commented on #808
Hi score file are good I have attached the error and score file below

`ERROR - Service deployment polling reached non-successful terminal state, current service state: Unhealthy
Operation ID: 5dcd070b-469b-4c41-aeab-59fe04f47ee7
More information can be found using '.get_logs()'
Error:
{
  "code": "DeploymentTimedOut",
  "statusCode": 504,
  "message": "The deployment operation polling has TimedOu

[2020-03-01 13:36] prafulmbm commented on #808
You see the error on the triple quoted string. That's where you need to
check your code.

On Sun, Mar 1, 2020, 12:33 PM Rahulvks <notifications@github.com> wrote:

[2020-03-02 07:48] #799 closed

[2020-03-02 08:13] damochiz opened #827 ""Deploy a model to Azure Container Instances" link does not exist"
Clicking the link "Deploy a model to Azure Container Instances" accesses the following URL, but displays the page if it does not exist.

URL: https://docs.microsoft.com/en-us/python/api/azureml-core/%5Bhttps://docs.microsoft.com/azure/machine-learning/service/how-to-deploy-azure-container-instance%5D(https://docs.microsoft.com/azure/machine-learning/service/how-to-deploy-azure-container-instance)?

[2020-03-02 17:31] samoliveira opened #828 "How to deploy a secondary endpoint specific for features importance"
I'm trying to deploy a custom model inside azure ml not specifically trained inside the platform, and i didn't figure out a way to customize the endpoints, for instance i would like to create another one separated from scoring just to get models features importance.

[2020-03-02 17:31] vmagelo commented on #823
Addressed. Thanks. Change will appear in next release of SDK.

[2020-03-02 17:37] PeterCLu commented on #823
#please-close

[2020-03-02 18:20] sanpil commented on #782
Looking.

[2020-03-02 19:04] swanderz commented on #782
@sanpil we're starting to suspect the pre-release SDK versions... more to come.

[2020-03-02 19:36] swanderz commented on #782
Not sure if this is relevant at all but after reverting local and remote env to `1.0.85` in one of our repos and submitting a pipeline run via the SDK. It stalled for ~12 min on the create compute step of the notebook... never seen that before! this is before the run is submitted and `min_nodes = 0`

![image](https://user-images.githubusercontent.com/8158673/75710687-d5716c80-5c79-11ea-8e09-ca8527

[2020-03-02 19:57] ballcap231 opened #830 "Run.complete() not uploading anything to Azure Studio"
For a run object, what does it mean for it to upload "run artifacts"? it is said that during completion (i.e. run.complete()) the run loads "run artifacts" but I don't see anything uploaded to my outputs/log tab on Azure Studio.

In this example code:
experiment = Experiment(workspace, "My Experiment")
   run = experiment.start_logging(outputs=None, snapshot_directory=".")
   ...
   run.log_metric

[2020-03-02 21:52] swanderz commented on #826
Not sure if this is relevant at all but after reverting local and remote env to `1.0.85` in one of our repos and submitting a pipeline run via the SDK. It stalled for ~12 min on the create compute step of the notebook... never seen that before! this is before the run is submitted and `min_nodes = 0`

![image](https://user-images.githubusercontent.com/8158673/75710687-d5716c80-5c79-11ea-8e09-ca8527

[2020-03-02 23:20] sanpil commented on #782
There was a compute issue that was fixed recently. Can you see if you have ran into the issue recently?

[2020-03-02 23:36] swanderz commented on #782
haven't seen this issue lately. #826  is the one that brought us down on half of Thurs and all of Friday

[2020-03-02 23:49] swanderz commented on #826
@sanpil @rastala
we're not seeing this anymore. what fixed it (_I think_) was either:

1. a fix on your side, or
2. reinstalling the SDK.

my hypothesis for 2) is that although the stable SDK version remains `1.0.85` many of the underlying required packages have been upgraded in the past month numerous times. So `pip install azureml-sdk==1.0.85` a month ago would result in a different environment

[2020-03-02 23:52] aywolman opened #831 "TestNewRepo"
zzz

[2020-03-03 00:04] aywolman commented on #831
machine-learning

[2020-03-03 00:26] swanderz commented on #737
closing @thwagne says this won't happen again.

[2020-03-03 00:26] #782 closed

[2020-03-03 00:55] YutongTie-MSFT commented on #827
@damochiz Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 03:40] #824 closed

[2020-03-03 09:55] NickJordan289 opened #832 "Kubernetes Deployment Error in accelerated-models-quickstart.ipynb"
I am receiving the following error when I try to run through the accelerated-models-quickstart notebook,

Occurs in step 6 when deploying the image to the aks service

[code]

When I run aks_service.get_logs() I get the following

[code]

The only change I made was in the AksCompute.provisioning_configuration to make the location southeastasia

[2020-03-03 17:28] maknotavailable opened #833 "Relative imports for custom modules"
I have the following repository structure
[code]
When I deploy a service, I use the following InferenceConfig, from the root level:
[code]

Running everything locally works fine. Even from the command line as `python code/main.py`. However, as soon as I deploy it as a service I get an ModuleNotFoundError, because the main.py can't find/import the helper (currently done via simple `import helper`).

[2020-03-03 17:44] maknotavailable commented on #833
Here a hacky work-around, adding this to the top of your main.py:
`import os, sys; sys.path.append(os.path.dirname(os.path.realpath(__file__)))`

[2020-03-03 17:45] vmagelo commented on #806
Thanks for pointing this out. The HTML was not rendering correctly so there was missing markup before the leading slash and after the trailing slash that would give the correct context. The correct markup is:

<path>/.azureml/<name> or <path>/aml_config/<name>

Rendering was addressed and will go live in next SDK release in a few weeks.

[2020-03-03 18:00] j-martens commented on #806
thanks for your question.

[2020-03-03 18:00] #806 closed

[2020-03-03 18:34] swanderz commented on #825
@ficocesari you're awesome for making a repo. not fun. also happened to me (#771 ) @alexkalita let me know the fix is in a pre-release version of the SDK version `1.1.0rc0` as well as future versions

[2020-03-03 19:34] gvashishtha opened #834 "Broken link in PyTorch mnist notebook"
Configuration link under Prerequisites appears to be broken in [this notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/training/distributed-pytorch-with-horovod/distributed-pytorch-with-horovod.ipynb](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/training/distributed-pytorch-with

[2020-03-03 19:45] gvashishtha opened #835 "No config.json example"
This page should have an example of a config.json for using workspace.from_config()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90efe042-27ac-6e77-9292-10df77bb1c36
* Version Independent ID: 3b9f2576-7d3f-00f8-0afe-549960520f08
* Content: [azureml.core.Workspace class - Azure Machine Learning Python](https://docs.mi

[2020-03-04 05:55] ram-msft commented on #830
@ballcap231 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-04 05:57] #831 closed

[2020-03-04 10:58] maknotavailable commented on #833
Further looking into this, i saw that the current working directory ( `os.getcwd()` ) points to : `/var/azureml-app/`

This causes issues when trying to load things from the repository, as it is not the same behavior when running the code locally. For example, when trying to retrieve a file from `/var/azureml-app/repo-name/assets`.

Why is `os.getcwd() != /var/azureml-app/repo-name/` ?

[2020-03-04 16:08] lphomiej opened #836 "SSL Setting - requests"
I'm working through issues around being behind a corporate network/proxy and this package's issues with SSL. Using Windows 10. Issue occurs in command line and using VS Code/Jupyter notebook.

So far, the steps I've gone through to make this work are as follows:
1.) Azure ML SDK couldn't login using the InteractiveLoginAuthentication method due to SSL errors.

2.) Assuming this was using the same

[2020-03-04 17:53] YutongTie-MSFT commented on #826
@sanpil @rastala FYI

@swanderz
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-04 17:55] YutongTie-MSFT commented on #744
@jadhosn
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-04 17:56] #744 closed

[2020-03-04 17:57] YutongTie-MSFT commented on #743
@maknotavailable
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-04 20:03] YutongTie-MSFT commented on #832
@NickJordan289
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-04 20:44] swanderz commented on #826
@YutongTie-MSFT please re-open. I'm working with @sonnypark on resolving this issue.

[2020-03-04 20:53] YutongTie-MSFT commented on #834
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/training/distributed-pytorch-with-horovod/distributed-pytorch-with-horovod.ipynb

@gvashishtha Hi Gopal, this link works for me well. Could you please try again? Thanks!

[2020-03-04 20:55] YutongTie-MSFT commented on #835
@gvashishtha
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@j-martens
Hi Josee, could you take a look of this issue? There is some information missing here. Thanks!

[2020-03-04 21:47] gvashishtha commented on #834
Yep, still broken. Try going to https://render.githubusercontent.com/configuration.ipynb , and it will not work.

[This line](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/training/distributed-pytorch-with-horovod/distributed-pytorch-with-horovod.ipynb?short_path=f711b27#L32) is the issue

[2020-03-05 00:43] stemoor opened #837 "Arguments passed to ModuleStep or PythonScriptStep showing up as empty from the scripts/module side"
Hello,
I ran into this problem a couple times where the argument I am passing does not show up on the other side. Instead it shows as empty ''. This has happened to me both with a ModuleStep and a PythonScriptStep. Here is a bit of my code for the module step. This is basically the same as for the PythonScript step except for the step type, but things are done in the same way.

[code]

On the othe

[2020-03-05 00:47] stemoor opened #838 "PipelineData "name" parameter is required when it should not be"
Hi,

I have noted that when passing name=None in the PipelineData constructor, and passing a output_name instead, it throws an error:

[code]
 However, as per described in the documentation below, this should not be the case:
[code]

[2020-03-05 01:19] stemoor opened #839 "PipelineData not recognized as connected to a ModuleStep when passing it as input to another step"
Hi,

I have run into this issue where I get this error:
[code]
I have a module step, which I define with this piece of code:
[code]

In this case output_data is of type Pipelinedata. I then pass this output_data as the input of a PythonScriptStep and get the error mentioned above.

I do not run into this issue if turn the ModuleStep into a PythonScriptStep instead. The same PipelineData output the

[2020-03-05 05:36] ram-msft commented on #836
@lphomiej Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-05 10:29] robinvdheijden opened #840 "Random invalid token error using Databricks PAT token"
A PAT token is used to connect from Azure ML to Databricks. In the DevOps pipeline, this PAT token is successfully used in a couple of steps (configure cluster, copy notebook to cluster), but when it wants to run the notebook on the cluster, an invalid token error occurs now and then. In this, the team could not detect a pattern when this error occurs. See stack trace and global overview of the st

[2020-03-05 10:34] robinvdheijden opened #841 "Internal server error when deploying from Azure ML to AKS"
The team uses Azure ML CLI to deploy a container to AKS (az ml model deploy). Now and then (not always), they get an internal server error, see stack trace. They could not detect a clear pattern when this error occurs. Although it would be possible to create a retry loop in their Azure DevOps pipeline when this error occurs (as the error message also tells), this would not resolve the underlying i

[2020-03-05 10:43] robert4os opened #842 "How to specify the automl sdk version to be used?"
Is there a way to specify the automl version (i.e. via Conda dependencies)?

I am getting different results (even errors) because of different automl versions beeing used depending on the compute target (e.g. Training Cluster and local Compute Instances).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bc2b21e-6b1a-cb9

[2020-03-05 10:52] vincentAGNES commented on #216
Do smth like:
     `L=exp_name.list(workspace_name)`
Then  select your experiment among the list like L[0] or L[1]...
And do smth like:
     `[i for i in Experiment.get_runs()]`

[2020-03-05 11:37] ram-msft commented on #830
@ballcap231 Please follow the below document to enable logging in azure machine learning.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-logging#training-models-and-compute-target-logging
![image](https://user-images.githubusercontent.com/49180516/75978030-a40bd180-5f03-11ea-9ecf-165ecc0e75f4.png)

[2020-03-05 13:22] robert4os opened #843 "Support multiple countries"
Hi,

in Europe we have retailers that get customers from different countries in the same store, sometimes even three countries. It is typical that customers cross borders if they are close to obtain cheaper prices.

Therefor it would be great if multiple countries would be accepted by automl for holiday feature generation.

Thank you and best regards,
Robert

---
#### Document Details

⚠ *Do not e

[2020-03-05 16:08] jadhosn opened #844 "AutoML location/version confusion"
I'm currently developing an AutoML pipeline, in which I use the AutoML Step.
This [link](https://docs.microsoft.com/en-us/python/api/azureml-train-automl-runtime/azureml.train.automl.runtime.automl_step.automlstep?view=azure-ml-py) is the only place I was able to get to documentation regarding the AutoML step.

Looking around, I noticed that in the rc versions, AutoML was completely moved to azure

[2020-03-05 17:50] sanpil commented on #240
Does this help? https://aka.ms/pl-databricks.

[2020-03-05 18:28] cartacioS commented on #843
Hello @robert4os ,

Support for multiple regions/countries is already an item in our backlog.

It'd be great sync offline on your use case for AutoML and forecasting. If you're interested in sharing your requirements and product feedback please reach out to us at AskAutomatedML@microsoft.com

Thanks,
Sabina

[2020-03-05 18:39] CESARDELATORRE commented on #844
@jadhosn - AutoMLStep is fully supported by our team (Azure AutoML team within Azure ML team).
You also have the following two notebooks using AutoMLStep within an AML Pipeline:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-automated-machine-learning-step.ipynb

https://github.com/Azure/MachineLear

[2020-03-05 19:07] ficocesari commented on #825
Thanks!
This is great, thanks for relaying the info.  Will try 1.1.0rc0

[2020-03-05 22:23] nicolemhfarley opened #845 "DataReference objects as step inputs even when they're functionally outputs"
I've noticed a strange phenomenon and haven't been able to find an explanation.  When I try to generate a DataReference output from a PythonScriptStep, I have to set it as an input rather than an output to the step itself.  This is not the case, however, when I use PipelineData objects.  Why is this?

For example:
[code]

[2020-03-05 22:56] aywolman commented on #821
Test Only

[2020-03-05 23:08] aywolman opened #846 "test24"
testing webhook

[2020-03-05 23:50] gvashishtha opened #847 "arguments as list needs examples"
Usually, arguments are passed as a dictionary of key-value pairs. It's not clear from this page how to use a list to pass arguments to the ScriptRunConfig.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109d9284-e234-5086-5da6-4155291361c8
* Version Independent ID: 57cc0c7a-faa7-1a86-ee14-b9cf99fb540d
* Content: [azure

[2020-03-06 02:09] ram-msft commented on #842
@robert4os Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-06 08:29] ram-msft commented on #842
@robert4os Can you please add more details about the errors that you are getting.
Please follow the below to specify the automl version.
aml_conda_packages = ['pandas','scikit-learn','pyarrow','pytz','psutil']
aml_pip_packages = ['azureml-sdk', 'azureml-dataprep', 'azureml-train-automl==1.0.85']
aml_run_config.environment.python.conda_dependencies = CondaDependencies.create(
    conda_packages = a

[2020-03-06 12:05] ram-msft commented on #830
@ballcap231 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-06 12:05] #830 closed

[2020-03-06 13:35] robert4os commented on #842
Hi Ram,

thank you for your response.

I am using currently using

automl_config = AutoMLConfig(training_data=train_data, **automl_settings)
experiment = Experiment(ws, experiment_name)
 run = experiment.submit(automl_config, show_output=verbose)

and there I did not find an option to specify the azurml[ml]-sdk to use on
the target.

Are you suggesting to wrap the call above in a Script and execut

[2020-03-06 16:14] jadhosn commented on #844
@CESARDELATORRE going through the AutoML step, it's outdated since there is a mention of `data_script` where this feature has been deprecated. Can we please update that? Is there a way to feed in pipeline data object to an AutoML step (other than going through the datasets route)? An updated documentation for the step would be really helpful.

[2020-03-06 18:27] samoliveira opened #848 "Any chance to get this information soon?"
Any chance to get this information soon?
No content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57603f8f-c5c0-b5c9-f7f6-50f3c76b6970
* Version Independent ID: 0f85cea1-a89f-46a3-38f1-57d5041bc253
* Content: [azureml.core.dataset.Dataset.Tabular class - Azure Machine Learning Python](https://docs.microsoft.com/en-us/

[2020-03-06 18:30] gvashishtha opened #849 "Better document properties that are added to runs by default in get_properties"
This page should include a dictionary of properties that are automatically added to a run, so that people doing experiment.get_runs() know what properties are available to filter on. When I do run.get_properties(), I see the following, hopefully enough to get started.

{'_azureml.ComputeTargetType': 'amlcompute',
 'ContentSnapshotId': 'f459664c-f3ad-4c28-8e0c-e76861f42c0a',
 'azureml.git.repositor

[2020-03-06 18:50] swatig007 commented on #842
@robert4os , the automl version installed locally is the one that gets used for remote training.
You can control the automl version installed locally using this example -
pip install azureml-train-automl=="1.0.85"

[2020-03-06 19:25] j-martens commented on #849
@vmagelo

[2020-03-06 20:21] cram-rod commented on #656
Encountered same issue with Azure ML SDK 1.0.83.  As mentioned before, the sklearn version in the azure VM is older (0.20.x).  So, open the tutorial with JupyterLab, click on Git, select Git Command in Terminal and enter: pip install -U scikit-learn. That installed 0.22.2 in my case.  Rerun the first tutorial so the model can be regenerated. Play safe and also change the import joblib in the secon

[2020-03-09 03:43] ram-msft commented on #836
@lphomiej Can you please add more details about if you running Fiddler on your machine or anything capturing traffic, are they? If you are running behind a proxy you can set that as the HTTP_PROXY/HTTPS_PROXY environment variables to configure the requests library.

[2020-03-09 03:55] ram-msft commented on #836
@aashishb Can you please help on this SSL error.

[2020-03-09 05:12] ram-msft commented on #842
@robert4os We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-09 05:12] #842 closed

[2020-03-09 13:11] initmahesh opened #850 "Link does not work at the en of page..."
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/track-and-monitor-experiments/using-mlflow/train-local/train-local.ipynb

on the end of page there in Next Step section  -> Links are returning 404 error ...

Next steps
Try out these notebooks to learn more about MLflow-Azure Machine Learning integration:

**_

1. Train a model using remote compute on Azure Cloud
2.

[2020-03-09 15:37] YutongTie-MSFT commented on #850
@initmahesh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-09 17:04] aywolman commented on #846
test

[2020-03-09 17:38] YutongTie-MSFT commented on #827
@j-martens Hi Josee, could you please help us fix this page? Thanks.

[2020-03-09 22:12] jadhosn commented on #640
@rongduan-zhu following up on this issue, as the thread mentions above, I'm trying to pass in a FileDataset to an AutoML step. Your suggested fix no longer works on the latest stable 1.0.85 (most probably with the switch to the new datasets since Nov). Can you please share how subsetting a FileDataset would work for the purpose of AutoML? @purnesh42H

[2020-03-10 03:48] swanderz commented on #845
very strange @nicolemhfarley. do you mean to say that if you were to pass the `data_ref_output` to the `outputs` param of `my_step` then it won't work? cc: @MayMSFT

[2020-03-10 03:52] swanderz commented on #838
@stemoor yeah kind of confusing bc there's two name-related parameters to [`PipelineData`](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.pipelinedata?view=azure-ml-py):
- `name`, and
- `output_name`
`name` is required. `output_name` is only required if you need to save it to a particular path instead of a path that's auto-created using the `name` param. @M

[2020-03-10 12:22] YutongTie-MSFT commented on #834
@vizhur Hi, could you please help fix this repo? Thanks.

[2020-03-10 12:29] YutongTie-MSFT commented on #848
@samoliveira
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-10 12:30] YutongTie-MSFT commented on #846
@aywolman
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-10 12:30] #846 closed

[2020-03-10 12:32] YutongTie-MSFT commented on #821
@aywolman
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-10 12:32] #821 closed

[2020-03-10 12:37] YutongTie-MSFT commented on #847
@gvashishtha
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-10 12:39] YutongTie-MSFT commented on #843
@robert4os
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-10 12:39] #843 closed

[2020-03-10 13:36] YutongTie-MSFT commented on #841
@robinvdheijden

Thanks for reaching out to us. This is forum for Machine Learning Notebook only. Please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService)as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. T

[2020-03-10 13:36] #841 closed

[2020-03-10 13:37] YutongTie-MSFT commented on #692
@swanderz
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-10 13:37] #692 closed

[2020-03-10 13:47] YutongTie-MSFT commented on #730
@iannovic

Thanks for reaching out to us. Since this repo is for Machine Learning Notebook only, please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. T

[2020-03-10 13:47] #730 closed

[2020-03-10 16:47] rongduan-zhu commented on #749
Hi @JanusAsmussen, unfortunately, we currently don't support Dataset with PipelineParameter but it is something we are working on adding in the next two months. I will update here once the feature has been shipped.

[2020-03-10 17:19] MayMSFT commented on #845
pipelinedata is for output. everytime you run the pipeline, it will generate a new folder in your datastore to store the output files. so instead of defining data_output as DataReference, you shall define it as a PipelineData object and pass it as the output parameter.
doc: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-first-pipeline

[2020-03-10 18:04] GiftA-MSFT commented on #767
Will now proceed to close this thread. Thanks.

[2020-03-10 18:04] #767 closed

[2020-03-10 18:07] lphomiej commented on #836
I haven't been in the office due to the COVID-19 thing, so I'm not able to test this further right now. I was hoping it'd be clear that the Pipeline class was using Request, overwriting some settings or something - since everything else worked (logging in).

Our infrastructure team said they might have to whitelist certain traffic because it's being decrypted as it comes in (or something like that

[2020-03-10 18:13] GiftA-MSFT commented on #769
@j-martens and @Blackmist please can you look into this feedback? Thanks.

[2020-03-10 18:20] #771 closed

[2020-03-10 18:25] GiftA-MSFT commented on #773
@nemasobhani please let us know if the fix resolved your issue. Thanks.

[2020-03-10 18:37] GiftA-MSFT commented on #785
@ttelfer please let us know if the suggested solution resolved your issue. Thanks.

[2020-03-10 18:44] GiftA-MSFT commented on #790
@guybartal please let us know if the above suggestion resolved your issue. Thanks.

[2020-03-10 18:51] GiftA-MSFT commented on #793
@srinikris we will now proceed to close this thread. Thanks.

[2020-03-10 18:51] #793 closed

[2020-03-10 19:30] #807 closed

[2020-03-10 19:38] #791 closed

[2020-03-10 19:42] vizhur commented on #803
That will create a specification what packages to install into the environment for your run execution. If we have no access to pull it from, like to the ones you installed in editable mode, we'll fail

[2020-03-10 19:42] #803 closed

[2020-03-10 20:06] GiftA-MSFT commented on #812
@kubasiak and @swanderz thanks for your feedback. We will now proceed to close this thread.

[2020-03-10 20:06] #812 closed

[2020-03-10 20:15] Blackmist commented on #769
@jmwoloso thanks for the feedback on this.

The AMLRequest class isn't used to send data. It's a wrapper around the a Flask request object. It's there so the score.py can access the raw incoming request.

From the client side, there's no special class provided by the SDK for sending binary data. There's no standard format; you might use base64 encoded, BSON, or some other format. It might be a mul

[2020-03-10 20:31] GiftA-MSFT commented on #820
Thanks for your feedback. We will now proceed to close this thread.

[2020-03-10 20:31] #820 closed

[2020-03-10 20:53] #823 closed

[2020-03-10 20:59] GiftA-MSFT commented on #825
We will now proceed to close this thread. Thanks.

[2020-03-10 20:59] #825 closed

[2020-03-10 21:07] GiftA-MSFT commented on #837
@stemoor thanks for sharing this feedback. We will now proceed to close this thread.

[2020-03-10 21:36] j-martens commented on #813
@mvagelo

[2020-03-10 22:29] swanderz commented on #773
@GiftA-MSFT we're waiting for this fix to be included in a stable release which we've been told will happen by the end of the week.

[2020-03-10 22:57] alexkalita commented on #839
Can you share the details of how this module was published, and how step_output_wiring is declared?

[2020-03-11 06:02] GiftA-MSFT commented on #773
@swanderz thanks for your feedback. I noticed sonnypark's comment was 28 days ago, so I assumed the fix must've been deployed by now.

[2020-03-11 06:06] ram-msft commented on #845
@nicolemhfarley We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-11 06:06] #845 closed

[2020-03-11 08:45] oo2316oo opened #851 "the image can not build."
would you mind let us know who this work? we tried it, but can not see any image build in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 890c70c7-0502-35b1-5e4d-b0db738332bb
* Version Independent ID: f0636a71-27c7-30d7-e2a0-a4953227ce5d
* Content: [azureml.core.environment.ImageBuildDetails class - Azure Ma

[2020-03-11 15:03] vmagelo commented on #848
I believe this page isn't really a class; it's a spurious result output from the build system.  Everything you need to know about Tabular is in https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.dataset.dataset?view=azure-ml-py.

[2020-03-11 16:30] vmagelo commented on #849
What you see for properties depends on the context. A simple run started in local notebook shows just 'ContentSnapshotId' whereas a ScriptRun will many properties.  You can see this running this [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/track-and-monitor-experiments/manage-runs/manage-runs.ipynb) and looking at properties of each run:

I suspect th

[2020-03-11 16:32] vmagelo commented on #827
A fix is in the works. Thanks for pointing this out.

[2020-03-11 16:45] vmagelo commented on #847
To help you immediately, the list is of strings arguments are in pairs.

arguments = ['--arg1', arg1_val, '--arg2', arg2_val]

([notebook example](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/track-and-monitor-experiments/tensorboard/tensorboard.ipynb)) arguments_list = ["--log_dir", logs_dir]

([notebook example](https://github.com/Azure/MachineLearningNotebook

[2020-03-11 17:12] YutongTie-MSFT commented on #817
@ansylenium
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:13] YutongTie-MSFT commented on #822
@ErnstRoell
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:13] YutongTie-MSFT commented on #840
@robinvdheijden
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:20] YutongTie-MSFT commented on #837
@stemoor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:24] YutongTie-MSFT commented on #805
@Anaig
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:25] YutongTie-MSFT commented on #794
@hangzh-msft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #783
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-11 17:26] YutongTie-MSFT commented on #770
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #764
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #757
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #751
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #750
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:26] YutongTie-MSFT commented on #746
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-11 17:27] YutongTie-MSFT commented on #775
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-11 17:32] YutongTie-MSFT commented on #851
@oo2316oo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 17:40] Aniththa commented on #746
Confirmed with @skasturi - at the time of writing the post looks like pip released a new version which broke image builds. Looks like this has been resolved an no action is required. We can close this issue.

[2020-03-11 20:40] yikei commented on #848
In addition to the Dataset class linked by the previous reply, you can also refer to TabularDataset class here: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.tabulardataset?view=azure-ml-py

We will look into why the empty page exists and fix it.

Hope this resolves the issue, thanks!

[2020-03-11 20:58] alexkalita commented on #837
This is because your DataReference is using the 'download' mode.  If you switch this to 'mount' (which is the default), it should do the path expansion for the arguments list.

    input_case_data = DataReference(
        datastore=datastore,
        data_reference_name= "input_data",
        mode=**"download"**
    )

The 'download' mode is intended to be use when the script expects a specific (e

[2020-03-11 21:11] vmagelo commented on #827
Fix will appear in next release in 1-2 weeks. Thanks.

[2020-03-11 21:13] PeterCLu commented on #827
Fix has been applied, I'll proceed to close this issue.

[2020-03-11 21:13] #827 closed

[2020-03-12 03:30] lostmygithubaccount opened #853 "programmatically get list of available regions"
How do I programmatically get the list of regions? I don't want to get the strings wrong, and want to automate creating a workspace per region.

From the `create` documentation I can see the list of supported regions, but is there a way to get a list of the strings (e.g. 'southcentralus') from the Python SDK? How?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-03-12 03:32] lostmygithubaccount opened #854 "what is the setup method? why can you set default clusters?"
confused by the `setup` method/documentation, and a few of the others  - should these be exposed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90efe042-27ac-6e77-9292-10df77bb1c36
* Version Independent ID: 3b9f2576-7d3f-00f8-0afe-549960520f08
* Content: [azureml.core.Workspace class - Azure Machine Learning Python](h

[2020-03-12 05:22] ram-msft commented on #853
@lostmygithubaccount Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-12 17:57] GiftA-MSFT commented on #854
@lostmygithubaccount we will review your feedback and get back to you shortly. Thanks.

[2020-03-12 18:40] EricWrightAtWork opened #855 "Compute Instance should have MachineLearningNotebooks by default"
I created a Compute Instance from the ML portal a few days ago and noticed that there were no notebooks there by default. I was able to manually clone them from this git repo, but it seems like a better user experience for this to be done by default.

[2020-03-12 19:02] #855 closed

[2020-03-12 19:39] #790 closed

[2020-03-12 20:10] #785 closed

[2020-03-12 20:34] #819 closed

[2020-03-12 21:43] michalmar opened #857 "Compute Instance behind VNET - restrict public access"
I want to provision Compute Instance behind VNET but also to access it **ONLY** through that VNET, so basically get rid of public IP and use predefined NSG - but couldn't find how.

Also in this VNET setup, I am not able to access Jupyter server/notebooks under the Private IP of the Compute Instance.

[2020-03-12 22:51] michalmar opened #858 "Compute Instance LOGS access when creation FAILED"
I cannot get logs when Compute Instance provisioning fails. Where the logs are created?

![image](https://user-images.githubusercontent.com/16072588/76574299-2aa05000-64bc-11ea-895c-a6acc8088ac0.png)

[2020-03-12 22:51] nemasobhani commented on #773
Fixed in SDK 1.1.5. Thank you!

[2020-03-12 22:51] #773 closed

[2020-03-12 23:04] usuyama opened #859 "`user_managed_dependencies` and `conda_dependencies_file`"
Is it possible to use `conda_dependencies_file` with `user_managed_dependencies`?

For example, when we use a custom Docker image with a custom Python environment (i.e. using interpreter_path), would be great if we can specify `conda_dependencies_file` for additional dependencies on top of the Docker image.

In other words, can we use conda_dependencies_file with a custom Docker image?

---
#### D

[2020-03-13 00:07] sonnypark commented on #773
took so long for this stable release. Thanks for your patience!

[2020-03-13 04:05] ram-msft commented on #857
@michalmar Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-13 04:07] ram-msft commented on #858
@michalmar Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-13 05:58] ram-msft commented on #859
@usuyama Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-13 10:00] ram-msft commented on #857
@michalmar Thanks. Enabling VNet for compute instance and private IP are orthogonal.
You can put compute instance behind a VNet using the steps mentioned in [this ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-virtual-network#compute-instance) doc.

We’re working on enabling private IP for compute instance in near future. Until we do that you still need to use NSGs as defi

[2020-03-13 10:10] ram-msft commented on #857
@michalmar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-13 10:10] #857 closed

[2020-03-13 13:22] vmagelo commented on #837
We added info to the doc capturing the info above. Will appear with next SDK releast.

[2020-03-13 13:37] j-martens commented on #837
We will now proceed to close this thread. Thank you so much for your post. The updated docs should be released in the new 2-3 weeks.

[2020-03-13 14:35] vmagelo commented on #847
We updated docs. Changes will go out with next SDK release in 1-2 weeks. Thanks.

[2020-03-13 15:43] #837 closed

[2020-03-13 15:43] #847 closed

[2020-03-13 17:44] jadhosn opened #860 "Dataset.take(1) returning Buffer too small"
I'm trying to fetch the column header of a dataset registered in my workspace. Here are the steps I'm following:
1. Define a datastore
2. Access the dataset by name and specify the version
3. Take a single row as a sample
4. Convert sample into pandas data frame
5. Call df.columns
[code]
I have a wide dataset in hand (roughly 5000 columns), so I'm using `.take(1)` before I swap it into a pandas da

[2020-03-13 17:45] nicolemhfarley commented on #845
@swanderz Yes.

@MayMSFT @ram-msft I am aware of the use for a Pipelinedata object and use them frequently for communication between steps but this doesn't address the issue that I raised.  I am specifying a specific output location on a dedicated Datastore for consumption of these data by other groups for purposes that are completely independent of the platform.  This is very easy to do using a D

[2020-03-13 18:59] GiftA-MSFT commented on #752
@dem108 downgrading tensorflow to 1.14 resolved the issue for me. It seems support isn't available for 2.0 at the moment.

@vizhur any idea on when support will be available (referencing [#637](https://github.com/Azure/MachineLearningNotebooks/issues/637))?

[2020-03-13 20:53] jadhosn opened #861 "tags from AutoML runs don't show on the new portal"
Trying to tag AutoML runs on the new portal doesn't show any of the tags being fed in vs the old experience that shows the tags being fed. (snapshots below)
### Old portal
![old portal](https://user-images.githubusercontent.com/17963295/76658572-aab4cd00-6531-11ea-82f6-b20e9c131eec.png)
### New Portal
![new portal](https://user-images.githubusercontent.com/17963295/76658716-f49db300-6531-11ea-970c

[2020-03-13 21:32] #810 closed

[2020-03-13 21:54] jadhosn commented on #767
@cartacioS I'm facing the same error, except that I'm kicking off the AutoML run from my local machine, using a remote compute as my aml compute target. Using this issue above, and this [one](https://github.com/Azure/MachineLearningNotebooks/issues/313), it seems that I would still need to add xgboost to my env (locally) although technically I won't be using that package in my AutoML exercise?

[2020-03-13 22:41] MayMSFT commented on #845
@sanpil can we specify a target path for PipelineData? Looking at [API reference](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.builder.pipelinedata?view=azure-ml-py), doesn't look like it's supported. any reason why?

[2020-03-13 22:59] sanpil commented on #845
We can't. For reuse purpose, the system generates path in the current implementation.

[2020-03-13 23:09] GiftA-MSFT commented on #854
@lostmygithubaccount thanks for your feedback. setup() is now deprecated. Instead, use create() to create a new workspace, or get()/from_config() to retrieve an existing workspace.

@j-martens can we proceed to remove setup() method from documentation?

[2020-03-13 23:29] j-martens commented on #854
@GiftA-MSFT -  the engineering team must remove it from the doc strings. Please assign to Akshaya Annavajhala

[2020-03-14 00:16] GiftA-MSFT commented on #854
@j-martens there is warning note. Thanks for your feedback. Will proceed to close.
![image](https://user-images.githubusercontent.com/51332022/76670552-87a51000-6567-11ea-8eb5-c9e4927f6a4a.png)

[2020-03-14 00:16] #854 closed

[2020-03-14 09:26] skasturi commented on #861
@chnldw

[2020-03-14 09:30] skasturi commented on #860
@anliakho2 @shuyums2

[2020-03-14 14:59] michalmar commented on #857
Can be closed. Thanks a lot!

On Fri, Mar 13, 2020 at 11:10 AM Ram <notifications@github.com> wrote:

[2020-03-14 15:43] MohitGargMSFT commented on #860
@jadhosn Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-14 15:44] MohitGargMSFT commented on #861
@jadhosn Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-14 17:54] awezmm commented on #739
Is there any update on this?

[2020-03-15 01:22] omartin2010 opened #863 "Page is not containing the proper information under attributes"
Attribute names are missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49038bc-1bad-a7ca-b107-760f156f4ee9
* Version Independent ID: e4244e08-b247-38aa-dc95-acdd004f86bd
* Content: [azureml.core.Experiment class - Azure Machine Learning Python](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.

[2020-03-15 02:51] jadhosn commented on #826
@swanderz We're seeing the same issue with the compute queuing. We've tried opening more than one case with MS for different workspaces. The way we went around it (hacky fix) is by allocating at least 1 node as minimum nodes for the compute on creation (and then manual teardown EOD). There's also a bug in SDK-created compute clusters that even if you allocate 20 nodes, it doesn't rescale when need

[2020-03-15 02:58] jadhosn commented on #845
@sanpil, in @nicolemhfarley's case above, what would be the suggested solution to write the same data (produced by a pipeline step) into two different locations? One location is in a pipeline data object (that is used to define port-binding between steps and is logged in a run specific artifacts path), and another location that is somewhere on a completely separate Azure Blob, not related to Azure

[2020-03-15 02:59] jadhosn commented on #845
@ram-msft can you please re-open this issue as it's not solved yet?

[2020-03-15 06:55] GiftA-MSFT commented on #863
@omartin2010 we will review your feedback and get back to you shortly. Thanks.

[2020-03-15 13:42] maknotavailable commented on #743
It seems that .git/ folder is not ignored unless explicitly added to the `.amlignore` file. Any chance this can be re-visited? The current .git folder I am working with is >300MB, and was causing the issues stated above.

[2020-03-15 17:09] omartin2010 opened #864 "Attrubutes section looks like it's missing the name of the attributes"
We see this :
[code]
but this doesn't tell us which attribute is deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f74ef100-d06b-b9c5-bbfb-78120ee794c5
* Version Independent ID: a0fdc0b6-3d00-2886-895f-7aa502aab668
* Content: [azureml.core.environment.DockerSection class - Azure Machine Learning Python](https:

[2020-03-15 18:59] GiftA-MSFT commented on #864
@omartin2010 we will review your feedback and get back to you shortly. Thanks.

[2020-03-15 23:55] #769 closed

[2020-03-16 02:59] ram-msft commented on #853
@j-martens Can you please check on this.

[2020-03-16 12:16] vmagelo commented on #835
We added a link to an example/discussion of the config in an article. The article has more context around the fields in the config. Change will appear in next SDK release in a few weeks. Thanks.

[2020-03-16 13:24] vmagelo commented on #864
Thanks. Something is broken in the build so that names are not showing up. We are investigating.

[2020-03-16 13:24] vmagelo commented on #863
Thanks. Something is broken in the build so that Attribute names are not showing up. We are investigating.

[2020-03-16 15:37] #835 closed

[2020-03-16 15:57] dumbledad opened #865 "'_SubmittedRun' object has no attribute 'run_id'"
[code]

Produces the error

Surely this is how [the documentation](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.run(class)?view=azure-ml-py) describes getting the run_id programatically?

[2020-03-16 16:17] akshaya-a commented on #865
I think we have a bug in our documentation so it's a bit confusing. This section should render the actual property names but doesn't appear to be doing so: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.run(class)?view=azure-ml-py#attributes

I believe you want run.id instead of run.run_id

[2020-03-16 16:26] #865 closed

[2020-03-16 16:27] MayMSFT commented on #860
hi @jadhosn ,
can you share with us the version of your azureml-sdk? when you do ds.to_pandas_dataframe(), does it return only the header or the entire dataframe correctly?
Thanks!

[2020-03-16 17:04] j-martens commented on #865
@akshaya-a - is there a doc bug somewhere to track this?

[2020-03-16 18:01] anliakho2 commented on #860
@jadhosn This is a bug that was recently fixed (assuming you are using pyarrow version 0.16)
Please install azureml-dataprep 1.3.5 to pick up the fix

[2020-03-16 18:04] jadhosn commented on #860
@anliakho2  Yup, I'm using pyarrow=0.16.0. I'll move towards dataprep 1.3.5 and let you know how that works.

@MayMSFT, it doesn't return anything even with take(1).

azureml-automl-core       1.0.85.5                 pypi_0    pypi
azureml-automl-runtime    1.0.85.5                 pypi_0    pypi
azureml-core              1.0.85.5                 pypi_0    pypi
azureml-dataprep          1.1.38

[2020-03-16 18:11] jadhosn commented on #860
@anliakho2 are we sure that dataprep 1.3.5 plays nice with 1.0.85? right off the bat, moving towards dataprep=1.3.5 returns some versions mismatches (see below)

ERROR: azureml-train-automl-runtime 1.0.85.5 has requirement azureml-dataprep[fuse,pandas]<1.2.0a,>=1.1.37a, but you'll have azureml-dataprep 1.3.5 which is incompatible.
ERROR: azureml-train-automl-runtime 1.0.85.5 has requirement pandas

[2020-03-16 18:33] anliakho2 commented on #860
Yeah, sorry though that you are already on latest of azureml-sdk (1.1.5) you better upgrade to azureml-sdk 1.1.5.1, that for sure would work.
Or there is a reason why you want to stay behind on azureml-sdk 1.0.85?

[2020-03-16 18:47] jadhosn commented on #860
@anliakho2 Oh, it's been a bit since I checked the release notes page. We wanted to stick with 1.0.85 as it was the most recent stable version. I guess with 1.1.5.1 not being an rc, we might consider moving up. Just in case we stick with 1.0.85 (as we've developed quite a bit on that sdk version), the buffer is too small doesn't have a fix unless we move up?

[2020-03-16 18:58] anliakho2 commented on #860
@jadhosn 1.1.5 is stable and should also work (dataprep dependency will be 1.3.4 - which is also fine)
The other option if you want to stay on 1.0.85 is to downgrade pyarrow to 0.15 as it's new check they introduced...
Third option is to read more than 8 rows which should also work just fine (satisfies pyarrow check :) ) Hope this helps

[2020-03-16 19:11] jadhosn commented on #860
Thank you @anliakho2 for providing the different options. That was very helpful.

[2020-03-17 01:29] adgustaf opened #866 "AutoML Beer Forecasting Notebook: Pyplot issues"
Hi All,

I ran through the [beer forecasting notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-beer-remote/auto-ml-forecasting-beer-remote.ipynb) and I found some strange code regarding how pyplot is used/called.  I'll enumerate them below.  My guess is that these issues pop up in other notebooks as well and the issue

[2020-03-17 02:20] adgustaf opened #867 "AutoML Beer Forecasting Notebook: General Feedback"
Hi All,

I'm just attempting to give some feedback on some issues that I encountered when running the [beer forecasting notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-beer-remote/auto-ml-forecasting-beer-remote.ipynb).  I hope this feedback is helpful in designing notebooks that are a bit more user-friendly.

This f

[2020-03-17 03:08] ram-msft commented on #832
@NickJordan289 Can you please share the config for the cluster and run “kubectl describe nodes”  to check on this.

[2020-03-17 03:40] NickJordan289 commented on #832
What do you mean by 'config'? The long one under compute details or the provisioning_configuration in the code?

Also when I tried running that command on my compute instance it just said the following:
[code]

[2020-03-17 04:19] swanderz commented on #737
@thwagne @swatig007

same thing just happened again. VERY frustrating. Could this be related to the connection issues?
Region: West US II
PipelineRun: `b375ca1c-66eb-4bb3-ba3b-35cceac398e6`
HyperDriveStep: `2a769d94-a57e-4864-b7ff-0c6409d4deb8`
HyperDriveRun: `HD_e000cf88-840d-4d88-97ab-7e58bc8e5ec2`
training run example: `HD_e000cf88-840d-4d88-97ab-7e58bc8e5ec2_0`
get metrics step: `18af5cd8-ddab

[2020-03-17 05:02] ram-msft commented on #866
@adgustaf Thanks for the feedback. We will update you shortly.

[2020-03-17 05:08] swanderz commented on #845
on our team, what we do  is have a `DataTransferStep` for each `PipelineData` that we'd like to persist outside of the pipeline. For us, we keep use `ds_pipeline` to keep all the `PipelineData`'s and `ds_output_blob` to persist a separate consolidated list of artifacts for each repo. @nicolemhfarley @jadhosn below is an example of a very common pattern we use. Hopefully this helps...

[code]

[2020-03-17 05:57] swanderz commented on #737
@jadhosn does your team use HyperDrive? If so, have you all seen this error before?

[2020-03-17 07:21] RohitMungi-MSFT commented on #867
@adgustaf Thanks for your honest feedback. We shall pass this feedback to our internal team for Machine Learning notebooks to look at the structure of the notebooks and recommend to add more details to the steps required while using the notebooks.
Tagging @rastala @vizhur for visibility

[2020-03-17 15:33] jadhosn commented on #737
@swanderz we haven't used hyperdrive yet

[2020-03-17 16:15] swatig007 commented on #737
Run History team acknowledges as issue on their end. @andscho-msft is investigating

[2020-03-17 16:21] swanderz commented on #737
we normally see in the `70_driver_log.txt` that cleanup takes 0-2 seconds. for this run, there's this line.
`Cleanup took 480.1478006839752 seconds`

[2020-03-17 16:35] sanpil commented on #845
Agree with the above suggestion by Anders.

[2020-03-17 17:17] nicolemhfarley commented on #845
@swanderz Nice.  Thanks for the tip!

[2020-03-17 17:20] tmccrmck commented on #832
The [kubeconfig file](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/) is used to manage access to your Kubernetes cluster. You can get the file with [this](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials) az cli command.

This just means you never got the kubeconfig file so it's trying to access a running a local Ku

[2020-03-17 17:51] CESARDELATORRE opened #868 "data_script and "get_data.py" are mentioned but AFAIK they are not supported in the last version"
data_script and "get_data.py" are mentioned but AFAIK they are not supported in the last version of AutoMLConfig class.

Sentence above:
"The file path specified in the data_script configuration parameter must end with a file named "get_data.py".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8e0e0c5-990a-20c3-3f18-ac

[2020-03-17 21:18] lufthavn opened #869 "Unable to perform AutoML model training with Tensorflow. Reports "WARNING - tensorflow module is not installed""
I am interested in utilizing TF algorithms as part of automated training of a model using AutoML. AutoML by itself works fine in my notebook, but when I try to enable Tensorflow by passing `"enable_tf": True` to the AutoMLConfig class, I get the warning `WARNING - tensorflow module is not installed`. I have tried to alter a demo notebook to include Tensorflow algorithms in a regression task to ill

[2020-03-17 21:35] skasturi commented on #869
@omkarmore83 @naraymad1

[2020-03-17 23:24] justinormont opened #870 "Mojibake in auto-ml-classification-credit-card-fraud.ipynb"
[Mojibake ](https://en.wikipedia.org/wiki/Mojibake)in dataset reference:
![image](https://user-images.githubusercontent.com/4080826/76910383-14ebab80-686b-11ea-9ab6-b3efaa8fb243.png)

https://github.com/Azure/MachineLearningNotebooks/blob/e0ea99a6bb284ada8c4044f2fb8ce6481863519f/how-to-use-azureml/automated-machine-learning/classification-credit-card-fraud/auto-ml-classification-credit-card-fraud.

[2020-03-18 01:28] NickJordan289 commented on #832
[describe.txt](https://github.com/Azure/MachineLearningNotebooks/files/4346487/describe.txt)

[2020-03-18 02:59] lostmygithubaccount commented on #854
should the warning also be in documentation? not seeing it there

[2020-03-18 03:15] ram-msft commented on #869
@lufthavn Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-18 04:45] ram-msft commented on #868
@CESARDELATORRE Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-18 04:46] ram-msft commented on #870
@justinormont Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-18 06:09] #752 closed

[2020-03-18 07:13] lufthavn commented on #869
Thank you. Let me know if you need any more info from me.

[2020-03-18 07:42] dem108 commented on #752
@GiftA-MSFT acknowledged with thanks!

[2020-03-18 11:10] ram-msft commented on #858
@michalmar Can you please add more details about the SDK version that you are using and min_nodes used for creating the compute instance.

[2020-03-18 13:11] vmagelo commented on #864
Attribute names are back - in this case indicating what was deprecated. Thanks.

[2020-03-18 13:12] vmagelo commented on #863
Attributes are back in place. Sorry about that.

[2020-03-18 13:18] j-martens commented on #863
Thanks for your report. It was helpful to identify quickly. We will now proceed to close this thread.

[2020-03-18 13:18] #863 closed

[2020-03-18 13:19] j-martens commented on #864
Thanks for your report. It was helpful to identify quickly. We will now proceed to close this thread.

[2020-03-18 13:19] #864 closed

[2020-03-18 14:20] michalmar commented on #858
@ram-msft I am not using any specific SDK - running from latest Workspace (ml.azure.com) in Azure. As per min nodes: set to 0 (zero).

[2020-03-18 14:41] vmagelo commented on #813
The docs were updated and (are live) to reflect that conda_dependencies_file_path is deprecated (as well as pip_requirements_file_path) and you should use parameters without the _path.

[2020-03-18 15:11] j-martens commented on #813
thanks for your report. this has been fixed through documentation. we shall now proceed to close this thread.

[2020-03-18 15:11] #813 closed

[2020-03-18 15:18] j-martens commented on #851
@YutongTie-MSFT this is not a doc question but a product question. please assign to product team. thank you

[2020-03-18 16:10] swanderz opened #871 "BUG: Authentication in SDK 1.1.5.1"
@thwagne tells me this is already a known issue.
here's a [reproducible example of the bug](https://github.com/swanderz/MachineLearningNotebooks/blob/auth_error/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-data-dependency-steps.ipynb) using the Azure Machine Learning Pipelines with Data Dependency notebook
cc: @rastala @lostmygithubaccount @sanpil
[code]

[2020-03-18 17:15] naraymad commented on #869
What is the version of python in your environment? Tensorflow is supported only under python 3.6 and version 1.12.0. Please install tensorflow 1.12.0 under python 3.6 and set enable=True, whitelist_models = ['TensorFlowDNN', 'TensorFlowLinearRegressor] and featurization="off" in automl_config.

[2020-03-18 20:15] cartacioS commented on #867
FYI @jialiu103 @EricWrightAtWork @ahyerman

[2020-03-18 20:46] lufthavn commented on #869
Thank you. With your help I was able to get solve my problem, but I encountered another one right afterwards. The same cell now fails with this error:
[code]

The Python code in the cell looks like this:
[code]

I have tried to "wipe" the blacklist by passing blacklist_models as None and empty list, but neither had an effect.

[2020-03-18 20:51] naraymad commented on #869
You have to set featurization="off", only numeric data is supported for Tensorflow

automl_settings = {
    "n_cross_validations": 3,
    "primary_metric": 'r2_score',
    "enable_early_stopping": True,
    "experiment_timeout_hours": 0.3, #for real scenarios we reccommend a timeout of at least one hour
    "max_concurrent_iterations": 4,
    "max_cores_per_iteration": -1,
    "verbosity": logging

[2020-03-18 20:52] lufthavn commented on #869
My mistake, I just realized that. How come automatic featurization is not supported?

[2020-03-18 23:40] jadhosn commented on #867
@cartacioS As a first hand user of AutoML and AutoML config, building AutoML experiments on daily basis lately, I echo most of what @adgustaf mentioned above. Some information even contradicts between docstring, docs and sample notebooks.

For example, `max_concurrent_iterations` jumps between being the number of iterations <= number of cores (so a single machine with 4 cores should be <=4), then

[2020-03-18 23:42] naraymad commented on #869
Featurization makes the dataset sparse and DNN needs dense dataset.

[2020-03-19 05:01] ram-msft commented on #871
@swanderz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-19 10:02] ram-msft commented on #859
@usuyama Can you please add more details about the custom docker image that you are trying. A custom image to be used as base image. If no base image is given then the base image will be used based off of given runtime parameter.

Use a custom environment
If you want more control over how your model is run, if it uses another framework, or if it has special runtime requirements, you can instead sp

[2020-03-19 10:08] #869 closed

[2020-03-19 13:33] denniseik opened #872 "Support for user-assigned managed identity missing"
When using user-assigned identities e.g. on App Service, a client or object id must be provided as an argument to the MSIAuthentication object. AML's authentication object doesn't allow for this, breaking the scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeee5fbb-56db-817e-f095-928ea13e478e
* Version Indepen

[2020-03-19 13:49] adgustaf commented on #866
Hi @ram-msft ... unfortunately I'm having issues pushing my local branch to remote, for some reason.  Forgive me for this I'm somewhat of a github newbie.  Set up keys according to

https://help.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh

yet when I run the following in git bash

`git push -u origin adgustaf/beer-notebook-pyplot-fix`

(that's the branch I called it

[2020-03-19 13:50] adgustaf commented on #866
Again, please do check other notebooks as they likely have similar issues.

[2020-03-19 13:51] masoncusack opened #873 "Making lack of Azure Data Lake Gen 2 support more explicit"
Hi folks,

I work in Microsoft's Commercial Software Engineering org and we are working with a major Azure customer to implement AML pipelines to mature and automate their path from data science to production.

We've come across the fact that Azure Datalake Gen 2 is specifically not supported by the DataReference SDK class at this time. However, rather than catching this in the documentation, it w

[2020-03-19 18:22] SturgeonMi commented on #873
Hi Mason,

Currently ADLSGen2 datastore can be registered as AML datastore, and data can be registered as Dataset, and Dataset can be used as input of pipeline steps (like PythonScriptStep).
AML Data4ML team actually recommend to use Dataset but not DataReference as input (or output) of pipeline steps.

Please check related doc here:
Train with datasets in Azure Machine [Learning](https://docs.mic

[2020-03-19 18:31] jadhosn opened #874 "Error in Datasets: Engine process terminated. Try running again."
Runs are being terminated with this error `Engine process terminated. Try running again`:
- I'm seeing these with AutoML runs submitted through the SDK (1.1.5.1)
- The error itself isn't informative, but looking through the logs (complete 70-driver log below)
- Switching back to the old experience, `Failed to get data from DataPrep` pops in
[code]
seems like the dataset is reporting that no data w

[2020-03-19 18:33] omartin2010 opened #875 "Documentation of base_dockefile property"
Can we have, in particular for the `base_dockerfile` property, a 'real' example that works?
[code]
would be a good example. Others more simple are welcome but an example of a real working case is helpful. Also specify that the images needs to have python and anaconda (I believe these are requirements, not sure if `FROM ubuntu:latest` would actually work. But keep me honest here... :)

---
#### Doc

[2020-03-19 19:29] MayMSFT commented on #874
Thanks for reporting the error. We are investigating the case. Will reach back if we need more info.

[2020-03-19 19:49] jadhosn opened #876 "Failed to send request to .../datasets/parse"
Trying to register a dataset from the UI returning a send request failure

![image](https://user-images.githubusercontent.com/17963295/77108738-0246b300-69e0-11ea-9212-a4ec37473f53.png)

@MayMSFT

[2020-03-19 20:16] jadhosn commented on #876
I tried doing the same through the SDK, it seems that a dataset was already registered using the same source file

![image](https://user-images.githubusercontent.com/17963295/77111063-dfb69900-69e3-11ea-8e02-c668468f861f.png)

[2020-03-19 20:36] MayMSFT commented on #876
yes. we current don't support registering the same source file as a different dataset. We are working on removing that limitation.
As for the UI error, we will treat it as a bug to make sure we surface actionable error message.

[2020-03-19 20:36] anliakho2 commented on #874
@jadhosn This means there was a fatal exception in the execution engine.
Could you please share your driver logs or search for "session id" there, so we could try to look for clue in the telemetry.
Having a repro would be also very helpful, so if possible to share the data - would be cool.

[2020-03-19 20:40] masoncusack commented on #873
Hi Xun, thanks for the insight.

That kind of forces adoption of the Dataset functionality, but I will look into how quickly we can use this as a workaround. We were quite enjoying the modularity of being able to version raw data in ADLS Gen 2, with new versions created by Azure Data Factory, then pulling this in for preprocessing directly.

So just FYI, In think the ability to pull in data direct

[2020-03-19 20:57] jadhosn commented on #874
@anliakho2 Sure, here are the logs and session id:

*session id*: 4ab73470-b296-401a-af6a-f53143f8c6c4

*logs*:
[70_driver_log](https://github.com/Azure/MachineLearningNotebooks/files/4356847/70_driver_log.10.txt)
[65_job_prep](https://github.com/Azure/MachineLearningNotebooks/files/4356848/65_job_prep-tvmps_a674cfb54ba1ea0c7f08178e093251f8796114e95f9d58326917e249dbdc16ee_d.txt)
[55_azureml-execut

[2020-03-19 20:59] HarshUpadhyay commented on #876
It seems like a internet connection error in the UI rather than a non actionable error message. I just tried registering a duplicate dataset.
![image](https://user-images.githubusercontent.com/6505154/77114485-d4666c00-69e9-11ea-8053-44643ff79842.png)

[2020-03-19 21:56] anliakho2 commented on #874
@jadhosn this is somewhat helpful 👍
The bad news that it looks like our engine died on the last get_profile call and didn't even have a chance to send telemetry... I do see that we are reading pretty big parquet files beforehand (like 500 MB ) so I wonder if we just ran out of memory trying to materialize the data...
Sadly there is nothing else I can glean from logs.
The only next step here is to

[2020-03-19 22:40] CESARDELATORRE commented on #874
In order to isolate the root cause, would it be possible for you to try similar code but using SDK 1.0.83 instead of 1.1.5.1?

Note that if using SDK 1.0.83 the old import is:
`from azureml.train.automl.runtime import AutoMLStep`
instead of the new:
`from azureml.pipeline.steps import AutoMLStep`

[2020-03-19 23:00] CESARDELATORRE commented on #868
Basically, data_script and "get_data.py" are deprecated so it should be removed from the docs.
Also, related, the AutoMLStep class reference doc should have richer information.

[2020-03-20 01:07] YutongTie-MSFT commented on #875
@omartin2010
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-20 01:19] YutongTie-MSFT commented on #872
@denniseik
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 04:03] jadhosn commented on #874
@CESARDELATORRE We are not using any AutoML steps, instead we submit AutoML config as their own runs.

We tried switching to 1.0.83 and 1.0.85 (for the local SDK as I don't have control over the AutoML config dependencies).

Both SDK version came back with:

What's worth noting that these runs were running on a DS14_v2 (16 cores, 112 GB ram, 224 GB disk).

## 70-driver log traceback

  File "setup

[2020-03-20 09:52] usuyama commented on #859
@ram-msft We're using a custom docker image for NVIDIA/apex, which cannot be installed from requirements.txt file or conda.yml file (a known issue).

Other dependencies can be installed from pip/conda, so I was wondering if we can use `pip_packages` parameter to install additional libraries on top of our custom docker image. It's desirable because we don't need to build new docker images to add mo

[2020-03-20 10:50] masoncusack commented on #873
Hi again,

I'm noticing that when trying to inspect a dataset in a workspace we've authenticated with using a service principal, I'm prompted to sign into my own account via the browser, and retrieval therefore fails.

This is using Dataset.get_by_name():

[code]

[2020-03-20 11:29] masoncusack commented on #873
I'm also getting the following error in validation when registering the Dataset. There is absolutely valid data at the path I'm pointing to:

`azureml.data.dataset_error_handling.DatasetValidationError: Cannot load any data from the specified path. Make sure the path is accessible and contains data.`

[2020-03-20 13:31] omartin2010 opened #877 "bind_mode description"
We can see it can be `mount` but what other modes are accessible? That should be documented.
Also, can we give an explicit example of `parameter_name` ? It seems like it's probably the PipelineParameter name, but I think we should be explicit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce88661d-a489-14f1-717e-43326

[2020-03-20 13:42] GiftA-MSFT commented on #877
@omartin2010 we will review your feedback and get back to you shortly. Thanks.

[2020-03-20 17:12] YutongTie-MSFT commented on #875
@j-martens Hi Josee, could you please take a look of this document insight? Thanks.

[2020-03-20 17:32] SturgeonMi commented on #873
Created ICM and bug to track:
Incident 179527278 : dataset interactive auth issue
Impediment 670833: "Cannot load any data from the specified path" for Parquet file in DataReference

[2020-03-20 20:52] anliakho2 commented on #874
@jadhosn the stream was too long is an issue that we have fixed since 1.0.85 and has to do max buffer size for the stream being 2GB and http client tryin to allocate such a buffer and failing, In the latest version we should progress further, but then we clearly hit some sort of bug... if you have a consistent repro for a specific file I would really like to check it out.

[2020-03-20 21:45] j-martens commented on #875
@YutongTie-MSFT - please assign to the product team for this area.

[2020-03-20 22:59] swanderz commented on #740
@sonnypark @rastala @purnesh42H @sanpil @nemasobhani
remember this bug? it's back....
[here's the reprex](https://github.com/swanderz/MachineLearningNotebooks/blob/hyperdrive_allow_reuse/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-parameter-tuning-with-hyperdrive.ipynb)
here are the package versions I'm using.
[code]
![Alt Text](https://i.giphy.com/media/l0HlI9AE

[2020-03-20 23:07] swanderz commented on #737
Closing this issue, as I don't see it happening anymore...

[2020-03-20 23:07] #737 closed

[2020-03-20 23:30] sonnypark commented on #740
@swanderz I can see 'finished' run on the link you posted with new step created without reusing. But I guess you already ran the same notebook before with no changes.
Any changes on your packages from the ones which was able to reuse?

[2020-03-20 23:36] swanderz commented on #740
Yeah to prove the bug. I submit the run twice. In the 2nd `PipelineRun`, we should see that the `HyperDriveStep` is not re-run... but we don't.

I want to say that the bug does not happen in `1.1.0a1.dev0`, but does happen in `1.1.5.1`

[2020-03-20 23:56] sonnypark commented on #740
looks strange to me. It looks the second step is reused:
Created step get best run [31c67e94][a9842d81-7995-43c1-bb55-df20aa92e1b0], (**This step is eligible to reuse a previous run's output**)
Created step hd_step01 [54aa5211][a10bf668-d90f-44a4-9524-8759d419aa95], (This step will run and generate new outputs)

@swanderz did you actually could see the second run took same amount of time to run th

[2020-03-21 00:58] sonnypark commented on #740
I was able to reuse running the published HyperDriveStep notebook. You can check the run was really reused in portal:
![image](https://user-images.githubusercontent.com/10220522/77215957-5a5ee180-6ad4-11ea-9439-c465b5d45423.png)

[2020-03-21 13:07] initmahesh opened #879 "Acccelrated model training notebook fail on train steps with " AttributeError: 'With' object has no attribute 'value'""
tried the transfer learning notebook and getting below error as well
                MachineLearningNotebooks/how-to-use-azureml/deployment/accelerated-models/accelerated-models-training.ipynb

6. Execute steps
You can run through the Transfer Learning section, then skip to Create AccelContainerImage. By default, because the custom weights section takes much longer for training twice, it is not sa

[2020-03-21 14:40] initmahesh opened #880 "resource exhausted: oom when allocating tensor with shape[16,112,112,147] and type float on /job:localhost/replica:0/task:0/device:gpu:0 by allocator gpu_0_bfc"
On a NCv6 DSVM with below capacity training fails on GPU with error below
mY DEVICE CONFIG IS 👍

from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 7812116703253316336
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation:

[2020-03-21 14:41] initmahesh commented on #880
WORAround forced on CPU with this code

import packages
import os
import sys
!pip list | grep tensorflow
tensorflow-estimator                 1.14.0
tensorflow-gpu                       1.14.0
#Fix for issue during train stepn oN GPU
os.environ['CUDA_VISIBLE_DEVICES'] = ''
import tensorflow as tf
if tf.test.gpu_device_name():
    print('GPU found')
else:
    print("No GPU found")
GPU found
​
​
imp

[2020-03-21 14:52] initmahesh commented on #879
issue was %%time made progess by commenting for the time being
6. Execute steps
You can run through the Transfer Learning section, then skip to Create AccelContainerImage. By default, because the custom weights section takes much longer for training twice, it is not saved as executable cells. You can copy the code or change cell type to 'Code'.

6.a. Training using Transfer Learning
**#%%time**

[2020-03-21 15:35] initmahesh commented on #879
issue was %%time
workaround is to comment we will not get time but can atleast train ..

6. Execute steps
You can run through the Transfer Learning section, then skip to Create AccelContainerImage. By default, because the custom weights section takes much longer for training twice, it is not saved as executable cells. You can copy the code or change cell type to 'Code'.

6.a. Training using Transf

[2020-03-21 21:20] femsulu commented on #879
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 21:21] femsulu commented on #880
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-22 23:31] swanderz commented on #740
@sonnypark I appreciate you helping out again. Are you 100% that you have the same environment as me? Can you run `pip list | grep 'azureml'` and share the results? It is very frustrating that I can't help you to reproduce the error on your end. In our workflows, `HyperDriveStep` is sporadically reused. @sanpil @yanrez what can I do to determine if a step will be re-used beyond the console stdout

[2020-03-23 07:03] skasturi commented on #746
Yes. This post is no longer relevant as pip has released a new version that fixes this.

[2020-03-23 07:03] #746 closed

[2020-03-23 14:49] masoncusack commented on #873
Good news! I found that the issue with retrieving data from the specified path was an access issue, rather than to do with the actual mechanics of retrieval. Assigning my service principal/app registration the role Storage Blob Data Owner in RBAC allowed access, so I can now create and register a dataset from the targeted data.

I'll keep you updated on using the workaround of a Dataset as opposed

[2020-03-23 15:46] jadhosn commented on #596
@justinormont Thank you for the answers above!

In the case of feeding in a validation set to AutoML, can I assume that the returned metrics and scores in general are on the test set?

In other words, is the returned primary metric for each model is the train or test metric?

[2020-03-23 16:52] derdanh commented on #656
I've got the same issue as @noelbundick (ModuleNotFoundError) with Azure ML SDK 1.0.83. I have never worked with Jupyterlab, opening it gives me a blank page only with navigation bars on top and to the left. How do I go about fixing this? BG

[2020-03-23 16:57] GiftA-MSFT commented on #877
@omartin2010  the document describes [bind_mode](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.graph.pipelinedataset?view=azure-ml-py#parameters) as "_How the dataset should be made available, either **mount** or **download**"_  and [parameter_name](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.graph.pipelinedatase

[2020-03-23 16:57] #877 closed

[2020-03-23 17:21] CESARDELATORRE commented on #596
@jadhosn - The returned metric is currently based either on a **Validation** dataset or based on cross-validation. Metrics shouldn't be calculated on the train dataset and AutoML does not use the train dataset for calculating the metrics.

Note that when using AutoML we're currently talking about metrics based on validation dataset (either provided or internally split or using cross-validation).

[2020-03-23 18:00] masoncusack commented on #873
In the interest of getting ahead, is there a standard way of passing a Dataset as an output of one pipeline step to the input of another, when the two occur sequentially?

[2020-03-23 18:08] jadhosn commented on #596
@CESARDELATORRE Thank you. As I'm using AutoML on a daily basis, some questions arise about the intended usage of some of the AutoML config attributes.

Any clarification/added detail on the args below can be really helpful as the documentation either lacks to mention the specific use or utilizes different terminology across different tutorials/docstring.

1. `max_concurrent_iterations`: Maximum n

[2020-03-23 18:36] CESARDELATORRE commented on #596
Adding @rtanase so he can confirm.

**Nodes and Cores:**
If you have a dedicated cluster per experiment, you can set the number of 'max_concurrent_iterations' to the same number of **max nodes** in a cluster so there won't be queued trains.

If the cluster is shared between multiple concurrent experiments (parent runs), then that parameter is not very useful and won't offer predictability because

[2020-03-23 19:08] sonnypark commented on #740
Considering you were able to reuse on the 4th run, I suspect either
1. backend service ended up rerunning even with the same fingerprint for the module hash calculation or
2. There were some unnoticed changed on 2/3rd run such as path or contents of files.
I can take a look at the backend side to see any possible reasons for such. Is there any possibility on your side for such changes you didn't n

[2020-03-23 19:17] michalmar opened #881 "Create Dataset in ADLS gen2 issue"
I have troubles with creating AML Dataset (in ml.azure.net, Studio) from Azure Data Lake Gen2.

I have a simple CSV file sitting in the root of ADLSgen2 File System and I am not able to create **tabular** Dataset  – I am able from the same file create file Dataset though. (The Storage is behind VNET, Private Link). I am accessing ADLS gen2 with Service Principal (correct rights).

![image](https:/

[2020-03-23 19:22] jadhosn commented on #596
Does AutoML have subprocess built-in, where if I enable 4 cores to be used by a single iteration, the training step would leverage these cores as needed?

@CESARDELATORRE For our application, we are potentially running north of 700 automl runs (parent runs), so understanding what's going on under the hood would help us better understand what to expect out of each automl parent-run, how many iterat

[2020-03-23 19:28] michalmar commented on #881
Currently, if your storage is behind vnet, you can only create TabularDataset via SDK. You are able to do it with FileDataset on UI today is due to the fact UI always skip validation for FileDataset.

[2020-03-23 19:28] #881 closed

[2020-03-23 19:56] swanderz commented on #740
@sonnypark to my knowledge, nothing changed. Though this could an example of me fundamentally misunderstanding how `allow_reuse` works and what's entailed. One idea is that I made a Git commit on a file that has nothing to do with the step... would that trigger a new run?

What would help me to debug is:
- a list of every factor that goes into whether the step will be re-used, and
- a way for me t

[2020-03-23 21:37] sonnypark commented on #740
I think git commit can be a potential change can lead to different fingerprint in that any changes on the source_directory might result in different fingerprint. Since you were able to reuse on 4th run I don't think it is python package related.
Afaik, any changes on source_dir including file content changes, path, file name can result in different fingerprint.

[2020-03-23 21:47] swanderz commented on #740
I need help manually verifying:
- are the shapshots/hashes unique from run to run?
- if so, what is causing the snapshots/hashes to be different? I can't think of anything that's different.

[2020-03-23 22:36] swanderz opened #882 "BUG Hyperdrive authorization error?!?"
Trying to run the same HyperdriveStep step that I had been trying to run all morning. Why is Hyperdrive trying to authenticate interactively?

@thwagne @yanrez @sanpil

[code]

[code]

[2020-03-24 00:18] swanderz commented on #740
Working with Sonny, we're narrowed things down to the following testable hypotheses.
Does `allow_reuse` work for HyperdriveStep if:
1. I re-submit the exact same pipeline object, after the first `PipelineRun` completes?
2. Re-create the pipeline object with line below, then submit again?
    `pipeline = Pipeline(workspace=ws, steps=[best_run_step])`
3. restart my kernel then re-run the notebook?

[2020-03-24 01:58] GiftA-MSFT commented on #882
@swanderz we will review your feedback and get back yo you shortly. Thanks.

[2020-03-24 13:29] masoncusack commented on #873
Hi again,

I'm finding that datasets are allowed as inputs but disallowed when created from PipelineData objects as outputs. For the same reason as before (processed_store below is an ADL Gen 2 Datastore):

Error:

[code]

Code:

[code]

Is there a way to output to ADL Gen 2?

[2020-03-24 13:59] masoncusack commented on #873
I've also converted an output dataset to a PipelineOutputTabularDataset to see if this would help. There still seems to be a DataReference in use under the hood, as the error is the same.

Code:

`preprocessed_activities_dataset = PipelineData('preprocessed_activities_dataset', datastore=processed_store).as_dataset().parse_delimited_files() # Should be PipelineOutputTabularDataset`

[2020-03-24 16:35] swatig007 commented on #882
thanks for the feedback @swanderz we are looking into a fix for this issue
@nagau FYI

[2020-03-24 16:41] swanderz commented on #882
This was a "transient error" happened across multiple `PipelineRun`s across multiple repos of ours. Then I got a message about how I was being rate-limited. Then I waited a few minutes and it went away.
### example
region: `West US II`
`PipelineRun`: `be21ba24-b3cb-41dc-b251-e4d74b3d1d98`
`HyperdriveStep`: `a14d2d61-7dc4-4f05-b582-0f9e5f704a8b`

[2020-03-24 18:25] CESARDELATORRE commented on #596
@jadhosn - This is the current state:

•	As of now, we only support a single job per VM/node in AML compute (which is how iterations get submitted to Amlcompute).
•	At a later date we might change it, but its not something that will happen in the short term since the system contracts are designed to take a single job on a node of the cluster.
•	Compute instances and DSVM can and will support multi

[2020-03-24 21:26] stemoor commented on #839
Sure. The was published like this:
[code]

The step_output_wiring is declared like this:
[code]

[2020-03-24 21:32] stemoor opened #885 "Re-registering a dataset does not create new version"
When trying to register a dataset with the flag create_new_version=True, I get an error instead of creating a new version.

I get the following error:
[code]

Here is my call to register the data set:

[code]

SDK Version: azureml-sdk==1.2.0

[2020-03-25 01:14] GiftA-MSFT commented on #885
@stemoor we will review your feedback and get back to you shortly. Thanks.

[2020-03-25 13:49] j-martens commented on #853
@ram-msft - Please reach out to product team for information on whether this is possible or not. Not a doc bug at this point.

[2020-03-25 15:04] YutongTie-MSFT commented on #873
@masoncusack Thanks for the information and pleaase keep eyes on the ticket. I am going to close this and we will use the ICM ticket to track this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@SturgeonMi Hi Xun, please also refer to the additional informati

[2020-03-25 15:04] #873 closed

[2020-03-25 16:45] vmagelo commented on #849
We reviewed the run class and improved the docs around properties and what default properties will show. Changes will appear in next SDK release in a week or two.

[2020-03-25 16:46] #849 closed

[2020-03-25 17:01] RSavage2 commented on #885
Thanks for reaching out to us. We are investigating the case. Will reach back if we need more info.

[2020-03-25 17:44] derdanh opened #886 "NewConnectionError/TimeOutError when locally submitting the experiment generated in the AutoML-Energy-Forecast Notebook"
Hello everyone,

I'm having a problems running the [Auto ML Forecasting Energy Demand Notebook](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/automated-machine-learning/forecasting-energy-demand) locally using the Python SDK.

When submitting the experiment using
```remote_run = experiment.submit(automl_config, show_output=True)```

I receive the error
```WARNING

[2020-03-25 18:15] MayMSFT commented on #885
@stemoor
re-regitering the same data (datastore+path) with the same workspace is not supported at the moment. Looks like you have already registered the same data under (name="cases_train_data.csv", version=1). If you want to register this data under a different name, you need to first unregister dataset "cases_train_data.csv".

We are adding support ot enable users registering the same data under

[2020-03-25 20:43] sonnypark commented on #740
We had a sync up for the issue. I mentioned 3 things I found:
1. source_directory should not be current directory if notebook is used in the same directory to avoid the change in the source_directory
2. HDstep uses snapshotId as part of HDConfig which is part of reuse hash calculation.
3. It turns out snapshot creation has limit on its cache so that even same path provided without any changes resu

[2020-03-25 23:28] GiftA-MSFT commented on #877
@j-martens please review customer's feedback for doc enhancement. Thanks.

[2020-03-25 23:31] omartin2010 commented on #877
Feel free to reach out directly, I’m internal. Cheers

[2020-03-26 00:04] calebheinzman opened #887 "PyTorch Version 1.4 Supported but not Supported"
Get the following error when trying to use framework_version='1.4'

TrainingException: TrainingException:
	Message: PyTorch 1.4 is not currently supported by the PyTorch estimator. Check https://docs.microsoft.com/python/api/azureml-train-core/azureml.train.dnn?view=azure-ml-py for all supported versions. To use PyTorch 1.4, switch to the generic Estimator class for your experiment.
	InnerExceptio

[2020-03-26 00:13] calebheinzman opened #888 "Pytorch Framework Version 1.4 does not work."
The framework_version='1.4' for the Pytorch estimator does not work. All the documentation says that it should work.

[2020-03-26 02:53] GiftA-MSFT commented on #885
Thanks for the updates @MayMSFT .

@stemoor we will now proceed to close this thread. Thanks.

[2020-03-26 03:00] GiftA-MSFT commented on #886
@derdanh we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:33] GiftA-MSFT commented on #887
@calebheinzman we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:34] GiftA-MSFT commented on #888
@calebheinzman we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 12:58] ram-msft commented on #859
@usuyama If `pip_packages` is not specified, `azureml-defaults` will be added as the default dependencies. User specified `pip_packages` dependencies will override the default values. If you want to  `pin_sdk_version` is set to true, pip dependencies of the packages distributed as a part of Azure Machine Learning Python SDK will be pinned to the SDK version installed in the current environment.

[2020-03-26 13:08] j-martens commented on #859
@Rastala please confirm. Thank you!

[2020-03-26 17:06] swatig007 commented on #882
closing since this was reported as a transient issue

[2020-03-26 17:06] #882 closed

[2020-03-26 17:30] j-martens commented on #834
@YutongTie-MSFT  please assign to notebook author.  The impacted notebooks use a path like ../../../configuration.ipynb but the location of the notebook is too deep and the link doesn’t resolve. This happens in particular with ml-frameworks notebooks which are deeply nested like the notebook in the issue.

[2020-03-26 21:50] stemoor commented on #885
Okay, so if I want to update the data how does that work? If I update the data on the datastore, does the update get reflected on the dataset? Or, every time I update the data on the datastore, do I have to unregister it and then re-register it? My data is always updating, so I need to know what it the proper way to handle this case.

[2020-03-26 22:19] GiftA-MSFT commented on #888
@calebheinzman it seems framework_version='1.4' isn't supported at the moment, but I am trying to confirm this information.

[2020-03-26 22:23] GiftA-MSFT commented on #888
@danielsc @maxluk can you please help to confirm?

[2020-03-26 22:27] GiftA-MSFT commented on #888
duplicate of [[887](https://github.com/Azure/MachineLearningNotebooks/issues/887)].

[2020-03-26 22:27] #888 closed

[2020-03-26 22:28] GiftA-MSFT commented on #887
@j-martens can you please confirm if this a doc bug or product bug?

[2020-03-26 22:43] GiftA-MSFT commented on #885
Please check out [dataset versioning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-version-track-datasets) which may be applicable to your scenario. You can specify 'create_new_version = True' when registering a new version. Hope this helps. Thanks.

[2020-03-26 22:49] j-martens commented on #887
@GiftA-MSFT - product bug

[2020-03-26 23:16] stemoor commented on #885
Your suggestion is exactly what I tried doing that got me the error above. I tried registering under the same name using the flag 'create_new_version = True' and got the error above.

[2020-03-27 00:01] GiftA-MSFT commented on #885
@stemoor apologies. I will reopen this thread.
@MayMSFT the [document](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-version-track-datasets#register-and-retrieve-dataset-versions) states that 'You can register multiple datasets under the same name and retrieve a specific version by name and version number.' Can you help clarify?

[2020-03-27 00:27] stemoor commented on #885
Nevermind! I am sorry I thought I was registering the same data set under the same name but I was wrong by a single letter. Sorry! This is all resolved! Thanks for all your time!

[2020-03-27 00:30] GiftA-MSFT commented on #887
@j-martens thanks for the info.
@calebheinzman I have informed the product team regarding this issue and will share updates as soon as I have more information.

[2020-03-27 00:41] stemoor commented on #837
Thank this helps. I am running into a similar situation with the PipelineData type. If I use output_mode = "upload" with output_path_on_compute = "./output", then it seems like the variable expansion is not done automatically from the first script side. It shows up as "". In this case, how do my script knows where to save the output to so it gets picked up and uploaded to the next script? I could

[2020-03-27 01:37] calebheinzman commented on #887
Great, I was having an issue with pillow versions working with torchvision, but my current workaround is to use an older version of pillow:

pip_packages=['pillow==6.2.1']

[2020-03-27 07:11] shankarpandala opened #889 "Tutorial required for Deploying a web service to Azure Kubernetes Service (AKS) for Image data"
Tutorial required for Deploying a web service to Azure Kubernetes Service (AKS) for Image data where Input and output both are images (segmentation)

[2020-03-27 11:44] RohitMungi-MSFT commented on #889
@shankarpandala Thanks for the feedback. This forum is primarily used for bugs related to existing documentation but we will request our content authors to take this up in their backlog.

With respect to deployment using AKS we have a [quickstart ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service)that can help you get started. Also, you can use this [i

[2020-03-27 13:24] j-martens commented on #868
@vmagelo

[2020-03-27 15:07] alexkalita commented on #837
For the upload/download mode, it is assumed that the script already knows the path to write to.  If it is not hard-coded in the script, you can pass in the path "./output" in the arguments list.

[2020-03-27 19:58] CESARDELATORRE commented on #844
@jadhosn - Agree. I think we talked about this point (data_script) by email.
That notebook (https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-automated-machine-learning-step.ipynb) was updated partially (train works with latest SDK 1.2.0) but still have a few outdated code and comments and even two erro

[2020-03-27 20:04] CESARDELATORRE opened #890 "Notebook aml-pipelines-with-automated-machine-learning-step.ipynb throws errors and it's partially outdated"
This notebook was updated to version 1.2.0 and when running it, its pipeline training works.

However, part of it right at the end of the notebook is throwing errors:

![image](https://user-images.githubusercontent.com/1712635/77794395-0babcd00-7029-11ea-8fad-575ae070eb61.png)

Plus it needs to be updated so there are no warnings about APIs parameters being deprecated:
![image](https://user-images

[2020-03-27 20:05] CESARDELATORRE commented on #844
Adding related issue I created:
https://github.com/Azure/MachineLearningNotebooks/issues/890

[2020-03-27 21:15] jadhosn commented on #844
@CESARDELATORRE It would be interesting to have a tutorial that shows the conversion from a Pipeline Data object (used as a directory, containing N files) to a Tabular Dataset (so here, we would be selecting a single file from the pipeline data object directory) to be fed into an AutoML step (as this would be the closest to the way we think about pipelines and i/o port binding)

[2020-03-27 23:54] CESARDELATORRE commented on #890
This notebook is updated internally, we need to publish it in GitHub, here.

[2020-03-28 05:50] YutongTie-MSFT commented on #890
@CESARDELATORRE Thank you Cesar, I have assigned this issue to the author. @sanpil Could you please check this issue? Thanks.

[2020-03-28 07:22] dejokz commented on #656
i tried `!pip install --upgrade scikit-learn`
what followed was

[code]

[2020-03-29 21:44] vizhur commented on #851
@oo2316oo hard to guess what is not working for you as you did not provide any example but let me try :).

After you instantiated environment you can register it and build it. You can build it locally by calling build_local() or run a cloud docker image build for your environment by calling registered_env.build(ws). I suspect you doing that.
so, build() returns ImageBuildDetails object and you can

[2020-03-30 00:26] carneya commented on #656
I get the same as @dejokz, any suggestions

[2020-03-30 18:09] vmagelo commented on #875
We added to the documentation to show how to docker_file with some docker commands. Thanks for the suggestion. The changes will go live with next SDK release in 1-2 weeks.

[2020-03-30 18:33] #875 closed

[2020-03-30 22:18] anliakho2 commented on #874
Closing the loop:
We found out that the "Engine process terminated" error is due to OS running out of memory and killing our process. This cannot be caught by our current error handling to report "out of memory" properly.
To this extent next release will add better handling and usefull  error message for this case.

Regarding to memory usage, our parquet file reading reads full RowGroup based on m

[2020-03-31 03:36] CESARDELATORRE commented on #844
@jadhosn - That's an interesting point. Can you provide the reasons why you wound't publish/register the AML Dataset from a PythonScriptStep before the AutoMLStep which would then consume that registered Dataset without needing to make that conversion?

Since the training data is an important milesotne in the process, it should also be tracked/versioned, therefore we believe it'd be important to r

[2020-03-31 11:37] RohitMungi-MSFT commented on #889
@shankarpandala We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-03-31 11:37] #889 closed

[2020-03-31 11:47] jadhosn commented on #844
@CESARDELATORRE We ended up registering the Datasets in a PythonScriptStep before AutoML.

But at the time, we always thought about pipelines as DAGs where steps are connected together with hooks (step sequencing and i/o port binding through pipeline data objects &/ data references).

We naturally drifted to using the same paradigm with the AutoML step (it is a step after all), so the first approa

[2020-03-31 14:47] GiftA-MSFT commented on #886
@derdanh thanks for reaching out. I didn't observe the error you described while running this sample notebook in my local environment. This appears to be a networking issue within your local environment, perhaps check your firewall settings and try reconnecting to your internet. If you continue to experience issues, please share your workspace location so I can test in that region as well. Thanks.

[2020-03-31 15:29] GiftA-MSFT commented on #887
@calebheinzman I am able to confirm that PyTorch Version 1.4 is supported and works as expected. I tried using this [sample experiment](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/deployment/train-hyperparameter-tune-deploy-with-pytorch/train-hyperparameter-tune-deploy-with-pytorch.ipynb) and added _framework_version = '1.4'_ as parameter

[2020-03-31 15:29] #887 closed

[2020-03-31 18:09] vmagelo commented on #868
We made updates to the doc which will go appear in next SDK release in 1-2 weeks.

[2020-03-31 18:12] CESARDELATORRE commented on #874
@anliakho2 Can you provide a pointer to the "sample gist to demonstrate the approach of Partition big data into multiple smaller parquet files, then create dataset from those"?
I don't see the gist you mentioned.

Also, since this is an OOM issue, can we close the issue already?

[2020-03-31 18:13] #868 closed

[2020-03-31 22:03] jadhosn opened #892 "Too many request to AutoML. Request got thottled."
I'm seeing this error whenever I submit AutoML runs. First n runs go through, then I hit this error. Most of the runs after the run that returns this error are failing (maybe all of them, not sure, waiting on them to finish running).

There are no logs in this run to be accessed. Runs that followed this system error actually run the parent run, but then shows this error on the iterations (also wit

[2020-04-01 01:34] jmwoloso commented on #769
Thanks for the update @Blackmist . After playing around with it for a while I was able to get everything working.

[2020-04-01 04:36] ram-msft commented on #892
@jadhosn Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-01 07:43] ram-msft commented on #886
@derdanh It's intermittent issue as we are not seeing this issue.
![image](https://user-images.githubusercontent.com/49180516/78110770-32974400-7419-11ea-8d18-34d569c16077.png)

Forecasting within automated machine learning now includes new capabilities that improve the accuracy and performance of our recommended models:
•	New predict forecast function
•	Rolling-origin cross validation
•	Configura

[2020-04-01 07:43] #886 closed

[2020-04-01 10:14] dejokz commented on #656
i ran the code the following date, it worked without any hitch

[2020-04-01 16:35] vassilyl opened #893 "ScriptRun sample from ref docs doesn't work"
I'm trying to run minimal code with azureml-core 1.3:

from azureml.core import Workspace, Experiment, ScriptRunConfig, RunConfiguration
ws = Workspace.from_config("config.json")
ex = Experiment(ws, "Repro")
ex.submit(ScriptRunConfig(
    source_directory=".",
    script="subdir/script.py",
    run_config=RunConfiguration()))

The run fails with the following error:

UserError:
Unable to run conda

[2020-04-01 16:38] YutongTie-MSFT commented on #851
@oo2316oo
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-01 16:38] #851 closed

[2020-04-01 16:41] YutongTie-MSFT commented on #874
@jadhosn
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-01 16:41] #874 closed

[2020-04-01 17:02] YutongTie-MSFT commented on #893
@vassilyl Hi Vassily, are you using conda environment?

[2020-04-01 17:09] vizhur commented on #893
@vassilyl looks like you have a pirate version of AzureML SDK. We did not ship 1.3 yet :)

I guess you are trying to make a local run so you need conda in the path. If you want to run the script in your current python environment you need to set to True userManagedDependencies

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment.pythonsection?view=azure-ml-py

and mor

[2020-04-01 17:10] vassilyl commented on #893
No. And if you dig deeper in documentation it's clear that the example tries to use local compute target. Neighter the page, nor the error message mentions this fact. Since this is not the main use case for AzureML SDK, I would change it to show setting a compute target.

Also, the "run_config=RunConfiguration()" argument seems to be redundant.

[2020-04-01 17:11] vassilyl commented on #893
The version is 1.2, it's a typo, sorry.

[2020-04-01 17:14] vassilyl commented on #893
@vizhur, thank you for the links. The issue is about the documentation page though. The sample in the context of the documentation page is incomplete and confusing.

[2020-04-01 17:20] vizhur commented on #893
@vassilyl I have created a ticket for that. I agree the sample is a bit confusing

[2020-04-01 18:20] jadhosn opened #894 "No child runs could be found for this parent run [AutoML]"
No logs show up on this submit and no models. The following traceback popped up locally (submitted through Python-SDK):

  File "C:/code/ml-CreditScore/main/AutoML/automl-loop-script.py", line 181, in <module>
    whitelist_models=whitelist_models, target_ls=target_columns_ls)
  File "C:/code/ml-CreditScore/main/AutoML/automl-loop-script.py", line 98, in call_automl_config
    automl_run.wait_for_

[2020-04-01 19:19] CESARDELATORRE commented on #894
I'll create an issue to investigate that run from our side.
Questions:

- Is that issue reproducible by submitting the same experiment again? Or did that happened only for that particular parent run?

- Can you provide the following info **in text**?
   **- Parent Run ID
   - Azure datacenter region where you have the AML Workspace
   - Is it a "local run" or a "remote run (using AML cluster)"?**

[2020-04-01 20:15] jadhosn commented on #894
The issue is not reproducible by submitting the same experiment

AutoML_675fb8f9-e0b5-46d8-b036-45781d1758e8

usw2

remote run

[2020-04-01 21:58] shuyums2 commented on #874
@CESARDELATORRE here is the [sample gist to demonstrate the approach of Partition big data into multiple smaller parquet files, then create dataset from those](https://gist.github.com/shuyums2/14ea803e79b96d1c90ae99ac664dbeff#file-register_partitioned_data-py)

[2020-04-02 01:49] CESARDELATORRE opened #895 "Need to document value "-1" for max_cores_per_iteration. Not mentioned in the reference doc."
In the REMARKS sample aboove and also in some notebooks we have it with max_cores_per_iteration = -1.
I think that means "use all the possible cores per iteration/child-run".

However, the "-1" value is not documented in this reference doc page. We need to document it.

Right now the description of the parameter is just this (check above in this page):

max_cores_per_iteration
int
Maximum number o

[2020-04-02 02:53] CESARDELATORRE opened #896 "auto-ml-forecasting-bike-share.ipynb crashes in cell using shutil.copy2(): Change to shutil.copy()"
**auto-ml-forecasting-bike-share.ipynb** crashes in cell using `shutil.copy2()` under some versions of Python in the local environment.

Change to `shutil.copy()` so it works in most Python environments.

![image](https://user-images.githubusercontent.com/1712635/78201705-17dbc400-7447-11ea-8f27-4f3baedc610c.png)

Error that can happen:

------------------------------------------------------------

[2020-04-02 04:39] ram-msft commented on #895
@CESARDELATORRE Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-02 04:55] ram-msft commented on #896
@CESARDELATORRE Thanks for the feedback. We will update you shortly.

[2020-04-02 07:41] aleixsd opened #897 "NotebookRunnerStep inputs problem as DatasetConsumptionConfig"
Hello,

I am currently trying to use a NotebookRunnerStep to create a ML pipeline that reads a dataset as input. To do so I create a NotebookRunnerStep  and whereas in PythonScriptStep works perfectly, when I create the Pipeline with the NotebookRunnerStep I get an TypeError "input or output should be of one of these types: PipelineData, OutputPortBinding, InputPortBinding, Dataset, PipelineDatase

[2020-04-02 09:51] RohitMungi-MSFT commented on #897
@aleixsd Here is an example of using a dataset from the datastore in this github [repo](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-notebook-runner-step.ipynb). Could you please check and let us know if this helps?

[2020-04-02 12:24] aleixsd commented on #897
Hello,
I have tried to run the example but I keep on getting the same error in the step: "UnicodeDecodeError: 'ascii' codec can't decode byte X in position X: ordinal not in range(128)".
In addition, I can see you use a Datastore in the example but can not see where the Dataset is. For mi purpose I need to set as input a Dataset allready created previously.

[2020-04-02 13:36] RohitMungi-MSFT commented on #897
@danielsc @mx-iao Could you please help  to provide more details about using a dataset with notebookrunner step? The example in the [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-notebook-runner-step.ipynb) uses a datastore but while using a dataset an error is seen.
`"UnicodeDecodeError:

[2020-04-02 17:35] YutongTie-MSFT commented on #893
@vizhur Could we close this or you want to keep it opening? Thanks.

[2020-04-02 22:02] sfilipi opened #898 "There is no links for Event, Metric"
There is no links for Event, Metric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e4e284-9067-15ce-b56d-9abaae786d0f
* Version Independent ID: 8efbc1d4-b58a-d9c1-49b4-d48929852d4a
* Content: [azureml.telemetry.logger.ApplicationInsightsEventLogger class - Azure Machine Learning Python](https://docs.microsoft.com/en-

[2020-04-03 04:08] ram-msft commented on #898
@sfilipi Thanks for the feedback. We will update you shortly.

[2020-04-03 10:04] FlorianPydde opened #899 "Estimator does not accept databricks as compute target"
Hi, The Estimator class does not accept databricks as a compute target. How are we supposed to train spark based models ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db16bca-3797-0285-3ef2-99de84e4a0be
* Version Independent ID: cba716ef-395b-c8f9-2cbc-967bbc338c87
* Content: [azureml.train.estimator.Estimator class

[2020-04-03 11:54] RohitMungi-MSFT commented on #899
@FlorianPydde To use databricks are compute you can use the steps mentioned in this [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-use-databricks-as-compute-target.ipynb)and setup the same.

[2020-04-03 14:01] FlorianPydde commented on #899
Thanks for the quick reply. However, the approach mentioned in the notebook does not allow to use custom modules in the specified script. For instance, if I want to run a train.py in a databrickstep it's all fine. However, if import in my train.py something like import myCustomModule, the execution fails in databricks with the error "no module found: myCustomModule". I assume that this comes from

[2020-04-03 14:30] jadhosn opened #900 "Where can I find an exhaustive list of the run.submit()'s kwargs?"
Is there a place that lists the different kwargs that this [function](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.experiment(class)?view=azure-ml-py#submit-config--tags-none----kwargs-) accepts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49038bc-1bad-a7ca-b107-760f156f4ee9
* Version Indep

[2020-04-03 18:58] adieldar commented on #656
To fix it

1. set scikit-learn 0.20.3 in the training notebook:

cd = CondaDependencies.create(pip_packages=['azureml-sdk','scikit-learn==0.20.3','azureml-dataprep[pandas,fuse]>=1.1.14'])

2. In the deploy notebook import joblib from sklearn:

#import joblib
from sklearn.externals import joblib

[2020-04-03 22:57] GiftA-MSFT commented on #900
@jadhosn we will review your feedback and get back to you shortly. Thanks.

[2020-04-05 04:38] nswitanek opened #901 "train-hyperparameter-tune-deploy-with-keras : deployment failing"
Notebook fails at "Deploy to ACI"

`service = Model.deploy(workspace=ws,
                           name='keras-mnist-svc',
                           models=[model],
                           inference_config=inference_config,
                           deployment_config=aciconfig)

service.wait_for_deployment(True)
print(service.state)`

Inspecting logs shows that during the container setup, it

[2020-04-05 19:12] BharathNimmala-MSFT commented on #901
@nswitanek Thank you for reaching out, can you please share the document link you are referring so that we can help you accordingly. Thanks

[2020-04-05 21:48] nswitanek commented on #901
Thank you, @BharathNimmala-MSFT

Here's the link:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-keras/train-hyperparameter-tune-deploy-with-keras.ipynb

[2020-04-06 00:58] vizhur commented on #901
@nswitanek  you'd need to update to the latest SDK or add anaconda as a first conda channel in your environment.

[2020-04-06 01:58] YutongTie-MSFT commented on #828
@samoliveira
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-06 01:58] #828 closed

[2020-04-06 04:44] RohitMungi-MSFT commented on #899
@nishankgu Could you please help with the above query? Is it possible to import custom modules in the databrick step?

[code]

[2020-04-06 05:09] nswitanek commented on #901
Always worth trying updating to the newest SDK!
I've updated to the latest SDK and that appears to have resolved the deployment issue. Thank you!

The conda-forge channel idea was a good guess, but the anaconda channel is actually in the env.yml file:

- pip:
  - azureml-defaults
- tensorflow=1.13.1
- keras==2.2.5
channels:
- anaconda
- conda-forge

[2020-04-06 14:15] AliCharkhi opened #902 "tutorial-pipeline-batch-scoring-classification"
When I run tutorial-pipeline-batch-scoring-classification notebook, the pipeline creation gives the following error:

`from azureml.core import Experiment
from azureml.pipeline.core import Pipeline

pipeline = Pipeline(workspace=ws, steps=[batch_score_step])
pipeline_run = Experiment(ws, 'batch_scoring').submit(pipeline)
pipeline_run.wait_for_completion(show_output=True)`

TypeError

[2020-04-06 14:31] lesh3000 opened #903 "w2v model loading, permission denied error"
Hi,
I am trying to load registerd model on AZURE ML and getting the following error message: PermissionError: [Errno 13] Permission denied: 'azureml-models\\words\\3\\words'

I have uploaded the model as a folder of three files manually through GUI:
words.w2v.wv.vectors.npy
words.w2v.trainables.syn1neg.npy
words.w2v

gensim generates three files with help of Word2Vec.Save()
getting a model with he

[2020-04-06 18:42] lesh3000 commented on #903
resolved, it was missing the file name after model_path

[2020-04-06 18:42] #903 closed

[2020-04-06 21:06] GiftA-MSFT commented on #900
@jadhosn **kwargs allows you to specify additional arguments or information in the function for configurations. Hence, there is no list defined, but you can define those parameter yourself. Check out this tutorial on [how to use *args and **kwargs](https://www.digitalocean.com/community/tutorials/how-to-use-args-and-kwargs-in-python-3). Hope this helps. Thanks.

[2020-04-06 21:29] GiftA-MSFT commented on #902
@AliCharkhi we will review your feedback and get back to you shortly. Thanks.

[2020-04-06 21:57] aashishb commented on #836
Adding @sanpil  for pipelines

[2020-04-06 23:25] sanpil commented on #836
Will wait for @lphomiej to get back to us with an update.

[2020-04-07 09:59] FlorianPydde commented on #703
Any update regarding this. I am facing the issue with the run.get_context(). When running the databricksStep the following arguments are passed as arguments: AZUREML_RUN_TOKEN, AZUREML_RUN_TOKEN_EXPIRY, AZUREML_ARM_SUBSCRIPTION,

The integration would be easier it there were part of the python environment in databricks when the job is created rather than passed as arguments

[2020-04-07 10:08] beauwilliams opened #904 "Can not access scikit modules when running img-classification-part2-deploy.ipynb"
When running this code

-----------------------------------------

import pickle
import joblib
clf = joblib.load( os.path.join(os.getcwd(), 'sklearn_mnist_model.pkl'))
y_hat = clf.predict(X_test)
print(y_hat)

---------------------------------------
We encounter the below error, which prevents any further execution of the notebook

`ModuleNotFoundError: No module named 'sklearn.linear_model._logis

[2020-04-07 12:36] vizhur commented on #904
@beauwilliams For compatible serialization/deserialization you need to use the same version of the dependency. AzureML SDK pins it to a range that does not have 0.22.2.post1, pip is raising a legit warning.

what is the environment for creating sklearn_mnist_model.pkl, I would assume it has the version you tried to update on remote. Btw, why didn't you specify dependency version you need in the en

[2020-04-07 12:44] vizhur commented on #900
hi @jadhosn, whatever is intended to be public is outside the kwargs scope. Anything in particular you are looking for?

[2020-04-07 13:13] vizhur commented on #893
@YutongTie-MSFT it's not resolved yet, i'd keep it open unless @vassilyl is fine to close this as we have internal ticket filed

[2020-04-07 13:43] jadhosn commented on #900
@vizhur, for example, *wait_for_completion* to help with async calls whenever I submit runs

[code]
vs.
[code]

PS:  A very kind MS escalation engineer shared with us this setting in a previous ticket

[2020-04-07 14:39] vizhur commented on #900
:) #2 is intended usage and documented behavior

[2020-04-07 18:22] PeterCLu commented on #762
Since it's been awhile since we last heard from you, I will proceed to close this issue. If you feel that your doc issue hasn't been resolved, please reopen an issue with additional details.

[2020-04-07 18:22] #762 closed

[2020-04-07 18:27] PeterCLu commented on #848
@vmagelo, the change was merged in, but I still don't see the message. Any updates on this?

[2020-04-07 18:37] #726 closed

[2020-04-08 00:19] beauwilliams commented on #904
Yes, I agree with your sentiments on dependencies, I do not think this is a good solution but I am running on a deadline, and wish to at least get a working start to finish all from within AzureML Studio.

In the part 1 MNIST Training notebook, there is some code that might be causing the issue, external joblib

`from sklearn.linear_model import LogisticRegression`
`from sklearn.externals import j

[2020-04-08 13:04] vizhur commented on #904
so you trained your model with Part 1 sample, and part 2 throws the error you mentioned?
Just to double check, the first cell in sample 2 should be ignored then

[code]

[2020-04-08 16:53] GiftA-MSFT commented on #900
Thanks @vizhur for your input.

[2020-04-08 16:53] #900 closed

[2020-04-08 23:55] swanderz opened #906 "AzureMLCompute cluster {NAME} does not exist"
Never seen this before... Any idea what is going on?

### `logs/azureml/stderrlogs.txt`

[code]

![image](https://user-images.githubusercontent.com/8158673/78844042-6f36e280-79b9-11ea-96c7-7ea173a49c3d.png)

[code]

![image](https://user-images.githubusercontent.com/8158673/78844081-883f9380-79b9-11ea-83eb-257670b368e6.png)

[2020-04-09 03:53] ram-msft commented on #906
@swanderz Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-09 04:07] beauwilliams commented on #904
Thanks for getting back to me.
Indeed I did not run the first code snippet in the Part2 MNIST Tutorial Book. I will give it another run today, just to make sure I did not run it mistake and feeding you the wrong information!

[2020-04-09 06:31] beauwilliams commented on #904
I can confirm having just tested again that I am still running into this issue, making sure not to run the first code snippet in the MNIST tutorial 2 notebooks.

[2020-04-09 08:21] beekill95 opened #907 "Changing scripts arguments won't trigger a rerun"
Currently, I'm passing many arguments to `PythonScriptStep` as string or number, such as `arguments=['--shuffle-data', '--data', '/home/1.txt', '--data', '/home/2.txt']`. However, if I change the params from `/home/1.txt` to `/home/abc/1.txt`, it won't trigger a rerun. To overcome this, I use `PipelineParameter`, but I'm not sure if it is the correct way to do it.

Furthermore, if later on I don't

[2020-04-09 09:57] ram-msft commented on #907
@beekill95 Thanks for the question. We will update you shortly.

[2020-04-09 12:21] robinvdheijden commented on #840
Hi @YutongTie-MSFT
Have you been able to learn anything as to what might have caused this occasional problem?

[2020-04-09 14:00] psterkens1 opened #908 "ResourceNotReady error when using DatabricksStep in pipeline"
Hi,

I was going through the [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-use-databricks-as-compute-target.ipynb) on DatabricksStep implementation in Azure ML pipelines and I keep on getting the same error while running the pipeline.

![image](https://user-images.githubusercontent.com/6340863

[2020-04-09 14:05] GiftA-MSFT commented on #902
@AliCharkhi I was able to successfully run the notebook in Azure ML Studio. I think this error is caused by your local environment. Can you please try to run the notebook in AML Studio located in Samples/Python/1.2.0/tutorials/machine-learning-pipelines-advanced'? Thanks.

[2020-04-09 14:11] GiftA-MSFT commented on #908
@psterkens1 we will review your feedback and get back to you shortly. Thanks.

[2020-04-09 15:27] AliCharkhi commented on #902
![image](https://user-images.githubusercontent.com/32510881/78911974-57c62b00-7a87-11ea-9c1e-9e1764687923.png)

[2020-04-09 15:51] lesh3000 opened #909 "nltk stopword and punkt"
I am deploying the model, and need to use nltk stopwords and tokenizer that uses nltk.punk
The model deployment fails because those files are not included in standard nltk. It requests to call nltk.download("stopwords") similar for punkt, but adding it into init() does not let to deploy model neither. It gives Unhealthy service message.
Is there anything I can do to be able to use corresponding nl

[2020-04-09 16:11] sdgilley commented on #904
The issue is indeed a problem with different versions of scikit-learn between the training environment, your local environment, and the deployed environment.

We're working to update the deployment notebook, to cut out local altogether and instead test on the deployed model using the same Python environment that was saved in the training notebook.

In the training notebook, there is code that crea

[2020-04-09 18:31] GiftA-MSFT commented on #909
@lesh3000 thanks for reaching out. Please what notebook are you referring to?

[2020-04-10 11:39] lesh3000 commented on #909
I tried deploying a similar model: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-existing-model . Mine had  nltk tokenizer imported.  I get the error when deploying the package because for instance stopwords needs to be downloaded separetely. I can provide you with the script.  Furthermore, for me it worked to import keras model file as json and then to add model_weights:

[2020-04-10 12:22] vmagelo commented on #895
Change was made and will go live with next SDK release. Thanks.

[2020-04-10 12:27] j-martens commented on #895
Thanks for your report.

[2020-04-10 12:27] #895 closed

[2020-04-10 13:21] robert4os opened #910 "How to enable concurrent requests per replica?"
I have tried replica_max_concurrent_requests=2 which seems to enable queuing for the service, but no real concurrency.

A web service on a AKS cluster should be able to handle concurrent requests without a problem.

Why is this limited?
Why should one contact MSFT technical support regarding this matter?

Thank you and best regards,
Robert

---
#### Document Details

⚠ *Do not edit this section. I

[2020-04-10 13:42] robert4os opened #911 "Please define container vs replica vs web service"
The terms container and replica are confusing without a clear definition.

Also they seem to be mixed up as well, for instance here
&gt;&gt;
autoscale_min_replicas
int
default value: None
The minimum number of containers to use when autoscaling this Webservice. Defaults to 1
&lt;&lt;

Thank you and best regards,
Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-10 13:56] GiftA-MSFT commented on #911
@robert4os we will review your feedback and get back to you shortly. Thanks.

[2020-04-10 16:12] GiftA-MSFT commented on #902
@yanrez are you aware of this issue in Western Europe region?

[2020-04-10 18:22] GiftA-MSFT commented on #911
@j-martens are replicas and containers used interchangeably here? For example, the document has
- [num_replicas](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.akswebservice?view=azure-ml-py#variables) defined as -> The number of replicas for the Webservice.
- [num_replicas](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.akswebser

[2020-04-10 19:43] smfahad commented on #128
@swanderz could you please point me to where i will find azure_automl.cmd file to setup the environment in conda

[2020-04-10 19:57] swanderz commented on #128
@smfahad setting up an azureml conda env can be tricky especially when automl is involved. Do you want to run the automl on your local machine or on an Azure ML compute target?

Check out [this folder](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/automated-machine-learning), and read the README. The `.cmd` file is there.

[2020-04-10 21:20] GiftA-MSFT commented on #902
@AliCharkhi can you please share your run id from the run details so we can look into this issue further? I'm unable to repro this issue even in West Europe region.

[2020-04-10 21:26] GiftA-MSFT commented on #910
@robert4os we will review your feedback and get back to you shortly. Thanks.

[2020-04-10 22:00] smfahad commented on #128
@swanderz I want to setup in my local machine. I trained a model using AzureML studio, now i want to run the model in my local machine. I completely uninstall and reinstall conda. Then i use automl_setup.cmd to setup a new environment as mentioned in README file but when i execute my code, i am still getting error.

ModuleNotFoundError: No module named 'azureml.train.automl.automlconfig'

I am won

[2020-04-10 22:06] swanderz commented on #128
@smfahad sorry that's a really crappy experience. everyone on my team has issues using the azureml-sdk with conda. i'd say once per month things break to the extent that I have to make a new local conda environement. and once a quarter, I have to uninstall and reinstall conda.

Unless @CESARDELATORRE says otherwise, I recommend you make a new environment and run
`pip install azureml-sdk[automl,int

[2020-04-11 00:17] yanrez commented on #902
@sanpil

[2020-04-11 10:29] rajibstats opened #912 "Input prediction data X_pred or input forecast_destination contains dates prior to the latest date in the training data. Please remove prediction rows with datetimes in the training date range or adjust the forecast_destination date.""
Hi all,

My experiment is running successfully till training successfully. But when I am going to predict on test data with bellow code, Its throwing an exception.
y_predictions, X_trans = fitted_model.forecast(X_test)

Exception:

WrongShapeDataError: WrongShapeDataError:
	Message: Input prediction data X_pred or input forecast_destination contains dates prior to the latest date in the training d

[2020-04-11 10:40] rajibstats commented on #912
Hi all,

My experiment is running successfully till training successfully. But when I am going to predict on test data with bellow code, Its throwing an exception.
y_predictions, X_trans = fitted_model.forecast(X_test)

Exception:

WrongShapeDataError: WrongShapeDataError:
	Message: Input prediction data X_pred or input forecast_destination contains dates prior to the latest date in the training d

[2020-04-11 11:19] smfahad commented on #128
@swanderz I tried your suggestion even i completely remove anaconda and reinstall it from scratch. I then created a new environment and run pip install azureml-sdk[automl,interpret], but still I am getting the same error message "ModuleNotFoundError: No module named 'azureml.train.automl.automlconfig'" when running the model .

Any other advise or suggestion do you have?

[2020-04-11 14:13] ra312 commented on #251
I believe I am experiencing the same issue at the moment? Are there any updates on the above behaviour?

[2020-04-11 14:19] RohitMungi-MSFT commented on #912
@rajibstats Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 08:26] beauwilliams commented on #904
Thank you very much this is great, I will give this a run now.

[2020-04-12 08:26] #904 closed

[2020-04-12 19:08] sanpil commented on #902
Can you make sure the versions of azureml-contrib-pipeline-steps and azureml-pipeline-core are the same?

[2020-04-12 21:34] CESARDELATORRE opened #913 "Need to add description for each transformer in this page."
There's no a single explanation/description in this page. Each transformer should have a short description saying what it does. i.e. "What MaxAbsScaler does"

This other page has the same issue:
https://docs.microsoft.com/en-us/python/api/azureml-automl-core/azureml.automl.core.constants.supportedtransformers?view=azure-ml-py

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-12 21:34] CESARDELATORRE opened #914 "Need to add description for each transformer in this page."
There's no a single explanation/description in this page. Each transformer should have a short description saying what it does. i.e. "What MaxAbsScaler does".

This other page has the same issue:
https://docs.microsoft.com/en-us/python/api/azureml-automl-core/azureml.automl.core.constants.supportedtransformersfactorynames.generic?view=azure-ml-py#maxabsscaler

---
#### Document Details

⚠ *Do not

[2020-04-12 21:39] CESARDELATORRE opened #915 "experiment_timeout_hours description should mention that it can be decimal (i.e. 0.25 for 15min)"
experiment_timeout_hours parameter's description should mention that it can be decimal (i.e. 0.25 for 15min).
Other than that it initially looks like the minimum value is 1h.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bc2b21e-6b1a-cb94-2857-147177a29d7c
* Version Independent ID: d14620a6-a2f6-49f1-632e-73903d41de8

[2020-04-12 22:04] CESARDELATORRE commented on #915
Also mention the dataset's limit in size (rows * cols cannot be greater than 10,000,000) in order to be able to specify less than 1.0 hours, or you'll get this error:

"Message: The ExperimentTimeout should be set more than 60 minutes with an input data of rows*cols(535690*58=31070020) more than 10,000,000."

[2020-04-12 22:25] CESARDELATORRE opened #916 "For max_concurrent_iterations and AMLCompute (Cluster) it should match number of nodes, not cores"
max_concurrent_iterations
int
For max_concurrent_iterations and AMLCompute (Cluster) it should match number of nodes, not cores.
The description says:
"
Maximum number of iterations that would be executed in parallel on an AmlCompute cluster, on a DSVM, or on Databricks. This should be less than or equal to the number of cores on the AmlCompute/DSVM or worker nodes on Databricks."

Probably DSVM a

[2020-04-12 22:30] CESARDELATORRE commented on #916
Plus it should mention what's the by default value of max_concurrent_iterations if not specified.
Same issue for other parameters.

[2020-04-13 01:23] ram-msft commented on #913
@CESARDELATORRE Thanks for the feedback. We will update you shortly.

[2020-04-13 01:25] ram-msft commented on #915
@CESARDELATORRE Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-13 01:29] ram-msft commented on #914
@CESARDELATORRE Thanks for the feedback. duplicate of https://github.com/Azure/MachineLearningNotebooks/issues/913.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-13 01:29] #914 closed

[2020-04-13 04:37] ram-msft commented on #916
@CESARDELATORRE Thanks for the feedback. We will update you shortly.

[2020-04-13 05:28] ram-msft commented on #896
Raised a PR #917  for the changes.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-13 05:28] #896 closed

[2020-04-13 09:46] AliCharkhi commented on #902
Thanks a lot for the hint. Upfrading the full SDK solved the issue. I was updating just the core SDK.

[2020-04-13 09:46] #902 closed

[2020-04-13 14:03] vmagelo commented on #848
Sorry for the delay. There was a mix up on where the change should go. It has been fixed and the change is live.

[2020-04-13 16:34] GiftA-MSFT commented on #911
@j-martens please review this feedback for doc enhancement.

[2020-04-13 16:40] rajibstats commented on #912
I have used bellow code:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-orange-juice-sales/auto-ml-forecasting-orange-juice-sales.ipynb

[2020-04-13 17:07] saroup opened #919 "Run.get_context is getting previous completed runs instead of current one"
I have a Train and Eval step in my AML pipeline.
In the train step, after training I do:
value = 3295
run.log('mse', value)
run.parent.log('mse', value)
However, the parent doesn't always have that metric which make my eval step fail.
When I do print("run.parent metrics {}".format(run.parent.get_metrics())) right after logging the metrics in the parent it doesn't show mse as part of the metrics.
A

[2020-04-13 17:16] vmagelo commented on #898
We added the links. The changes will appear in next release of SDK in 1-2 weeks.

[2020-04-13 19:11] CESARDELATORRE commented on #896
@ram-msft Hey ram, shouldn't the PRs go against the ADO Git instead directly to the GitHub repo?
Other than that updates from the ADO Git would revert the PR here in GitHub. Am I wrong?
Can you confirm?

[2020-04-13 19:28] swanderz commented on #128
Are other azureml modules importing correctly? Does the following work for you? You might not have your conda env properly registered as a Jupyter kernel.
[code]

[2020-04-13 19:54] j-martens commented on #848
Thank you for your report. I'll now proceed to close this issue.

[2020-04-13 19:54] #848 closed

[2020-04-13 19:55] j-martens commented on #898
Thank you for your report. I'll now proceed to close this issue.

[2020-04-13 19:55] #898 closed

[2020-04-13 20:41] mx-iao commented on #897
Hi @RohitMungi-MSFT, assigning @sanpil and @MayMSFT as this is a pipelines + datasets issue.

[2020-04-13 20:51] saroup commented on #919
So as I was debugging this and logging the runid and the run.parent.id. I realized that those corresponded to earlier runs that had already completed but not the ones running now

[2020-04-13 21:15] GiftA-MSFT commented on #908
@psterkens1 please ensure that your Databricks compute target is up and running. Thanks.

[2020-04-13 21:21] CESARDELATORRE commented on #128
Yes, I recommend you make a new CONDA environment and run the pip installs stated here:
https://github.com/Azure/MachineLearningNotebooks/blob/master/NBSETUP.md

I've been doing that in several custom environments with no issues.

[2020-04-14 02:08] saroup commented on #919
We were setting allow_reuse = True on the train step and that was a problem since it would give the same output as previous runs.

[2020-04-14 02:08] #919 closed

[2020-04-14 03:52] GiftA-MSFT commented on #910
@j-martens please can you help clarify why this setting shouldn't be changed unless instructed?

[2020-04-14 06:02] smfahad commented on #128
@swanderz yes, it is working for me, i am getting the output "Azure ML SDK Version:  1.2.0"

@CESARDELATORRE I have setup a new environment as you suggested and tried again with the automl best deploy model downloaded from AzureML studio but still i am getting the same error.

---------------------------------------------------------------------------
ModuleNotFoundError                       Trac

[2020-04-14 06:05] swanderz commented on #128
can you run `pip list | grep “azureml”` in this environment and share the results?

[2020-04-14 06:09] smfahad commented on #128
@swanderz here is the output

azureml-automl-core                  1.2.0
azureml-automl-runtime               1.2.0
azureml-contrib-notebook             1.2.0
azureml-contrib-pipeline-steps       1.2.0
azureml-contrib-server               1.2.0
azureml-contrib-services             1.2.0
azureml-core                         1.2.0.post2
azureml-dataprep                     1.3.6
azureml-dataprep-nat

[2020-04-14 06:13] swanderz commented on #128
Also to be clear, what’s your import statement? Below is what the [reference tutorial](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-auto-train-models) suggests. I recommend using that as it is more likely to stay Up to date compared to the notebooks in this repo.

`from azureml.train.automl import AutoMLConfig`

[2020-04-14 06:45] smfahad commented on #128
@swanderz  Even when i am just running the mention statement without any other statement in my notebook, i am getting the error.

from azureml.train.automl import AutoMLConfig
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-9b5a7ce91deb> in <module>
----> 1 from azureml.train.au

[2020-04-14 12:09] j-martens commented on #910
@GiftA-MSFT - please assign to the product team. thank you! Please let us know what we can do in documentation once the answer is uncovered. thank you!

[2020-04-14 14:01] RohitMungi-MSFT commented on #912
@rajibstats After running the notebook as is I was able to predict without any errors in any of the steps.
![image](https://user-images.githubusercontent.com/46958063/79232176-cc80d700-7e84-11ea-8fc1-e5ed22de951f.png)

[2020-04-14 16:35] vmagelo commented on #916
@CESARDELATORRE - Changes for max_concurrent_iterations were made recently to separate AMLCompute, DSVM, and Databricks and other corrections. They haven't made it live yet.

For you second comment, are you suggesting that we put default values for all parameters? For methods, we get "free" default values printed out under parameters. For classes, we don't unfortunately and must do it manually. We

[2020-04-14 17:06] #908 closed

[2020-04-14 17:30] j-martens commented on #911
@blackmist - do you know who could clarify these definitions?

[2020-04-14 17:50] swanderz commented on #128
I'm sorry this is so difficult, I can definitely empathize. I'm 85% sure that the issue has to do with your jupyter notebook is not using your conda environment.

## Fix
Open the anaconda prompt and try this sequence of commands.
[code]

If the above works, I recommend that you read this article about [setting up an env on you local computer](https://docs.microsoft.com/en-us/azure/machine-learning

[2020-04-14 18:02] jadhosn commented on #128
@smfahad I usually face something similar with some packages, whenever in doubt, I check where these packages are being summoned from using `.__file__` (if they have that implemented).

For azureml's case, you would try:
[code]

[2020-04-14 19:13] vineetgarhewal opened #920 "Tensorboard exmple notebook not working"
1. Run this notebook - MachineLearningNotebooks/how-to-use-azureml/training-with-deep-learning/export-run-history-to-tensorboard/export-run-history-to-tensorboard.ipynb
2. Go to tensorboard url
3. You'll hit "502 Bad Gateway" error

[2020-04-14 19:22] GiftA-MSFT commented on #910
@robert4os here's the feedback I received from the product team:

"The services that utilize the AzureML base images do not support parallel request processing. This parameter is only for FPGA-enabled services or customers using their own inferencing stack. Also, for no code deployment (tensorflow, onnx, sklearn), python's global interpreter lock does not allow concurrent processing. That label co

[2020-04-14 19:28] smfahad commented on #128
@swanderz Thanks for your help. Very much appreciated to identify the problem and taking it to the right direction.

When i run your mentioned commands within conda activated environment, the azureml.core package imported correctly and  pointing to the package with in my environment as @jadhosn mentioned, which seems fine.

But when i imported azureml.train.automl, it through an exception pointing

[2020-04-14 19:58] GiftA-MSFT commented on #909
@lesh3000 we don't have particular guidance on how you should install these functions. If your init function is failing (which is probably what is leading to the unhealthy response), then try to debug with local containers. You could use the docker file step to run python -c "import nltk; nltk.download('stopword')" at build time and then it would be present in the environment. Hope this helps. Tha

[2020-04-14 19:58] #909 closed

[2020-04-14 22:00] CESARDELATORRE commented on #128
Cool! I'm glad it worked for you! 👍

[2020-04-14 22:17] CESARDELATORRE commented on #916
Thanks @vmagelo,

I think users would prefer to have the by default param values in the description because the AutoMLConfig is "massive".. plus sometimes the default value needs an explanation on what exactly it means for that case.

I'd say we don't need that for all classes in AutoML, but this class in particular is the most important class for configuring AutoML runs, so we'd need to improve i

[2020-04-15 00:44] swanderz opened #921 "AMLConfig target_lags param ambiguity?"
Why does the description for `target_lags`, but only allow `int` ? I would love to pass multiple lags

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bc2b21e-6b1a-cb94-2857-147177a29d7c
* Version Independent ID: d14620a6-a2f6-49f1-632e-73903d41de8c
* Content: [azureml.train.automl.automlconfig.AutoMLConfig class - Azur

[2020-04-15 03:04] ram-msft commented on #920
@vineetgarhewal Thanks for the feedback. We will update you shortly.

[2020-04-15 07:26] RohitMungi-MSFT commented on #921
@Aniththa The documentation for `target_lags `indicates it is of type int but it looks like it should be list(int) according to the description of the field. Could you please review and correct the same?

[2020-04-15 07:30] atbagga commented on #872
@j-martens I am facing the same issue. Any updates on this?
@denniseik  Were you able to find some way around it?

[2020-04-15 07:59] ram-msft commented on #858
@maxluk Can you please check on the compute Instance - creation Logs.

[2020-04-15 10:44] miquelladeboer opened #922 "example does not contain mpistep"
For an example of using MpiStep, see the notebook https://aka.ms/pl-style-trans.
Example does not contain MpiStep

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45291b3-d33a-9e94-0335-d757bd53d7fb
* Version Independent ID: bcb6c980-141a-601f-9c18-d71c277edbbc
* Content: [azureml.pipeline.steps.MpiStep class - Azure Ma

[2020-04-15 11:29] phonosync opened #923 "Estimator Framework Related Packages when specifying conda dependencies file"
I find it more convenient to specify additional conda dependencies in a conda_env.yaml file rather then using conda_packages in the Estimator constructor.
The documentation warns me for the conda_dependencies_file parameter: ...If specified, Azure ML will not install any framework related packages. But I could not find a list of these "framework related packages", which are needed, for example, to

[2020-04-15 12:11] RohitMungi-MSFT commented on #783
#922 is duplicate of this issue

[2020-04-15 12:42] RohitMungi-MSFT commented on #922
@miquelladeboer Thanks for pointing this out. There is an existing issue for this item which i have referenced in this issue.
Here is an [example ](https://github.com/Azure/MachineLearningNotebooks/blob/75610ec31cc83471e0eea10f13937a1e13a2b5ad/how-to-use-azureml/machine-learning-pipelines/pipeline-style-transfer/pipeline-style-transfer.ipynb)of MPI step from a previous commit of the notebook that

[2020-04-15 13:37] RohitMungi-MSFT commented on #923
@phonosync Thanks for the feedback. @mx-iao Is it possible to add links to conda_dependencies_file as requested and list all the suggested framework related packages?

[2020-04-15 18:23] swanderz opened #924 "AutoMLConfig max_cores_per_iteration=-1 ?"
What does setting  `max_cores_per_iteration=-1` accomplish? Its done' in [numerous AutoML notebooks](https://github.com/Azure/MachineLearningNotebooks/search?q=max_cores_per_iteration%3D-1&unscoped_q=max_cores_per_iteration%3D-1).

[2020-04-15 18:33] CESARDELATORRE commented on #924
It means "use all the possible cores per iteration/child-run".

I created this issue on docs a couple of weeks ago. It'll be published in the upcoming docs release:
https://github.com/Azure/MachineLearningNotebooks/issues/895

Thanks for your feedback! 👍

[2020-04-15 18:44] swanderz opened #925 "Local env requirements to submit AutoML jobs to AMLCompute"
what packages do i need to install on my local env to submit AutoML jobs to AMLCompute? i thought that it was sufficient to use `pip install azureml-sdk` and that `pip install azureml-sdk[automl]` was only needed if you want to have the automl runs happen in AMLCompute.
@jadhosn @CESARDELATORRE @Aniththa @nibaccam

I have a new environment with SDK version 1.3.0. here's the azureml libraries in my

[2020-04-15 18:50] vineetgarhewal opened #926 "RunDetails(run).show() is not able to display and throwing error"
1. Create a new notebook compute instance in workspace
2. Clone this notebook - MachineLearningNotebooks/how-to-use-azureml/work-with-data/datasets-tutorial/train-with-datasets/train-with-datasets.ipynb
3. Run cell by cell and submit a run
4. Try to show the run details by executing cell with - RunDetails(run).show()
5. You'll hit error message - "Error displaying widget: model not found"

[2020-04-15 19:00] swanderz commented on #921
There's a few other forecasting params that should also be `list(int)` I believe. Plus the UI doesn't even let you enter a list and tells you it must be an integer. @nibaccam

[2020-04-15 19:29] CESARDELATORRE commented on #925
With the packages listed here should be enough:
https://github.com/Azure/MachineLearningNotebooks/blob/master/NBSETUP.md

Plus also the following for Widgets in notebooks.

I think I use the following for my PC Conda environment and optionally the other packages in the URL above:

pip install azureml-sdk[notebooks,automl]

pip install azureml-sdk[explain,contrib]

pip install azureml-widgets

[2020-04-15 19:40] swanderz commented on #925
So there may be a weird environment issue (or an SDK bug) going on, but my question is really about what I read in the [release notes for 1.0.76](https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes#azure-machine-learning-sdk-for-python-v1076)

I'd like to avoid the `automl` option if possible

[2020-04-15 19:42] YutongTie-MSFT commented on #924
@swanderz
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-15 19:42] #924 closed

[2020-04-15 19:45] cartacioS commented on #921
You are both correct, we have work items opened now to update the documentation to say that target_lags accept a list as well as an integer. We already have a work item on our end to enable list input through the UI, so this is on our radar.

Could you point out the other forecasting params that should be list but aren't documented correctly?

[2020-04-15 20:02] swanderz commented on #921
Well now I'm just not sure... maybe it is more about clarifying fixing some mislabeled things.

## `lag_length`?
in the function def at the top of AutoMLConfig, there's mention of `lag_length: int = 0,` but I assume that its been renamed to `target_lags`, right?

Can I add multiple lags to lag_length? In the [blog post ](https://azure.microsoft.com/en-us/blog/build-more-accurate-forecasts-with-new

[2020-04-15 20:15] vmagelo commented on #916
Okay, working through tracking down some of those parameters and creating change request.

[2020-04-15 20:19] vmagelo commented on #921
re: update of `target_lags` parameter in AutoMLConfig class: this is included in a PR in progress for updating docs.

[2020-04-15 20:20] cartacioS commented on #921
Lag_length is an outdate parameter before target_lags we're introduced. We will be removing this parameter from our documentation. Though the blog (due to the nature of blogs) will remain as is.

Targer_lags does accept a list of integers and those are the doc updated we have created work items for and will address.

[2020-04-15 21:50] purnesh42H commented on #897
@aleixsd  the input dataset should be of type
**<class 'azureml.data.dataset_consumption_config.DatasetConsumptionConfig>**

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_consumption_config.datasetconsumptionconfig?view=azure-ml-py

here is an example for NotebookRunnerStep. Also, please make sure you have the latest azureml-sdk version

[code]

[2020-04-16 07:09] ram-msft commented on #926
@vineetgarhewal Thanks for the question. We will update you shortly.

[2020-04-16 11:52] psterkens1 opened #927 "modules not found using databrickssteps in pipeline"
Hi,
Whenever I run an azureml pipeline in databricks with several databrickssteps (that access other databricks notebooks), I get an error while loading libraries (e.g. azure-storage-blob) during pipeline execution. When I run the command blocks manually in Databricks, I can import the libraries just fine but if the notebooks are accessed through databrickssteps, I suddenly get errors stating: 'no

[2020-04-16 12:55] ram-msft commented on #913
@Aniththa can you please check on this.

[2020-04-16 13:29] #910 closed

[2020-04-16 15:38] DebFro opened #928 "Test"

[2020-04-16 16:13] #338 closed

[2020-04-16 17:43] YutongTie-MSFT commented on #928
@DebFro
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-16 17:43] #928 closed

[2020-04-16 19:21] #131 closed

[2020-04-16 20:56] TravisCragg-MSFT commented on #927
@psterkens1 can you post a link to the doc you are referring to?

[2020-04-16 21:36] #321 closed

[2020-04-16 21:43] #388 closed

[2020-04-16 21:44] #400 closed

[2020-04-16 21:50] DebFro commented on #407
bug has been addressed, if you are still experiencing this issue please re-open.

[2020-04-16 21:50] #407 closed

[2020-04-16 21:52] #412 closed

[2020-04-16 21:56] DebFro commented on #432
Per "AzureAD/azure-activedirectory-library-for-dotnet#1346" this is Resolved by reverting the assembly "Microsoft.IdentityModel.Clients.ActiveDirectory" to Version=3.13.9.1126.
Using latest version of this assembly raised this issue. Version = 4.4.0.0

[2020-04-16 21:56] #432 closed

[2020-04-16 22:02] #602 closed

[2020-04-16 22:02] #603 closed

[2020-04-16 22:54] DebFro commented on #740
bug referenced has been resloved

[2020-04-16 22:54] #740 closed

[2020-04-17 00:13] #808 closed

[2020-04-17 00:13] BillmanH opened #929 "model.fit(X_train, y_train) in AutoML model yields different predictions than expected."
TLDR: Any idea what the difference between the AutoML model .fit and the conventional modle.fit and why they might be different? Can this kind of analysis be done in AutoML?

I was working on some model validation of AutoML and was using a function to test model resiliency of a previously trained model in AutoML. And I found that I got wildly different results when using `model.predict(x_test)` as

[2020-04-17 00:20] #757 closed

[2020-04-17 00:27] #656 closed

[2020-04-17 00:28] #659 closed

[2020-04-17 00:38] #689 closed

[2020-04-17 00:42] jpe316 commented on #484
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where#prepare-to-deploy

# Example when the model is a file
model_path = os.path.join(os.getenv('AZUREML_MODEL_DIR'), '\model.pkl')

[2020-04-17 00:42] #484 closed

[2020-04-17 00:43] jpe316 commented on #662
You can use the environment variable for this now. Our docs have been updated!

model_path = os.path.join(os.getenv('AZUREML_MODEL_DIR'), 'model.pkl')

[2020-04-17 00:47] DebFro commented on #728
Thank you for reaching out to us.  We did not receive a response to our last message, so will close this issue for now. Should you need further assistance please re-open.

[2020-04-17 00:47] #728 closed

[2020-04-17 01:06] aashishb commented on #706
Please check this https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-virtual-network#use-azure-container-instances-aci

[2020-04-17 01:11] #636 closed

[2020-04-17 01:12] #637 closed

[2020-04-17 01:13] #644 closed

[2020-04-17 01:14] #647 closed

[2020-04-17 01:14] jpe316 commented on #911
@vaidya-s to clarify

Best doc we have is here:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service#deploy-to-aks

[2020-04-17 01:15] #706 closed

[2020-04-17 01:16] jpe316 commented on #244
@vaidya-s

[2020-04-17 01:17] jpe316 commented on #450
@vaidya-s

[2020-04-17 01:18] jpe316 commented on #833
@vaidya-s

[2020-04-17 01:19] jpe316 commented on #850
@akshaya-a

[2020-04-17 01:19] jpe316 commented on #840
@sanpil

[2020-04-17 01:32] jpe316 commented on #289
We're working on this! @shivp950

[2020-04-17 01:33] #775 closed

[2020-04-17 01:35] jpe316 commented on #770
We're working on this!

[2020-04-17 01:36] #662 closed

[2020-04-17 01:37] jpe316 commented on #794
ContainerImageConfig is deprecated and will not be receiving updates. Assigning this to Inference for triage with the new way of deploying

[2020-04-17 01:38] jpe316 commented on #714
@mrudulan

[2020-04-17 03:37] sanpil commented on #840
Most plausible reason for this seems to be a caching issue/bug on our side. We cache the PAT on our end in memory with the workspace identity/compute name as the key. If you de-attach and reattach the ADB compute using the same compute name but different ADB cluster/PAT, we could hit this. Can you confirm if this is the scenario?

[2020-04-17 04:59] ram-msft commented on #929
@BillmanH Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-17 06:36] RohitMungi-MSFT commented on #912
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-17 06:36] #912 closed

[2020-04-17 06:37] psterkens1 commented on #927
I have used the following [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/azure-databricks/databricks-as-remote-compute-target/aml-pipelines-use-databricks-as-compute-target.ipynb) as a basis for the set up of my workspace and construction of the pipeline. When accessing the model train notebook I constructed for my project during pipeline execution ([da

[2020-04-17 07:26] FlorianPydde commented on #743
Any update on this issue ? I am facing the same problem. I am using an .amlignore when deploying my  scripts to an ACI but it seems like the the service doesn't take into account the amlignore when creating the instance

[2020-04-17 11:25] psterkens1 commented on #927
It appears that the databrickssteps are running on a job cluster rather than the cluster I passed as compute target argument. That explains why the modules I installed are not present. Any idea why the passed compute is not used?

[2020-04-17 18:28] v-strudm-msft commented on #243
Thank you for reaching out to us.  We see our answer this issue was delayed. Our apologies. We did not receive a response to our response, so will close this issue for now. Should you need further assistance, please submit a post on this forum. We are happy to help.

[2020-04-17 18:28] #243 closed

[2020-04-17 18:38] v-strudm-msft commented on #257
Thank you for reaching out to us.  We see this issue was not addressed. Our apologies. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-17 18:38] #257 closed

[2020-04-17 18:43] v-strudm-msft commented on #276
Thank you for your post. We’re glad to see this issue was resolved and will now close this thread. Should you have additional questions, please continue to post here.

[2020-04-17 18:43] #276 closed

[2020-04-17 18:46] v-strudm-msft commented on #317
Thank you for reaching out to us.  We see this issue was not addressed. Our apologies. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-17 18:46] #317 closed

[2020-04-17 18:50] v-strudm-msft commented on #355
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-17 18:50] #355 closed

[2020-04-17 19:00] v-strudm-msft commented on #244
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We   did not receive a response to our response, so will close this issue for now.   Should you need further assistance, please submit a post on this forum. We   are happy to help.
--

[2020-04-17 19:00] #244 closed

[2020-04-17 19:05] v-strudm-msft commented on #245
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We   did not receive a response to our response, so will close this issue for now.   Should you need further assistance, please submit a post on this forum. We are happy to help.

[2020-04-17 19:05] #245 closed

[2020-04-17 19:30] v-strudm-msft commented on #365
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-17 19:33] v-strudm-msft commented on #244
Thank you for reaching out to us.  We see your latest post was not addressed and was posted some time ago. Our apologies. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-17 19:41] v-strudm-msft commented on #254
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close the issue. Should you need   assistance with another issue, please let us know and we will respond to your   post promptly.

[2020-04-17 19:41] #254 closed

[2020-04-17 20:02] v-strudm-msft commented on #258
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We did not receive a response to our post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-17 20:02] #258 closed

[2020-04-17 20:06] v-strudm-msft commented on #261
Thank you for reaching out to us.  We see this issue was not addressed. Our apologies. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-17 20:06] #261 closed

[2020-04-17 20:12] v-strudm-msft commented on #268
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We did not receive a response to our post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-17 20:12] #268 closed

[2020-04-17 22:41] v-strudm-msft commented on #273
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We did not receive a response to our post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-17 22:41] #273 closed

[2020-04-17 22:59] v-strudm-msft commented on #291
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We did not receive a response to our post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-17 22:59] #291 closed

[2020-04-18 01:10] v-strudm-msft commented on #319
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We did not receive a response to our post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-18 01:10] #319 closed

[2020-04-18 01:11] v-strudm-msft commented on #322
Thank you for reaching out to us. We see our answer was delayed. Our apologies. We did not receive a response to our post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-18 01:16] v-strudm-msft commented on #325
Thank   you for reaching out to us. We see our answer was delayed. Our apologies. We   did not receive a response to our post, so will close this issue for now.   Should you need further assistance, please submit a post on this forum and we   will respond promptly.

[2020-04-18 01:16] #325 closed

[2020-04-18 01:20] v-strudm-msft commented on #366
Thank you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close the issue. Should you need   assistance with another issue, please let us know and we will respond to your   post promptly.

[2020-04-18 01:20] #366 closed

[2020-04-18 01:23] v-strudm-msft commented on #375
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close the issue. Should you need  assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-18 01:23] #375 closed

[2020-04-18 01:36] v-strudm-msft commented on #378
Thank you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close the issue. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-18 01:36] #378 closed

[2020-04-18 01:46] v-strudm-msft commented on #379
Thank you for reaching out to us.  We did not receive a response to our last post, so will close this issue for now. Should you need further assistance, please submit a post on this forum and we will respond promptly.

[2020-04-18 01:46] #379 closed

[2020-04-18 02:30] v-strudm-msft commented on #399
Thank you for your post. We see our answer was delayed. Our apologies. We did not receive a response, so will close this issue for now. Should you need further assistance, please post on this forum and we  will respond promptly.

[2020-04-18 02:30] #399 closed

[2020-04-18 02:41] v-strudm-msft commented on #401
Thank you for your post and participation. We will close this thread.

[2020-04-18 02:41] #401 closed

[2020-04-18 02:44] v-strudm-msft commented on #403
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close the issue. Should you need assistance with another issue, please let us know and we will respond to your post promptly.

[2020-04-18 02:44] #403 closed

[2020-04-18 19:50] adamthorne commented on #221
Worth to highlight that the syntax for loading the libraries needs to include runtime it would seem:

from azureml.train.automl.runtime.automlexplainer import retrieve_model_explanation
 See the reference info on MS site [here]([url](https://docs.microsoft.com/en-us/python/api/azureml-train-automl-runtime/azureml.train.automl.runtime.automlexplainer?view=azure-ml-py)):

[2020-04-18 20:49] pashminacameron opened #931 "Documentation: Gloo or Nccl"
Is this a class for managing Gloo settings or Nccl settings? Documentation refers to Gloo, but the class name is Nccl.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45b7359-e799-3511-8da3-825fe92b469e
* Version Independent ID: 9f90199b-d892-e2a2-f075-6a29462c3969
* Content: [azureml.train.dnn.Nccl class - Azure Machi

[2020-04-19 02:33] MachineIntelligenceCN opened #932 "Where is the entry point to getting started on Azure Notebooks?"
https://github.com/Azure/MachineLearningNotebooks/blob/7970209069b38265fa74b6cc15fa2693a457ecb1/configuration.ipynb#L155

This line indicates the instructions in that link is feasible on [azure notebooks](notebooks.azure.com), which is not. I can't enter the code from https://microsoft.com/devicelogin.

![image](https://user-images.githubusercontent.com/45580364/79677965-f8a3ab80-8228-11ea-8990-29

[2020-04-19 18:19] electrozoa opened #933 "Attribute Error while running automl experiment"
I am running a continuous automl experiment and am getting the following error in each of the child runs for regression models

Subprocess (pid 157) exited with non-zero exit status 1. stderr output:
Traceback (most recent call last):

  File "/azureml-envs/azureml_4e1233asg542cv6d20602cf92ad0f3b3/lib/python3.6/site-packages/azureml/automl/runtime/shared/spawn_server.py", line 79, in <module>

[2020-04-19 18:21] electrozoa commented on #933
these are my conda packages for environment

 cd = CondaDependencies.create(pip_packages=['azureml-sdk[automl]', 'applicationinsights','azureml-automl-core', 'azureml-opendatasets','xgboost==0.90','mysql-connector-python','azureml-defaults','joblib','azureml-automl-runtime'],
                              conda_packages=['numpy==1.16.2',
                                             'pandas<=0.23.4

[2020-04-19 18:21] electrozoa commented on #933
cd = CondaDependencies.create(pip_packages=['azureml-sdk[automl]', 'applicationinsights','azureml-automl-core', 'azureml-opendatasets','xgboost==0.90','mysql-connector-python','azureml-defaults','joblib','azureml-automl-runtime'],
                              conda_packages=['numpy==1.16.2',
                                             'pandas<=0.23.4,>=0.21.0',

[2020-04-19 18:43] maknotavailable commented on #743
It seems that for training deployments, the .amlignore or .gitignore is taken into account. But not for deploying a service...This is filling up the container registry and resulting in very slow deployments. Any update on this issue?

[2020-04-19 18:50] TravisCragg-MSFT commented on #932
@MachineIntelligenceCN Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-19 20:16] TravisCragg-MSFT commented on #931
@pashminacameron Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-20 04:22] ram-msft commented on #933
@electrozoa Thanks for the question. We will update you shortly.

[2020-04-20 08:29] RohitMungi-MSFT commented on #922
@miquelladeboer We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-20 08:30] #922 closed

[2020-04-20 20:23] jadhosn commented on #826
@YutongTie-MSFT not sure if you have the right person assigned

[2020-04-20 20:33] YutongTie-MSFT commented on #715
@casieo
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-20 20:33] #715 closed

[2020-04-20 20:37] YutongTie-MSFT commented on #698
@alla15747
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-20 20:37] #698 closed

[2020-04-20 20:38] YutongTie-MSFT commented on #709
@dem108
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-20 20:38] #709 closed

[2020-04-20 20:42] CESARDELATORRE opened #934 "Explain default behavior for 'Early Stopping' and 'Stopping Criteria'"
In the current reference page this is the only info about 'Early Stopping':
enable_early_stopping bool
Flag to enable early termination if the score is not improving in the short term.

Customers are demanding additional details about AutoML 'Stopping Criteria' and  'Early Stopping'. The following default behavior needs to be added to this page (probably at the 'enable_early_stopping' param sectio

[2020-04-20 20:53] v-strudm-msft commented on #409
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 20:53] #409 closed

[2020-04-20 20:53] swanderz commented on #740
@sanpil @sonnypark after some testing, I'm 97% sure the bug is fixed! Thanks for your hard work.

[2020-04-20 21:06] sanpil commented on #740
Thanks. I am worried about that 3% :)

[2020-04-20 21:07] v-strudm-msft commented on #414
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 21:07] #414 closed

[2020-04-20 21:16] v-strudm-msft commented on #419
Thank you for reaching out to us.  We see this issue was not addressed by us and was posted some time ago. Our apologies. We hope the community response helped. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 21:16] #419 closed

[2020-04-20 21:25] v-strudm-msft commented on #451
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 21:25] #451 closed

[2020-04-20 21:28] sonnypark commented on #826
I believe this issue has been already addressed and resolved under: https://icm.ad.msft.net/imp/v3/incidents/details/177662847/home

[2020-04-20 21:40] YutongTie-MSFT commented on #734
@clmccart
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-20 21:40] #734 closed

[2020-04-20 21:56] YutongTie-MSFT commented on #691
@benedikt-mayer
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-20 21:56] #691 closed

[2020-04-20 22:28] jv1000 commented on #419
No I was not able to resolve this. It's because of the interactive login
required, and this is blocked by my company. I wasted a lot of time on this

Thanks though

On Mon, Apr 20, 2020, 5:16 PM v-strudm-msft <notifications@github.com>
wrote:

[2020-04-20 22:58] v-strudm-msft commented on #454
Thank you for reaching out to us.  We see there wasn't a response to your last post, some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 22:58] #454 closed

[2020-04-20 23:08] v-strudm-msft commented on #457
Thank you for your post. It looks as thought this issue was resolved so we will close this thread. Should you have additional questions, please continue to post here and we will gladly continue the discussion.

[2020-04-20 23:08] #457 closed

[2020-04-20 23:31] v-strudm-msft commented on #471
Thank you for reaching out to us.  We see this issue was posted some time ago so will close it.  We hope the community response helped. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 23:31] #471 closed

[2020-04-20 23:39] v-strudm-msft commented on #473
Thank   you for reaching out to us.  We see this issue was posted some time ago   so will close it.  We hope the   community response helped. Should you still need assistance with this or   another issue, please re-post and we will respond promptly.

[2020-04-20 23:39] #473 closed

[2020-04-20 23:46] v-strudm-msft commented on #477
Thank you for your post. We see our answer was delayed. Our apologies. We did not receive a response, so will close this issue for now.   Should you need further assistance, please post on this forum and we  will respond promptly.

[2020-04-20 23:46] #477 closed

[2020-04-20 23:52] v-strudm-msft commented on #478
Thank you for reaching out to us.  We see this issue was posted some time ago so will close it.  We hope the community response helped. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 23:52] #478 closed

[2020-04-20 23:56] v-strudm-msft commented on #487
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it for now. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-20 23:56] #487 closed

[2020-04-21 00:13] v-strudm-msft commented on #490
Thank you for your post and participation. We see your last response was some time ago so we will close this thread. Should you need further assistance, please post on this forum and we will respond promptly.

[2020-04-21 00:13] #490 closed

[2020-04-21 00:16] v-strudm-msft commented on #491
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.
-

[2020-04-21 00:16] #491 closed

[2020-04-21 00:23] v-strudm-msft commented on #493
Thank   you for your post and participation. We see your last response was some time   ago so we will close this thread. Should you need further assistance, please post on this forum and we will respond promptly.

[2020-04-21 00:23] #493 closed

[2020-04-21 00:24] v-strudm-msft commented on #495
Thank you for your post and participation. We see your last response was some time ago so we will close this thread. Should you need further assistance, please post on this forum and we  will respond promptly.

[2020-04-21 00:24] #495 closed

[2020-04-21 00:28] v-strudm-msft commented on #497
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need   assistance with this or another issue, please re-post and we will respond   promptly.

[2020-04-21 00:28] #497 closed

[2020-04-21 00:33] v-strudm-msft commented on #398
Confirmed this bug was resolved and issue is now closed.

[2020-04-21 00:33] #398 closed

[2020-04-21 00:42] v-strudm-msft commented on #492
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 00:42] #492 closed

[2020-04-21 00:48] v-strudm-msft commented on #511
Thank you for your post and participation. We see your our response was some time ago and we've not heard from you so we will close this thread. Should you need further assistance, please post on this forum and we will respond promptly.

[2020-04-21 00:48] #511 closed

[2020-04-21 02:23] v-strudm-msft commented on #506
Thank for the latest post on this issue.  We're glad the earlier reported issues were resolved. The latest issue was posted some time ago and was not addressed. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 02:23] #506 closed

[2020-04-21 02:29] v-strudm-msft commented on #527
Thank you for your post. We’re glad to see this issue was resolved and will close this thread. Should you have additional questions, please continue to post here and we will gladly continue the discussion.

[2020-04-21 02:29] #527 closed

[2020-04-21 02:32] v-strudm-msft commented on #530
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need   assistance with this or another issue, please re-post and we will respond   promptly.

[2020-04-21 02:32] #530 closed

[2020-04-21 02:34] v-strudm-msft commented on #538
Thank you for posting this issue.  We see it was not addressed by us and was posted some time ago. Our apologies. We hope the community response helped. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 02:34] #538 closed

[2020-04-21 02:38] v-strudm-msft commented on #544
Thank you for your post and participation. We see our response was some time ago. We've not heard from you so we will close this thread. Should you need further assistance, please post on this forum and we will respond promptly.

[2020-04-21 02:38] #544 closed

[2020-04-21 02:40] v-strudm-msft commented on #549
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need   assistance with this or another issue, please re-post and we will respond   promptly.

[2020-04-21 02:40] #549 closed

[2020-04-21 02:42] v-strudm-msft commented on #551
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need   assistance with this or another issue, please re-post and we will respond   promptly.

[2020-04-21 02:42] #551 closed

[2020-04-21 02:44] v-strudm-msft commented on #553
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 02:44] #553 closed

[2020-04-21 02:48] v-strudm-msft commented on #556
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and @and we will gladly continue the discussion.

[2020-04-21 02:48] #556 closed

[2020-04-21 03:10] v-strudm-msft commented on #557
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need   assistance with this or another issue, please re-post and we will respond   promptly.

[2020-04-21 03:10] #557 closed

[2020-04-21 03:15] v-strudm-msft commented on #559
Thank you for your post. We’re glad to see this issue was resolved and will close this thread. Should you have additional questions, please continue to post here and we will gladly continue the discussion.

[2020-04-21 03:15] #559 closed

[2020-04-21 03:18] v-strudm-msft commented on #563
Thank you for your post. We’re glad to see this issue was resolved and will close this thread. Should you have additional questions, please continue to post here and we will gladly continue the discussion.

[2020-04-21 03:18] #563 closed

[2020-04-21 03:28] v-strudm-msft commented on #565
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 03:28] #565 closed

[2020-04-21 03:32] v-strudm-msft commented on #566
Thank   you for your post. It looks as though this issue was resolved so we closed   this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 03:32] #566 closed

[2020-04-21 03:35] v-strudm-msft commented on #569
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 03:35] #569 closed

[2020-04-21 03:37] v-strudm-msft commented on #571
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 03:37] #571 closed

[2020-04-21 03:40] v-strudm-msft commented on #575
Thank   you for your post. It looks as though this issue was resolved so we closed   this thread. Should you have additional questions, please continue to post   here and and we will gladly continue the discussion.

[2020-04-21 03:40] #575 closed

[2020-04-21 03:44] v-strudm-msft commented on #579
Thank you for posting this issue.  We see it was addressed by us, but now resolved some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 03:48] v-strudm-msft commented on #581
Thank   you for reaching out to us.  We see this issue was not addressed and was  posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 03:48] #581 closed

[2020-04-21 03:50] v-strudm-msft commented on #582
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need

[2020-04-21 03:50] #582 closed

[2020-04-21 03:55] v-strudm-msft commented on #586
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 03:55] #586 closed

[2020-04-21 03:57] v-strudm-msft commented on #590
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 03:57] #590 closed

[2020-04-21 04:00] v-strudm-msft commented on #591
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here.

[2020-04-21 04:00] #591 closed

[2020-04-21 04:03] v-strudm-msft commented on #593
Thank you for reaching out to us.  We see this issue was posted some time ago so will close it.  We hope the community response helped. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 04:03] #593 closed

[2020-04-21 04:09] v-strudm-msft commented on #596
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 04:09] #596 closed

[2020-04-21 04:12] v-strudm-msft commented on #604
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 04:12] #604 closed

[2020-04-21 04:26] v-strudm-msft commented on #608
Thank   you for your post. It looks as though this issue was resolved so we closed   this thread. Should you have additional questions, please continue to post   here and and we will gladly continue the discussion.

[2020-04-21 04:26] #608 closed

[2020-04-21 04:50] ram-msft commented on #934
@CESARDELATORRE Thanks for the feedback. We will update you shortly.

[2020-04-21 05:01] yuezengms commented on #606
Multi node has been fixed and the user' issue was resolved.

[2020-04-21 05:09] v-strudm-msft commented on #611
Thank   you for reaching out to us.  We see this issue was not addressed and was   posted some time ago. Our apologies. We will close it. Should you still need   assistance with this or another issue, please re-post and we will respond   promptly.

[2020-04-21 05:09] #611 closed

[2020-04-21 05:13] v-strudm-msft commented on #613
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:13] #613 closed

[2020-04-21 05:15] v-strudm-msft commented on #614
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:15] #614 closed

[2020-04-21 05:18] v-strudm-msft commented on #616
Thank you for reaching out to us.  We see this issue was posted some time ago so will close it.  We hope the community response helped. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:18] #616 closed

[2020-04-21 05:19] v-strudm-msft commented on #623
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:19] #623 closed

[2020-04-21 05:23] v-strudm-msft commented on #624
Thank you for reaching out to us.  We see this issue was posted some time ago so will close it.  We hope the community response helped. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:23] #624 closed

[2020-04-21 05:25] v-strudm-msft commented on #625
Thank you for reaching out to us.  We see this issue was not addressed and was posted some time ago. Our apologies. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:25] #625 closed

[2020-04-21 05:29] v-strudm-msft commented on #629
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 05:29] #629 closed

[2020-04-21 05:31] v-strudm-msft commented on #631
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 05:31] #631 closed

[2020-04-21 05:35] v-strudm-msft commented on #633
Thank you for posting this issue.  We see it was not addressed by us and was posted some time ago. Our apologies. We hope the community response helped. We will close it. Should you still need assistance with this or another issue, please re-post and we will respond promptly.

[2020-04-21 05:35] #633 closed

[2020-04-21 05:40] v-strudm-msft commented on #634
Thank you for your post. It looks as though this issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 05:40] #634 closed

[2020-04-21 05:48] v-strudm-msft commented on #606
Thank you for your post. This issue was resolved so we closed this thread. Should you have additional questions, please continue to post here and and we will gladly continue the discussion.

[2020-04-21 05:48] #606 closed

[2020-04-21 09:44] masoncusack opened #935 "Remarks - register_azure_data_lake_gen2"
Under the register_azure_data_lake_gen2 function, it would be great to have a remarks section that warns developers that the recommended way to read data from an AzureDataLakeGen2Datastore is via registration of a Dataset. We should warn that using DataReferences for reading, as well as generally writing to an AzureDataLakeGen2Datastore, are not supported capabilities.

Relevant links to documenta

[2020-04-21 09:52] masoncusack opened #936 "Add to note about data access"
The notes at the top of this page on data access should probably also stress that the recommended method for reading data from this type of store is via registration of a Dataset, and that previously supported access methods such as DataReferences are no longer supported.

We may also want to mention that writing back intermediate pipeline data to this Datastore type is not currently possible, and

[2020-04-21 09:56] masoncusack commented on #936
There's also the fact that if using Service Principal Auth (which I believe is required for working with Data Lake), the SP or app registration needs to be assigned the specific RBAC role of "Storage Blob Data Owner", which is broadly poorly documented, and may help developers adopt the use of this datastore in their AML work.

I ran into initially confusing authentication issues using this Datast

[2020-04-21 12:39] RohitMungi-MSFT commented on #935
@masoncusack Thanks for the suggestions. @danielsc Can the above suggestions be incorporated in the doc updates for datastore class?

[2020-04-21 12:56] RohitMungi-MSFT commented on #936
@masoncusack Thanks for the feedback. @danielsc Can we incorporate this recommendation as a note in the SDK documentation?

[2020-04-21 15:35] jadhosn commented on #915
@CESARDELATORRE regarding the dataset limit, how does that limit look for larger time frames?

[2020-04-21 17:21] PeterCLu commented on #805
@Anaig, thanks for your report.

Primary Key and Secondary Key were added to the AciServiceDeploymentConfiguration class, but they were not added to the CLI. This is a product bug, and a ticket has been raised by the engineering team to resolve it.

Current workaround would be to use the SDK, or to create the service with the CLI and then use the regen-keys cli command to supply new keys.

[2020-04-21 18:35] CESARDELATORRE commented on #915
The dataset size limit in Azure AutoML is 100GB if using AML remote compute runs using certain trainers/algorithms that will stream the data while training from Azure ML **Datasets**.

Those trainers are based on NimbusML/ML.NET that support data-streaming and would be automatically selected due to the data size.

If not using those trainers supporting data-streaming (i.e. if using AutoML local ru

[2020-04-21 19:42] PeterCLu commented on #872
@atbagga, @denniseik
Currently, only system identity is supported. We currently don't support user assigned msi in production. We will add a note in the reference page to clarify this issue.

[2020-04-21 20:05] PeterCLu commented on #911
I clarified with Vaidyaraman. I'll update the reference docs to standardize as "number of replicas for the webservice" since "container" is an implementation detail rather than the over-arching concept.

[2020-04-21 21:57] jhagege commented on #656
Any chance you could update the existing notebooks with this solution ?

[2020-04-21 22:42] wmpauli opened #937 "dead link"
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/using-environments/using-environments.ipynb

Next steps, at bottom of notebook, top two are dead links.

Thanks

[2020-04-21 23:14] YutongTie-MSFT commented on #932
@MachineIntelligenceCN Thanks for reaching out to us, please follow the guidance for register your subscription of Azure and set up your Azure Machine Learning Workspace. https://github.com/Azure/MachineLearningNotebooks/blob/master/configuration.ipynb

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we wil

[2020-04-21 23:14] #932 closed

[2020-04-21 23:44] YutongTie-MSFT commented on #931
@pashminacameron I have updated document and fixed the typo. Thanks for the feedback. @j-martens please review the PR.

[2020-04-22 02:38] DjangoPeng opened #938 "Add tensorflow2 E2E tutorials"
TensorFlow 2 has been released for more than 1 year.

And there are amounts of developers and users heading to TensorFlow 2, which is more friendly and easier to use. But we don't have any related tutorials or guides for that.

As a TensorFlow contributor and MS Gold Partner, I'd like to submit some PRs to fill in the gap between TF 1.x and 2.x, since I just completed an E2E pipeline of MobileNet

[2020-04-22 03:45] Mike-Ubezzi-MSFT commented on #937
@wmpauli Thank you for bringing this to our attention. We will have this issue corrected.

[2020-04-22 04:30] ram-msft commented on #938
@DjangoPeng Thanks for the feedback. Please feel free to raise a PR for the same.

[2020-04-22 08:08] RohitMungi-MSFT commented on #937
@rastala It looks like github render content links are now dead.

https://render.githubusercontent.com/train-on-amlcompute
https://render.githubusercontent.com/train-on-remote-vm

Could you please update the same with the correct links?

[2020-04-22 16:38] electrozoa commented on #933
Hi Ram, can you please provide an update on this? I am really struggling with this issue.

[2020-04-22 17:58] cartacioS commented on #767
@jadhosn If you do not require XGBoost for your training, you can simply ignore this warning. But if you want XGBoost to be a potential recommended model, then yes you will need to add XGBoost to your local environment regardless of local/remote compute.

[2020-04-22 20:01] rongduan-zhu commented on #897
@aleixsd adding to what @purnesh42H said, you can then retrieve the mounted `input_dataset` by referring to the `input_dataset` variable inside your notebook. Essentially, the `name` you pass into `as_named_input` will become the variable we initialize in the notebook.

So following the example [here](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning

[2020-04-22 20:24] madiepev opened #939 "No module named 'azureml.datadrift'"
After updating the sdk (stable version) and importing the datadrift object, I get the error that there is no module named datadrift. When installing datadrift specifically during the sdk update, I see the WARNING: azureml-sdk 1.3.0 does not provide the extra 'datadrift'. Is the example code still correct or should the object be imported using a different name for datadrift (e.g. datadriftdetector)