[2020-08-26 15:20] #523 closed

[2020-08-26 16:47] marcin-vt opened #1117 "azureml-sdk and azure-identity==1.4.0"
In our project we already use azure-identity==1.4.0 (to use az cli authentication in development - DefaultAzureCredential). Now we would like to use azureml-sdk however it seems that it only works with azure-identity<1.3.0.
Is there any workaround to make it work? Any idea when azureml-sdk will catch up and how to make a pressure on them?

[2020-08-26 17:08] luigiw commented on #284
@swanderz this has been fixed, please upgrade to the latest version of Azure ML SDK and give it a try.

[2020-08-26 17:22] jpe316 commented on #1083
Hey @thoo - we'd love to hear more about your scenario.
Are you wanting to expose metrics from a deployed model?

[2020-08-26 17:47] CESARDELATORRE commented on #1115
Adding @anupsms Please, involve folks from the team to advice here about AutoMLStep.

[2020-08-26 18:01] lostmygithubaccount commented on #733
this has been fixed, please reopen if seen again

[2020-08-26 18:01] #733 closed

[2020-08-26 18:03] lostmygithubaccount commented on #1043
closing given no response for 3+ weeks

[2020-08-26 18:03] #1043 closed

[2020-08-26 18:06] dkmiller commented on #702
In these scenarios, it's recommended to use a single pipeline and scoring script, which is run in parallel against tenant data to produce many per-tenant models. We have an accelerator repo for this very use case:

https://github.com/microsoft/solution-accelerator-many-models/

[2020-08-26 18:20] sauryadas commented on #1107
Can you please provide information on which region you deployed? is this AKS ? Did you create or attach the cluster? are you able to access the cluster with the kube config?

[2020-08-26 18:48] swanderz commented on #284
https://media.giphy.com/media/FoH28ucxZFJZu/giphy.gif

[2020-08-26 20:39] #1058 closed

[2020-08-26 20:40] #1059 closed

[2020-08-26 20:42] tarockey opened #1118 "Recommendation: change execution_type from str to Enum"
In the Module "publish" method, it requires an `exectution_type` parameter of type string, but it is not documented anywhere what the possible execution types are. It wasn't until I dug through the source code after downloading the SDK that it was clear that choices include: "escloud", "AzureBatchCloud", "adlcloud", and presumably others which are not defined. This makes using Modules in any way o

[2020-08-26 20:43] cartacioS commented on #866
Seems this has been addressed. Thanks! #please-close

[2020-08-26 20:43] #866 closed

[2020-08-26 20:44] cartacioS commented on #867
Hi @adamthorne thanks for the great summary. We'll keep these notes on hand as we develop future notebooks and keep in mind usability. Since this is more of guidelines and overall feedback, I'll close this issue :)
#please-close

[2020-08-26 20:44] #867 closed

[2020-08-26 20:45] minthigpen commented on #651
@bcafferky could you please update this thread with more details on the notebook that is failing?

[2020-08-26 20:45] cartacioS commented on #1030
#please-close

[2020-08-26 20:45] #1030 closed

[2020-08-26 20:49] shbijlan commented on #652
@oussamachelly Thank you for your feedback. I am not seeing the import statement for BlockBlobStorage in the named sample notebook. Can you please confirm you are using the current sample notebook referenced below?

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/nyc-taxi-data-regression-model-building/nyc-taxi-data-regression-model-build

[2020-08-26 20:50] CESARDELATORRE commented on #653
@swatig007 Can you or a dev from the HyperDrive team look into this HyperDrive issue?

[2020-08-26 20:51] cartacioS commented on #1086
Hi @luistelmocosta, I have provided a solution above. I will go ahead and close this issue, feel free to reach out if the issue persists. Thanks! #please-close

[2020-08-26 20:51] #1086 closed

[2020-08-26 20:58] swatig007 commented on #653
@nagau can you pls take a look to see if this is still an issue?

[2020-08-26 20:59] CESARDELATORRE commented on #699
#please-close This issue is probably stale.
@annaymj We're sorry that this issue got lost.
Please, re-open this issue if you'd like us to research the issue.
However, I think that in that case you should try with the latest AutoML versions since if this issue was a bug, it might have been solved after quite a few newer versions released after this happened.

If you re-open, please provide:
- Azure

[2020-08-26 20:59] #699 closed

[2020-08-26 21:04] swatig007 commented on #653
this is already fixed since notebooks now use TF 2

[2020-08-26 21:04] #653 closed

[2020-08-26 21:08] bcafferky commented on #651
Hi,

I left Microsoft back in December.  Please remove me from this.

Thanks,

Bryan

[2020-08-26 21:58] #651 closed

[2020-08-26 22:47] mx-iao commented on #650
Both are effectively the same and will work, please use `MpiConfiguration` though as we are planning to deprecate `Mpi` to dedupe the two. NCCL is already enabled for Horovod in our base images that we use: https://github.com/Azure/AzureML-Containers/tree/master/base/gpu

[2020-08-26 22:47] #650 closed

[2020-08-26 22:49] mx-iao commented on #947
As RScriptStep is in preview we are leaving it out of that notebook for now.

[2020-08-26 22:49] #947 closed

[2020-08-26 22:52] lostmygithubaccount commented on #1073
@MayMSFT has this been fixed?

[2020-08-26 23:04] minthigpen commented on #1041
Created a task to track this documentation item
#please-close

[2020-08-26 23:04] #1041 closed

[2020-08-26 23:22] #860 closed

[2020-08-27 02:26] thoo commented on #1083
@jpe316 Thanks. I would like to see there is an endpoint like `localhost/metrics` for Prometheus and anyone can write any metrics on `score.py` with prometheus python client. Currently in [bentoml](https://github.com/bentoml/BentoML), I can just write the following code and the metric will be there at `localhost/metrics` .  I would also like to have response time, response total and other usual me

[2020-08-27 06:54] Meenakshi-subramanian opened #1119 "@CESARDELATORRE"
@CESARDELATORRE
Hi ,
I have registered my dataset using a python script step and I have given the dataset (Tabular Dataset) as input to AutoMLConfig. When I submit the AutoMLConfig as an experiment, The run is successful.

**Problem with AutoMLstep:**
However when I include the AutoMLConfig in the AutoML step and try to submit the pipeline. I face the followig error.

![image](https://user-images.

[2020-08-27 09:55] pbartos commented on #1115
Add `runconfig=f.amlcompute_run_config` to your AutoMLConfig.

[2020-08-27 10:22] pbartos commented on #1115
Packages version for the automl step run can be found here:
![image](https://user-images.githubusercontent.com/4380421/91430797-b38b2800-e85f-11ea-86e0-859acc3c9597.png)

[2020-08-27 12:43] AndrewLouw commented on #1107
I was using an Azure ML workspace in the UK South region.
Here is a corrected and improved set of reproduction steps - I tested today and still got the error:

1. create a new azureml workspace resource: https://portal.azure.com/#create/Microsoft.MachineLearningServices
2. pip install --upgrade azureml-mlflow
3. pip install --upgrade azureml-sdk
4. download config file
5. run below:

import azurem

[2020-08-27 13:53] BillmanH commented on #1115
So is your suggestion that users should:

1. Run the model first, then after crashing manually download the `definition.json` file
2. Then create a `config.yaml` file, then create a new env that has those specific packages
3. Update you existing code in your pipeline steps to make sure they run in this new _downgraded_ environment
4. Then run the pipeline again with a new runconfig

[2020-08-27 14:48] BillmanH commented on #1115
Appreciate the tip, but I feel like the issue is more around enforcing packages that work _before_ running. My biggest concern with AutoML is that I spend all of my time troubleshooting the SDK and never get to do any data science. I could download the definition, then create an env to match, but that will take a lot of extra time and hassle.

[2020-08-27 17:39] #702 closed

[2020-08-27 17:56] lostmygithubaccount commented on #736
@swatig007 is this still an issue for this notebook?

[2020-08-27 18:42] #802 closed

[2020-08-27 18:43] lostmygithubaccount commented on #805
@PeterCLu has this been fixed?

[2020-08-27 18:43] lostmygithubaccount commented on #814
closing given no response, feel free to reopen

[2020-08-27 18:43] #814 closed

[2020-08-27 18:48] #832 closed

[2020-08-27 18:52] #853 closed

[2020-08-27 18:57] #876 closed

[2020-08-27 18:59] #890 closed

[2020-08-27 19:00] lostmygithubaccount commented on #893
@vizhur has this been resolved

[2020-08-27 19:01] lostmygithubaccount commented on #894
@CESARDELATORRE any updates on this?

[2020-08-27 19:02] lostmygithubaccount commented on #911
@PeterCLu @j-martens any updates?

[2020-08-27 19:04] lostmygithubaccount commented on #926
should be fixed - please reopen if you experience this again

[2020-08-27 19:04] #926 closed

[2020-08-27 19:09] lostmygithubaccount commented on #938
@DjangoPeng going to proceed to close - if you're still interested in contributing tf2 examples, please raise a PR to https://github.com/azure/azureml-examples, thanks!

[2020-08-27 19:09] #938 closed

[2020-08-27 19:29] saachigopal commented on #859
By default, Azure ML will build a Conda environment with dependencies you specified, and will execute the run in that environment instead of using any Python libraries that you installed on the base image. So by keeping user_managed_dependencies = False, a custom Docker image can be used with conda dependencies but if the image has a python environment it will not be used.

[2020-08-27 19:32] lostmygithubaccount commented on #968
I believe this is by design and won't be fixed in v1 of the SDK, but will be addressed in v2 - closing

[2020-08-27 19:32] #968 closed

[2020-08-27 19:36] lostmygithubaccount commented on #980
closing given no response - feel free to reopen

[2020-08-27 19:36] #980 closed

[2020-08-27 19:37] #1000 closed

[2020-08-27 19:43] lostmygithubaccount commented on #1015
closing given no response, feel free to reopen

[2020-08-27 19:43] #1015 closed

[2020-08-27 19:46] #1024 closed

[2020-08-27 19:47] #1034 closed

[2020-08-27 19:48] #1038 closed

[2020-08-27 19:55] rongduan-zhu commented on #1098
@Strauman, unfortunately, this is a combination of non-ideal API design and lack of documentation. All the `parse_*` methods on PipelineOutputFileDataset is only applied to inputs but not outputs. We will be updating the documentation to make this clearer.

We have also introduced OutputFileDatasetConfig to address all the issues we currently have with output (can't specify output location, can't

[2020-08-27 19:56] lostmygithubaccount commented on #1074
closing given no response, feel free to reopen

[2020-08-27 19:56] #1074 closed

[2020-08-27 20:01] #1090 closed

[2020-08-27 20:04] DieselAnalytics commented on #1090
Thanks for the update @MayMSFT. Trying to keep up with these changes and the direction you all are going is quite confusing.

[2020-08-27 20:16] #1098 closed

[2020-08-27 21:03] AbeOmor commented on #822
#pleaseclose This button is not supported in the old version of Edge. You will need to upgrade to newest Microsoft Edge based on Chromium

[2020-08-27 21:10] #822 closed

[2020-08-27 21:40] MayMSFT commented on #1057
thanks for the feedback. we will follow up for doc update

[2020-08-27 21:54] MayMSFT commented on #1080
thanks for the feedback. we will follow up with doc update

[2020-08-27 22:48] MayMSFT commented on #1101
thank you for the feedback. we will investigate on this

[2020-08-27 22:59] MayMSFT commented on #1097
Hi @lingfeidiewu , do you still see the error after updating the latest azureml-sdk?

[2020-08-27 23:04] MayMSFT commented on #944
dataset is just a pointer to data in your storage. here is an article that explains how dataset versioning works:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-version-track-datasets

[2020-08-27 23:31] j-martens commented on #911
@lostmygithubaccount - the product team owns SDK now fully and should make these fixes. Thanks!

[2020-08-28 00:31] swinner95 commented on #697
Hi @swanderz , the experimentation UI team will be exposing the functionality in the UI to allow users to download all their logs. #please-close

[2020-08-28 00:32] #697 closed

[2020-08-28 00:59] swanderz commented on #697
@swinner95 -- awesome! any specific timeline? weeks, months, quarters years?

[2020-08-28 01:27] CESARDELATORRE commented on #894
#please-close This issue is stale. We didn't have a further follow up from DriveTime (Jad). It was a single issue in time not reproducible and probably fixed in later versions.

[2020-08-28 01:27] #894 closed

[2020-08-28 02:29] harneetvirk commented on #1082
After re-indexing, the issue seems to be mitigated. Now, we can see GA classes first and then contrib classes.
![image](https://user-images.githubusercontent.com/20194110/91514418-97a57780-e89b-11ea-9d63-8ec4338022f9.png)

[2020-08-28 04:12] vaidya-s commented on #833
Bozhong68

[2020-08-28 04:16] vaidya-s commented on #911
@Bozhong68

[2020-08-28 11:57] abij commented on #1113
I'm running into the same issue with AuzreML sdk 1.12.0. I'll try to give some more context:

First step is running in Databricks, creating a parquet file on the blob. This blob is also mounted in AzureML as a datastore.
Second step running on ComputeCluster registers the dataset in Python, pointing at the parquet files on the blob.

The second step does not 'have' or produces any data for the 'ou

[2020-08-28 13:32] abij commented on #1113
I took the effort to make a failing pipeline with a single step, please have a look!

[azureml_pipeline_sdk_1.12_issue.ipynb.zip](https://github.com/Azure/MachineLearningNotebooks/files/5142313/azureml_pipeline_sdk_1.12_issue.ipynb.zip)

[2020-08-28 13:39] ryanwadebg commented on #1090
Is there a road map for AML? I know there is one for Power BI. Is there is something similar for AML that you can share with the public?

From: Ryan Wade <notifications@github.com>
Sent: Thursday, August 27, 2020 4:05 PM
To: Azure/MachineLearningNotebooks <MachineLearningNotebooks@noreply.github.com>
Cc: Ryan Wade <rwade@blue-granite.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/M

[2020-08-28 16:47] CESARDELATORRE commented on #844
@Meenakshi-subramanian I talk to the team and the root cause has yet to be determined for this issue but we suspect that the path parameter is not set in the users AutoMLConfig.
In the <=1.12.0 SDK this causes that error. Most likely due to a missing snapshot which does not get created when path is not specified.

One of our devs (Piet) created a PR that checked in a few days ago and fixes this is

[2020-08-28 16:48] CESARDELATORRE commented on #1119
Closing this issue since it's duplicated in favor of the original #844 where we're answering.

[2020-08-28 16:48] #1119 closed

[2020-08-28 16:55] CESARDELATORRE commented on #844
@Meenakshi-subramanian Can you also provide your Piepline Run Id and the AutoMLStep RunID plus their related log files for further research from the team, please?

[2020-08-28 17:40] mattc-eostar commented on #702
I will take a look. Thank you!

[2020-08-28 18:53] swatig007 commented on #786
@JennaEllis @dawei li, do we still see this issue with the warning?

[2020-08-28 18:58] swatig007 commented on #736
this issue is resolved

[2020-08-28 19:02] #736 closed

[2020-08-28 19:02] swatig007 commented on #1071
Hi @stevenluda,
In order to submit a HyperDrive run, you would need to submit a run (not a child run) using the config.
e.g. hyperdrive_run = experiment.submit(hyperdrive_run_config)

More details on how to submit a run with a HyperDrive config at https://docs.microsoft.com/en-us/azure/machine-learning/how-to-tune-hyperparameters#submit-experiment

hope this helps

[2020-08-28 19:03] #1071 closed

[2020-08-28 19:07] JennaEllis commented on #786
This issue has been resolved as of 6/1 -closing this thread

[2020-08-28 19:15] #786 closed

[2020-08-28 19:42] rastala commented on #920
This notebook has been deprecated - please take a look at new documentation here:

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-tensorboard

[2020-08-28 19:52] #920 closed

[2020-08-28 22:03] pieths commented on #844
@Meenakshi-subramanian , could you try setting the [`path`](https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.automl.automlconfig.automlconfig?view=azure-ml-py) parameter in the `AutoMLConfig` that you pass to `AutoMLStep` and let me know if that works?

The fix for this `AutoMLStep` issue will be in an upcoming release but in the meantime, please try this work

[2020-08-29 01:03] swinner95 commented on #697
@swanderz  This semester (ETA: ~ Oct time frame)

[2020-08-29 01:18] swinner95 commented on #1011
Hi, @SamVanhoutte today we do not support plotting logged row and table metric columns on the x axis of the charts. We are planning to support this functionality this semester.

[2020-08-29 01:18] #1011 closed

[2020-08-29 17:53] BillmanH opened #1124 "run crashes on run.get_output()"
Using : 1.12.0

Error message is:
[code]
Note that the error is from XGBoostError, not azureml, however something in the way that automl is downloading the model is causing it to crash.

Here is my runConfig:
[code]

Origionally I got an error message saying that I need XGBoost installed on my local machine, then it said that I didn't have the right version.  So once I installed `xgboost==0.90`, p

[2020-08-29 17:58] BillmanH commented on #1124
Also note, that I ran the same run, same env, same notebook the day before and it ran fine. I didn't update anything. Just put my laptop to sleep and now the cloud is broken :(

[2020-08-29 20:20] BillmanH opened #1125 "BaseExplanation is mentioned, but not documented"
BaseExplanation has it's own plethora of functions and metrics. It's also got a lot of unclear outputs. Someone should document what it's methods and parameters mean and how to interpret them.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eba5415b-89a4-5f52-eb68-f864ca76a409
* Version Independen

[2020-08-30 21:13] NathanNZ commented on #1113
I've gotten confirmation through support that this is a known issue with a hotfix pending. I believe the fix should have rolled out to EastUS however for other regions they are still pending a release, this can also be worked around by rolling back to 1.11.

[2020-08-31 05:03] Strauman commented on #1098
Okay, thanks.

Also, is this the right forum to report bugs and unexpected behaviour for the azureml-sdk pypi package?

[2020-08-31 06:00] Strauman commented on #1098
Also, the `OutputFileDatasetConfig`  does not work as expected. Just by replacing `PipelineData` above to its respecive `OutputFileDatasetConfig` gives an error about version being `None` type:

[code]

[code]

[2020-08-31 06:07] Strauman opened #1126 "OutputFileDatasetConfig.register_on_complete not working."
The `register_on_complete` method of `OutputFileDatasetConfig`  does not work. `OutputFileDatasetConfig` gives an error about version being `None` type. Error message:

[code]

[code]

Reproduction code
[code]
and

[code]

[2020-08-31 06:19] Strauman commented on #1126
It works `as_upload()` on the output.

[2020-08-31 08:01] Bozhong68 commented on #833
@maknotavailable you can change inference_config to following to make it work:
inference_config = InferenceConfig(entry_script='main.py',
                                   source_directory='code',
                                   environment=environment)

[2020-08-31 18:56] MayMSFT commented on #1126
thanks for reporting this. we will investigate and get back

[2020-08-31 21:01] swatig007 commented on #800
@CESARDELATORRE can you pls review this issue

[2020-08-31 21:01] swatig007 commented on #844
@CESARDELATORRE can you pls review this issue?

[2020-08-31 21:07] swatig007 commented on #870
@jialiu103 can you pls take a look at this notebook issue?

[2020-08-31 21:10] swatig007 commented on #1002
@jialiu103 can you pls take a look at this notebook issue?

[2020-08-31 21:12] swatig007 commented on #1085
@CESARDELATORRE can you pls take a look at this issue?

[2020-08-31 21:12] rongduan-zhu commented on #1126
@Strauman do you mind sharing the stack trace of this error? `Dataset initialization failed: int() argument must be a string, a bytes-like object or a number, not 'NoneType'`

[2020-08-31 21:14] swatig007 commented on #1077
@CESARDELATORRE can you pls take a look at this issue?

[2020-08-31 21:15] swatig007 commented on #1094
@cartacioS can you pls take a look at this issue?

[2020-08-31 21:22] swatig007 commented on #1115
@CESARDELATORRE can you pls review this issue?

[2020-08-31 21:28] swatig007 commented on #1106
@jialiu103 @cartacioS , can you pls see if the fix is already deployed, and update this issue accprdingly

[2020-08-31 21:29] swatig007 commented on #1103
@rtanase can you pls take a look at this issue?

[2020-08-31 21:31] BillmanH opened #1129 "Dataset.Tabular.from_delimited_files creating an extra class"
In my code, the DF locally is:
[code]
yields:
[code]
Only two classes, no nulls.

Maybe ambitious of me to think that the uploaded dataframe might reflect that but:
[code]
The output of that group by is:
[code]
It looks like it took 4 cases and changed them to .5

testing set also has this problem
[code]
yields:
[code]

Can anyone think of a valid reason why the dataset _should_ change the value o

[2020-08-31 21:32] swatig007 commented on #1124
@rtanase can you pls take a look at this issue?

[2020-08-31 21:36] swatig007 commented on #1072
@stevenluda can you please share an example of a pipeline parameter you are trying to use? and how the parameter space would dynamically be defined?

[2020-08-31 21:36] swatig007 commented on #929
@rtanase can you pls take a look at this one?

[2020-08-31 21:44] swanderz commented on #1129
It looks as if the `dataprep` library is interpreting what you'd like to be an integer column as a float column, then imputing missing values using `MeanImputer` or something (because the mean of 0 and 1 is 0.5?)

[2020-08-31 21:50] BillmanH commented on #1129
There aren't any missing values. I suppose I should have added it but I'm using
[code]

[2020-08-31 21:59] swanderz commented on #1129
two spitball things to try.

[code]

[code]

[2020-08-31 22:06] BillmanH commented on #1129
Def looks like it has something to do with how datasets reads files, or how it saves them. I'm guessing that a read parameter isn't the same as the write parameter. However I have to figure out which one. There was a part of me that was hoping that `to_csv` and `from_csv` might have the same default parameters or load the file in the same way.

[2020-08-31 22:08] YuandaXu commented on #1126
Thanks for checking this @rongduan-zhu.

@Strauman,
I tried all contents you pasted on my computer and all steps made through. The pipeline job succeeded after running for less than 2 min. Here is a list of all azureml-xxx packages on my computer,  hopefully it's helpful.

[code]

[2020-08-31 22:16] BillmanH commented on #1129
Closing this out as I'm not 100% sure this isn't just a 'me' problem. I think you could make an argument that the `from_delimited_files` should have read the same way the file was written. However I think you can make an argument that it should be the way it is. Either way for future viewers the way to test this is to look at the:
[code]
in order to confirm that the numbers are the same BEFORE spl

[2020-08-31 22:16] #1129 closed

[2020-08-31 22:19] rtanase commented on #929
@BillmanH , was this experiment particular to 1 particular AutoML model, or was it happening for multiple ones? I'm trying to understand whether there is some implementation specific issue, because in general the models that we train use the same .fit() API calls you were doing after training.
Were there any sample weights provided during training?
What kind of validation mechanism was used for Au

[2020-08-31 23:11] rtanase commented on #1124
@BillmanH , from the stacktrace it looks like you're using XGBoost 1.2.0 and not 0.90. Can you please run 'pip list' and confirm the version you have installed locally?

[2020-08-31 23:14] BillmanH commented on #1124
I got that error after downgrading to .9. Per the note I got the issue first because I didn't have it, then I installed it. Then I got the error saying I didn't have the right version. Then I downgraded it. Then I got the error pointed there. End solution was just to scrub the model and rerun.

[2020-08-31 23:16] BillmanH commented on #1124
@rtanase , It looks like you are right. Looking through the stack trace you can see that it's the older version of the library. Again, I just scrubbed out the model and rerun and haven't seen the issue since.

[2020-08-31 23:16] #1124 closed

[2020-08-31 23:17] BillmanH commented on #929
Yea It'll take me some time to repro an example that I can show you. At some point I'll recreate this with the iris dataset to confirm.

[2020-08-31 23:20] BillmanH commented on #929
I'm going to close this out as I did this in an older version of the SDK. If I repro the issue in a new version I'll repost the issue.

[2020-08-31 23:20] #929 closed

[2020-08-31 23:24] BillmanH commented on #1115
In the end the workaround that made this happen was:
[code]

so there is an`AzureML-AutoML` environment in the system and you get that, clone it and add your packages. You then use that for your environment for all of the other steps to make sure that `joblib` files will load.

[2020-08-31 23:24] #1115 closed

[2020-08-31 23:35] sauryadas commented on #1107
Do you have a correlation id?

[2020-09-01 00:39] anupsms commented on #929
@BillmanH if you have class imbalance in your dataset, AutoML will apply weights to lower the impact of imbalance. Is the current dataset imbalanced? The above charts suggest that AutoML's trained model (without refitting) is giving better accuracy. That has me think that one possible reason could be data imbalance in this data. When you fit it outside without class imbalance treatment that will l

[2020-09-01 06:33] Strauman commented on #1126
I'll try to reproduce on a different installation. Until then I'll assume it's on my end.

[2020-09-01 06:33] #1126 closed

[2020-09-01 12:18] Bozhong68 commented on #1083
Hey @thoo - thanks for suggestion. We have opened a new work item to track this request, and will include it in our next planning and release process.

[2020-09-01 12:19] Bozhong68 commented on #1083
#please-close

[2020-09-01 12:19] #1083 closed

[2020-09-01 14:48] jarandaf commented on #240
I have also faced the DBFS limitation for existing Databricks clusters when I tried to use output data in a `DatabricksStep`. I am now trying to create a user-defined cluster but I am getting the following error:

`Failed to submit job because of error: Invalid spark_conf parameter`

Isn't `spark_conf` a simple dict with key/value Spark configuration variables? I have not found any example trying

[2020-09-01 16:56] rtanase commented on #1103
@jwood803, it looks like the model was trained on a local environment, for which we don't currently capture automatically the environment in the Run object (like it happens for models trained remotely). As a workaround, can you please try to explicitly set the environment for the InferenceConfig object?

`from azureml.core.environment import Environment`
`from azureml.automl.core.shared import con

[2020-09-01 17:10] brunocous commented on #1013
Is there any update on this or other workarounds?

[2020-09-01 18:24] swinner95 commented on #973
I created a work item to address this issue (https://msdata.visualstudio.com/Vienna/_workitems/edit/887606). We will update the document with more details.

[2020-09-01 18:24] #973 closed

[2020-09-01 18:25] CESARDELATORRE commented on #800
#please-close
This issue is stale. We did some changes related to the “passthru_automl_config” and in the newer SDK versions it shouldn't behave like above.

Basically, the passthru_automl_config parameter has been deprecated from the SDK as of version 1.12.0. All runs using versions >=1.12.0 will automatically use pass through internally regardless of what the user passes in to AutoMLStep.

Pleas

[2020-09-01 18:25] #800 closed

[2020-09-01 18:29] CESARDELATORRE commented on #844
#please-close - This issue is not actionable until Meenakshi confirms if Piet's advice helped and if not, until Meenakshi provides the above requested repro info.
Please, re-open if the issue persists and the repro info and Run ID is provided here, ok?

Thanks,

[2020-09-01 18:29] #844 closed

[2020-09-01 18:36] CESARDELATORRE commented on #1077
@kelmahrsi Do you have a different behavior (what you expect) if running the same experiment/config with a simple AutoMLConfig out of a pipeline/AutoMLStep?

@kelmahrsi can you provide the Run ID of the run with this issue plus its log files?

Adding some folks from the team to confirm and help with the issue.
Please, @anupsms @pieths can you advise here?

[2020-09-01 18:41] CESARDELATORRE commented on #1085
@justas-exadel Can you provide the notebook/code for repro?
Also the Run ID and log files from the AutoMLStep run.

Adding some folks from the team to help and diagnose the issue.
Please, @anupsms @pieths can you advise here?

[2020-09-01 19:09] luisquintanilla opened #1130 "Environment attributes not in Docs"
The environment class has a series of attributes that are not in the API docs like:

- `name`
- `python`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddf83484-8d65-c598-3a97-2e1f8a1cf917
* Version Independent ID: aeed389d-4eec-013f-7b91-642f2de3f676
* Content: [azureml.core.Environment class - Azure Machine Learning

[2020-09-01 19:53] saachigopal commented on #1130
name is listed as a parameter and python is listed as a variable

[2020-09-01 21:33] anupsms commented on #1077
@pieths is looking into this

[2020-09-01 21:50] CESARDELATORRE commented on #1085
I got this confirmation from the team.
If you are using SDK<1.12.0 you need to set passthru=True then it'll enable_onnx_compatible_models.

If using SDK>=1.12.0 you don't need to do anything special and you should get the ONNX models depending on the supported AutoML algorithms for ONNX.

We recommend to update and use the latest SDK version.

Please, confirm your status after trying these recomme

[2020-09-01 21:51] DmitryKakurin commented on #1064
`replica_max_concurrent_requests` allows informing AML request router (only for AKS) that the deployed model can process multiple requests in parallel without loss of performance. It’s **not** for queuing of requests on the replica, which we work hard to avoid for perf reasons (to reduce latency).

If queueing of requests is desired, a much more efficient request queueing is implemented on the AML

[2020-09-01 21:52] DmitryKakurin commented on #1065
`replica_max_concurrent_requests` allows informing AML request router (only for AKS) that the deployed model can process multiple requests in parallel without loss of performance. It’s **not** for queuing of requests on the replica, which we work hard to avoid for perf reasons (to reduce latency).

If queueing of requests is desired, a much more efficient request queueing is implemented on the AML

[2020-09-02 01:25] Bozhong68 commented on #671
Hey @joshheitzman-redcley-v-joheit-msft , Thanks for feedback, we are working on a fix to address the issue.

[2020-09-02 01:25] #671 closed

[2020-09-02 01:31] shivanissambare commented on #1082
@tracychms tracy can we please close the issue, since the reference doc bug is resolved.
thanks!

[2020-09-02 01:34] #1082 closed

[2020-09-02 01:37] Bozhong68 commented on #1050
Hey @cbertolasio, thanks for report the issue. We have opened a work item and will prioritize the fix for this issue. In the meantime, the workaround is to run kubectl apply adminClusterRole.yml in your cluster. see adminClusterRole.yml in attachment
[adminClusterRole.zip](https://github.com/Azure/MachineLearningNotebooks/files/5159586/adminClusterRole.zip)

[2020-09-02 01:42] Bozhong68 commented on #1064
Hye @robert4os, thanks for the question. I will close the issue now, please feel free to re-open if necessary.

[2020-09-02 01:42] #1064 closed

[2020-09-02 01:43] Bozhong68 commented on #1065
Hey @robert4os, thanks for the question. I will close the issue now, please feel free to re-open if necessary.

[2020-09-02 01:43] #1065 closed

[2020-09-02 02:11] Bozhong68 commented on #739
@alextran1502 thanks for feedback and apologies for late response. I just tried the notebook with the latest AML Python SDK 1.13.0, and the deployment was successful. I will close the issue now, please feel free to re-open if you still have issue.

[2020-09-02 02:11] #739 closed

[2020-09-02 08:22] robert4os commented on #1064
Thank you for the response.

when I send two parallel requests to a model which takes exactly 10 seconds to return a result, given:
AksWebservice.deploy_configuration(..., replica_max_concurrent_requests=1, num_replicas=1, scoring_timeout_ms=300000, ...)

...then indeed  setting `set max_request_wait_time` = 60000 (which you probably refer to with `max_queue_wait_ms`) works.

[2020-09-02 14:07] Konstantina-Lazaridou commented on #833
@maknotavailable thanks. I am experiencing the same problem. I don't understand from where we would execute your code. If you use `main.py` as the `entry_script` it means you would be inside the `code` directory? Then `source_directory` should be `.code` and not `code`?

[2020-09-02 15:08] Konstantina-Lazaridou opened #1131 "Importing Python files from project to entry script of ML service"
My project structure for deploying a classifier service in Azure is the following:
[code]

In my entry script, specifically in `run`,  I include some functions for pre and post processing, which I'd rather keep in `entry_script_utils.py` instead. It's cleaner and it's also easier to test locally.

The code in the entry script is the following:
[code]

When moving e.g. `util_1` to `entry_script_uti

[2020-09-02 15:51] cbertolasio commented on #1050
@Bozhong68 , thanks for the reply.  Can you elaborate a little bit?  If I understand correctly, kubectl apply will simply change the rbac permissions for the ClustRole, enabling the "delete" permission for the "deployments" resources.  Am I then expected to go run some kubectl command to delete deployments or will setting these permissions somehow cause all the old deployments to get cleaned up?

[2020-09-02 17:12] lostmygithubaccount commented on #652
closing - feel free to reopen

[2020-09-02 17:12] #652 closed

[2020-09-02 17:18] #859 closed

[2020-09-02 17:24] #944 closed

[2020-09-02 17:38] lostmygithubaccount commented on #1075
closing pending response - feel free to reopen

[2020-09-02 17:38] #1075 closed

[2020-09-02 18:47] pieths commented on #1077
@kelmahrsi  Nothing sticks out initially as to why the featurization config does not work as expected with the code you posted above.

I have verified that dropping columns using `FeaturizationConfig.add_drop_columns()` does work with azureml SDK 1.13.0.

Could you try using the latest SDK and see if you still encounter the issue?

If you look at the `70_driver_log.txt` file for the setup run in t

[2020-09-02 19:02] kelmahrsi commented on #1077
@pieths I will try this tomorrow and report back. It might have been corrected since I was using SKD version 1.10 or 1.11 when I opened the issue.

For the record, this is what the `70_driver_log.txt` looked like when the configuration is submitted directly through the experiment from a Notebook (columns are dropped):

[code]

And here is what it looked like when submitted as an AutoMLStep in a Pi

[2020-09-02 20:02] DmitryKakurin commented on #1064
@robert4os, thank you for spotting a typo in my response, I have fixed it. And I'm glad it works for you.

[2020-09-02 20:31] shbijlan commented on #1014
@RothNRK Thank you for pointing this out. I have created a work item to investigate the issue. We will update you shortly.

[2020-09-02 20:42] shbijlan commented on #1069
@prapanw Thank you for your feedback. We are investigating how to improve documentation for this.

Does the documentation on Azure CLI address your task?
https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#ml-pipeline-management

[2020-09-03 03:11] Bozhong68 commented on #1050
@cbertolasio , after service.update, it is supposed that daemonset in the cluster will garbage collect directory used by deleted service every 20 minutes, but garbage collector might not be running due to permission issue. Applying adminClusterRole will resolve the permission issue.

[2020-09-03 08:21] pbartos commented on #1106
It's working now on version 1.13.0. Closing.

[2020-09-03 08:21] #1106 closed

[2020-09-03 09:56] Meenakshi-subramanian commented on #844
Apologies for the delayed response. The work around worked fine. Thank you
so much.
Regarding sharing diagnostic information, I have raised a support ticket
CASE ID 120090223001308

I have also informed about my connect through git hub.

Many thanks for your support.

On Wed, Sep 2, 2020, 12:00 AM PRMerger13 <notifications@github.com> wrote:

[2020-09-03 14:23] jwood803 commented on #1103
Thanks for looking into this @rtanase! That works for me! 😄

I'm running this in a compute instance inside of the Azure ML service. Would that capture the environment automatically? Or is it some other scenario that captures the environment?

[2020-09-03 15:49] jonringer commented on #833
In the upcoming SDK release, the current working directory will be changed to the source directory; if one was given in the inference config.

@maknotavailable

    before the import, add sys.path.append('./code')
    add __init__.py to the /code

The problem is that the current working directory (in the current AzureML SDK) is set to the directory above the source directory. So `add sys.path.appe

[2020-09-03 19:57] luisquintanilla commented on #1130
Perfect. Thanks @saachigopal

[2020-09-03 20:01] minthigpen commented on #1060
Thank you for your question! Yes, they are SHAPley values. Looping in @imatiach-msft who will be able to provide additional clarity on your other questions.

[2020-09-03 20:06] minthigpen commented on #1125
Thanks for the feedback! Could you please clarify which outputs were unclear to you that we should improve our documentation with? Currently we outline the methods and parameters and link to other resources on python docs. It would be great to understand what we're missing.

[2020-09-03 20:15] BillmanH commented on #1125
See how the document says:
[code]

Well many users may not know what a BaseExplanation object is as it isn't a standard python object.  In similar documentation the BaseExplanation would contain a link, to another place where BaseExplanation is explained.  Upload model requires a BaseExplanation, download model returns a BaseExplanation. But the BaseExplanation object itself is undocumented.

When

[2020-09-03 20:29] cbertolasio commented on #1050
Thank you for the explanation.  That makes sense.  I will give it a shot.

[2020-09-03 21:16] chengyu-liu-cs opened #1132 "Dataset version is not updating even though contents have changeed"
I have been bothered by this a lot recently. The observation is that the version of Dataset registered does not change at all nor last modified timestamp when I re-ran the pipeline. However, when I checked the contents, they changed already and they are the latest.  When I checked previous versions, surprisingly the data contents are changed, too. They are not old dataset but the latest dataset, t

[2020-09-03 22:13] Bozhong68 commented on #833
@jonringer for providing explanation and solution! @maknotavailable , @Konstantina-Lazaridou I will close the issue now, please feel free to re-open if you still have issues.

[2020-09-03 22:13] #833 closed

[2020-09-03 22:27] MayMSFT commented on #1132
this is by design. here is a doc that explains how dataset versioning currently work: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-version-track-datasets

We are actively working on feature to leverage on the new blob versioning capability to enable recovering historical version. Stay tuned!

[2020-09-03 22:30] swanderz opened #1133 "Cascading transient failures in DataTransferStep"
Region: `westus2`

### Initial Run during daily scheduled run:
RunId: `aba5defa-b35c-4072-a6a2-2c0437cd77ed`
PipelineRunId: `9e037eee-ab69-4db2-b67a-3200a749c9bb`
### Manual, follow-up run (after we got failure notification)
RunId: `f0f73421-243b-40a5-967d-e1bf6f85b727`
PipelineRunId: `3885bfcc-6486-46ba-9199-10d15e8ce8a5`

Our production ML pipeline is failing again.

Here's some of the other rel

[2020-09-03 22:35] swanderz commented on #1133
Today, our error message is now just blank...

### `executionlogs.txt`
[code]
### `stderrlogs.txt`
[code]

[2020-09-04 02:41] Bozhong68 commented on #1055
@kiranpradeep thanks for feedback. We have opened a work item to track this feedback for improvement.

[2020-09-04 02:41] #1055 closed

[2020-09-04 02:42] cloga opened #1134 "SDK child run error "ZIP does not support timestamps before 1980""
I have follow the doc to submit child: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-runs, but I got the follow error:
Traceback (most recent call last):
  File "parent_run.py", line 11, in <module>
    run = parent_run.submit_child(child_config)
  File "/azureml-envs/azureml_da3e97fcb51801118b8e80207f3e01ad/lib/python3.6/site-packages/azureml/core/run.py", line 574, in sub

[2020-09-04 06:00] mjaow commented on #1039
Sorry for late answer, you can't use local channels, because that's is the step we call package with all of your conda dependencies , it's finished in the server side, so it can't access the client's local file @thoo

[2020-09-04 06:33] Bozhong68 commented on #1039
@mjaow for closing the loop! @thoo I will close the issue now, please feel free to re-open if you have any further questions.

[2020-09-04 06:33] #1039 closed

[2020-09-04 08:34] chengyu-liu-cs commented on #1132
Dataset concept is designed for  tracking data used for ML training and easing data scientist work. Current design is in a way to force users to manipulate data paths that are the sources of Dataset registered. This is design is beneficial for the people who are managing data (e.g, data engineers or users of data factory who need to control data flows), but not for data scientists. For data scient

[2020-09-04 17:09] shbijlan commented on #1133
@swanderz Thank you for your feedback. We are actively investigating this issue and will update you shortly.

[2020-09-04 17:30] cbertolasio commented on #1050
@Bozhong68 , thanks for the suggestion.  I ran kubectl apply with the provided script.  I verified the settings were applied.  I then redeployed two services using service.update.  I monitored the file system for a while and the disk space was never reclaimed.  Two new folders were created in amlMount (as expected) and the existing 2 folders from the previous deployment remained on sdb1.

I'd be h

[2020-09-04 21:23] #1130 closed

[2020-09-07 02:25] Bozhong68 commented on #1050
Thanks @cbertolasio , I have re-opened the issue and we will take a closer look. @mjaow do you have any idea about this?

[2020-09-07 07:28] likebupt opened #1135 "questions about how-to-use-azureml/machine-learning-pipelines/nyc-taxi-data-regression-model-building"
in this notebook, the [normalize.py](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/nyc-taxi-data-regression-model-building/scripts/prepdata/normalize.py) split the pickup_datetime to pickup_date and pickup_time like following
![image](https://user-images.githubusercontent.com/39058063/92359386-bf0f0680-f11d-11ea-9ccd-dbcda4cee933.png)

[2020-09-07 10:41] chengyu-liu-cs commented on #1132
Regarding data, quite often "retention" feature is required. So naturally at least I am also expecting dataset retention based on certain rules, for example unregister dataset older than 2 years or only keep latest 10 versions. If Dataset is just a reference of a data path, how is Azure going to provide retention on dataset versions ?

[2020-09-07 10:52] chengyu-liu-cs commented on #1108
Deploying a model was very smooth before regardless from python sdk or azure ml portal. From azure ml portal, a user can deploy a model simply by clicking deployment from image built previously where all dependencies are included.

Now without deploying from Image feature in the Current Azure ML portal, it is reaaaaaly inconvenient to deploy a model from portal. User has to manually provide all de

[2020-09-07 13:47] kelmahrsi commented on #1077
@pieths just had the time to check! I confirm the issue is resolved as of SDK version 1.13.0.

[2020-09-07 13:47] #1077 closed

[2020-09-08 15:54] rtanase commented on #1103
Awesome, thanks for confirming @jwood803!

The environment is only being automatically captured when the experiment is running on a remote compute target (when AutoML is creating the environment from scratch).

[2020-09-08 16:04] #1103 closed

[2020-09-08 18:23] shbijlan commented on #1135
@likebupt I am able to reproduce this issue and have opened a work item to get it fixed. Will update you once resolved.

[2020-09-08 19:55] cartacioS commented on #1094
Hi @luistelmocosta, to confirm your question AutoML forecasting does not re-train models during the recursive forecast. This would be quite a tricky implementation in AutoML since it leads to the question: Do you want to have full model selection on each window, or just re-train the model originally selected? AutoML does not support the second option.

However, I suspect that what you actually nee

[2020-09-08 22:47] shbijlan commented on #927
@psterkens1 Thank you for the feedback. I have opened a work item to investigate this. We should have some answers shortly.

[2020-09-08 22:50] #1113 closed

[2020-09-08 22:55] shbijlan commented on #1118
@tarockey Thank you for the feedback. I have opened a work item to address this recommendation in the next planning and release cycle.

[2020-09-08 22:55] #1118 closed

[2020-09-09 06:43] akosb opened #1136 "Incorrect example code"
Hi,

 please fix the sample code for how to log an Image

```Example: run.log_image("ROC", plt)```

won't work, as second param is 'path' and not 'plot', the sample correctly:

```Example: run.log_image("ROC", plot=plt)```

Just for the record, using the example as it is today would result:
[code]

Thanks and regards, Akos

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-09-09 17:44] jpe316 commented on #1084
Closing this as it appears to be transient, please let us know if it happens again!

[2020-09-09 17:44] #1084 closed

[2020-09-09 18:55] mx-iao commented on #972
Let me try to repro and route this to the product team.

[2020-09-09 20:23] arjsingh commented on #1002
Hi @Sup90, I just attempted to reproduce the issue, but could not. Could you ensure that you're using the latest SDK version in the env that you may have installed before running this notebook?

Specifically, here's the correct version of xgboost: https://github.com/Azure/MachineLearningNotebooks/blob/a2a33c70a6aa428017aa723a1a9ab05e4c619826/how-to-use-azureml/automated-machine-learning/automl_env

[2020-09-10 00:33] shbijlan commented on #1098
@Strauman sure, you can open issues on github for any azureml related questions. We monitor this forum for open issues.

[2020-09-10 04:42] jay2017-git opened #1138 "SSLError: HTTPSConnectionPool when registering ML model on Azure"
Hi Everyone,

Please I have my Databricks instance in a VNET. I’m trying to deploy my Machine learning model using the Azure ML workspace on Azure Container Instance (ACI).

I’m able to create an ML workspace. I get an SSLERROR when I try to register the Model using Model.register().

Using this code -

`from azureml.core import Workspace
from azureml.core.model import Model
import azureml.core
fr

[2020-09-10 04:52] jay2017-git opened #1140 "SSLError: HTTPSConnectionPool when registering ML model on Azure"
Hi Everyone,

Please I have my Databricks instance in a VNET. I’m trying to deploy my Machine learning model using the Azure ML workspace on Azure Container Instance (ACI).

I’m able to create an ML workspace. I get an SSLERROR when I try to register the Model using Model.register().

Using this code -

`from azureml.core import Workspace
from azureml.core.model import Model
import azureml.core
fr

[2020-09-10 05:21] swanderz commented on #1138
seems related to #1107.

[2020-09-10 15:19] omartin2010 opened #1141 "compute_target arguemnt doesn't exist?"
Seems like the compute_target argument doesn't exist?
![image](https://user-images.githubusercontent.com/11371870/92752953-65921c00-f357-11ea-8699-3263836bbf35.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109d9284-e234-5086-5da6-4155291361c8
* Version Independent ID: 57cc0c7a-faa7-1a86-ee14-b9cf99fb540d
* Conten

[2020-09-10 15:26] lostmygithubaccount commented on #1141
it does not (but coincidentally is being added to the constructor along with environment and other useful stuff).

like the environment, today you need to set the target on the run_config object which is commented out in the code above:
[code]

[2020-09-10 15:28] omartin2010 commented on #1141
Makes sense... but why do we document this :
![image](https://user-images.githubusercontent.com/11371870/92754254-a9395580-f358-11ea-9283-0fd03a44139f.png)

[2020-09-10 15:32] lostmygithubaccount commented on #1141
not sure...looking at the example lower in the same page:

[code]

I suspect the SDK docs went out before the changes have actually been made? @mx-iao to confirm

[2020-09-10 15:47] lostmygithubaccount commented on #1140
closing in favor of https://github.com/Azure/MachineLearningNotebooks/issues/1138

this is currently the best GitHub repo to post issues with the Azure ML service, azureml-examples is relatively new

[2020-09-10 15:47] #1140 closed

[2020-09-10 18:52] shbijlan commented on #1135
@likebupt Please try to run this notebook on the latest azureml-sdk version 1.13.0. The notebooks and packages used have been updated to comply with azureml-sdk 1.13.0. This should solve the issue you are facing. I have validated and can confirm the notebook runs successfully after updating SDK version.

If you still experience issues with this after updating, please re-open this issue.

[2020-09-10 18:52] #1135 closed

[2020-09-10 20:31] sfilipi opened #1142 "Pipelines get triggered as many times, as blobs changed in the datastore"
In the Remarks section of the Schedule class, there is this statement about triggering Pipeline runs:

[code]

This lead me to believe that if there are multiple changes in the interval between checks, **one** Pipeline run would be triggered. In reality there are as many pipelines triggered, as blobs are changed.

IMO, the most common scenario would be to have data for the experiment in one contai

[2020-09-11 06:09] casparjespersen opened #1143 "Unable to download FileDataset: MemoryError"
Trying to download a (file) dataset on my local development environment:
[code]

I am able to instantiate the `data` variable without problems, but when I try to `data.download()` (or even `print(data)`) I get a MemoryError. **I hardly doubt this is actually due to memory issues. I have 8 GB free memory and the dataset is around 5 MB.**

Environment is a remote devcontainer (WSL2-based) on VSCode.

[2020-09-11 17:52] shivanissambare commented on #1131
@jonringer can you please help?

[2020-09-11 18:13] mx-iao commented on #1141
What version of the SDK are you using? The reference docs are up-to-date for the latest release of azureml-sdk (1.13.0)

[2020-09-11 18:24] omartin2010 commented on #1141
I think 1.12... the docs should have a version thing... it otherwise gets confusing...

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: mx-iao <notifications@github.com>
Sent: Friday, September 11, 2020 2:13:58 PM
To: Azure/MachineLearningNotebooks <MachineLearningNotebooks@noreply.github.com>
Cc: Olivier Martin <omartin@live.ca>; Author <author@noreply.github.com

[2020-09-11 18:26] MayMSFT commented on #1143
thanks for reporting the issue. We will investigate. In the mean time, which azureml-sdk version are you using? possible to upgrade to the latest sdk version and see whether the problem persists? thanks!

[2020-09-11 23:00] kristianjaeger opened #1144 "Bike share example has a config issue in the automl_config"
Please see the time_series_settings parameter below compared with what is in github. Thanks.  This is in https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-bike-share/auto-ml-forecasting-bike-share.ipynb

automl_config = AutoMLConfig(task='forecasting',
                             primary_metric='normalized_root_mean_squared_err

[2020-09-12 00:50] fahdkmsft commented on #1014
@RothNRK you will need to setup environment variables using parameters passed to your script in your code before you can call Run.get_context(). This is not a hack but the way this is designed to work.

[2020-09-12 00:52] fahdkmsft commented on #927
@psterkens1 it seems that you want Pipelines to run your job on an interactive cluster but it runs it on a new job cluster, is that correct?

Could you please copy your code that you use to create DatabricksStep over here so I can check the parameters you are trying to use?

[2020-09-12 16:36] casparjespersen commented on #1143
[code]

[2020-09-14 07:19] mjaow commented on #1050
@cbertolasio Sorry for late reply, we did several repo , after `kubectl apply -f adminClusterRole.yaml ` and service.update for a while, the data was collected.

I'm not quite sure about your case , but several steps may be helpful

1. make sure run `kubectl apply -f adminClusterRole.yaml` successfully, after that , you can see object when execute ` kubectl get clusterRoleBinding |grep cleanup-mod

[2020-09-14 08:51] Bozhong68 commented on #1050
@cbertolasio I will close the issue for now as we have verified the workaround works. Please feel free to re-open if you like.

[2020-09-14 08:51] #1050 closed

[2020-09-14 14:34] ahyerman opened #1145 "Moving Data in and out of pipelines documentation has incorrect API"
The [following document](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines) reads:

However `as_named_inputs()` results in `AttributeError`
[code]

The correct statement should probably be:

[2020-09-14 15:34] cbertolasio commented on #1050
Cool, thanks for the update, I will give those things a try.  I am pretty confident there are volume-monitors for each node / node instance.   Maybe the monitor for the root instance is acting strange.

[2020-09-14 16:06] lostmygithubaccount commented on #1145
made a PR to fix - @MayMSFT please confirm this is correct, there were a few instances of `as_named_inputs` in this article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/129711

[2020-09-14 18:03] lostmygithubaccount commented on #1145
PR has been merged - will close this once updated on public docs - thanks @ahyerman for reporting

[2020-09-14 18:09] ahyerman commented on #1145
Thanks @lostmygithubaccount for the quick turnaround!

[2020-09-14 18:19] swanderz opened #1146 "What is the status of NotebookRunnerStep?"
[This question came up on SO](https://stackoverflow.com/questions/63866007/trigger-jupyter-notebook-in-azure-ml-workspace-from-adf/63878663#63878663​​​​​​​), and it made me think of `NotebookRunnerStep`. the SDK docs make no mention of `NotebookRunnerStep` but there is a demo notebook in this repo. Is that because the feature is still in public preview? If so, what's the roadmap to GA or inclusion

[2020-09-14 18:29] shbijlan commented on #1133
@swanderz After investigation by the engineering team, it was found that two runs that were going in parallel and caused race condition because they were writing to same output file.
For the second issue you shared, ADF team has acknowledged an issue on their side and are working on a fix. I will update you with ETA for the fix once available.

[2020-09-14 18:35] swanderz commented on #1133
@shbijlan thanks for the update. The first issue was our fault, we hotfixed our codebase and will monitor for a day or two to make sure its resolved. Perhaps I close this issue and create on specifically for the ADF-side error?

[2020-09-14 18:43] shbijlan commented on #1133
@swanderz we can keep this thread open until we have a fix with ETA for the ADF-side error. I will share updates here.

[2020-09-14 19:44] jonringer commented on #1131
Similar to https://github.com/Azure/MachineLearningNotebooks/issues/833 this is caused by the current working directory being set to the parent of the source directory on model deployment. This will be fixed in the next SDK release (azureml-sdk 1.14) where the current working directory will be set to the `source_directory` if present in the inference config. By default, the python interpreter will

[2020-09-14 23:18] shivanissambare commented on #1131
Thank you @jonringer
I am closing this issue
please re-open if you feel your problem isn't solved

[2020-09-14 23:18] #1131 closed

[2020-09-14 23:18] #1145 closed

[2020-09-14 23:36] shivanissambare commented on #714
closing this issue as it is open from Dec 2019.
@adiun if you are still facing the problem, please feel to re-open and lmk :)

[2020-09-14 23:36] #714 closed

[2020-09-14 23:45] shivanissambare commented on #1102
@lingfeidiewu are you still facing this problem, if yes, can you please share what tracy has mentioned above.
if not, I will close this by end of week.
thank you :)

[2020-09-14 23:54] shivanissambare commented on #1037
@jadhosn are you still facing the issue?

We have deprecated Image class and highly encourage our users to move away, start using environments and model class

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.image.container.containerimage?view=azure-ml-py

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.image.image(class)?view=azure-ml-py

[2020-09-15 00:00] shivanissambare commented on #1025
@SUDEEPIOTTECH are you still facing the issue?

if you are trying to deploy to aci, we have a great end to end example here : https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-cloud/model-register-and-deploy.ipynb

We have deprecated Image class and highly encourage our users to move away, start using environments and model class

https://docs.mi

[2020-09-15 00:52] CESARDELATORRE commented on #1085
#please-close Closing this issue since it was answered and no further question was posted.
Please, re-open if issue persists.

[2020-09-15 00:52] #1085 closed

[2020-09-15 01:29] swatig007 commented on #1072
closing this issue since there's no response for 2 weeks. Please reopen if needed.

[2020-09-15 01:29] #1072 closed

[2020-09-15 03:31] cartacioS commented on #1144
Hi @kristianjaeger - we have updated the experience so that forecasting settings are set using the new parameters class you noted in the notebook. Our forecasting documentation is also currently being updated. Was there a question or further clarification I can provide?

[2020-09-15 03:38] imatiach-msft commented on #1060
@vla6 thanks for the great question.  The feature importances are SHAP values of the TreeScoringExplainer.  These will be log-odds unless in the original explainer the user specified shap_values_output to be probabilities.
Hope this resolves the question, please feel free to reopen if you need more information.

[2020-09-15 03:38] #1060 closed

[2020-09-15 11:27] kristianjaeger commented on #1144
Thanks, @cartacioS ! I think that is all for now. I would still like to finish the related video series when I have time. Cheers.

[2020-09-15 14:27] jialiu103 commented on #870
@justinormont @anupsms are following up on this issue.

[2020-09-15 16:28] dem108 opened #1147 "automl_env.yml is too old"
When I create Conda env with:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/automl_env.yml
it installs azureml-core==1.1.5.4 which is way too old. According to the release history, it's about 6 months old.
We should update this .yml to allow installing the latest bits.

[2020-09-15 18:33] MayMSFT commented on #1143
Hi @casparjespersen  WSL is not supported at the moment. You can refer to [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#prerequisites) to find out our supported distributions. The team will continue to investigate what cause the engine termination on WSL as a mid term work item. Thank you!

[2020-09-15 22:18] shbijlan commented on #1142
@sfilipi Thank you for the feedback! I have opened a work item to address this. The team will review the feedback and accommodate it in the planning and release process.

[2020-09-15 22:18] #1142 closed

[2020-09-16 01:22] 12DReflections commented on #357
This link here was [sensational](https://www.programmersought.com/article/76424757228/) for downloading files.

Before you can download files on the step you are required to wait for completion of the Step, which is different to waiting for completion of the run.

[code]
Did the trick for me.

[2020-09-16 06:33] casparjespersen commented on #1143
@MayMSFT A few observations.
* It is true, I am using WSL2 with my Docker, but my colleague is using Docker with Hyper-V and has the same issue. So I don't know if it's necessarily WSL-related?
* Anyway, he claimed it worked about a month ago so I tried to roll back to `azureml-sdk==1.12.0`/`azureml-sdk==1.11.0` but without any luck. Still does not work.

[2020-09-16 16:27] MayMSFT commented on #1143
Hi @casparjespersen

thanks for sharing the info. yes, we are investigating what caused the failure on WSL. We haven't identified root cause yet. Also, can you help share the Linux distribution you are using?

Thanks

[2020-09-16 17:15] cbertolasio commented on #1050
I followed the instructions provided.  The volume monitor pod exists for the node in question but lists 0 files or directories in /mnt/amlMount.  When I bash into the other 2 volume-monitor pods, I can see two directories listed.  Each of these directories match the directories that I would expect to exist for the currently deployed web services.

Is the volume-monitor pod something that my team i

[2020-09-16 18:17] minthigpen commented on #1125
Thanks for opening the issue @swanderz - closing this issue here since we've opened an issue in the open source repo. #please-close

[2020-09-16 18:19] swanderz commented on #1125
@minthigpen are you referring to this issue that I opened?

[2020-09-16 21:12] minthigpen commented on #1125
@swanderz  yes that one!

[2020-09-16 21:15] swanderz commented on #1125
@imatiach-msft says the main sdk docs have nothing to do with the `interpret-community` package and I agree. this isn't a matter of needed documentation created. The issue is that said documentation isn't available on the main sdk doc page.

@minthigpen, can re-open this issue and close the other one?

[2020-09-17 03:28] mjaow commented on #1050
@cbertolasio
Thanks for message , you offer some message very important. I'm update to you if I got some clue
BTW, volume-monitor is component of AML , a daemonset which controlls volume gc of all nodes , each pod controlls one node

[2020-09-17 06:42] casparjespersen commented on #1143
I am running a Devcontainer in VSCode using Docker for Desktop (WSL2) on Windows 10 (Ver. 2004). The Dockerfile is the following:
[code]
And the environment.yml used to create the conda environment is (in the 2nd-final block of the Dockerfile):
[code]

[2020-09-17 07:41] mjaow commented on #1050
@cbertolasio  Could you help give a screentshot of result of `kubectl get pods -o wide |grep volume-monitor`, to see if there is some clue from it

And here is one way may help you work around , not quite sure , but you can give a try. Since there is something wrong with volume-monitor, let's recreate it to see:

1. Remember the yaml of volume-monitor daemon set , `kubectl get ds volume-monitor -o

[2020-09-17 09:00] jtobelem-simplon opened #1149 "install azureml-sdk[automl] fail on linux because of onnxruntime"
I have an error installing automl :
[code]

I have got this error :

[code]

I also try to install onnx using :
[code]

In this case, I have the following error :
[code]

[2020-09-17 18:29] MayMSFT commented on #1143
Hi! Thanks for sharing. WSL2 defaulting to Ubuntu 20, which is not supported at the moment. You can follow the following steps to unblock:

- Follows the .NET Core install instructions for Ubuntu 20:
apt install curl wget
wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
dpkg -i packages-microsoft-prod.deb
apt update
apt install -y d

[2020-09-17 20:35] #1069 closed

[2020-09-18 03:41] brberton-msft opened #1150 "Access to AKS web service endpoint in vnet allowed from Postman without inbound security rule enabled"
I created an AKS cluster in a vnet and used it to host my model as a web service following the documentation.

I skipped the step to enable an inbound security rule for the scoring endpoint in the NSG group that controls the virtual network. I was unable to access the web service endpoint using either the python Request module or aks_service.run() (running on compute not in the vnet) and I receive

[2020-09-18 03:49] cbertolasio commented on #1050
Thanks, I will check it out and report back.

[2020-09-18 06:26] waqassiddiqi commented on #1037
getting the same issue when service is deployed using Azure Container Instance.

[2020-09-18 10:06] zkhalid123 opened #1151 "Service Principle Authentication not working"
@rastala, @vizhur
I have been using service principle authentication for automating machine learning pipelines, where I deploy trained model as a service to azure machine learning workspace. Till today it was working fine but now authentication fails with following error.

[code]

[2020-09-18 12:35] waqassiddiqi commented on #1037
Never mind, i found that:

[2020-09-18 13:53] RothNRK commented on #1014
@fahdkmsft It's unclear that this is the intended usage given that the only documentation related to these additional variables is under [DatabricksStep -> python_script_name](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps.databricks_step.databricksstep?view=azure-ml-py#parameters) and makes no mention of setting them in order to get a Run through `Run.ge

[2020-09-18 20:17] cbertolasio commented on #1050
@mjaow deleting the volume monitors and recreating them worked.  Thanks for that.  You can see below that our disk space has now gone back to what it was supposed to be, all on its own.  Deleting the reapplying the volume-monitor pods did the trick.  Thanks again.
![image](https://user-images.githubusercontent.com/545629/93641570-ba6a0e00-f9b9-11ea-998a-a8520eb9a84e.png)

[2020-09-18 22:37] mx-iao commented on #1141
We will look into versioning for the reference docs.

[2020-09-18 22:37] #1141 closed

[2020-09-21 16:53] aashishb commented on #998
@rastala can you look into it?

[2020-09-22 01:50] kwhitehall opened #1154 "No flag to set overwrite=True in Dataset for accessing from datalake for use in distributed environment"
Environment:
azureml-core==1.12.0, azureml-dataprep==2.0.7
Python Version = 3.7:
PyTorch 1.4
AMLCompute cluster Standard_NC12

Output from failed method (path made generic):
Dataset initialization failed: UserErrorException:
Message: File "/mnt/location/dataset.json" already exists. Set overwrite=True to overwrite it.
InnerException None
ErrorResponse
{
"error": {
"code": "UserError",
"message": "

[2020-09-22 09:48] sidtandon2014 commented on #240
Is there a working example to refer for "register_dbfs" and how can I use it in DatabricksStep

[2020-09-22 18:54] MayMSFT commented on #1154
Hi @kwhitehall

Thanks for reporting. This is a bug that we will fix in the next few releases. For now, as a workaround:

if you want to download data to a specific path on the compute, you can pass in dataset as direct and call download in your script:
[code]
[code]

if you dont need to download data to a specified path on compute, your script without specifying path_on_compute will work.

[2020-09-22 22:51] ling0322 opened #1155 "need more document for data_types parameter in InputPortDef"
[Enter feedback here]

we need more document for data_types parameter in InputPortDef. Only from the source code could I know the default value was ["AnyFile", "AnyDirectory"].

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b4cd6a2-5ba5-5691-d4fc-abc6800f5718
* Version Independent ID: 4151db15-3faf-f16c-70e8-fe114e61a

[2020-09-23 00:21] lefaivre opened #1156 "Uploading and registering a dataset overwrites the previous versions"
I have some `Dataset` that I want to register, like so:

[code]

Then say I make some changes to my data and try to upload and re-register the data, like so:

[code]

When I try to retrieve different versions, like so:

[code]

The datasets are the same as the newest version (i.e., the old version has been overwritten both when I inspect it in the AzureML UI and when I try to read in the data usin

[2020-09-23 09:33] datashinobi commented on #527
This should work better

[code]

[2020-09-23 14:53] SUDEEPIOTTECH commented on #1025
import pickle
import json
import pandas
import joblib                            !! Add this line
# from sklearn.externals import joblib   !! Delete this line
from sklearn.linear_model import Ridge
from azureml.core.model import Model

After comment **# from sklearn.externals import joblib** and new add **#import joblib** It's working fine.

Thanks All your support and replay inputs.

[2020-09-23 14:54] SUDEEPIOTTECH commented on #1025
After comment # from sklearn.externals import joblib and new add #import joblib It's working fine.

Thanks All your support and replay inputs.

[2020-09-23 14:54] #1025 closed

[2020-09-23 16:09] lostmygithubaccount commented on #1156
this is expected - you are overwriting the data stored in the datastore when you upload it to the same path.

instead, you could write v1 to `data/v1` and v2 to `data/v2`

[2020-09-23 16:20] lefaivre commented on #1156
Thanks a lot for your response.  Just a question!  How come I am able to modify a version of the data manually through the UI and it doesn't change all versions then?  Also, when I call `Dataset.get_by_name(workspace, name='data', version=1)` what is the purpose of `version=1` and `version=2`?

[2020-09-23 16:30] b93rn commented on #196
+1 `run.delete()`method in the SDK as well.

[2020-09-23 22:49] MayMSFT commented on #1143
#please-close

[2020-09-23 22:49] #1143 closed

[2020-09-23 23:46] MayMSFT commented on #1156
hi @lefaivre

Dataset is a pointer to data in your storage. here is an article that describe how versioning works: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-version-track-datasets

what do you want to modify on UI?

[2020-09-24 15:30] kwhitehall commented on #1154
Thank you @MayMSFT for the ack and workaround.

[2020-09-24 17:55] MayMSFT commented on #1154
#please-close

[2020-09-24 17:55] #1154 closed

[2020-09-24 20:55] shbijlan commented on #1155
@ling0322 Thank you for your feedback. I have opened a work item to address this gap in documentation. It will be reviewed in the planning and release process.

[2020-09-24 20:55] #1155 closed

[2020-09-25 17:09] lostmygithubaccount opened #1159 "Datastore upload failing on one file consistently"
To reproduce:

[code]

[code]

[code]

This quickly uploads 7/8 of the files, which are all under 30 MB. But for some reason, the datastore write operation times out when trying to upload the last file, which is `data_batch_1`.

The output looks like this:
![image](https://user-images.githubusercontent.com/54814569/94296047-103d3980-ff17-11ea-8b5f-6340fbc3fd64.png)

The other files can be seen in

[2020-09-25 18:04] #1159 closed

[2020-09-25 21:44] #927 closed

[2020-09-26 01:18] deepakmukunthu commented on #1144
#please-close

[2020-09-26 01:18] #1144 closed

[2020-09-26 01:19] deepakmukunthu commented on #1094
@luistelmocosta, I am closing this assuming your question is answered. Please let us know if you have more questions or need more details.

#please-close

[2020-09-26 01:19] #1094 closed

[2020-09-26 01:21] deepakmukunthu commented on #1002
@Sup90, I am closing this assume you are unblocked now. Please let us know if you have questions or need details.  thanks!

#please-close

[2020-09-26 01:21] #1002 closed

[2020-09-26 01:24] deepakmukunthu commented on #870
@justinormont @anupsms any updates?

[2020-09-26 01:26] deepakmukunthu commented on #1147
@jeff-shepherd can you please look into this?

[2020-09-26 01:27] deepakmukunthu commented on #1149
@kexugit can you please look into this?

[2020-09-26 02:40] jeff-shepherd commented on #1147
@dem108 I couldn't reproduce the issue.  I downloaded the latest files from this repo and ran the command `automl_setup sdk1.14.0`.  This creates a new environment using automl_env.yml.  I then checked the version with `pip list`.  The output included `azureml-core   1.14.0.post1`, which is the correct version.

Can you check that you are looking at the correct environment?  Sometimes, I install a

[2020-09-26 14:31] kexugit commented on #1149
@deepakmukunthu I think you got the wrong alias?

[2020-09-26 18:25] xuke444 commented on #1149
Hi @jtobelem-simplon,
Thanks for your feedback.
Are you using python 3.8?
Currently Azure ML is not officially supporting py 3.8 yet, you might hit issues in some places.

For this particular error, onnx run time 1.0 is not supporting 3.8, in the upcoming AzureML release - 1.15.0 we will upgrade to Onnx 1.3.0 which will be compatible with py3.8 and mitigate this installation error.
However you may

[2020-09-27 05:20] waqassiddiqi opened #1160 "ServiceError: Failed to run [...] Exit code 250"
It was all working fine until today when suddenly we started getting:
[code]
Nothing has changed in the code! And as in error it says to find more details in `azureml-logs/60_control_log.txt` but there is nothing useful inside but the same error line.

To give more info, it a script to train an xgboost model, it fails while executing `xgb.DMatrix(..)`. Until yesterday, it was working fine with xgb

[2020-09-27 07:20] waqassiddiqi commented on #1160
it was related to xboost, hence closing the issue.

[2020-09-27 07:20] #1160 closed

[2020-09-28 07:28] jtobelem-simplon commented on #1149
Thank you @xuke444, yes I was using python 3.8.  It is now working installing azureml-automl-runtime and azureml-train-automl-runtime.

I have now a bunch of new errors for this env :
[code]

Here are my errors :
[code]

When executing this sample code :
[code]

If not related, I will open a new issue. Thks.

[2020-09-28 10:04] jarandaf opened #1161 "Tag definition in PipelineData objects"
Is it possible to define tags when registering datasets from `PipelineData` objects? I create some datasets as follows during a multiple-step pipeline execution:

[code]

The only way I have found to set some tags to these datasets is to retrieve them by name after the pipeline execution and set their tags property explicitly. This is not very convenient since I want to be able to retrieve these d

[2020-09-28 10:58] chengyu-liu-cs commented on #1156
Is there a plan to update/modify "Dataset" implementation instead of being a point to a storage? It might be very simple implementation for you Azure, but It is really inconvenient to use. In a way current implementation forces users to manipulate the paths where data is. It is very common that people just do processing and write to a place (the same path) and register the dataset expecting Azure

[2020-09-28 16:47] xuke444 commented on #1149
Hi @jtobelem-simplon
It seems your yaml file is outdated. More than one month old.
Do you mind pull the latest yml from this repo?
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/automl_env.yml

Or use automl setup script to automatically create conda env
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/aut

[2020-09-28 19:49] shivanissambare commented on #1037
Closing this issue, please reopen and let us know if you are still blocked :)
Thank you!

[2020-09-28 19:49] #1037 closed

[2020-09-28 21:33] CESARDELATORRE commented on #1147
@dem108 Do you have any further input about the proposed actions above?
Thanks,

[2020-09-28 21:34] CESARDELATORRE commented on #870
@justinormont @anupsms any update on this issue?

Thanks,

[2020-09-29 06:46] dem108 commented on #1147
When I test with `automl_setup`, it failes when parsing .yml:
[code]
Any tip why this fails?

When I edited it to specify it as `numpy` (no version range), I was able to run it successfully. So for now I think we can close this issue. But I'd appreciate if you look at why `numpy~=1.18.0` (note the ~ sign) fails.

Thanks

[2020-09-29 08:24] nonstoptimm commented on #743
Hi, I just found this ticket as I am experiencing the same issue. Have you been able to find a solution for this, @YutongTie-MSFT ? Already checked back with @maknotavailable
Thanks!

[2020-09-29 14:00] timoklimmer opened #1163 "Named package extras do not exist"
The package extras named in the article do not exist. Please provide the correct extra names and ideally give us more insights about the packages on https://pypi.org/user/amlpypi. When should we install which package? I am really confused from this package zoo...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e0e12a4-

[2020-09-29 15:33] frvigano opened #1164 "Monitoring Models in AKS (notebook enable-app-insights-in-production-service)"
Notebook enable-app-insights-in-production-service fails when it tries do deploy the endpoint into AKS.

I was able to have it working by modyfing the dependencies as follows:

it is :

conda_deps = CondaDependencies.create(conda_packages=['numpy','scikit-learn==0.19.1','scipy'], pip_packages=['azureml-defaults', 'inference-schema'])

instead it should be

conda_deps = CondaDependencies.create(con

[2020-09-29 18:14] MayMSFT commented on #1161
Thanks for the feedback. We are working on enabling search dataset by tags at the moment.

[2020-09-29 20:19] CESARDELATORRE commented on #1147
Adding @rtanase so his team looks into the "why numpy~=1.18.0 (note the ~ sign) fails."

Closing this issue, for now, as requested.

#please-close

[2020-09-29 20:19] #1147 closed

[2020-09-29 21:48] rtanase commented on #1147
@dem108, was the installation done on mini-conda? and if so, what was the version you used?
Was this for a brand new environment, or for an existing one? If it was an existing environment, can you also share the pip list?
I'm curious about the pip & Python versions.

[2020-09-29 23:30] skasturi commented on #870
This should be fixed in the next release.

[2020-09-30 01:03] lostmygithubaccount opened #1167 "Datastore upload timeout"
to reproduce:

[code]

[code]

output is:

[code]

screenshot:
![image](https://user-images.githubusercontent.com/54814569/94631947-18caa280-027e-11eb-835f-02c60bdf4f66.png)

[2020-09-30 02:52] stevenluda opened #1168 "use argparse or @click.option instead of sys.argv results in error"
https://github.com/Azure/MachineLearningNotebooks/blob/9fe459be79affe172e1cbf1151c849fd20f52742/how-to-use-azureml/track-and-monitor-experiments/using-mlflow/train-projects-remote/train.py#L44

Is there a reason for using sys.argv instead of argparse or @click.option?
I made changes to use @click.option:

    import os
    import warnings
    import click
    import pandas as pd
    import numpy a

[2020-09-30 04:31] dem108 commented on #1147
@rtanase It happened in my local environment, but I could reproduce it in a new environment in a newly created Compute Instance yesterday. Let me check the details you requested and get back to you.

[2020-09-30 08:55] dem108 commented on #1147
@rtanase Does the following help?

[code]

[2020-09-30 13:17] chengyu-liu-cs opened #1169 "Documentation of parameter vm_size for AMLcompute is not right"
Values of vm_size in Azure ML SDK [documentation](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.compute.amlcompute(class)?view=azure-ml-py#provisioning-configuration-vm-size-----vm-priority--dedicated---min-nodes-0--max-nodes-none--idle-seconds-before-scaledown-none--admin-username-none--admin-user-password-none--admin-user-ssh-key-none--vnet-resourcegroup-name-none--vnet-n

[2020-09-30 14:06] vizhur commented on #1163
@timoklimmer if you look on the left pane of the install page on the help you can find description for the most of the zoo inhabitants.
From the page you can get information or links for particular scenarios, samples and use case guidance

![image](https://user-images.githubusercontent.com/21002116/94695542-05fab100-0304-11eb-93fc-513dc723b833.png)

[2020-09-30 14:09] vizhur commented on #1146
it is still in a public preview, though documentation is available on msdocs for over a year now https://docs.microsoft.com/en-us/python/api/azureml-contrib-notebook/azureml.contrib.notebook.notebookrunnerstep?view=azure-ml-py

[2020-09-30 14:15] vizhur commented on #1117
pressure was put on azureml python sdk and the latest versions of azureml-dataprep updated the dependency range.

[2020-09-30 14:15] #1117 closed

[2020-09-30 15:46] lostmygithubaccount commented on #1169
what you linked to is the supported vm sizes in Azure. the supported vm sizes for AML compute is a smaller subset of that which can be found here: https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-target#supported-vm-series-and-sizes

[2020-09-30 18:16] chengyu-liu-cs commented on #1169
The link was from Azure ML SDK documentation.  Please check the documentation page https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.compute.amlcompute(class)?view=azure-ml-py#provisioning-configuration-vm-size-----vm-priority--dedicated---min-nodes-0--max-nodes-none--idle-seconds-before-scaledown-none--admin-username-none--admin-user-password-none--admin-user-ssh-key-none--vne

[2020-09-30 18:18] chengyu-liu-cs commented on #1169
The link was from Azure ML SDK documentation.  Please check section for parameter vm_size in the documentation page https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.compute.amlcompute(class)?view=azure-ml-py#provisioning-configuration-vm-size-----vm-priority--dedicated---min-nodes-0--max-nodes-none--idle-seconds-before-scaledown-none--admin-username-none--admin-user-password-n

[2020-09-30 18:26] chengyu-liu-cs commented on #1169
BTW, are the supported vm sizes listed there also for AKSCompute ?

[2020-09-30 18:38] SturgeonMi commented on #1167
Hi Cody, we are looking into this issue. Will update.

[2020-09-30 18:38] nishankgu commented on #1169
We will take in a fix to update our SDK docs. Will also try adding a similar link for AKS docs.

[2020-09-30 19:10] nishankgu commented on #1169
AML link should be fixed now

[2020-10-01 03:48] stevenluda commented on #1168
I seem to have identified the cause of the issue, i.e. the function _azureml_arg_format(mlflow_command) from azureml/mlflow/_internal/projects.py.

Specifically, in line 79
`parameters.append(mlflow_command[arg] + " " + mlflow_command[arg + 1])`
the '--alpha' and '0.3' were concatenated and returned as params ['--alpha 0.3']
whereas for
`ScriptRunConfig(source_directory=work_dir, script=script, ar

[2020-10-01 03:57] akshaya-a commented on #1168
Great find @stevenluda! @shivp950 FYI I opened a bug on this #916885

As a side note, I'd love to know more about your use case so we can prioritize the right fixes here for an e2e scenario

[2020-10-01 10:46] jarandaf commented on #1161
Is there any feature release estimate? Thank you.

[2020-10-01 17:20] rastala commented on #1151
Looks like the error is coming from Azure Python SDK. Have you updated any Python package dependencies recently?

[2020-10-01 20:19] lostmygithubaccount opened #1170 "mlflow.projects.run failing consistently with etag error"
logs:

[code]

[2020-10-01 20:37] skasturi commented on #870
Completed the PR. This should be fixed in the next release.

[2020-10-01 20:52] justinormont commented on #870
Thanks @skasturi for the swift PR. I'll close the issue since your fix is in the release cycle.

[2020-10-01 20:52] #870 closed

[2020-10-02 00:54] jeff-shepherd commented on #1147
@dem108 Thanks for the additional information.

I found that this issue is cause by the Conda version being older than 4.7.8.

Automl packages are already installed in the azureml_py36 environment in Compute Instances.  So, you don't need to run automl_setup_linux.sh on Compute Instance.

To setup another environment, please run the command “conda update conda” first to update Conda.

I am updatin

[2020-10-02 16:19] BillmanH opened #1173 "Only single character is supported for argument: separator"
[Enter feedback here]
Unable to read a tab-delimited file into AML.  Tab delimitation is a very common framework and should be supported. Also, it's technically just one character, it's just represented by the `separator` parameter as `/t`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6558448-0f7f-b25a-eb36-e

[2020-10-02 17:09] #1170 closed

[2020-10-02 17:54] SturgeonMi commented on #1173
Hi William, Tab separated files should be supported already.
Could you help to provide related error message?
Thanks!

Please find instructions about read_delimited_files() here:
[https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_factory.tabulardatasetfactory?view=azure-ml-py#from-delimited-files-path--validate-true--include-path-false--infer-column-types-true--set-colu

[2020-10-02 18:29] BillmanH commented on #1173
FYI that link doesn't go anywhere.

I had to pivot my inputs for commas so I don't have the error message any more, however the title of this issue was a copy/paste of that error.  So the error was something like:

[code]

[2020-10-02 21:53] SturgeonMi commented on #1173
Got it. Thanks! The error message is helpful.
Added an internal tracking item for investigation.

I have updated the link above. (The new link is to the parent page, you can search for from_delimited_files)
And it seems it won't jump from Github directly. you need to copy to the Browser and then it can land on the page.

[2020-10-04 18:50] BillmanH opened #1174 "ValidationException when running linear regression in pipeline"
I reproduced the issue with the Boston dataset so that I could validate the issue.   I also confirm that this is working with `classification` examples but not with `regression`

Here is the exact code that will reproduce the error:
https://github.com/BillmanH/learn-azureml/blob/main/main_run_linear.py

[code]

It seems to be saying that the target `y` was given a string input.  However I'm just u

[2020-10-04 20:59] BillmanH commented on #1174
I updated the repo: https://github.com/BillmanH/learn-azureml
Just to show the issue.

`main_run_classifier.py` and `main_run_linear.py` access the same `munge_step`. The only difference is the precursor step. The automl run protests about the input. I was wondering if it somehow can't find the dataset but the extensive use of wrappers makes debugging difficult.

[2020-10-05 09:02] ryotatomioka opened #1175 "SnapshotException 403"
Hi,

I have encountered SnapshotException with status code 403. It turns out that I have a read permission but not write permission for the subscription I was trying to submit my job to. It would be better if the error message was more informative.

This is the current error message
[code]

I think a better error message would be
[code]

It might also be a good idea to document here what the typic

[2020-10-05 09:03] ryotatomioka opened #1176 "SnapshotException (status_code: 403)"
Hi,

I have encountered SnapshotException with status code 403. It turns out that I have a read permission but not write permission for the subscription I was trying to submit my job to. It would be better if the error message was more informative.

This is the current error message
[code]

I think a better error message would be
[code]

It might also be a good idea to document here what the typic

[2020-10-05 15:23] Jhidzzo opened #1177 "Mount point / path_on_compute missing in as_mount() method for PipelineData object"
Hi,
I was working with azure ml and was moving data around using the PipelineData object. In my files in the PipelineData I need to set absolute paths. When working with a small amount of data there should be no problem with using the as_download() method. However if that is not the case I would like to switch to the as_mount() method. But when working with it following question came up:
Why does

[2020-10-05 18:34] lostmygithubaccount commented on #1167
per internal discussion tried using `Dataset.File.upload_directory` but it seemed to experience the same issue

[2020-10-05 18:43] lostmygithubaccount commented on #1175
duplicate of #1176 - closing in favor of that issue

[2020-10-05 18:43] #1175 closed

[2020-10-05 18:46] CESARDELATORRE commented on #1174
Adding @kimix92 to follow up.

[2020-10-05 23:37] justinormont commented on #1174
@BillmanH : Can you post your training file `gold_data.csv` used in [main_run_linear.py](https://github.com/BillmanH/learn-azureml/blob/main/main_run_linear.py)? This is the Boston housing dataset after any modification are made; [as read](https://github.com/BillmanH/learn-azureml/blob/8dd9b748a4ba22c9d1e930afd7ad7278f622f31d/main_run_linear.py#L77-L87) by the AutoML code.

The error you hit is ra

[2020-10-06 00:01] BillmanH commented on #1174
I'd have to dig it up, but it's easy to generate. I do no transformations on that dataset.
You can see in the pipe steps that I just generate the data, save it, and move on.
https://github.com/BillmanH/learn-azureml/tree/main/pipes

You can also see the data types above confirming that they are zeros. If there is a process in the `OutputDataset` that saves it as strings then it would still be a bu

[2020-10-06 00:03] soniaang opened #1178 "There is no example how to ingest a File data set is a DATA FRAME in python"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b080f459-b191-a60e-e327-720ef095165c
* Version Independent ID: 53d1b412-0c47-1044-3c6c-7c8c0f1eb0c0
* Content: [azureml.data.FileDataset class - Azure Machine Learning Python](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.filed

[2020-10-06 12:11] LaurieCantaloube opened #1179 "DataTransferStep starts doing the tranfer then fails"
Hi!
I'm trying to use a DataTransferStep to move a directory from a location to another in the same Azure Storage.
I use a PipelineData to specify the source location, a DataReference for the destination location and 'Directory' as parameter for source_reference_type and destination_reference_type.
I've this kind of structure for the source:
/azureml/4dc04302-670b-4961-8354-f5577b9a30b5/prediction

[2020-10-06 14:03] lostmygithubaccount commented on #1178
a File Dataset is intended to be mounted or downloaded, and has corresponding methods for doing so from Python or as part of an Azure ML run/pipeline.

to ingest the data into a dataframe, you need to read in the data after downloading or mounting it with a library, most likely pandas

[2020-10-06 16:14] drewlr commented on #1167
@lostmygithubaccount  Having the same issue here - I guess it's due to a timeout setting on the SDK side. I remember being able to edit it with old API and getting around the issue, but not sure how to do it with this one.

https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-library-usage-patterns?view=azure-python#optional-arguments-for-client-objects-and-methods

[2020-10-06 16:49] SturgeonMi commented on #1177
Hi Jhidzzo,

AzureML dataset has the ability to set mount path, and you can use dataset for moving data around via pipelines.
Please find related doc here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-with-datasets
And (1) output filedataset: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.output_dataset_config.outputfiledatasetconfig?view=azure-ml-py

[2020-10-06 16:58] Jhidzzo commented on #1177
Hi @SturgeonMi,
thanks for your comment. I figured that out myself. And I got it working now. However I still ask myself why the PipelineData object does not give the option to set the mount path...

[2020-10-06 20:15] shivp950 commented on #1136
fix addressed, should be visible soon.

[2020-10-06 23:43] lostmygithubaccount commented on #1167
@drewlr what OS are you using? and versions of `azureml-core` and `azureml-dataprep`?

[2020-10-07 08:45] drewlr commented on #1167
I'm on Windows, using

[code]

[2020-10-07 16:30] swanderz commented on #1179
`Directory1/Directory2/predictions/\\DATE_PREDICTION=2020-09-21/a88d23f1d88c437fb124db602e5384ce.parquet.`
The path you included has an escaped forward slash, `\\`, is that intentional? it _might_ be related to #1088

[2020-10-07 16:35] swanderz commented on #1179
This also might be a great scenario to skip the complexity of `DataTransferStep` invoking Azure Data Factory, and in stead just you `OutputFileDatasetConfig` which is now in public preview. Check out this [Pipelines with Datasets notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/pipeline-with-datasets/pipeline-for-image-clas

[2020-10-08 20:00] myshylin commented on #1167
Hi,

we confirmed that this is a bug in azureml-dataprep package for both Datastore and Dataset. It is related to the request timeout calculation that causes request termination too early on slower internet connection.

We are working on the fix and it will be included in the next package release. The way to work around it so far is to use other ways to upload data ([azure storage explorer](https:

[2020-10-09 02:00] janhavi13 commented on #1168
Hi @stevenluda ,

We released a new patch `azureml-mlflow 1.15.0.post1` to address the issue above.
Can you upgrade the package to the latest version and validate the fix?

It should now support `python train.py --alpha 0.5` which can be parsed using argparse and click.options in your train file and `python train.py 0.5` which should be passed using sys.argv.

Let me know if you face any issues. H

[2020-10-09 10:09] levalencia opened #1182 "About 50% of links on the homepage of this repo are broken"
AMLSamples  link on homepage of this repo is broken

[2020-10-09 15:21] LaurieCantaloube commented on #1179
@swanderz `\\` is an error I think, it wasn't my will to have it in my path...
I finally used `OutputFileDatasetConfig` instead of `DataTransferStep`and it works perfectly! Thanks a lot for your advice!
I close this issue

[2020-10-09 15:21] #1179 closed

[2020-10-09 15:56] swanderz commented on #1179
@LaurieCantaloube great to hear! Can you share more about your experience using `OutputFileDatasetConfig` using [this form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR56WvHlfSMBOmRUduEaJtFFUQVFTUTVCNU5LVzBNSEFIRE5YUzBVTlhPMi4u)? Thanks!

[2020-10-12 08:44] chengyu-liu-cs opened #1183 "Environment.load_from_directory(path)"
[Enter feedback here]
The documentation is not clear what kind of format is required for this function and what file it looks for. I have to run blindly to find out from error message. It seems it searches for `azureml_environment.json`. But isn't it much easier to provide path to file instead of directory ? And it is better to support yaml file instead of json file as `RunConfiguration.save`  sto

[2020-10-12 13:24] #1163 closed

[2020-10-12 13:28] vizhur commented on #1183
that's a poor documented not intended to be public method that stays there for backward compat. the method instantiates an env object from a special folder structure with dockerfile and python dependencies.
to instantiate an object from a yml or pip requirements there are factories on the Environment class

[2020-10-12 16:59] justinormont commented on #1174
Greetings @BillmanH, would you have time to post your training file `gold_data.csv`?

[2020-10-12 17:29] chengyu-liu-cs commented on #1183
@vizhur  So basically what I need to do is to create an Environment object from yaml files (including conda yaml file) that were generated from `RunConfiguration.save`.  I can create a `RunConfiguration` object first and then only take environment variable. But I feel there should be more divided functions or better way to do this?

[2020-10-12 17:52] vizhur commented on #1183
That's a RunConfiguration contract that has nothing to do with the Environments. You can instantiate RunConfiguration and get Environment object from there. Sorry, for the confusion.

[2020-10-13 15:53] marciomocellin opened #1185 "how to load an experiment?"
I have many experiment, like:

![image](https://user-images.githubusercontent.com/40580910/95883598-82a07d00-0d51-11eb-847d-872452f6caa4.png)

and now, i want load an experiment
[code]

but

`"error": {
        "message": "No cache found for current project, try providing resource group and workspace arguments"
    }`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-10-13 16:09] aashishb commented on #999
@rastala can you check?

[2020-10-13 16:11] aashishb commented on #960
@nishankgu can you have Vijeta look into it?

[2020-10-13 16:23] lostmygithubaccount commented on #1107
no

[2020-10-13 16:29] marciomocellin commented on #1185
No, this creates a new experiment with the same name.

[2020-10-13 16:31] lostmygithubaccount commented on #1185
right sorry - you can do:

[code]

[2020-10-13 18:28] BillmanH commented on #1174
[gold_data.zip](https://github.com/Azure/MachineLearningNotebooks/files/5373342/gold_data.zip)
Here is the file, I just went to the storage location in the blob from the `get_linear` step and downloaded it. However you can reproduce the file just by running the code.

[2020-10-14 00:57] clthorre opened #1186 "Unable to pull docker image Azureml Base Gpu openmpi3.1.2-cuda10.2-cudnn7-ubuntu18.04"
Hello. When I run:
`docker pull mcr.microsoft.com/azureml/base-gpu:openmpi3.1.2-cuda10.2-cudnn7-ubuntu18.04`
I get an error message:
`Error response from daemon: manifest for mcr.microsoft.com/azureml/base-gpu:openmpi3.1.2-cuda10.2-cudnn7-ubuntu18.04 not found: manifest unknown: manifest tagged by "openmpi3.1.2-cuda10.2-cudnn7-ubuntu18.04" is not found`

However this is listed as an image on docke

[2020-10-14 06:32] chengyu-liu-cs commented on #1183
So then there is no other way to create Environment object from yaml files that are generated from `RunConfiguration.save` ? Are there similar functions in the roadmap ?

[2020-10-14 06:41] jarandaf opened #1187 "Stalled pipelines"
The following is an issue I am not sure how to solve or make it reproducible but hopefully I will get an answer.

I have multiple step pipelines that take a very long time to start. Sometimes they may take >15 hours to start, sometimes they will start right away (for the very same pipeline, no code changes at all). This randomness in execution times is quite unexpected and makes working with AML v

[2020-10-14 12:30] justinormont commented on #1174
I did a quick run using the AutoML GUI -- https://ml.azure.com/automl/startrun

There's no issues when using your dataset on that interface. That said, the data loader is a bit different as it's loading from Azure Datasets.

Next up is a run within the SDK.

[2020-10-14 16:04] vizhur commented on #1186
there is no such image, ie tag on base-gpu image.
please use

Using default tag: latest
latest: Pulling from azureml/openmpi3.1.2-cuda10.2-cudnn7-ubuntu18.04
7595c8c21622: Downloading [=====>

[2020-10-14 16:04] #1186 closed

[2020-10-14 18:36] clthorre commented on #1186
Hello vizhur, thank you for pointing me to the correct docker image!

[2020-10-14 18:39] #1185 closed

[2020-10-14 20:03] vizhur commented on #1183
not with 1.x. 2.x will standardize contracts between AzureML components, the work is in progress but no ETA. @chengyu-liu-cs  Closing the ticket, please feel free to open if you have any questions

[2020-10-14 20:03] #1183 closed

[2020-10-14 20:05] vizhur commented on #893
docs were updated

[2020-10-14 20:05] #893 closed

[2020-10-15 11:08] chengyu-liu-cs opened #1189 ""Failed to flush task queue within 300 seconds""
[Enter feedback here]
I am getting "Failed to flush task queue within 300 seconds" when I executed a Run. It seems the files generated inside "outputs" are very big (about 400+MB in total) and it is related to `flush(timeout_seconds=300)` function. But it is not clear when and how to use it. If there are much clearer documentations or examples,  it would be nice.

I have put `run.flush(timeout_sec

[2020-10-15 13:14] chengyu-liu-cs commented on #1189
Here are some updates.
The same codes when I ran from AML compute, I got similar but not exactly the same error message.

`

[2020-10-15T12:11:57.322103] The experiment failed. Finalizing run...
[2020-10-15T12:11:57.322179] FinalizingInRunHistory is not called
Cleaning up all outstanding Run operations, waiting 300.0 seconds
2 items cleaning up...
Cleanup took 0.21553349494934082 seconds
Traceback

[2020-10-15 16:50] chengyu-liu-cs opened #1190 "wait_for_deployment(show_output=False, timeout_sec=None)"
[Enter feedback here]
What is timeout_sec default value ? It seems when it is None, it does not raise error but when certain secs passes, it raises errors.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 504498ae-210a-59a9-b329-5bde1f900b6b
* Version Independent ID: 18a2860b-9b4c-89e5-beaa-ef44d2c24352
* Content: [azure

[2020-10-16 17:22] harneetvirk commented on #1182
@j-martens

[2020-10-17 06:06] CloudBreadPaPa commented on #410
+1
@yanrez @j-martens any plan of "delete()" method for published pipeline?
https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.publishedpipeline?view=azure-ml-py

[2020-10-17 06:08] lostmygithubaccount commented on #1186
@vizhur where is the Python environment for this image? and how would I find this out?

[2020-10-17 11:44] vizhur commented on #1186
sorry Cody, I didn't get your question. What is the python environment you are talking about?

[2020-10-17 14:24] lostmygithubaccount commented on #1186
I'm trying to use this image (or an image) in a dockerfile, running some additional pip commands on top:

[code]

I start a run on my compute target, SSH into the node, and can only find `/usr/bin/python` and `/usr/bin/python3`, neither of which have the pip packages I installed:

![image](https://user-images.githubusercontent.com/54814569/96339462-b6c5b780-1049-11eb-9cdf-c97e893c9f15.png)

So I n

[2020-10-17 14:37] vizhur commented on #1186
AzureML base images are not intended to be used like that, unfortunately... we are planning to make some improvements there to extend the use cases but obviously no ETA ;)

With the conda installed its interpreter becomes a default python, I think. You can try to python -m pip install mydeps. I would not recommend that either because it will install into conda base environment that is bad by defin

[2020-10-19 00:00] scign commented on #198
Just to share my situation: I had jupyter running in one conda environment but using a kernel from a different environment. The azureml-sdk[notebooks] package has to be installed in the environment where jupyter is installed, not the kernel you're running.

[2020-10-19 07:12] swanderz commented on #198
@scign good to know! `conda` is amazing, but quirks like this can be maddening...

[2020-10-19 13:09] josesriver opened #1194 "Ml pipeline failed - AutoMLStep"
Hi,

I am running a 5-step pipeline. The third step is an AutoMLStep. This step trains a regression task and when it seems that all iterations are completed, the pipeline fails and the remaining steps are not executed.

The execution log is the following:

...
[2020-10-19 12:30:24Z] Job is running, job runstatus is Running
[2020-10-19 12:30:39Z] Job is running, job runstatus is Running
[2020-10-19

[2020-10-19 13:22] scign commented on #198
More of a thing about jupyter environments than conda! It allows you to run kernels in other environments which is awesome but the widgets need to be installed in the environment in which you're running the notebook, not the environment in which you're running the code - which makes sense really. Definitely good practice to separate the two so it's a "quirk" I'm willing to live with.

[2020-10-19 17:45] CESARDELATORRE commented on #1194
Adding some folks from the team: @rtanase, @anupaaggarwal, @swatig007 to follow up on this issue.

[2020-10-19 18:25] swatig007 commented on #1194
@sonnypark this failure is coming from Pipelines service. Do you know who from Pipelines team can take a look?

[2020-10-19 18:58] chengyu-liu-cs commented on #1189
Is there anyone looking into this ????

[2020-10-19 19:34] chengyu-liu-cs opened #1195 "Could not find user defined environment variables in the built image"
Hi,

I have been using webservice to deploy trained model and everything works fine. But I had issues when I built a docker image instead of deploying models as webservice.  The issue is related to `Environment.environment_variables`.

I have created environment variables and passed to Environment object of InferenceConfig instance. These variables were used to load models. I was using the same co

[2020-10-19 20:52] chengyu-liu-cs opened #1196 "Are variables defined in Environment.environment_variables available from built docker images ?"
[Enter feedback here]
Hi

The documentation for `Environment.environment_variables available` is not clear. What does it mean by "These environment variables are set on the process where the user script is executed." what is "user script" ?

I have been using this feature to store some environment variables which can be loaded by running `os.getenv`, for example in score.py file. It works well whe

[2020-10-19 21:06] sonnypark commented on #1194
This is known issue which we are currently deploying the fix.

[2020-10-19 21:10] clthorre commented on #1186
Hi @vizhur can you help me understand the way the AzureML base images are indented to be used?

My current dockerfile is like this:
`FROM mcr.microsoft.com/azureml/openmpi3.1.2-cuda10.2-cudnn7-ubuntu18.04
RUN apt-get update
COPY requirements.txt /tmp/requirements.txt
RUN pip install torch torchvision
RUN pip install tensorboard && \
    pip install future==0.17.1
RUN pip install nltk && \
    pyth

[2020-10-19 21:20] j-martens commented on #1182
@lostmygithubaccount owns this page. thank you. Cody?

[2020-10-19 21:22] lostmygithubaccount commented on #1182
@harneetvirk this is on us (not docs team) to fix

[2020-10-19 21:30] marciomocellin commented on #1167
I have the same problem.
Windows
AzureML SDK Version:  1.16.0

[2020-10-19 21:31] lostmygithubaccount commented on #1167
@myshylin @SturgeonMi any updates?

[2020-10-20 07:37] josesriver commented on #1194
Thank you all!! @sonnypark, do you have an estimate of when it will be ready?

[2020-10-20 10:02] jarandaf commented on #1151
I faced this issue in the past (there was a release that broke some package versions). Upgrading to 1.16.0 should solve the issue.

[2020-10-20 13:37] chethanchandran commented on #518
Thanks, was looking for the solution, this worked !! However, I had another error " [WinError 5] Access is denied:" This was solved by adding --user at the end of your command.

[2020-10-20 13:50] zkhalid123 commented on #1151
I got in touch with Azure support. Turns out the issue was due to some update they pushed. It got resolved the next day.

[2020-10-20 13:50] #1151 closed

[2020-10-20 14:17] vizhur commented on #1196
closing as a dup of https://github.com/Azure/MachineLearningNotebooks/issues/1195

[2020-10-20 14:17] #1196 closed

[2020-10-20 14:21] vizhur commented on #1195
Environment.environment_variables are runtime variables, that is a bit confusing :(.

Documentation is pretty clear though, variables are not a part of container image but will be available for execution
![image](https://user-images.githubusercontent.com/21002116/96599362-d6651600-12bd-11eb-967b-3f1201cb5149.png)

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment.en

[2020-10-20 14:21] #1195 closed

[2020-10-20 17:07] chengyu-liu-cs commented on #1195
@vizhur Could you provide more information if you also feel it is confusing ? Not just copy paste the document which I already checked and didnot feel it provides any valuable information ? The script could be anything that a user write, for example a scoring file is also a script. Please provide more precise.  Can you at least try to explain where these environment_variables are stored and how th

[2020-10-20 19:33] harneetvirk commented on #1182
The broken links are removed/fixed: https://github.com/Azure/MachineLearningNotebooks/pull/1198

[2020-10-20 19:33] #1182 closed

[2020-10-20 19:55] SturgeonMi commented on #1167
@myshylin Could u help to provide the status of the fix? Thanks!

[2020-10-20 21:46] justinormont commented on #1174
@BillmanH -- thanks for your patience. We are still looking in to the issue.

[2020-10-21 18:25] amitsethitx commented on #1102
I am also seeing the same problem . Any updates on this issue ?

[2020-10-21 18:40] tracychms commented on #1102
@amitsethitx when you use tabular dataset as ParallelRunStep input, the data you will get in run(mini_batch) is a locally accessible pandas dataframe. Below is a sample entry script for your reference:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/parallel-run/Code/iris_score.py

[2020-10-21 19:19] pieths commented on #1174
@BillmanH, could you please try using the latest SDK (1.16), if you are not already, and see if that resolves the issue. The `OutputFileDatasetConfig` class is marked as experimental and may have had some issues in earlier versions of the SDK. Internal testing of the code in question with the latest SDK did not produce the error and the target price column was correctly set to float.

Note, the on

[2020-10-21 21:12] amitsethitx commented on #1102
Hello Tracy - I tried but getting same errors.

2020-10-21T21:08:45.380600] The experiment failed. Finalizing run...
[2020-10-21T21:08:45.380667] FinalizingInRunHistory is not called
Cleaning up all outstanding Run operations, waiting 900.0 seconds
1 items cleaning up...
Cleanup took 0.0944056510925293 seconds
Traceback (most recent call last):
  File "driver/amlbi_main.py", line 70, in <module>

[2020-10-21 22:13] RileyMShea commented on #959
@vizhur Can this be-reopened now that azureml now officially supports python 3.8?

[2020-10-21 23:39] myshylin commented on #1167
For now the azureml-dataprep==2.3.4 has the fix for `Dataset.File.upload_folder(...)` call (not for the Datastore one).
To use it please run `pip install --force-reinstall azureml-dataprep==2.3.4` after installing azureml-core or azureml-sdk.

The fix for azureml-core and datastore upload should be released on Monday (10/26).

[2020-10-22 04:14] eedeleon commented on #1189
Hi, we have a solution for the timeout and are actively looking into the missing attribute.

To avoid the timeout, we suggest explicit run.upload_folder calls. This avoids our safety precautions for users with the auto outputs/ upload.

run.upload_folder("artifact_path_of_your_choosing", "folder_to_upload")  # The artifact path can be prefixed with outputs/

[2020-10-22 04:26] eedeleon commented on #1189
Actually, thanks for uncovering a bug in the code but I do not think the first issue will happen if you remove the wait_for_completion call from the remote script.

wait_for_completion is meant to be called from the script or notebook that kicks off the job, as a way of synchronizing code with the completion of that run, with some added logs to help during that process.

Thanks for uncovering this

[2020-10-22 08:16] chengyu-liu-cs commented on #1189
Thx @eedeleon  for the comments. It would be nice if these information is also included in SDK document.

I just ran the experiment twice based on your suggestion, ie., removing `wait_for_completion` from the kicked-off script. But only experiment failed once the error message is the same. Here are more details:

I submitted a ScriptRunConfigure and wait for completion
`
src = ScriptRunConfig(sour

[2020-10-22 08:59] chengyu-liu-cs commented on #1195
Can anyone reopen this ?

[2020-10-22 11:36] NSVR57 opened #1199 "power consumption calculation"
I am inferencing certain AI models on PB6s family by deploying webservice. is there any workaround or any API to do the same.

[2020-10-22 12:08] vizhur commented on #959
@RileyMShea AutoML runtime still doesn't support 3.8

[2020-10-22 12:31] vizhur commented on #1195
@chengyu-liu-cs sorry for delayed response. Sorry to hear that our documentation does not provide any valuable information to you. The confusion I meant is that Environment object has some runtime properties that we can't deprecate with 1.x version for backward compatibility. Regarding environment variables, these are not a part of the docker image and will be set by execution for docker runs. By

[2020-10-22 13:02] lostmygithubaccount commented on #1199
hi @NSVR57, I don't understand what you're asking for - can you elaborate?

[2020-10-22 13:59] NSVR57 commented on #1199
Hi @lostmygithubaccount

I am trying to inference certain models in different cards(Specifically on intel Arria). after i inference one  model on this card. i just want to calculate total power consumption by this card. i have azure paid subscription and i am inferencing on Pb6s family. is there any way around for this?

[2020-10-22 14:00] lostmygithubaccount commented on #1199
@Bozhong68 can you help with this?

[2020-10-22 14:18] eedeleon commented on #1189
We will make sure to update the docs as well.

Current:
run = Run.get_submitted_run()

learning_pipeline(X_train, X_test, y_train, y_test) # doing training and dumping models to the outputs folder

run.flush(timeout_seconds=600)

Target:
run = Run.get_submitted_run()

learning_pipeline(X_train, X_test, y_train, y_test) # doing training and dumping models to the (tmp_folder) not outputs
run.upload_

[2020-10-22 17:20] mavsun opened #1201 "Is there a way to un-register a custom environment in Azure ML studio?"
Hi,

I was trying to deploy a xgboost classifier model and encountered some issues.
It says that it could not locate the model despite the fact that I registered it and put in the same directory as the score.py file. I reckon there may be something wrong with my environment variable, so I wanted to start from scratch, then I realized that there is no 'unregister' in the environment class. Is there

[2020-10-23 15:06] jarandaf opened #1202 "Custom datastores are not mounted in AML compute instances"
When I use a non-default datastore and a `PipelineData` object as output of a `PythonScriptStep` (used for model training) I get the following error when trying to save model predictions:

`FileNotFoundError: [Errno 2] No such file or directory: '/mnt/batch/tasks/shared/LS_root/jobs/***/azureml/01a92f9b-91a6-4675-a995-0bc63e196071/mounts/foo/azureml/01a92f9b-91a6-4675-a995-0bc63e196071/predictions

[2020-10-23 15:42] saachigopal commented on #1201
Currently, un-registering/removing environments is not supported.

[2020-10-23 16:45] BSofo opened #1203 "OutputFileDataset requires libfuse as dependency?"
I recently upgraded my azureml-sdk to 1.16.0 and was running my PythonScriptStep roll.py spark dataset. But kept getting errors about libfuse.

- Region: westus2
- Run Id: `4ef30c7f-cf30-48a3-9d0c-a0e6882958ef`
- PipelineRun Id: `0e36abc1-afe3-4e56-b316-d8617d65149c`

`70_driver_log.txt`

[code]

Here is my spark-requirement.txt file:
[code]
[packages in my local environment](https://gist.github.c

[2020-10-23 17:05] lostmygithubaccount commented on #1203
I believe you'll need to update libfuse in the base docker image or otherwise install it in the environment you're using

[2020-10-23 17:40] swanderz commented on #1203
@lostmygithubaccount thanks for jumping in! What's weird is that we've been using [MML Spark's Docker image](https://hub.docker.com/_/microsoft-mmlspark-release), `microsoft/mmlspark:0.16` , as a base image for a `PythonScriptStep` that reads from and writes to`PipelineData` for about a year now. But now because we're (trying) to use `OutputFileDatasetConfig`, this means our base docker image requ

[2020-10-23 17:42] lostmygithubaccount commented on #1203
I see - so it sounds like `PipelineData` did not require `libfuse`, but the new `OutputFileDatasetConfig` does. Will let @MayMSFT and data team comment

[2020-10-23 18:01] justinormont commented on #1174
@pieths -- thanks for the deeper investigation.

@BillmanH -- I'm going to close the issue. Feel free to reopen if you continue encountering the issue with latest SDK version (1.16). As @pieths mentioned, using the parquet format should also work as the format internally stores the datatypes for each column, whereas CSV/TSV files require auto-detection or user specified datatypes.

Since the label

[2020-10-23 18:05] swanderz commented on #1203
@rongduan-zhu

[2020-10-23 18:17] rongduan-zhu commented on #1203
@swanderz the reason we need libfuse is that we mount inside the user's container. We are working on a new architecture to remove this restriction but until then, libfuse is needed in the docker image in order for mount to work.

Looking at the stack trace above, it looks like the input is also using dataset and the mode is set to mount. One way to avoid this issue is to use download mode and uplo

[2020-10-23 18:27] #1174 closed

[2020-10-23 23:04] MayMSFT commented on #1202
Hi @jarandaf

Can you share how you defined the pipelinedata object?

[2020-10-24 06:20] jarandaf commented on #1202
`predictions_output = PipelineData('predictions', datastore=blob_datastore).as_dataset().register(predictions_name)`

[2020-10-25 09:36] carloshvp opened #1204 "Inconsistency in recommended dependency management tool"
Hello,
[this Tutorial](https://docs.microsoft.com/en-us/python/api/overview/azure/ml/install?view=azure-ml-py&preserve-view=true) to get started with the AzureML SDK shows the pip commands to manage the azureml-sdk dependency, although the how to guide to [Set up dev environments](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment) recommends conda. This would not

[2020-10-26 07:30] chengyu-liu-cs commented on #1195
@vizhur Thank for the kind reply.  So then is there a plan to include these environment variables in docker image not use them as runtime properties?

[2020-10-26 07:40] chengyu-liu-cs commented on #1189
@eedeleon I've resolved this issue by running training in a remote AML compute.

I thought removing `wait_for_completion(show_output=True)` from training script would resolve the issue.

I will also try `run.upload_folder("outputs/", "tmp_folder")` later.
Thank you @eedeleon

[2020-10-26 09:14] chengyu-liu-cs opened #1205 "webservice URL location part is not consistent in ACIWebservice"
Hi,

Last week I noticed that the URL of a deployed aciwebservice is not the same as before, ie., location part was not the same as before. It was always `http://xxx-classification.northeurope.azurecontainer.io/score`, but now it is `http://xxx-classification.westus.azurecontainer.io/score`. Based on documentation, [The Azure region to deploy this Webservice to. If not specified the Workspace loca

[2020-10-26 13:56] vizhur commented on #1204
@carloshvp can't see any inconsistency here. AzureML recommends to use conda for environment isolation. From any python environment the only way to get AzureML python SDK is pypi, ie. `pip install`. AzureML Python SDK is not published on any conda channel.

[2020-10-26 13:56] #1204 closed

[2020-10-26 13:59] vizhur commented on #1195
@chengyu-liu-cs there are no current plans to support that for 1.x SDK unfortunately. Please follow our release notes for the updates
https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes

[2020-10-26 15:47] carloshvp commented on #1204
Thank you @vizhur , I see your point.

Wouldn't it be reasonable to publish the AzureML python SDK in Conda if this is the recommended dependency management tool?

[2020-10-26 16:36] vizhur commented on #1204
Conda as a dependencies management tool perfectly manages conda and pip dependencies. Our documentation pages recommend to use it for isolated environment creation, we would never limit users on their preferred way to install or manage environment or dependencies.

[2020-10-26 18:55] tracychms commented on #1102
The issue was resolved offline. An incorrect entry script was used and caused error in the init() function.

[2020-10-26 19:00] shivanissambare commented on #1102
Thanks @tracychms
closing the issue, pleas let us know in case you need more help.

[2020-10-26 19:00] #1102 closed

[2020-10-26 20:24] salilbapat commented on #743
Hi, this issue still exists. A tracking backlog item has been created, but not yet been scheduled. I will update the thread when this gets scheduled

[2020-10-26 20:30] salilbapat commented on #1108
Hi, this decision was taken by the product team after receiving lot of feedback about having to build new images for each tiny change that needs to be deployed. Hence AML now keeps the same base image but mounts models and scripts by default. As a replacement, model.package is available to build the image. Next semester, AzureML will support a Bring Your Own Container support. With model.package a

[2020-10-26 20:30] #1108 closed

[2020-10-26 20:58] #750 closed

[2020-10-26 20:58] jpe316 commented on #750
notebooks have been removed

[2020-10-26 22:22] tmccrmck commented on #1164
I ran with azureml.core version 1.16.0 and everything worked. What version are you using?

I believe `azureml-monitoring` should only be needed if you are doing `config = AksWebservice.deploy_configuration(collect_model_data=True, enable_app_insights=True)`

[2020-10-27 00:29] MayMSFT commented on #1202
Hi @jarandaf

I cant reproduce the issue. Here is the code sample i used:
![image](https://user-images.githubusercontent.com/47834041/97242301-c0b98a00-17b0-11eb-8784-23c2e858975b.png)

my sdk version: 1.16.0

[2020-10-27 02:32] Bozhong68 commented on #1164
@frvigano azureml-monitoring library has been there since we have ModelDataCollector a while ago, if you enable collect_model_data then the library will been needed. I will close the issue now, please let us know if you still have issues.

[2020-10-27 02:32] #1164 closed

[2020-10-27 07:13] NSVR57 opened #1207 "0/1 nodes are available: 1 Insufficient microsoft.com/fpga_catapult.""
Hi Unable to deploy webservice with Pb6s family. getting following error.

[code]

when i print get_logs(), I am getting the following message.

`'There are no backend pods available for this service. No logs could be retrieved.'`

[2020-10-27 14:52] ekapti opened #1208 "Azure Managed SQL Instance As a DataStore"
I am trying to connect a database within the Managed SQL Instance as a datastore. Managed Instance is not among the datastore type options so I tried to select the Azure SQL database and "enter manually" option for account selection. When I enter the full hostname of the managed instance which is something like "xxx-xxxx-xxx-xxxx-sql.45bsa4569.database.windows.net" it complaints due to dot "." tha

[2020-10-27 18:56] cartacioS commented on #1149
@jtobelem-simplon can you let us know if you are still facing the issue described above? If not, I will close this issue.

[2020-10-27 18:58] cartacioS commented on #1189
Hi @chengyu-liu-cs can you let us know whether or not you received the solution to your problem and if we may close this issue?

[2020-10-27 19:42] sonnypark commented on #1194
It has been deployed to all prod!

[2020-10-27 23:18] #743 closed

[2020-10-27 23:27] vaidya-s commented on #805
We are tracking this as part of the product backlog and this capability will be available by end of December @Bozhong68 FYI

[2020-10-27 23:27] #805 closed

[2020-10-27 23:31] vaidya-s commented on #1019
@Bozhong68

[2020-10-27 23:33] #1138 closed

[2020-10-27 23:33] vaidya-s commented on #1138
Closing based on the above information

[2020-10-27 23:39] salilbapat commented on #850
Those notebooks were old and not fully working. they have been removed

[2020-10-27 23:39] #850 closed

[2020-10-27 23:41] vaidya-s commented on #1190
The default timeout is 20 mins. @Bozhong68 to update the documentation.

[2020-10-27 23:41] #1190 closed

[2020-10-27 23:45] #1168 closed

[2020-10-28 05:21] Bozhong68 commented on #805
CLI support is already available in the latest SDK.

[2020-10-28 05:27] Bozhong68 commented on #1019
@Larleyt for #1, deleting environment from workspace is not supported today, but we plan to add archive support in the future. For #2, some replicas might not be created due to compute resource constraint, please check VM SKU resources vs. replica CPU/memory configuration to figure out constraint. For your inference time testing, those numbers seems right to me. I assume you have enabled autoscale

[2020-10-28 05:30] Bozhong68 commented on #1190
The default timeout is 20 mins for AKS deployment, and 30 mins for ACI deployment.

[2020-10-28 08:32] josesriver commented on #1194
Perfect! Thank you! Then I close the issue.

[2020-10-28 08:32] #1194 closed

[2020-10-28 17:09] mavsun opened #1210 "service.run() reading data as file directory, XGB"
Hi all,

I've been testing an Azure ML endpoint for a XGBoost classification model.
I am trying to pass my test input data to the endpoint but the response indicates that it has been trying to read the data itself as the directory to the data. The response is shown below:

`/workspace/dmlc-core/src/io/local_filesys.cc:86: LocalFileSystem.GetPathInfo: {"data": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.

[2020-10-28 17:54] myshylin commented on #1167
The issue should be fixed now for both datastore and dataset upload with the latest version:
[code]

[2020-10-28 18:08] mavsun commented on #1210
Solved it... didn't know I had to de-serialize the input in my scoring file. Loaded the input payload with JSON, now it works file.

[2020-10-28 18:08] #1210 closed

[2020-10-28 22:59] gvashishtha commented on #911
Fix was made to the documentation (should go out with next SDK release). This issue can be closed.

[2020-10-28 23:00] #911 closed

[2020-10-29 03:26] Bozhong68 commented on #1150
@brberton-msft The behavior is by design. We think that Postman might be running through the system proxy that has access through NSG, where Python request and AML SDK won't use system proxy by default. Closing the issue now but feel free to reopen if you have additional question.

[2020-10-29 03:26] #1150 closed

[2020-10-29 11:26] singhalsunil065 commented on #833
I'm trying to accomplish pretty much a similar thing, with one change that i have relative imports in my files.
Due to relative imports, scoring file fails with an error:

iles\modules structure (a simplified version):

project
->src
-> scoring.py
-> module1.py
-> common
-> module2.py, etc
-> init.py
-> init.py
-> configs
-> conda_env.yml

In scoring.py,
from .module1.py import SomeClass
..
..

In

[2020-10-29 12:04] Bozhong68 commented on #833
@jonringer

[2020-10-29 17:28] jacobdanovitch opened #1212 "On-Prem VMs as Compute Targets"
The [documentation](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-attach-compute-targets#vm) says that we can attach remote VMs such as _"an Azure VM, **a remote server in your organization, or on-premises**. Specifically, given the IP address and credentials (user name and password, or SSH key), you can use any accessible VM for remote runs."_

However, in both the studio as well

[2020-10-29 20:02] kchaitanyabandi opened #1213 "[Urgent Help Needed] How to schedule Batch Scoring pipelines with varying input data folders using DatasetConsumptionConfig?"
Hi,

I successfully built, ran and published a Batch Scoring pipeline that takes in dynamic input datasets at the time of submission. The datastore I used was obtained from an Azure File Share.

I wish to schedule this pipeline based on changes made to the Datastore. I know that the change based schedule only supports the blob containers and not file shares, also the `ParallelRunStep` for Batch Sc

[2020-10-30 11:40] #1189 closed

[2020-10-30 15:30] corticalstack commented on #1003
Getting same issue trying to use "from azureml.opendatasets import Diabetes"  with error "Unsupported Linux distribution ubuntu 20.04". Tried suggested by @tot0 but didnt resolve:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004-

[2020-10-30 21:13] tylercmsft opened #1215 "Error - Installing SDK for Python"
Hello - I've setup a new environment in my local Anaconda environment (Python 3.).  From the terminal, I issue pip install azureml-sdk.  I receive an error -
azure-cli-core 2.8.0 requires msal~=1.0.0, but you'll have msal 1.5.1 which is incompatible.
azure-cli-core 2.8.0 requires msal-extensions~=0.1.3, but you'll have msal-extensions 0.2.2 which is incompatible.

Not being sure if this is a benig

[2020-10-30 21:14] tylercmsft opened #1216 "Error with local Python SDK Install."
Hello - I've setup a new environment in my local Anaconda environment (Python 3.).  From the terminal, I issue pip install azureml-sdk.  I receive an error -
azure-cli-core 2.8.0 requires msal~=1.0.0, but you'll have msal 1.5.1 which is incompatible.
azure-cli-core 2.8.0 requires msal-extensions~=0.1.3, but you'll have msal-extensions 0.2.2 which is incompatible.

Not being sure if this is a benig

[2020-10-31 01:47] lostmygithubaccount commented on #1216
duplicate of #1215, closing

[2020-10-31 01:47] #1216 closed

[2020-10-31 01:49] lostmygithubaccount commented on #1215
the easiest would probably be to make a new conda/python virtual environment and try `pip install --upgrade azureml-sdk` in that

it seems like you have some conflicting packages in your current Python environment. you could try to manually fix them, but i'd recommend simply using a fresh Python environment

[2020-10-31 02:17] tylercmsft commented on #1215
Hello, thanks for the reply.  I did start with a new environment.  I went ahead and added the --upgrade to the command; this resulted in the command completing without error.  But, I am still getting an error in my Jupyter network when I try to run import azureml.core (No module named 'azure.mgmt.storage).  I can see the azure-mgmt-storage package in the Anaconda Navigator.  Not sure what do next.

[2020-10-31 20:28] SturgeonMi commented on #1208
Hi Engin,
Azure SQL MI is not officially supported per [doc ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-data#supported-data-storage-service-types).
          It's possible to create a datastore on Azure SQL MI, by providing connection string to API [register_azure_sql_database,](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.datastore.datastore?vi

[2020-11-02 00:50] Bozhong68 commented on #1199
@NSVR57 hi there, we don't expose any API for FPGA power consumption directly. If you have any questions about FPGA card power consumption, we are happy to chat with you offline, my email bozhlin@microsoft.com. Closing the issue for now.

[2020-11-02 00:50] #1199 closed

[2020-11-02 02:58] BillmanH commented on #1174
I finally got around to re-running in the `1.16.0` version. Still crashing. However the SDK may have already moved on by now so this may no longer be relevant. No worries, no need to re-open. I've moved on to other solutions.

Here is the new 70 log:
[code]

[2020-11-02 09:53] corticalstack commented on #1003
Had this error again trying to access my own dataset in a storage account blob, error as follows. Code is being run as a local jupyter notebook on Ubuntu 20.04. Code is the "day1-part4-data" notebook:
https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/get-started-day1/day1-part4-data.ipynb

which fails on line:
`dataset = Dataset.File.from_files(path=(datastore, 'datasets/cifa

[2020-11-02 10:48] jarandaf opened #1218 "PipelineParameter name case in DatabricksStep is not preserved in Databricks job run"
If I use a PipelineParameter in a DatabricksStep, the name case is not preserved later on in Databricks job arguments (parameter names are always in uppercase while I define them in lowercase).

[2020-11-02 11:04] jarandaf commented on #749
@rongduan-zhu  does this work for DatabricksStep? I can't seem to make it work and all examples I see use PythonScriptStep.

[2020-11-02 11:09] jarandaf opened #1219 "PipelineParameter for dynamic input datasets in DatabricksStep"
Is this supported? I can't seem to make it work and [this](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-showcasing-dataset-and-pipelineparameter.ipynb) example always uses PythonScriptStep.

[2020-11-02 11:24] jarandaf opened #1220 "PipelineParameter default values in DatabricksStep"
It seems only string types are supported. int/float types throw the following error:

[code]

I don't see this behavior when using pipeline parameters in `PythonScriptStep`.

[2020-11-02 14:53] lostmygithubaccount commented on #1215
from Jupyter, can you run:

[code]

and check that you have the correct versions of azureml-core and other packages installed? If not, can you confirm your Jupyter session is using the same kernel as where you have the packages installed?

If not, can you provide more details like OS and anything else we'd need to reproduce this?

[2020-11-02 15:17] tylercmsft commented on #1215
Hello - Quick update.  I went ahead and installed the latest Anaconda build for Windows (it comes with Python 3.8.3).  After doing this, I was able to install/verify (i.e. import azureml.core) without any issues.  The (prior) build of Python that was giving me problems was 3.7.x).  Hopefully, that will be helpful to others, but I think we can close this out.

[2020-11-02 15:19] #1215 closed

[2020-11-02 16:21] classicboyir opened #1222 "Fix the dataset mount script in ScriptRunConfig"
Passing a dataset.as_mount() to ScriptRunConfig the way provided in this page raises the `TypeError: Object of type 'DataReference' is not JSON serializable` exception. Instead, the script should add one more step to make it serializable in the ScriptRunConfig as elaborated in this stackoverflow [response](https://stackoverflow.com/questions/58019308/scriptrunconfig-with-datastore-reference-on-aml

[2020-11-02 18:01] SturgeonMi commented on #1177
We are thinking about recommending to use Dataset in pipelines.
If there is no other questions, will close it here.
Thanks!

[2020-11-02 18:40] SturgeonMi commented on #1173
@BillmanH  It seems it should be "separator='\t'", rather than '/t'.
\t is the escaped tab character.

[2020-11-02 18:42] BillmanH commented on #1173
?

Wow. Ok. Can't believe I never saw that before.

[2020-11-02 18:42] #1173 closed

[2020-11-02 19:06] tot0 commented on #1003
Hi @corticalstack, could you try running the below python snippet in your Ubuntu 20.04 environment?
[code]

This should reveal what dependencies missing for Datasets.

For installing .NET Core 2.1 ahead of time did you install `dotnet-runtime-3.1` or `dotnet-runtime-2.1`?

Cheers.

[2020-11-02 19:54] corticalstack commented on #1003
@tot0 Wrt .NET Core 2.1, I believe it was 3.1 as per:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004-

Within a Jupyter notebook I added the 3 lines as requested, then executed:

`dataset = Dataset.File.from_files(path=(datastore, 'datasets/cifar10'))`

And got what seems like multiple errors trying to log in DEBUG mode:

`DEBUG - Could not load run context RunEnvironmentEx

[2020-11-03 01:06] balapv commented on #1220
The error says that you cannot do a replace on an int object - which means that the param you are adding is an int.
Can you please provide some more details of what you are trying to do here?

[2020-11-03 01:07] balapv commented on #1218
Can you please provide a sample?

[2020-11-03 08:59] gilahenry commented on #865
In our case, we used the parent's id (the submitted pipeline current run id instead of the step id) :
[code]

[2020-11-03 09:53] gilahenry opened #1223 "Scheduled Pipeline - run build sometimes failing - automatic resubmit"
Hi,
We have some Scheduled Pipelines runs that sometimes (not often) fail because of a reason that's independent from our code (e.g., a docker pull failure, or a conda dependency that can't get installed because of a server error).
We can use the GUI to resubmit these runs and they succeed.

I was wondering if we could programmatically let Azure ML know that if a run fails, it needs to automatical

[2020-11-03 11:56] jarandaf commented on #196
I see this is planned for version 2.0. What is the release date estimate?

[2020-11-03 12:12] marcindulak opened #1224 "Different default visual settings of RunDetails for HyperDrive in AzureML studio and vscode"
[Enter feedback here]

The visual appearance of `RunDetail` differs between AzureML studio and vscode for [/how-to-use-azureml/ml-frameworks/scikit-learn/train-hyperparameter-tune-deploy-with-sklearn](https://github.com/Azure/MachineLearningNotebooks/tree/95072eabc2ca702f9b0439d04c53554edb09977c/how-to-use-azureml/ml-frameworks/scikit-learn/train-hyperparameter-tune-deploy-with-sklearn).

It would

[2020-11-03 15:01] lostmygithubaccount commented on #1223
I don't think there's anything built into the product and I wouldn't expect it anytime soon, however I'll let the Pipelines confirm/deny.

In the short term, I'd recommend working around this by setting up a similarly scheduled ML Pipeline, Azure Function, GitHub Action, etc. which runs a Python script checking if the run failed, possibly determining why, and submitting a rerun.

[2020-11-03 15:03] lostmygithubaccount commented on #196
a limited private preview is starting this month, public preview date is not confirmed - @jpe316 @danielsc

[2020-11-03 15:18] tylercmsft commented on #1149
Hello, I tried using the automl_setup.cmd file above to create a conda environment.  2 observations/questions -
1) This installs Python 3.6.7.  Any reason such an old version of Python is used?
2) When trying to connect to a workspace, Workspace.from_config(), I receive an error - cffi library '_openssl' has no function, constant or global variable named 'CRYPTOGRAPHY_PACKAGE_VERSION'.  Doing a bi

[2020-11-03 18:47] tot0 commented on #1003
@corticalstack Hmmm, those RunContext debug logs make sense from the Dataset calls, they shouldn't have happened during the `runtime.ensure_depedencies()` call. What version of `dotnetcore2` is installed in your environment?
Would it be possible too just see the outcome of running the 3 lines I shared, and not the `from_files` call? Thanks!

Unfortunately the .NET Core docs don't have any specific

[2020-11-03 18:49] jeff-shepherd commented on #1149
@tylercmsft automl_setup.cmd installs Python 3.6.7 in order to support all the dependencies for a full local automl environment for training and inference.  If you just need to submit remote runs, you can just install azureml-sdk, which supports remote training and inference.  This support Python 3.7 or 3.8.  The sample notebook [auto-ml-regression-model-proxy.ipynb](https://github.com/Azure/Machi

[2020-11-03 20:59] tylercmsft commented on #1149
Hello, thanks for the reply; I am running on Windows; the conda version is 4.8.3.  I cloned the MachineLearningNotebooks repository yesterday (last line of .yml file - - -r https://automlcesdkdataresources.blob.core.windows.net/validated-requirements/1.17.0/validated_win32_requirements.txt [--no-deps].  My goal is to train local.

My environment also has openssl 1.0.2.u.  But, that seems to be the

[2020-11-03 23:03] buswrecker opened #1227 "deployment/production-deploy-to-aks/production-deploy-to-aks.ipynb - needs to be updated when ACR & AML is in a vNET/PrivateEndpoint"
A comment should be added to the docs to state that if PrivateEndpoints /Vnet for AML is enabled,

An internal server 500 would occur if trying to reach
`myenv.docker.base_image = "mcr.microsoft.com/azureml/o16n-sample-user-base/ubuntu-miniconda"`

An example of the error message

[code]

Section of code that needs to be updated in [production-deploy-to-aks](https://github.com/Azure/MachineLearnin

[2020-11-04 08:59] akosb commented on #1136
This issues should not be closed yet, the [documentation](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.run(class)?view=azure-ml-py) is still not updated.

[2020-11-04 16:40] corticalstack opened #1230 "Run input_datasets parquet to dataframe results in empty dataframe"
In the following merge.py script, used by the nyc-taxi-data-regression-model-building notebook demonstrating azure ml pipelines,
the code `cleansed_green_data = run.input_datasets["cleansed_green_data"]` imports the dataset (printing cleansed_green_data shows dataset attributes).

However when converting to pandas dataframe with `green_df = cleansed_green_data.to_pandas_dataframe()` results in an

[2020-11-04 17:43] corticalstack commented on #1003
@tot0 version installed is `2.1.15` of `dotnetcore2`

The only Jupyter output from the 3 lines you shared is as follows:
`'/home/jp/anaconda3/envs/pybasic383/lib/python3.8/site-packages/dotnetcore2/bin/deps'`

Thanks

[2020-11-04 21:51] jeff-shepherd commented on #1149
@tylercmsft Thanks for the information.

I tested with conda version 4.8.3 and it still worked for me.  So, I don't think that updating would help.

I also checked the openssl error in the log.  The failing line refers to lib.CRYPTOGRAPHY_PACKAGE_VERSION.  lib is imported from cryptography.hazmat.bindings._openssl, which is in the same package.  It looks like there is some corruption of this packa

[2020-11-05 00:14] tot0 commented on #1003
Ok so if `runtime.ensure_dependencies()` returns a path like the one you shared that means it all the dependencies exist locally for .NET Core to run.
`dotnetcore2==2.1.17` is the newest version and upgraded the underlying .NET Core run time to support newer openssl version installed on newer linux distros (Ubuntu 20 included). It has not yet added *full* support for all the dependencies required

[2020-11-05 11:23] spacewaterbear commented on #288
run = exp.start_logging(snapshot_directory=None)

[2020-11-05 14:57] tylercmsft commented on #1149
Hello @jeff-shepherd, creation of a new, named environment seems to be doing the trick!  Thanks for the suggestion.

[2020-11-05 17:40] cartacioS commented on #1149
#please-close

[2020-11-05 17:40] #1149 closed

[2020-11-05 18:15] meyetman commented on #1177
#please-close

[2020-11-05 18:15] #1177 closed

[2020-11-05 18:18] meyetman commented on #1203
Closing this issue #please-close.

[2020-11-05 18:39] meyetman commented on #1202
Closing this issue, but let use know if you are still experiencing this problem. #please-close

[2020-11-05 18:39] #1202 closed

[2020-11-05 18:54] meyetman commented on #1219
Hi @jarandaf, this currently isn't supported but we have made a feature request for it. Thanks!
#please-close

[2020-11-05 19:14] meyetman commented on #1156
Hi @chengyu-liu-cs, we have two features in public preview right now that may work for you. The first is uploading a Pandas Dataframe. It will upload the dataframe, save it to Azure Storage, and then register a dataset (with a new version if needed) for you all in one step. If you change the base dataframe and upload a new version, both the original and new version of the dataset will be saved, wi

[2020-11-05 19:14] #1156 closed

[2020-11-05 19:29] meyetman commented on #1057
The sdk docs have further clarification in the parameters section:
server_name
The SQL server name. For fully qualified domain name like "sample.database.windows.net", the server_name value should be "sample", and the endpoint value should be "database.windows.net".
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.datastore(class)?view=azure-ml-py#register-azure-sql-database-w

[2020-11-05 19:29] #1057 closed

[2020-11-05 19:34] meyetman commented on #1080
This has been updated. #please-close

[2020-11-05 19:34] #1080 closed

[2020-11-05 19:37] meyetman commented on #1132
Retention is provided at the Azure Storage level, where Datasets then respect and follow those settings provided from the Storage level. As @MayMSFT said, stay tuned for future version updates!

#please-close

[2020-11-05 19:45] jarandaf commented on #1187
After many trials and errors I would like to share my findings so that nobody loses as much time as I did.

As described above, the main issue was somehow related to `DatabricksStep` class. The `source_directory` parameter can be problematic and I highly recommend to specify a folder with as few contents as possible (e.g. a directory with a single script, the one to be run by the step).

Since the

[2020-11-05 19:53] meyetman commented on #1097
Closing this issue. If updating to the latest azureml-sdk didn't fix your problem, please let us know.

#please-close

[2020-11-05 19:53] #1097 closed

[2020-11-05 19:59] jarandaf commented on #1220
From what I can see, `DatabricksStep` arguments validation is different than the one performed by a `PythonScriptStep`. The former does not support any other type than `str` for a PipelineParameter default value while the latter does. Can anyone please confirm? Is this the expected behavior?

[2020-11-05 20:04] lostmygithubaccount commented on #1220
that is not expected behavior and should be considered a bug

(it looks as simple as casting value to str in the initial code snippet)

[2020-11-05 20:07] jarandaf commented on #1220
Yeah, that's what I do as a workaround. Moreover I think that other basic types as list should also be supported (right know they aren't).

[2020-11-05 20:32] corticalstack commented on #1003
@tot0 pip uninstalled dotnetcore 2.1.15 and installed latest, all good. Thanks!

[2020-11-05 23:54] YunsongB opened #1231 "AutoML auto-ml-forecasting-beer-remote notebook may fail in the testing run"
In recent release of the azureml-automl-runtime package version 1.17.0, we introduced a bug that may cause the auto-ml-forecasting-beer-remote notebook to fail at the testing run cells. The error is "Submitted script failed with a non-zero exit code;".
![image](https://user-images.githubusercontent.com/39966392/98309151-a042ba00-1f7e-11eb-9e43-a649e76e870f.png)

We have fixed the bug and released

[2020-11-05 23:54] #1231 closed

[2020-11-06 07:32] jarandaf commented on #1218
What do you need exactly? I think the description is quite clear.

[2020-11-06 07:41] jarandaf opened #1232 "azureml python sdk repository?"
Where is the code hosted? I can't seem to find it [here](https://github.com/Azure) while R's [version](https://github.com/Azure/azureml-sdk-for-r) is available.

[2020-11-06 15:42] jarandaf commented on #1232
All right, thank you.

[2020-11-06 15:42] #1232 closed

[2020-11-06 17:55] meyetman commented on #1167
#please-close

[2020-11-06 17:55] #1167 closed

[2020-11-06 18:31] meyetman commented on #1101
Followed up with @sudeepgupta90 offline. We were not able to reproduce this issue. #please-close

[2020-11-06 18:37] meyetman commented on #1089
Here is the example that @MayMSFT referred to https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/pipeline-with-datasets/pipeline-for-image-classification.ipynb

#please-close

[2020-11-06 18:37] #1089 closed

[2020-11-08 12:32] oritzahary opened #1233 "azureml sdk - monitoring module is missing"
Hi, I'm using azureml-sdk version 1.17.0.
and it seems that the monitoring module is missing.

![image](https://user-images.githubusercontent.com/30657315/98464975-fc038200-21ce-11eb-899e-50357054f630.png)

Any idea?
Tnx! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 953cba70-a53e-9d5f-e355-bd1a7e369a26
* Version I

[2020-11-08 13:00] #1233 closed

[2020-11-09 14:32] tailaiw commented on #972
Having the same issue too.

[2020-11-09 18:23] MayMSFT commented on #1208
Thanks for reaching out. Azure SQL MI is not supported at the moment. We added this request to our product backlog and will prioritize accordingly in future release.

[2020-11-09 18:23] MayMSFT commented on #1208
#please-close

[2020-11-09 18:23] #1208 closed

[2020-11-09 19:14] MayMSFT commented on #1222
Hi @classicboyir

dataset.as_mount() should work now by upgrading to the latest SDK version. Can you help confirm?

Thanks

[2020-11-09 20:48] corticalstack opened #1234 "Azureml pipeline graph connection between steps using run_after() really ugly"
When building an Azureml pipeline, the graph for the pipeline shows a line connecting steps that share a common output>input.

If additionally the <step1>.run_after(<step2>) command is specified, you get a second additional connecting line with output named _run_after_output and an input named _run_after_input. I believe these are generated by the site package azureml/pipeline/core/graph.py

`fake

[2020-11-10 06:14] swanderz commented on #972
@tailaiw can you share the SDK version you're on and the control plane code (not the training script but how you submit the run)?

[2020-11-10 19:47] lostmygithubaccount commented on #1227
@Bozhong68

[2020-11-10 20:24] classicboyir opened #1237 "Slow performance issue with the Pytorch Horovod Example"
In the `DataLoader` instantiation step, you need to pass `num_workers > 0` (4 works best for me on a 4 core node) to have a performance higher than the single node execution. Without this parameter passed to the `DataLoader` constructor, the performance is slower than the single `MNIST` example.

Link to the file: [https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml

[2020-11-10 22:55] wei-v-wang commented on #1019
Hi @Larleyt Intel can help address your issue.

For models, especially Keras, we highly recommend end users trying latest TF (and upcoming TF 2.4 release), and run models using the following environment variable:

export TF_ENABLE_MKL_NATIVE_FORMAT=1

If you haven't done so, please try to set the number of OpenMP threads, e.g. export OMP_NUM_THREADS={the number of cores}, and simultaneously set in

[2020-11-11 12:33] Bozhong68 commented on #1019
@Larleyt closing the issue for now, please feel free to re-open if this is not resolved.

[2020-11-11 12:33] #1019 closed

[2020-11-11 12:44] Bozhong68 commented on #1227
@buswrecker Thanks Julian for feedback, this comes just in time as I am working with @DmitryKakurin to get documentation updated. Thanks!

[2020-11-11 12:44] #1227 closed

[2020-11-11 16:27] jacobdanovitch commented on #1212
Hi, is there any clarification on this? If it's not supported as described, I would be happy to try to contribute it.

[2020-11-11 18:01] shbijlan commented on #1014
@RothNRK The documentation for Run class is common to all types of runs including pipeline runs, hyperdrive runs and automl runs. Please refer to: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.authentication.azuremltokenauthentication?view=azure-ml-py

For AzureMLTokenAuthentication, please refer to https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.authe

[2020-11-11 18:18] shbijlan commented on #1187
@jarandaf Thank you for the feedback. I have opened a bug for our team to investigate this scenario. If it is a design change we plan to implement, we will loop it into our planning and release cycle.

[2020-11-11 18:18] #1187 closed

[2020-11-11 18:27] shbijlan commented on #1213
@kchaitanyabandi please refer to the documentation for using Pipelines schedules https://docs.microsoft.com/en-us/azure/machine-learning/how-to-schedule-pipelines

You can also schedule AML pipelines with Azure Data Factory:  https://docs.microsoft.com/en-us/azure/data-factory/transform-data-machine-learning-service

[2020-11-11 18:30] shbijlan commented on #1218
@jarandaf I have opened a bug for this issue. The findings will be shared here.

[2020-11-11 18:36] shbijlan commented on #1220
@jarandaf Thank you for bringing this to our attention. I have opened a work item to address this change. Once approved by our engineering team, it will be taken up in our planning and release cycle.

[2020-11-11 18:42] shbijlan commented on #1223
@gilahenry Thank you for the feedback. We have this feedback in our backlog, however, it is not planned for the near future.

[2020-11-11 18:42] #1223 closed

[2020-11-11 18:54] shbijlan commented on #1234
@corticalstack Thank you for bringing this to our attention. I have opened a work item to investigate this design change. If approved, we will incorporate it into our planning and release cycle.

[2020-11-11 18:54] #1234 closed

[2020-11-11 19:10] MayMSFT commented on #1161
Hi @jarandaf
we dont have a concrete estimate at the moment. Most likely early next year

[2020-11-11 19:10] MayMSFT commented on #1161
#please-close

[2020-11-11 19:10] #1161 closed

[2020-11-11 19:11] MayMSFT commented on #1073
we did the investigation but it's a bug in documentation generation instead of our source code.

[2020-11-11 20:35] shbijlan commented on #1230
@corticalstack Thank you for bringing this to our attention. I am investigating the issue and will update here with my findings.

[2020-11-12 16:03] meeldurb opened #1239 "check if blob already exist before uploading?"
When making a new dataset, i would like to know whether the file already exist on a blob.
Scenario:
I wrote the data "diabetes.csv" to my local workspace, then uploaded in to the blob as "diabetes.csv", and registered the dataset as "Diabetes". I created Version1

Now I unregister the dataset, and delete the local file. In the blob i delete nothing.
Now i create new data, and write it to local wor

[2020-11-12 16:06] lostmygithubaccount commented on #1239
@SturgeonMi

[2020-11-12 23:34] MayMSFT commented on #1239
hi @meeldurb

You can get the console output in the following way. then write logic to parse the information about whether target already exists.
![image](https://user-images.githubusercontent.com/47834041/99009235-8401c880-24fc-11eb-981d-e7e969035824.png)

[2020-11-12 23:48] lostmygithubaccount commented on #1239
is there a way to do that without reading `stdout` like that?

[2020-11-12 23:51] MayMSFT commented on #1239
not through datastore API. But users can use blob API to list the container content.
https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.containerclient?view=azure-python#list-blobs-name-starts-with-none--include-none----kwargs-

[2020-11-13 00:15] jsburckhardt opened #1240 "inputs as parameter"
Hi guys, I'm going nuts, can you confirm if inputs is a parameter?
![image](https://user-images.githubusercontent.com/18494471/99011385-15764680-25a0-11eb-89e3-af2526870b70.png)
also, is the estimator_config a RunConfiguration or a MMLBaseEstimatorRunConfig?
and the MMLBaseEstimatorRunConfig keeps failing with this exception:
![image](https://user-images.githubusercontent.com/18494471/99012023-908

[2020-11-13 00:29] lostmygithubaccount commented on #1240
would it be possible to use a `azureml.core.ScriptRunConfig` and an `azureml.core.Environment` for this? Using estimators is discouraged and on path to deprecation.

there is a curated environment you could potentially build off of named `"AzureML-PySpark-MmlSpark-0.15"`

[2020-11-13 00:55] jsburckhardt commented on #1240
hi mate, I did try using the ScriptRunConfig but it was complaining about `data_references`. Is there an example for Tune hyperparameters using `run_config`? all the examples I can find are using `estimator`.

[2020-11-13 01:18] lostmygithubaccount commented on #1240
all the examples should be updated to use `ScriptRunConfig`, with the recommendation being to use File Datasets instead of data references for download/mounting

one example is here: https://github.com/Azure/MachineLearningNotebooks/blob/91d43bade6a86c6d40cf9f6d78a84f4aa8aae801/how-to-use-azureml/ml-frameworks/tensorflow/hyperparameter-tune-and-warm-start-with-tensorflow/hyperparameter-tune-and-wa

[2020-11-13 14:58] meeldurb commented on #1239
@MayMSFT

[2020-11-13 15:00] meeldurb opened #1241 "@MayMSFT"
@MayMSFT

When I run this my console stops printing things.
cannot even print("hello world")

_Originally posted by @meeldurb in https://github.com/Azure/MachineLearningNotebooks/issues/1239#issuecomment-726811162_

[2020-11-13 15:01] meeldurb commented on #1239
How do instantiate the class? I have no experience with .self things.

[2020-11-13 16:36] v-strudm-msft commented on #1241
Related to #1239

[2020-11-13 19:08] MayMSFT commented on #1241
Hi,

Did you run the last command in the sample to reset  & print normally again?
Here is the tutorial that explained this: https://www.kite.com/python/answers/how-to-redirect-print-output-to-a-variable-in-python

[2020-11-16 22:56] kodonnell commented on #1212
I'd be interested in this too ...

- We often tell customers "if you've already got your own on-prem compute, you can use that so it doesn't cost you anything extra".
- Internally we have grunty GPU VMs, which are obviously more price-competitive than Azure VMs, since we already have them. We can spin up a notebook on that VM and use local compute, but this means we can't do a nice MLOps pipeline

[2020-11-16 23:40] lostmygithubaccount commented on #1212
the long-term solution for on-prem compute is through Azure Arc support, which will enable attaching k8s clusters to AML for job submission

you unfortunately cannot contribute to our examples, docs, SDK, etc. today, but most of it will be open source in v2

[2020-11-16 23:40] jacobdanovitch commented on #1212
That's a great catch, I knew I'd seem something like that at one point. In fact, while your link to the new method seems to suggest it works, I tried it and got this:

[code]

So it seems as though remote compute is no longer possible, unless there's another way I'm unaware of? That would be a huge shame. @kodonnell Have you ran into that error?

In my use case, I have a ton of data in blob storag

[2020-11-16 23:45] jacobdanovitch commented on #1212
I hadn't heard of Arc, neat! I'm mostly clueless on k8s; will this function similarly to the original way, where we can just attach any generic server(s)? Is there a rough timeline?

That's great to hear that it's in the plans and really awesome to hear that it'll be open sourced to whatever extent possible.

[2020-11-16 23:53] lostmygithubaccount commented on #1212
no clue on rough timeline or exactly how it'll function - I've posted this issue internally to the AML Compute team, hopefully they can provide guidance

[2020-11-17 00:56] kodonnell commented on #1212
No, sorry - I've only heard that the new method works from a colleague. Have you tried the old method? It's deprecated, but may still work.

Exciting!

[2020-11-17 01:20] sauryadas commented on #1212
Bringing on prem K8s clusters will be supported through Azure Acr. AML will be able to install an operator on AKS and Arc clusters and DS's will be able to set these compute targets and run training jobs (TF, Py Torch, MPI, Scikit, etc) using the AML SDK .. We started a private preview this week which requires subs allowListing but we are not accepting a lot of customers for the private preview. P

[2020-11-17 02:18] sauryadas commented on #1212
responded

Thanks

Saurya

________________________________
From: Cody <notifications@github.com>
Sent: Monday, November 16, 2020 5:00 PM
To: Azure/MachineLearningNotebooks <MachineLearningNotebooks@noreply.github.com>
Cc: Saurya Das <saudas@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/MachineLearningNotebooks] On-Prem VMs as Compute Targets (#1212)

Assigned #1212<https:

[2020-11-18 06:49] icyblade commented on #1110
See also https://azure.github.io/azureml-sdk-for-r/articles/troubleshooting.html#modulenotfounderror-no-module-named-ruamel

[2020-11-18 10:05] smougel commented on #1003
[code]

NotImplementedError: Unsupported Linux distribution ubuntu 20.10

`pip install dotnetcore2`
Collecting dotnetcore2
  Using cached dotnetcore2-2.1.19-py3-none-manylinux1_x86_64.whl (28.7 MB)
Requirement already satisfied: distro>=1.2.0 in ./.conda/envs/p8/lib/python3.8/site-packages (from dotnetcore2) (1.5.0)
Installing collected packages: dotnetcore2
Successfully installed dotnetcore2-2.1.

[2020-11-18 10:16] smougel commented on #1003
Issue solved

`sudo apt install dotnet-runtime-2.1`
The following packages have unmet dependencies:
 dotnet-runtime-deps-2.1 : Depends: libicu but it is not installable or
                                    libicu66 but it is not installable or
                                    libicu65 but it is not installable or
                                    libicu63 but it is not installable or

[2020-11-18 12:35] Bozhong68 commented on #1207
Hello @NSVR57 did you apply FPGA quota before model deployment? the error is due to FPGA quota issue. Please let us know if you got FPGA quota and still run into the issue. Thanks, Bozhong

[2020-11-18 12:35] #1207 closed

[2020-11-18 18:11] seanytak opened #1242 "AML Job Fails due to Pre-Empted Node"
Hello, I am currently working with an AML Pipeline that uses a Low-Priority VM Compute Cluster.

The error I am receiving is
`AzureMLCompute job failed. PreemptionError: Nodes of this job got pre-empted. Check if the run has failed or restarted. Reason: Received pre-emption warning signal`

On the [following docs it says that a "A preempted job is restarted, not resumed."](https://docs.microsoft.c

[2020-11-18 18:18] lostmygithubaccount commented on #1242
I think that documentation is incorrect, I am not aware of any automatic restarting of preempted jobs

[2020-11-18 18:31] seanytak commented on #1242
I see, so is there any mechanism to have the job restarted or at least re-queue it until the nodes are available again?

[2020-11-18 18:43] seanytak commented on #1242
As a note, [I've opened an issue on the Azure Docs page responsible for the one I linked](https://github.com/MicrosoftDocs/azure-docs/issues/66288)

[2020-11-18 22:22] lostmygithubaccount commented on #1242
I don't believe there is an automated mechanism. You would probably want to run a parallel pipeline that checks occasionally for runs which failed due to preempted nodes and resubmit the job.

We could probably do this simply with GitHub actions and provide a template

[2020-11-19 04:19] shayeny commented on #1107
Was this solved? I am facing the same issue trying to pip install from behind a VNET.

[2020-11-19 23:40] jsburckhardt commented on #1240
Hi guys, the example is perfect. I could run the experiment. I'll try now with the AML pipeline. Thanks

[2020-11-20 04:11] jsburckhardt commented on #1240
Bad news, I'm back to the issue regarding the ```data _reference``` in an AML pipeline when creating the ```HyperDriveStep```.
1. without script parameters
![image](https://user-images.githubusercontent.com/18494471/99755919-0e22e000-2b40-11eb-8571-cc5220bd7256.png)
2. With script parameters as part of the ```ScriptRunConfig``` (similar to the successful experiment run ```exp.submit(HyperDriveConf

[2020-11-20 05:47] anisayari opened #1245 "save output in a databrickstep + copying to a datastore"
Hello,

I am currently trying to save a folder generate in a ```Databricksstep```.

However when I save my model in the output folder as indicated here (https://docs.microsoft.com/en-us/azure/machine-learning/how-to-save-write-experiment-files) as :

[code]

Generating a folder like :
[code]

I cannot see anything in the output+logs panel on AzureML.

The goal is to have the model accessible from

[2020-11-20 10:38] anisayari commented on #1245
I was able to deal with this issue by simply save directly to the DBFS link to the DataBricks workspace using  '/dbfs/mnt/...'

[2020-11-20 10:38] #1245 closed

[2020-11-21 09:57] faxg opened #1246 "AutoML crashes with ValidationException on non-trimmed input data for regression task"
I get an error similar to #1174 when running AutoML using a .csv file as datasource.

The datasource was loaded (and profiled) in the Web UI without problem. All columns seemed to be detected as numerical on import, there's no missing values or invalid characters.
So everything looks great up to this point.

But when I try to "automl" the data, I get the following exception:

`2020-11-20 23:53:09.

[2020-11-23 11:38] corticalstack opened #1247 "Unable to pull custom docker image from Azure private registry"
Hi,

I created a new Azure machine learning service. During the creation wizard I specified names for the workspace, storage, key vault and importantly, the container registry (i.e. NOT None).

Checking the registry I can see that the wizard has added a service principal entry to the identity management for the container registry, giving the machine learning workspace SP the role of contributor.

[2020-11-23 15:42] corticalstack commented on #1247
Just to add - If you DO NOT create a container registry when setting up the machine learning workspace, the documentation notes that Azure will automatically create a container registry the first time a model is trained/deployed.

I assume that pulling a container image works here as azure has persisted the **ADMIN** credentials for the registry in it's associated key vault. This is depise azure a

[2020-11-23 15:45] lostmygithubaccount commented on #1247
@corticalstack do you think this is a ML pipelines issue specifically?

[2020-11-23 16:47] corticalstack commented on #1247
@lostmygithubaccount I can log in and pull from the Azure container registry using the same credentials as I supply in the pipeline code that fails. I can see that the registry is registered in the workspace with the below:

`az ml workspace show -w <machine learning workspace> -g <resource group> --query containerRegistry`

I think behind the scenes, when the registry is left to the azureml pipel

[2020-11-23 17:11] corticalstack commented on #1247
@lostmygithubaccount I try to summarize what works and doesnt for you:

1. Container registry created by Azure ML on first model train - image pull OK
2. Container registry created in advance, specified when creating Azure ML service, no registry uname/pwd specified in pipeline code - image pull NOT OK
3. Container registry created in advance, specified when creating Azure ML service, service prin

[2020-11-23 22:13] rdzotz commented on #972
While troubleshooting this error I found it also occurs when running the tutorial [register-model-deploy-local.ipynb](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-local/register-model-deploy-local.ipynb)

[2020-11-24 06:42] kvijaykannan commented on #1246
Thanks for taking time in providing the feedback. We will evaluate and have these changes incorporated.

[2020-11-24 12:52] irishun commented on #604
Hi I am facing the same issue.

Context: in the azure machine learning compute instance Jupyter, I am running the command
`az ml workspace sync-keys -g <my RG> -w <my workspace name>`

I have double checked the RG name and workspace name, they are exactly the same as the printed names from
`ws = Workspace.from_config()
print('Workspace name: ' + ws.name,
      'Resource group: ' + ws.resource_grou

[2020-11-24 17:57] vizhur commented on #1247
myenv.docker.base_image_registry.address = "xyz.azurecr.io"
myenv.docker.base_image_registry.username = "test@xyz.onmicrosoft.com"
myenv.docker.base_image_registry.password = "xyz"

myenv.docker.base_image = "xyz:latest"

should work

[2020-11-24 20:10] gregorybchris opened #1248 "Timeseries frequency documentation unclear"
- The `freq` parameter isn't included in this page under parameters to the ForecastingParameters configuration. In the short series section the `freq` parameter is described but without any units. It's unclear exactly how to use this parameter. A link to a notebook that uses `freq` would also be helpful.
- It's a bit confusing to link the energy demand notebook under the `time_series_id_column_nam

[2020-11-24 20:11] gregorybchris commented on #1248
Note: these comments refer to this documentation: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast

[2020-11-24 20:12] ahyerman commented on #1248
Documentation here can also be improved: https://docs.microsoft.com/en-us/python/api/azureml-automl-core/azureml.automl.core.forecasting_parameters.forecastingparameters?preserve-view=true&view=azure-ml-py

[2020-11-25 12:43] corticalstack commented on #1247
@vizhur I had already tried that suggestion without success, but thanks. I assume the user your refer to is "standard" user set up in AAD and assigned a role in the registry IM (and not for example the registry user or the app service principal)?

[2020-11-25 14:25] vizhur commented on #1247
@corticalstack sorry, I should've read it through. From what I understand, service side auth was successful because it exchanges the creds with ACR for access token, so execution proceeds to compute but it trying to pull the image using the credentials and it does not work when admin is not enabled or credentials have a scoped access to the registry.

[2020-11-25 14:44] corticalstack commented on #1247
@vizhur User managed dependencies =True, using image to set env. Servcie side auth is only successful when specifying credentials of the admin user for the ACR (when this is enabled, as disabled by default).  Only in this case does the pipleline proceed to compute custom Python pipleline step.

In all other cases Ive tried (a new user set up in AAD scoped to ACR, or use of service principal scoped

[2020-11-25 15:05] vizhur commented on #1247
@corticalstack yes it does

[2020-11-25 21:07] krishansubudhi commented on #1222
It still does not work.
azureml core version'1.2.0'

TypeError: Object of type DataReference is not JSON serializable

This thing was perfectly working while I was using estimators. why did you move to ScriptRunConfig and break the behaviour?

[2020-11-25 21:15] lostmygithubaccount commented on #1222
1.2.0 is very old, the current version is 1.18.0 and new versions are released every other week

The recommendation is to use a `Dataset.File.from_*` and a `ScriptRunConfig` rather than a DataReference or other method

[2020-11-26 14:53] krishansubudhi commented on #1222
Upgrading worked. But datasets only support read only files. How do I mount a writable storage location? Example scenario : output periodic checkpoint from a long running training job.

[2020-11-27 08:10] synapticrumble opened #1250 "ImportError: cannot import name 'ShortSeriesHandlingValues'"
![image](https://user-images.githubusercontent.com/3012940/100425761-69c7fe80-3055-11eb-8017-71bd32ced0f2.png)

Above is the error, when running the github (Azure/mslearn-aml-labs) 09-Automated_ML.ipynb using standard 4 Core, 14 GB RAM compute instance.

[2020-11-27 16:16] lostmygithubaccount commented on #1250
@synapticrumble it looks like this is an issue in another repository?

[2020-11-28 15:52] wjohnson commented on #1014
I am having the same issue as @RothNRK. I've created a pipeline with a DatabricksStep and I am unable to use Run.get_context() to even instantiate the run.

I'm using the following snippet of code similar RothNRK's and I can verify that each parameter is being set.

[code]

However, I'm noticing that the _load_scope method for the Run class seems to need the experiment id?  Is this something that

[2020-11-29 17:26] lostmygithubaccount commented on #1222
I believe @mx-iao and @aminsaied are building a best practices checkpointing example over at https://github.com/Azure/azureml-examples

@MayMSFT what is the recommendation for writable mount? Use blobfuse directly? Datasets?

[2020-11-30 07:00] RohitMungi-MSFT opened #1251 "Error: TypeError: 'NoneType' object is not subscriptable while running local web service notebook"
While running the following notebook ~how-to-use-azureml/deployment/deploy-to-local/register-model-deploy-local.ipynb the local service uri is not getting set during deployment of the service which causes an error while running the following command:

`local_service.run(sample_input)`

![image](https://user-images.githubusercontent.com/46958063/100578123-a0c53b00-3307-11eb-9eae-3fe9c908a08f.png)

[2020-11-30 08:27] konstantinmiller commented on #1251
I've also run into the issue while deploying my model locally. The issue didn't happen before.

[2020-11-30 08:51] konstantinmiller commented on #1251
The following workaround seems to work:
`del service._container_override_config`
prior to calling the `local_service.run()` method.

Alternatively, you can call your service via its URI: `http://localhost:<port>/score`

[2020-11-30 17:51] MayMSFT commented on #1222
Hi @krishansubudhi  you can configure dataset as output to your scriptrun. sample notebook here: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/pipeline-with-datasets/pipeline-for-image-classification.ipynb

[2020-11-30 18:41] meyetman commented on #1241
Should you still have questions regarding this issue, please comment here and reopen it. We're closing it for now. #please-close

[2020-11-30 18:41] #1241 closed

[2020-12-01 02:29] nico-collab opened #1252 "Example of Azure AutoML with forecasting with multiple features"
I would like to use Azure AutoML for `forecasting` where I have multiple features for one timeseries. Is there any example which I can replicate?

I have been looking into: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-beer-remote/auto-ml-forecasting-beer-remote.ipynb
and
https://github.com/Azure/MachineLearningNotebooks/blo

[2020-12-01 18:19] cartacioS commented on #1250
Hi @synapticrumble. Thanks for reaching out with this issues.

We believe this may be caused by inconsistent packages in the environment, specifically a older version of azureml-automl-core as compared to azureml-automl-runtime. Could you please run the following pip freeze and share the output here?

[code]

[2020-12-01 19:12] swatig007 commented on #1252
HI @nico-collab thanks for reaching out. Can you please provide more details of what exactly you are looking for in this forecasting example? a sample of the dataset that you'd like to use would be great in understanding that.
thanks,

[2020-12-01 19:49] rtanase commented on #1246
Thank you @faxg for providing the datasets! @vijethav91 can you please check where is this parsing issue raised?

[2020-12-02 00:10] snaik2016 opened #1253 "Exception is thrown after the job is complete from context_manager_injector.py"
SDK version 1.18.0

Submitting a job with TensorFlow estimator and custom docker image. The job completes successfully and the main scripts exits.
But still final status is failed with with this strange error coming from azureml code.

Starting the daemon thread to refresh tokens in background for process with pid = 95

[2020-12-01T23:51:00.945744] The experiment failed. Finalizing run...
12/01/20

[2020-12-03 16:35] shbijlan commented on #1187
@jarandaf To give you an update, our engineering team has recently made a change to improve the reliability of Databricks upload. We are also working on adding clarification to the documentation to address the issue raised here.

[2020-12-03 18:46] shbijlan commented on #1230
@corticalstack Currently there is a bug in azureml-dataprep 2.4.* where in it cannot read the parquet file from the Azure workspaceblobstore. dataprep 2.4.* maps to azureml-sdk 1.17.* and higher. There are 2 ways to workaround it.

1. if possible, use older version of azureml-sdk 1.16.* or less which pins to lower version of azureml-dataprep(2.3.* or less).
2. if running using python script, you c

[2020-12-03 18:55] robert4os opened #1254 "Passing inputs and outputs please improve clarity"
In this documentation under Parameters 'inputs' and 'outputs' it is said to use
`dbutils.widgets.get("input_name").
`

It would be clearer to state something like
dbutils.widgets.get("_your-input-name_").
and
dbutils.widgets.get("_your-output-name_")

A similar notation in italics is used in other places in this documentation.

[2020-12-03 19:23] lostmygithubaccount commented on #1254
hi @robert4os please link the relevant documentation

[2020-12-03 20:41] robert4os commented on #1254
Sorry, I removed it inadvertently...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d4d04b0-78b3-db32-a338-65f0ffc9167e
* Version Independent ID: 06721cca-fc1c-771c-c036-109712a1f7be
* Content: [azureml.pipeline.steps.databricks_step.DatabricksStep class - Azure Machine Learning Python](https://docs.microsoft.com/en-u

[2020-12-03 23:26] corticalstack commented on #1230
@shbijlan Many thanks for the update.

Can you provide example of workaround proposal 2 to clarify please?

Any estimate on release of  azureml-dataprep 2.7* ?

[2020-12-03 23:36] lostmygithubaccount commented on #1230
reopening until fixed in latest `azureml-sdk`

@corticalstack it looks like `azureml-sdk==1.20.0` will release on pypi on December 21st, which will contain `azureml-dataprep>=2.7.0` - will comment back once confirmed

[2020-12-04 00:28] shbijlan commented on #1230
@corticalstack an example of the second workaround would be removing 'file_extension=None' from nyc-taxi-data notebook
Use:
inputs=[cleansed_green_data.parse_parquet_files(),
            cleansed_yellow_data.parse_parquet_files()]
instead of:
inputs=[cleansed_green_data.parse_parquet_files(file_extension=None), cleansed_yellow_data.parse_parquet_files(file_extension=None)]

[2020-12-04 13:07] corticalstack commented on #1247
Any progress? Thanks

[2020-12-04 13:10] vizhur commented on #1247
ah.. looks like no one got back to you, sorry about that. You would need to assign an identity to your compute and then give it acr pull access to ACR

[2020-12-04 13:26] corticalstack commented on #1247
No problem. Can you provide example of assigning identity to compute? Currently creating it programmatically as per below:

[code]

[2020-12-04 16:44] sweana commented on #1247
Hi @corticalstack
you would need to set the identity_type field to assign an identity to the compute.
Reference documentation: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-attach-compute-cluster?tabs=python#managed-identity

Also, here is documentation of how to use Compute Identity for accessing ACR.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-manag

[2020-12-04 19:21] Cathyyiwhua commented on #718
The blob storage requirement is documented here: https://docs.microsoft.com/azure/machine-learning/how-to-monitor-datasets. Thank you everyone. Should you still have questions regarding this issue, please comment here and reopen it. We're closing it for now. #please-close

[2020-12-05 12:05] raybellwaves commented on #1110
Thanks @vizhur. `conda install pip=20.1.1` is the command. The came up for me when I installed azureml-sdk in my local conda base env.

Seems fine in a fresh env
[code]

[2020-12-08 06:57] byronverz commented on #803
I have the same issue.
`> !python --version
     3.7.9

    4.9.2

   1.18.0`

When I run `!conda env export --no-builds --name conda_environment_name` I get the environment dependencies as expected but not when using `Environment.from_existing_conda_environment`. I have checked the environment name as well but still get the error: `FileNotFoundError: [WinError 2] The system cannot find the file s

[2020-12-08 10:14] akashpandey111 opened #1256 "Unable to install azureml-sdk with pip (Python 3.9 support)"
**OS: Mac OS Big Sur
Python version: 3.9**

**Command used: venv/bin/python -m pip install -U --no-cache-dir azureml-sdk**

I've been trying to install azureml-sdk since the last couple of days on my machine inside a python virtual environment to train models as experiments on Azure.

However, it's as if pip is unable to determine which version of each dependency is the right one for all the compo

[2020-12-08 14:13] vizhur commented on #1256
@akashpandey111 thank you for reporting the issue. New pip dependency resolver has some breaking changes. You should be able to mitigate the issue downgrading pip on your side

`python -m pip install -U pip==20.2.4`

[2020-12-08 15:11] vizhur commented on #803
there is a known issue with jupyter stdout/err so subprocess.call doesn't work properly. you can follow this approach to unblock yourself
https://github.com/Azure/MachineLearningNotebooks/issues/803#issuecomment-588412721

[2020-12-08 15:58] j4k0bk opened #1257 "Add parameter run_id to Model.register()"
Model.register() invokes Model._register_with_asset(), which takes a "run_id" parameter. There is no reason why Model.register() should not take "run_id" parameter as well, as far as i can see.

[2020-12-08 18:06] cartacioS commented on #1250
Hi @synapticrumble, is there any update on this item? Else I can go ahead and close it.

[2020-12-08 18:08] cartacioS commented on #1252
Hi @nico-collab , I believe I responded on Stack Overflow as well, please let us know if you have any questions or comments.
--
It looks like you are trying to find a notebook that shows how to predict a target variable when exogenous features are provided. The OJ sample notebook you included is actually a good example to reference for this scenario.

On a second glance, you'll find that in the OJ

[2020-12-08 18:16] vijethav91 commented on #1246
@faxg did you use UI to run AutoML? If not, which version of AutoML were you using?

[2020-12-08 18:16] jialiu103 commented on #1248
@ahyerman the improvement of python documentation below is going to release in 2 weeks.
 https://docs.microsoft.com/en-us/python/api/azureml-automl-core/azureml.automl.core.forecasting_parameters.forecastingparameters?preserve-view=true&view=azure-ml-py

[2020-12-08 18:20] jialiu103 commented on #1248
+@cartacioS to address @gregorybchris 's freedback on tutorial below
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast

[2020-12-08 18:26] cartacioS commented on #1248
Docs and notebooks have been updated based on feedback. Closing, thanks!

[2020-12-08 18:26] #1248 closed

[2020-12-08 19:01] j4k0bk commented on #1257
In fact, there is no reason why Model.register() should not take **kwargs and pass it on to Model._register_with_asset(**kwargs).

It makes no sense to me why it was not implemented this way in the first place.

[2020-12-08 21:14] lobrien commented on #1187
The documentation has been updated and should go live in a few hours.

[2020-12-09 00:03] bandsina commented on #1256
Hi @akashpandey111 , what is your scenario? Do you need any other package than azureml-core and azureml-dataprep? You shouldnt need azureml-train.

[2020-12-09 01:28] meyetman commented on #1222
Should you still have questions regarding this issue, please comment here and reopen it. We're closing it for now. #please-close

[2020-12-09 01:28] #1222 closed

[2020-12-09 01:29] meyetman commented on #1213
Should you still have questions regarding this issue, please comment here and reopen it. We're closing it for now. #please-close

[2020-12-09 01:29] #1213 closed

[2020-12-09 01:31] meyetman commented on #1073
This has been fixed! Thanks! #please-close

[2020-12-09 01:31] #1073 closed

[2020-12-09 01:35] meyetman commented on #718
#please-close

[2020-12-09 01:35] #718 closed

[2020-12-09 07:00] akashpandey111 commented on #1256
@bandsina indeed, I do not need azureml-train as of now. I was following the documentation and going over each component in azureml-sdk and thought of installing them individually. Thanks for letting me know that it's deprecated!

@vizhur Thanks for your suggestion! I have downgraded Python to use Python 3.8.6 with Pip version as 20.2.1. However, there is an exception while installing build depend

[2020-12-09 14:47] vizhur commented on #1256
I'd think that's a system issue. Like xcode update or check with https://stackoverflow.com/questions/63972113/big-sur-clang-invalid-version-error-due-to-macosx-deployment-target

[2020-12-09 20:09] purnesh42H commented on #1218
@jarandaf we verified the workflow for pipeline parameters in DatabricksStep with intro notebook. We don't see any upper case conversion

![image](https://user-images.githubusercontent.com/12795451/101681334-db6d5880-3a16-11eb-9e75-61f342455e20.png)

Are you talking about the _AML_PARAMETER_ prefix? If yes, then that is something internal to implementation and not set by user. Here is the screensh

[2020-12-09 20:15] jarandaf commented on #1218
Hi @purnesh42H I did not try it with a Databricks notebook but with a Databricks job (python script instead of a notebook).

[2020-12-09 20:57] purnesh42H commented on #1218
pipeline parameter adds two values in the python_script_params, a name followed by value. the name will be in this format --MY_PIPELINE_PARAM.

For example, if you have a pipeline parameter
```pipeline_param = PipelineParameter(name="my_pipeline_param", default_value="pipeline_param1")```

```python_script_params={'arg1', pipeline_param, 'arg2'}``` will be transformed to ```["arg1", "--MY_PIPELINE

[2020-12-09 21:15] jarandaf commented on #1218
Yes @purnesh42H this is exactly the behavior I am reporting. Why is the parameter name case not preserved? (i.e. `--my_pipeline_param` instead of `--MY_PIPELINE_PARAM`). I find it very confusing.

[2020-12-09 21:32] purnesh42H commented on #1218
Agree but as I said this limitation is due to the fact that params are passed as sequence rather than a dict which means there is no notion of parameter name. In order to make it possible to fetch this value by name instead of arg index, in the script, we provide this distinct formatting otherwise there won't be a way of identifying if the parameter is a value or a name.

[2020-12-09 21:33] purnesh42H commented on #1218
We are working on improving this behavior as a whole and will update the sample and respective docs, once done. Thanks for the feedback!

[2020-12-09 21:47] jarandaf commented on #1218
I am not sure I follow. Python's built-in [ArgumentParser](https://docs.python.org/3/library/argparse.html) allows exactly that.

[2020-12-09 22:02] purnesh42H commented on #1218
Sorry if it was unclear. Basically when you are parsing, you would ideally want to distinguish between pipeline parameter and constants as pipeline parameters values can change. Providing --MY_PIPELINE_PARAM just before the actual value allows you to not bound by the index. You can simply assume any value followed by --<param_name.upper()> is a value coming from pipeline parameter. As you said, we

[2020-12-09 22:20] yanrez commented on #1218
@purnesh42H the fact that behavior is different from other computes (like regular script run) is unfortunate, and clearly not something users would expect. Maybe we should find a way to fix this and deprecate and eventually retire old buggy behavior ?

[2020-12-09 22:30] purnesh42H commented on #1218
Yes, we have this feedback documented and will work on unifying the behavior across steps.

[2020-12-10 03:14] weiyx16 opened #1259 "Import OpenSSL raising AttributeError: module 'lib' has no attribute 'Cryptography_HAS_TLSEXT_HOSTNAME'"
Hello!
Recently, I want to submit a job to k8s (aka ITP) platform and run a distributed pytorch training script, but unfortunately, before executing my own script, something raises errors when preparing the job. I think it's caused by the conflict between `PyOpenSSL` and newest version of `cryptography`. And this issue has been mentioned in #https://github.com/pyca/pyopenssl/issues/973
Not sure th

[2020-12-10 16:13] vizhur commented on #1259
you control all the dependencies for your job environment, you can upperbound cryptography dependency to unblock yourself

[2020-12-10 17:29] #1250 closed

[2020-12-11 07:04] akashpandey111 commented on #1256
@vizhur  I've updated the command line tools as mentioned in the link. Thank you so much for that!

Here's the most recent log:

[log.txt](https://github.com/Azure/MachineLearningNotebooks/files/5677507/log.txt)

[2020-12-11 12:22] pbartos opened #1261 "AutoMLStep returns Parameter Script not found error"
SDK version: 1.19.0

**Example notebook:**
[Azure Machine Learning Pipeline with AutoMLStep](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-automated-machine-learning-step.ipynb)

**Error**:
``[2020-12-11 12:10:07Z] Failed to start the job because of error: Parameter Script not found, error_type: Arg

[2020-12-11 12:24] weiyx16 commented on #1259
Thank you for your warm help. I solved by controlling the `cryptography` version myself.

[2020-12-11 12:24] #1259 closed

[2020-12-11 12:34] vizhur commented on #1256
I'd think you need x64 python

[2020-12-11 17:59] anliakho2 commented on #713
you can also add support to any new linux distribution manually by ensuring that dotnetcore runtime could be ran.
Please refer to https://docs.microsoft.com/en-us/dotnet/core/install/linux for the guide for your distro
And then make sure that you install **dotnet-runtime-2.1**
This should unblock you.

[2020-12-12 00:02] sanjaydatasciencedojo commented on #1248
The op is referring to this one for time_series_id_column_names.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast#configure-experiment
![image](https://user-images.githubusercontent.com/30843127/101965613-2f6c6e80-3bca-11eb-8c84-55a728628bb9.png)

[2020-12-13 16:47] NSVR57 opened #1263 "[Azure-Machine learning] ValidationException while running Auto ML"
Hi ,

I am trying to execute the automl experiment on custom data set, but i am getting the following error . can you please help on this.

[code]

[2020-12-13 20:53] amitca71 opened #1264 "AutoMLRun register_model fails with exception"
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-40-7c83818a7f6f> in <module>
      2
      3 description = 'My AutoML Model'
----> 4 model = automl_run.register_model()
      5
      6 print(run.model_id)

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/azureml/train/autom

[2020-12-14 19:29] shbijlan commented on #1133
@swanderz apologies for not sharing any update on this item. If it is still an issue, would you be able to open a new thread on the ADF error and we can mark it with the appropriate labels to be routed to the right team?

[2020-12-14 19:31] #1230 closed

[2020-12-14 19:34] swanderz commented on #1133
@shbijlan is there an update to share?

[2020-12-14 19:35] shbijlan commented on #1133
@swanderz no update on the ADF issue

[2020-12-15 11:33] anirbansaha96 commented on #392
@ATGardner can you please provide a sample of what worked for you. I am facing a similar issue.

[2020-12-15 12:28] anirbansaha96 opened #1265 "azureml.pipeline.steps.databricks_step.DatabricksStep python_script_params does not parse values"
I am trying to run a python script in a Databricks Cluster. I am trying to send some script parameters which I wish to access using `argparse` in my Python Script. I am using the `DatabricksStep` like this:
[code]

The sent script which throws an error is:

[code]

The line `args = parser.parse_args()` is throwing an error:
[code]

[2020-12-15 15:08] anirbansaha96 commented on #1014
Is there any update on this issue @lostmygithubaccount

[2020-12-15 15:10] anirbansaha96 commented on #392
@lostmygithubaccount Can you please look into this

[2020-12-15 16:04] anirbansaha96 opened #1266 "Model Loading in Azure Databricks Failing even after Service Principal Authentication"
I am trying to run a `DatabricksStep`. I have used `ServicePrincipalAuthentication` to authenticate the run:

    appId = dbutils.secrets.get(<secret-scope-name>, <client-id>)
    tenant = dbutils.secrets.get(<secret-scope-name>, <directory-id>)
    clientSecret = dbutils.secrets.get(<secret-scope-name>, <client-secret>)
    subscription_id = dbutils.secrets.get(<secret-scope-name>, <subscription-

[2020-12-15 17:39] Aniththa commented on #1261
Hi @pbartos! Thanks for reaching out. This was a known issue that has been fixed in all regions as of 12/11. Please rerun your pipeline and this should fix this issue. Feel free to reach out if you have any other questions.

[2020-12-15 17:53] rtanase commented on #1263
Hi @NSVR57, it looks like some of the your locally installed dependencies are not matching the requirements of AutoML for local training. How did you create your local environment?

There are several ways to fix this error:
1) Use a remote compute for training, in which case AutoML will be handling the environment configuration to be used during training.
2) Create a new Compute Instance and try r

[2020-12-15 22:09] lostmygithubaccount commented on #1014
@shbijlan from Pipelines team is discussing with engineering and will update this thread soon

longer term we are looking to have consistent support for Spark jobs across Databricks, Synapse, and others, but this will not be available for a while

[2020-12-16 06:33] pbartos commented on #1261
It's working now. Thanks.

[2020-12-16 06:33] #1261 closed

[2020-12-16 15:59] jpmlblog opened #1267 "Missing algorithms supported for Forecasting Class"
[Enter feedback here]
The following site says that the Forecasting class supports **"Elastic Net, Light GBM, Gradient Boosting, Decision Tree, K Nearest Neighbors, LARS Lasso, Stochastic Gradient Descent (SGD), Random Forest, Extremely Randomized Trees, Xgboost, Auto-ARIMA, Prophet, ForecastTCN"** algorisms.

https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.aut

[2020-12-16 18:34] #1247 closed

[2020-12-16 18:40] shbijlan commented on #1254
@robert4os Thank you for the feedback. I have shared it with our documentation team. It will be reviewed by them and planned for future release.

[2020-12-17 06:56] anirbansaha96 commented on #1265
UPDATE:

`args, unknown = parser.parse_known_args()` instead of `args=parser.parse_args()` works. What exactly seems to be the issue?

[2020-12-17 09:37] waiyujack opened #1268 "Speed issues with LightGBM as part of Sklearn pipelines"
Hi all

I have done some speed tests on getting the prediction out using the following two sklearn pipelines

pipeline 1: simple imputation + sklearn gbm
pipeline 2: simple imputation + lightgbm

So the only difference is swapping the gbm function with the Scikit-learn API lightgbm function and they are both embedded in a sklearn pipeline and then deploy to a aks service cluster ( with same specif

[2020-12-17 17:41] Aniththa commented on #1267
Hi there! Thanks for reaching out. Here is a complete list of supported algos for forecasting:https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-auto-train#supported-models

This link outlines algos only available to forecasting. (Please note, regression algos can also be used for forecasting): https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.tr

[2020-12-17 18:03] MustAl-Du opened #1269 "Missing details on including the 'Azure-Monitoring' package in the conda-dependency for the web service"
There is a missing section in the page. The 'ModelDataCollector' will not work in the AKS web service unless the 'Azure-Monitoring' pip package is included in the conda dependency of the web service.

**Please, revise the current python snippet:**
"
webservice_config = AksWebservice.deploy_configuration(collect_model_data=True)
Model.deploy(ws, "myservice", [model], inference_config, webservice_co

[2020-12-17 22:25] Xenog commented on #1263
Hi @NSVR57, on an online notebook of Azure (I used the same as yours) I solved the same issue by changing the interpreter from Python 3.6 ML to Python 3!

[2020-12-17 22:26] arjsingh commented on #1264
Hello, thanks for reaching out.

1. Could you please share the steps/code you used to get the automl_run, which is what you're using to register the model?
2. Assuming that automl_run is a pipeline run, you can use the below code snippet to register your model. Please replace automl_module" with the name you've chosen for your automl step.

[code]

3. There are other ways to register the model. Sh

[2020-12-17 22:33] andremarques023 opened #1270 "There should be an option to specify the namespace"
AksAttachConfiguration and AksProvisioningConfiguration classes should include namespace configuration parameters for attaching and provisioning AksCompute targets. Currently, kubernetes objects are created in the default namespace.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 24563085-8fca-ffc2-6f61-de

[2020-12-17 23:07] #1133 closed

[2020-12-17 23:22] shbijlan commented on #1266
@anirbansaha96 your issue has been reported to engineering. I will reply here once I have an update.

[2020-12-18 03:08] hyoshioka0128 opened #1271 "Typo "Jupyter notebook"→"Jupyter Notebook""
Typo "Jupyter notebook"→"Jupyter Notebook"

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.experiment.experiment?view=azure-ml-py

![azureml_core_experiment_experiment_1](https://user-images.githubusercontent.com/40815708/102569877-9be6f080-4129-11eb-900f-5b104dec9e42.png)

![azureml_core_experiment_experiment_2](https://user-images.githubusercontent.com/40815708/102569886-9

[2020-12-18 03:12] hyoshioka0128 opened #1272 "Typo "Jupyter notebook"→"Jupyter Notebook""
Typo "Jupyter notebook"→"Jupyter Notebook"

https://docs.microsoft.com/en-us/python/api/overview/azure/ml/?view=azure-ml-py

![overview_azure_ml](https://user-images.githubusercontent.com/40815708/102570249-4d862180-412a-11eb-98cc-398fa05ace62.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb938463-51c2-43f3-d528-