[2020-04-22 23:06] GiftA-MSFT commented on #939
@madiepev we will review your feedback and get back to you shortly. Thanks.

[2020-04-23 07:09] DjangoPeng commented on #938
Sure, I'll raise a PR this day.  Where do you suggest to place the tutorial?

How about creating a new folder named use-tensorflow-2 under MachineLearningNotebooks/tutorials?

@ram-msft

[2020-04-23 08:08] aleixsd opened #941 "Problems with the wait_for_completion() function once submited a pipeline"
I had this problem during this week. I have a pipeline that runs a few RScriptSteps which used to work and I have not changed. The main issue is when I run the python script, that creates and submits the pipeline. Then, the next error appears:
{
    "error": {
        "code": "UserError",
        "message": "User program failed with TypeError: wait_for_completion() got an unexpected keyword argume

[2020-04-23 11:00] masoncusack opened #942 "Creation of FileDataset and conversion to FileDataset result in different behaviours"
Hi folks,

Not sure if this is simply a documentation issue or an SDK level problem, but I notice that creation of a FileDataset using `Dataset.File.from_files`, and conversion of a TabularDataset to a FileDataset using `to_csv_files(separator=',')` - though they both result in a FileDataset object - cause different behaviours.

This came up when trying to mount these as named inputs to a PythonSc

[2020-04-23 17:14] YutongTie-MSFT commented on #942
@masoncusack
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-23 17:15] YutongTie-MSFT commented on #941
@aleixsd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-23 20:59] abij commented on #640
Oke, it took a while, but I figured out the working solution, but mainly due [updated-examples](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/machine-learning-pipelines/nyc-taxi-data-regression-model-building) I have to admit. Great work on those examples!

I'm using AzureML 1.3.0 (for me this did not work with previous versions).

The trick is to create Pipeline

[2020-04-23 22:42] CESARDELATORRE commented on #640
@abij - That's a great summary of your experience! Thanks for providing it!

The team is writing a HOW TO for AutoMLStep (to be published at docs.microsoft.com) so I'll make sure your comments here are also covered in that doc. 👍

[2020-04-24 00:59] initmahesh opened #943 "train-on-local notebook fail with error "Your project exceeds the file limit of 2000."when run from kubeflow notebook server..."
We are trying to run AML notebook “train -on-local”  on DSVM with the Kubeflow cluster on Azure VM with AKS luster on cloud, we wish to run the sample on Azure stack to leverage compute ….
https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/training/train-on-local
It fails with the error below know anyone who can help here as I think the issue is due to Kubeflow mount

[2020-04-24 04:36] ram-msft commented on #943
@initmahesh Thanks for the question. We will update you shortly.

[2020-04-24 07:09] swaticolab opened #944 "BUG: Versioning not enabled when pulling data from SQL DB/DW into Azure ML datasets"
Whenever I pull the data from an azure SQL DB or DW, the version history is not maintained. Everytime I pull a new data, the first version is only refreshing.
I have created a reproducible example to explain my issue.

https://github.com/swaticolab/MachineLearningNotebooks/blob/SQL_to_ML/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/Connect_SQL_to_ML_dataset.ipynb

[2020-04-24 10:17] madiepev commented on #939
It seems to work after I do a pip install of azureml-datadrift. It's not specified in the documentation however that this needs to be done (and I think this wasn't necessary before). Could you add this?

[2020-04-24 13:28] RohitMungi-MSFT commented on #944
@swaticolab Could you please check if all versions are available when you specify the version with [get_by_name()](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.abstract_dataset.abstractdataset?view=azure-ml-py#get-by-name-workspace--name--version--latest--)

Also, a note in azureml.core.dataset.dataset [documentation ](https://docs.microsoft.com/en-us/python/api/azureml-co

[2020-04-24 16:05] GiftA-MSFT commented on #939
@madiepev you received the error because you needed to install azureml-datadrift. The following document specifies the [pre-requisites](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-data-drift#prerequisites). Thanks.

[2020-04-24 16:10] madiepev commented on #939
Can this be added to the SDK documentation too? Just like other necessary installs are also listed in this documentation?

[2020-04-24 16:20] swaticolab commented on #944
@RohitMungi-MSFT Yes I did try using the get_by_name() approach. But it was still not working.

[2020-04-24 16:22] swanderz commented on #944
@MayMSFT

[2020-04-24 16:34] GiftA-MSFT commented on #939
@madiepev install information is specified [here](https://docs.microsoft.com/en-us/python/api/overview/azure/ml/install?view=azure-ml-py) and not in the class documents.
@j-martens do you have any input here?

[2020-04-24 16:36] madiepev commented on #939
Yes I've seen that. The install for data-drift is not mentioned on that page, could that be added?

[2020-04-24 16:44] GiftA-MSFT commented on #939
Gotcha.

[2020-04-24 17:32] shirolkar commented on #941
I see the same error "wait_for_completion() got an unexpected keyword argument 'timeout_seconds'" when running the build pipeline in MCW MLOps https://github.com/microsoft/MCW-ML-Ops. It fails on the call pipeline_run.wait_for_completion(show_output=True). Note that the pipeline steps complete successfully and the error happens right at the end.

[2020-04-26 18:28] adamthorne opened #945 "Adapt Beer forecasting for local run without DNN?"
The Beer Forecasting sample for AzureML relies on remote_run as it uses the DNN algorithms which are not yet available for local compute. I am wondering if there is a script available that doesn't rely on DNN and only the other AutoML approaches?

[2020-04-27 03:03] Mike-Ubezzi-MSFT commented on #945
@adamthorne Than you for your inquiry. Is there a specific document you are following for this tutorial? I found the following: https://gallery.azure.ai/Experiment/Forecasting-Beer-Consumption-2 but not sure if this is the same as what you are working from.

[2020-04-27 08:39] shankarpandala opened #946 "pass specific files as parameter"
In this example 'sample_datapath1' refers to the path on the datastore which is a folder. If I have 4 files 1.jpg, 2.jpg, 3.jpg, 4.jpg in the 'sample_datapath1' folder  and I want only 1.jpg, 2.jpg only as the dataset, How can I choose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c885638-333a-17cf-7c37-2b9b55b7dd30

[2020-04-27 09:35] aleixsd commented on #941
@YutongTie-MSFT

Do you have any news about the issue?

Thanks!

[2020-04-27 10:20] ram-msft commented on #938
@DjangoPeng Yes feel free to create under MachineLearningNotebooks/tutorials or you can use the following ml-frameworks/tensorflow folder.
https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/ml-frameworks/tensorflow

[2020-04-27 11:06] lucazav opened #947 "RScriptStep missing"
In [this page](https://render.githubusercontent.com/view/ipynb?commit=7970209069b38265fa74b6cc15fa2693a457ecb1&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6c7563617a61762f4d616368696e654c6561726e696e674e6f7465626f6f6b732f373937303230393036396233383236356661373462366363313566613236393361343537656362312f686f772d746f2d7573652d617a7572656d6c2f6d616368696e652d6c6561726e6

[2020-04-27 12:17] adamthorne commented on #945
I am now progressing through the script and adapting it for use of the AutoML algorithms that are possible to run on local compute and will share them in a repo once available (will not be best practice but will work!).

Thanks for sharing the example link you sent based on linear programming. I'd like to include some AutoML features beyond linear but may try to integrate this in the above!

[2020-04-27 14:48] GiftA-MSFT commented on #939
@madiepev thanks for your feedback, the content team has created a work item to add azureml-datadrift to the SDK document, I will now proceed to close this thread.

[2020-04-27 14:48] #939 closed

[2020-04-27 14:54] GiftA-MSFT commented on #946
@shankarpandala we will review your feedback and get back to you shortly, Thanks.

[2020-04-27 14:57] GiftA-MSFT commented on #947
@lucazav we will review your feedback and get back to you shortly. Thanks.

[2020-04-27 16:39] svickers opened #948 "SQL Datastore Error Messages"
Any number of sql exceptions seem to get rolled up into one relatively unhelpful error message:

[code]

This same exception happens when there is a sql syntax error, query timeout, deadlock, and other times where we haven't been able to pinpoint the cause without any specifics.

Full stack trace:

[code]

[2020-04-27 17:03] vizhur commented on #704
Looks like Compute Instance environment issue, tagging them for further investigation

[2020-04-27 18:34] MayMSFT commented on #946
Hi @shankarpandala
You can
1. create a dataset pointing to the folder
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets
2. mount the dataset to your compute target and load only the files you want in your script. you can pass in the name of the files as argument in your experiment
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-with-datase

[2020-04-27 18:50] MayMSFT commented on #936
thanks for the feedback. we will work with documentation for the update

[2020-04-27 18:51] MayMSFT commented on #948
thanks for the feedback. we are tracking this as a bug for improvement.

[2020-04-27 18:52] MayMSFT commented on #935
thanks for the feedback. we will track this as a bug for API reference update

[2020-04-28 12:44] epa095 opened #950 "Python dataset support ubuntu 19/20"
Issue: When attempting to download a dataset on ubuntu 19.10 I get `NotImplementedError: Unsupported Linux distribution ubuntu 19.10`.

It seems like the problem is that the dotnetcore2 pip package actually only supports ubuntu 18. But ubuntu 20.04 is the new LTS, so it makes sense to support it (and also ubuntu 19).

Also, can we agree that it is a bit of an architecture-smell when downlading som

[2020-04-28 15:44] LordGordonQ opened #951 "Azure DataStore name limits?"
The Azure ML web interface dictates that "Datastore name should only consist of lowercase letters, digits, and underscore". This information is lacking in the documentation. And, in general, such limits are lacking in whole Azure ML SDK documentation.

Is is possible to better specify such limits to avoid annoying errors in production code?

Thank you very much.

---
#### Document Details

⚠ *Do n

[2020-04-28 15:49] LordGordonQ commented on #951
Btw, there are also limits for the maximum length of the string?

[2020-04-28 16:59] YutongTie-MSFT commented on #951
@LordGordonQ
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 17:05] shankarpandala commented on #946
Thanks! If this is the only way. You can close the issue.

[2020-04-28 17:13] SturgeonMi commented on #951
Thanks for the feedback!
Opened a bug for this documentation improvement.

And currently we don't have hard limitation of length of the string for Datastore name. (As long as the length is within docdb limit.)

[2020-04-28 17:14] jadhosn commented on #933
@electrozoa could this be something similar to [this](https://github.com/Azure/MachineLearningNotebooks/issues/128#issuecomment-613242815)?

[2020-04-29 00:36] GiftA-MSFT commented on #950
@epa095 we will review your feedback and get back to you shortly. Thanks.

[2020-04-29 01:03] #946 closed

[2020-04-29 04:45] SturgeonMi commented on #950
Hi Erik,

Were you downloading an AML Dataset from AML workspace?
Or were you downloading the CSV file?
Could you help to provide more details about the interface you are using?
Thanks!

[2020-04-29 07:24] epa095 commented on #950
Hi @SturgeonMi !
I was attempting to follow along [this](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-models-with-aml) tutorial on my ubuntu 19.10 linux, but I got the above mentioned problem when I got to the step "[Download the MNIST dataset](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-models-with-aml#download-the-mnist-dataset)". It crashes o

[2020-04-29 10:49] amiradinari commented on #604
hello
 I am facing the same issue

[2020-04-29 13:10] RohitMungi-MSFT commented on #945
@adamthorne Tagging the author @omkarmore83 for visibility.

[2020-04-29 17:08] vmagelo commented on #913
Worked with Aniththa and we improved the docs around transformers. Changes will appear in next SDK release in 1-2 weeks.

[2020-04-29 17:26] vmagelo commented on #916
We updated parameters. Changes will appear in next release.

[2020-04-29 17:28] vmagelo commented on #921
Updated docs for target_lags.

[2020-04-29 17:30] vmagelo commented on #915
Docs work is done. Changes will appear in next sdk release 1-2 weeks.

[2020-04-29 17:34] nibaccam commented on #925
@Aniththa @CESARDELATORRE  can you help here, please?

[2020-04-29 17:36] nibaccam commented on #921
Thank you for reporting this @swanderz . The docs update has been checked in. We will now proceed to close this thread. #please-close

[2020-04-29 17:41] #921 closed

[2020-04-29 17:55] SturgeonMi commented on #948
Hi Scott,
We are working on exposing the actual error message to improve the experience.
Will reach out when the fix is completed.

[2020-04-29 23:26] meyetman commented on #942
@masoncusack to_csv_file() was designed to give a directory, where you can then list directory content in order to load data. We will update the documentation to clarify the points you highlighted. Thanks!

[2020-04-30 03:45] CESARDELATORRE commented on #925
@rtanase (Razvan) Can you explain here the minimum packages to install when using remote AML compute runs? (azureml-train-automl-client), so you are not really training on your local environment.

I think that's your scenario, right?

[2020-04-30 07:52] abij opened #952 "Error when providing run_config parameter to AutoMLConfig: type RunConfiguration is not JSON serializable"
I want to run an experiment with AutoMLStep with a separate RunConfiguration, but the error appears:

`RunConfiguration is not JSON serializable`

Small example to see the issue:

[code]

[2020-04-30 08:31] abij commented on #952
My fault, the `AutoMLConfig` setting is `run_configuration` instead! Source: azureml/train/automl/automlconfig.py:1038

In all other steps the parameter is named: `runconfig`. Might consider renaming this parameter.

[2020-04-30 08:31] #952 closed

[2020-04-30 15:31] rastala commented on #604
Please double-check from Azure Portal that the workspace exists in the same tenant and subscription that you use in Workspace(...) command.

[2020-04-30 16:52] masoncusack commented on #942
That's interesting to find out, thanks. Definitely a useful edition to the documentation to clarify this. The function name being to_csv_file() (as opposed to e.g. to_file_directory()) may have added to the confusion too.

[2020-04-30 22:26] SturgeonMi commented on #950
Thanks a lot, Erik!
Opend a bug to track from AzureML side.
Will get back to you about updates.

[2020-05-01 02:36] gallogiulia commented on #523
@marktab Did you find out whether this error has been fixed?
I am having an error trying to register a new datastore to connect Azure ML Studio to my Azure SQL DB.

AzureSqlError: Azure SQL Database Error -2146232060: Please check the correctness of the datastore information.

[2020-05-01 14:55] m-r-tanha commented on #700
I need help when I want to open python in "Microsoft Azure Machine Learning Studio (classic)", the below error appears:
{"Error":{"Code":"ServiceError","Message":"InternalServerError","Target":null,"Details":[],"InnerError":null,"DebugInfo":null}}

[2020-05-01 17:31] SKrupa commented on #925
Hi @swanderz it looks like the issue is not related to packaging, but rather its trying to run a local run instead of a remote run, a local run requires all the packages to be available locally for training, (so azureml-train-automl-runtime would need to be installed.) Do you have both a local and remote scenario in your notebook? In the sample code I see

run = exp.submit(automl_config, show_outp

[2020-05-01 19:59] swanderz commented on #925
@SKrupa I appreciate your careful reading. I was using the variable `local_run`, but deciding to rename it to `run` for the purpose of this GitHub issue. But I forgot to change it in the stacktrace.

@CESARDELATORRE, can your team reproduce the behavior on your end?
cc: @jadhosn

[2020-05-01 20:39] SturgeonMi commented on #950
Hi Erik,

We fixed related bug in Open Datasets SDK.

Could you help to try below steps?

Please ensure you are using the latest Azure Open Datasets SDK. You can get install the latest SDK by Running the following commands"
!pip uninstall -y azureml-opendatasets
!pip install azureml-opendatasets

Also here is the latest version of the tutorial notebook: https://github.com/Azure/MachineLearningNote

[2020-05-02 00:24] CESARDELATORRE opened #953 "Sample code is wrong, the parameter 'experiment' in AutoMLRun() is an object/variable, not a string/name"
The parameter 'experiment' in AutoMLRun() is an object/variable, not a string/name

This example code is wrong and doesn't work:

from azureml.train.automl.run import AutoMLRun
remote_run = AutoMLRun(experiment = 'experiment name', run_id = 'replace with your run id')

The following code does work:

from azureml.train.automl.run import AutoMLRun
ws = Workspace.from_config()
experiment = ws.experim

[2020-05-02 06:45] epa095 commented on #950
Hi @SturgeonMi, the latest version of azureml-opendatasets I see on pypi is 1.4.0, and as you can see from my previous comment that is the version I am already using.

[2020-05-02 16:49] gabrielnespoli opened #954 "scoring_uri is said to be of bool type, but it's not"
The scoring endpoint for the Webservice "azureml.core.webserivce.AksWebservice.scoring_uri" is listed as type bool, but it's not. It's necessary to correct the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c5068c-bf75-51ea-a8b3-a3356ba81b5c
* Version Independent ID: 9036f1f0-f669-bb28-74e7-3ea8dae6d7e9

[2020-05-03 18:22] YutongTie-MSFT commented on #954
@gabrielnespoli
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-03 18:26] YutongTie-MSFT commented on #953
@CESARDELATORRE
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-03 21:56] YutongTie-MSFT commented on #951
@LordGordonQ
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-05-03 21:56] #951 closed

[2020-05-03 22:01] YutongTie-MSFT commented on #942
@masoncusack
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@j-martens FYI

[2020-05-03 22:01] #942 closed

[2020-05-04 12:50] luuk-codebeez commented on #941
I have the same error.

[2020-05-04 17:17] SturgeonMi commented on #950
Yes Erik,
And we also changed the tutorial notebook.
https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/image-classification-mnist-data/img-classification-part1-training.ipynb
It should resolve the download issue.

[2020-05-04 17:27] YutongTie-MSFT commented on #700
@m-r-tanha Hi, could you please open a new issue for this? This thread is outdated. Thanks.

[2020-05-04 19:09] CESARDELATORRE opened #955 "The transformer parameter in add_transformer_params() should specify a list of the possible transformers (i.e. 'Imputer', etc.)"
The transformer parameter in add_transformer_params() should specify a list of the possible transformers (i.e. 'Imputer', etc.)

With the current info a user won't know what are the possible transformers.
Also, add sample code or a pointer to a notebook using "custom featurization/transformers" such as this:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automate

[2020-05-04 19:55] GiftA-MSFT commented on #955
@CESARDELATORRE we will review your feedback and get back to you shortly. Thanks.

[2020-05-04 20:13] vmagelo commented on #931
We addressed the bug in the docstring. Fix will appear in next release 1-2 weeks. Thanks.

[2020-05-04 22:01] SKrupa commented on #925
@swanderz There's a couple things that seem to be going on here:
1) It seems like your local environment has some old versions of the SDK. Specifically, its running an old version of "azureml-train-automl-runtime" and "azureml-automl-runtime" packages, which suspiciously don't show up in your pip list. From the file path "AppData\Local\Continuum\miniconda3\lib\site-packages\" it seems like you pro

[2020-05-04 23:39] GiftA-MSFT commented on #950
@epa095 hope the above solution helped. I will now proceed to close this thread. Let us know if you continue to encounter issues downloading the dataset. Thanks.

[2020-05-05 11:28] farh33n opened #956 "No such file or directory/ERROR conda.core.link:_execute(502): issue while building a pipeline"
Hi
I am building an ML pipeline following below link.
https://docs.microsoft.com/en-us/learn/modules/create-pipelines-in-aml/
**I am getting below error for the first step of pipeline.**
`Downloading and Extracting Packages
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... failed
[91m
ERROR conda.core.link:_execute(502): An er

[2020-05-05 16:06] GiftA-MSFT commented on #955
re-assigning to @j-martens since this has to do with doc enhancement. Thanks.

[2020-05-05 17:34] #931 closed

[2020-05-05 18:00] anliakho2 commented on #948
Hi @svickers, this is true and we are aware of suboptimal experience. We are rolling out new version of the SDK in couple of weeks with much improved error handling.
For instance find below an example of incorrect query syntax and wrong table name error output in the development branch right now:
`
Error Code: ScriptExecution.DatabaseQuery
Failed Step: 0ac7eadb-0bca-4585-85eb-45f3a9459be2
Error Me

[2020-05-05 18:37] j-martens commented on #955
@CESARDELATORRE - do you know what the possible transformers are? Who is the point person on the team for this info?

[2020-05-05 19:12] CESARDELATORRE commented on #955
@j-martens - Not sure, probably **Vinod Shanbhag**. If not, he'll be able to forward to the right folk.
I'll send an email to him copying you, ok? :)

[2020-05-05 19:56] YutongTie-MSFT commented on #956
@farh33n
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-05 20:51] svickers commented on #948
@anliakho2 Looking forward to it, that will be very helpful.

[2020-05-05 21:45] swanderz commented on #925
@SKrupa thanks for sticking with me here. I _did_ have a conda issue and completely wiped it. My mistake was adding conda dirs to the the PATH variable. It caused the base environment's `pip` to be used regardless of what environment I was in... /facepalm.

So now I've got a fresh environemnt with the following azureml packages:
[code]

I was able to submit the [`forecasting-beer-remote.ipynb`](ht

[2020-05-05 23:03] SKrupa commented on #925
@swanderz Cool! Glad to hear it was just an issue with the base env, I've run into similar issues on my own machine so figured I'd make sure :).

As for azureml-explain-model needing to be installed, that seems to be a bug on our side. I've created an item for our team and this will be addressed in a future release. In the meantime, the only work arounds would be to either install "azureml-explain

[2020-05-05 23:36] vineetgarhewal commented on #926
Any update on this ?

[2020-05-06 06:08] MaheshSQL opened #957 "ParallelRunStep: Workers don't pick up any task!"
Hello Team,

I am running distributed training on Azure ML Compute Cluster, 3 nodes.
I'm using file dataset and mini_batch parameter is set = 1 (So that files are distributed to all workers). There are 100 files read from Datastore.

After reviewing the Worker logs from Azure ML Studio (Workspace), I see all the print() statements in stdout.txt for my master node. However these stdout files are bl

[2020-05-06 06:59] martin-weber commented on #941
I had the same  issue and was able to solve it by running:
`pip install --upgrade azureml-sdk`

[2020-05-06 12:36] adamthorne opened #958 "Connection Errors"
WARNING - Retrying (Retry(total=2, connect=2, read=3, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000001919ED04288>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed b

[2020-05-06 16:20] GiftA-MSFT commented on #957
@MaheshSQL we will review your feedback and get back to you shortly. Thanks.

[2020-05-06 16:26] GiftA-MSFT commented on #958
@adamthorne we will review your feedback and get back to you shortly. Thanks.

[2020-05-06 16:35] lehmus opened #959 "AutoML extension installation fails on Ubuntu 20.04 (support Python 3.8)"
I am not able to install the AutoML extension on a local computer running Ubuntu 20.04. Tried to run this command from the documentation:

pip install --upgrade azureml-sdk[explain,automl]

but I run into the following error:

ERROR: Could not find a version that satisfies the requirement onnxruntime==1.0.0 (from azureml-train-automl-runtime~=1.4.0-&gt;azureml-train-automl~=1.4.0; extra == "automl

[2020-05-06 19:20] nibaccam commented on #925
@swanderz thank you for reporting this. I've created an internal doc team work item to document the work around. @SKrupa I'll tag you in the item so we can coordinate. We will now proceed to close this thread. #please-close

[2020-05-06 19:41] #925 closed

[2020-05-06 19:43] maswaffer commented on #926
Getting this in the "Getting Started with Azure Machine Learning" lab

[2020-05-06 22:09] MaheshSQL commented on #957
Thank you, we can see the worker stdout by going to AML Default BLOB Store for respective run.
Also the distributed training success can be confirmed from processed_task.csv under sys -> report where we can see tasks were processed by workers.

I believe the streaming of the worker stdout into Azure ML shall be fixed soon.
Closing the issue as it is no longer a blocker for me.

@psavdekar @GiftA-M

[2020-05-06 22:09] #957 closed

[2020-05-06 23:14] SturgeonMi commented on #950
Added a feature to support v19.

[2020-05-07 07:03] ram-msft commented on #959
@lehmus Thanks for the question. We will update you shortly.

[2020-05-07 11:55] adamthorne commented on #958
Thanks for this. I added the run details code to watch what was happening in the test_run

`    RunDetails(test_run).show()
    print(RunDetails(test_run))`

I think the timeout is happening because of Conda issue .When I look in the 60_control_log.txt is the below message printed many, many times. That "wait" is presumably driving the time out shown above.
**_Waiting for other Conda operations to

[2020-05-08 13:58] epa095 commented on #950
@SturgeonMi thanks for opening an issue for me in `dotnetcore2`. Is there any way I can track it (i.e. is it publicly available in any way)?

[2020-05-08 14:23] epa095 commented on #713
@jmwoloso I run ubuntu 19.10, which is also not supported. But I can trick it to work by just lying to the dotnetcore2 code about what distro I am running. I add the following at the top of my code, *before* any azure imports.

[code]

[2020-05-08 16:58] kchaitanyabandi opened #960 "CUDA Driver not installed on the compute instance? (Docker image I guess)"
Hi,

I started using the Pytorch Estimator to train an image classification network. I found that no matter what dedicated compute instance I used (4xK80, 4xP40, or 1xV100), the torch.cuda.is_available() command in the entry script always returned False.

But the funny thing is that the same command returns True as the CUDA driver is installed on the compute kernel when I checked on the notebook s

[2020-05-08 17:10] GiftA-MSFT commented on #960
@kchaitanyabandi we will review your feedback and get back to you shortly. Thanks.

[2020-05-08 17:27] GiftA-MSFT commented on #958
@danielsc can you please help look into this issue? Thanks.

[2020-05-08 18:14] kchaitanyabandi commented on #960
Thank you. Any resolution would be super helpful as a great chunk of my work at the company depends on this.

[2020-05-08 23:31] GiftA-MSFT commented on #960
@maxluk please can you help look into this issue further? Thanks.

[2020-05-11 09:40] iarovyi commented on #274
Still problem.
Tried to do a hello world with ML editor

![image](https://user-images.githubusercontent.com/2605923/81547430-1ffb1d80-937c-11ea-8ecc-e85e95f159f0.png)

[2020-05-11 09:48] RoozbehBandpey opened #961 "Experiment name length limit"
- **Package Name**: azureml.core
- **Package Version**: 1.1.5
- **Operating System**: Windows 10 64-bit
- **Python Version**:  3.7.3 64-bit

While trying to fetch runs for experiments which have names longer that 36 character, the SDK returns this:
[code]
While still it is possible to submit experiments with names longer than 36 chars via AML pipeline
**How to handle metrics for those experiments?

[2020-05-11 15:13] vizhur commented on #956
this is a user error. there is no package astor-0.7.1-py_0 on conda-forge channel caused by recent (kinda... it happened 2 months ago) conda channels reshuffle.

please add anaconda channel to your environment. latest AzureML SDK versions automatically add it if user does not specify the channels

[2020-05-11 15:13] #956 closed

[2020-05-11 15:49] GiftA-MSFT commented on #961
@RoozbehBandpey we will review your feedback and get back to you shortly. Thanks.

[2020-05-11 17:59] kchaitanyabandi commented on #960
I also observed that, once I start an experiment run and then stop the compute instance, for some reason, the Azure ML Studio still shows the experiment as running even after the compute instance has stopped. Is this normal? I was under the impression that the docker container spin up happened on the compute instance. Please correct me if I'm wrong.

[2020-05-11 23:25] zhipenghan opened #964 "Run setup.py before running main.py"
The backend is running the script within a docker container. As the users have customize environment to setup before running the main.py. It's not flexible as there is no way to customize the data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb938463-51c2-43f3-d528-76a07a28bec8
* Version Independent ID: e15753c0-6fe

[2020-05-12 02:02] GiftA-MSFT commented on #961
@maxluk can you please review the above feedback? Thanks.

[2020-05-12 02:33] GiftA-MSFT commented on #964
@zhipenghan we will review your feedback and get back to you shortly. Thanks.

[2020-05-12 02:49] DebFro commented on #450
As no further detail regarding this issue has been provided to assist with troubleshooting, I am closing this issue at this time.

[2020-05-12 02:49] #450 closed

[2020-05-12 03:59] jadhosn opened #966 "AutoMLEnsembleException: Could not find any models for running ensembling."
I'm facing this exception with ensemble in AutoML:

This exception is showing up in the voting ensemble child run.

@CESARDELATORRE

### AutoML Settings:
[code]

### SDK Info:
- Python version: 3.7.6
- AzureML SDK version: 1.1.5.1

### Traceback:

Class: AutoMLEnsembleException
Message: AutoMLEnsembleException: Could not find any models for running ensembling.
Traceback:   File "fit_pipeline.py",

[2020-05-12 04:51] ram-msft commented on #966
@jadhosn Thanks for the question. We will update you shortly.

[2020-05-12 16:26] rtanase commented on #966
It looks like we the download of models required for ensembling procedure didn't finish within the default timeout of 5 minutes. Please increase that timeout by setting this parameter in the AutoMLConfig: **ensemble_download_models_timeout_sec** to a larger value.

[2020-05-12 16:39] CESARDELATORRE commented on #966
Hi @jadhosn , can you provide the **RUN ID** for further analysis, please?
Also the run's **log files** (you can send it to me with a link through email or teams)

[2020-05-12 17:20] jadhosn commented on #966
Sure thing @CESARDELATORRE. @rtanase can you please share more on how `ensemble_download_models_timeout_sec` works as it's not mentioned in the AutoML Config doc [page](https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.automl.automlconfig.automlconfig?view=azure-ml-py)?

[2020-05-12 17:33] rtanase commented on #966
During Ensemble generation we download the fitted models from the previous child runs. By default we allocate 5 minutes for downloading these models in parallel, which seems not enough for your models. The timeout is for all the models to be downloaded. There is no maximum AFAIK.
If the timeout is hit and there are models downloaded then the ensembling proceeds with as many models it has downloade

[2020-05-12 18:16] CESARDELATORRE commented on #966
@jadhosn - Looks like that parameter `ensemble_download_models_timeout_sec` is not public.
We'll document the behavior and analyze if we should make it public for custom configuration.

[2020-05-12 18:23] CESARDELATORRE commented on #966
@jadhosn But I think you could still provide this parameter through **kwargs** as discussed with Razvan. So you still can try that configuration.

[2020-05-12 19:29] CESARDELATORRE commented on #966
This is the proposal for the docs update here, in case you'd like to provide feedback:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-auto-train#ensemble

Section to be added in that doc page:
"
- **ensemble_download_models_timeout_sec**: During ensemble model generation AutoML downloads the multiple fitted models from the previous child runs. By default it allocates 5 mi

[2020-05-12 19:59] rtanase commented on #966
I'd separate in two sections, kwargs specific to StackEnsemble and kwargs applicable to both Stack & Voting ensemble. The ensemble_download_models_timeout parameter is common to both, while the rest that are already in the docs are only applicable to Stack Ensemble.

[2020-05-13 08:27] sam-harvey opened #968 "EstimatorStep and Estimator use different classes for script_params and estimator_entry_script_arguments"
In Estimator we have

In EstimatorStep we have

Is there a reason why EstimatorStep couldn't accept a dict too?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a828a8-b656-f952-dbe7-0cba5cbe17ae
* Version Independent ID: 0b40f59c-e9e4-f311-f936-1565684ec01e
* Content: [azureml.pipeline.steps.estimator_step.EstimatorSt

[2020-05-13 14:13] jadhosn commented on #966
@rtanase I changed the suggested argument to 1 hour, some of the runs are still failing with the same exception (_could not find any models for running ensembling_) so I'm going to push that timeout higher. On the runs where some models were downloaded, the VotingEnsemble is failing on iteration timeout (120 minutes), so I'm also going to push that higher.

For some reason, although `enable_stack_

[2020-05-13 14:57] shpraka commented on #240
@j-martens @sanpil By pre-configure you mean at the time creating the cluster right? What if I have created the cluster outside the azureml notebook and then want to add reference to adls store like below, is there any workaround to achieve that?

[code]

[2020-05-13 15:00] v-strudm-msft commented on #964
@zhipenghan Please provide additional detail illustrating the flexibility to customize the data you are looking for.

[2020-05-13 16:08] kchaitanyabandi commented on #960
Hey guys, I wanted to follow up on this if there was a resolution. The thing is that, although I specify use_gpu=True in the Pytorch estimator, it still spins up a CPU docker base image. Is there a way to get around this?

[2020-05-13 16:28] timoklimmer opened #969 "hbi_workspace setting"
The effect of setting hbi_workspace needs to be documented in more detail. What does "selectively" in "When set to True, downstream services will selectively disable logging." actually mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d94ed89-5c02-627d-be4b-7be85ffeb876
* Version Independent ID: 581b19dc-544c-6a91-

[2020-05-13 17:32] ashoksamal6363 opened #970 "Where does azureml (Model.register() ) really store the registered model in the storage?"
Where does azureml (Model.register() ) really store the registered model in the storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1517f63f-2d2e-1539-060e-0a471c1c438a
* Version Independent ID: 9e466042-1059-b835-8c92-01e9d9858166
* Content: [azureml.core.model.Model class - Azure Machine Learning Python](https://

[2020-05-13 18:12] CESARDELATORRE commented on #964
@zhipenghan - Note that for every PythonScriptStep in a pipeline or for any single Run, you can specify a custom environment with the RunConfiguration class later assigned to the step:

**RunConfiguration class:**
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.runconfig.runconfiguration?view=azure-ml-py

What's the environment customization setup you'd need to do that cannot

[2020-05-13 18:19] CESARDELATORRE commented on #966
About "_For some reason, although enable_stack_ensemble is True, it doesn't run! Only the VotingEnsemble is running_", is model-explainability enabled for those models?

Note that as mentioned in the doc, "_If you are using ONNX models, or have model-explainability enabled, stacking will be disabled and only voting will be utilized_."

If that's not the case, I'd like to follow up on it and isolat

[2020-05-13 18:41] jadhosn commented on #966
No, it's disabled. I added the AutoML settings I'm using below:
[code]

I'll share the run ids and logs where stacking didn't run

Will keep you posted as the runs complete

[2020-05-13 19:46] SamVanhoutte commented on #937
also in the main readme.md there are quite a few dead links
some here:
- ./how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-pytorch/train-hyperparameter-tune-deploy-with-pytorch.ipynb
- ./how-to-use-azureml/training-with-deep-learning/distributed-pytorch-with-horovod/distributed-pytorch-with-horovod.ipynb
- ./how-to-use-azureml/training/logging-api/logging-api.i

[2020-05-13 22:22] CESARDELATORRE commented on #966
Interesting. We are actively investigating what can be the cause on why stacking is disabled.
I'll follow up on this one.

[2020-05-13 23:22] BharathNimmala-MSFT commented on #968
@sam-harvey Thank you for your query, assigned this issue to our document author @j-martens to further look into it.

[2020-05-13 23:26] sanpil commented on #240
@fahdkmsft.

[2020-05-13 23:36] kchaitanyabandi commented on #960
The following is the code I used with the default Pytorch tutorial on the website with classifying birds.

[code]

And the entry script has these line that spit out the following output.

[code]

Output :

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic
0
cudaPresent: False
device: cpu
torchVersion: 1.4.0

The thing I don't under

[2020-05-14 01:05] GiftA-MSFT commented on #970
@ashoksamal6363 we will review your feedback and get back to you shortly. Thanks.

[2020-05-14 01:08] GiftA-MSFT commented on #969
@j-martens please can you help clarify? Thanks.

[2020-05-14 07:03] aleixsd commented on #941
Hello @martin-weber,

In my case, I use Azure Pipelines to execute the ML pipeline. This means every time I run the ML pipeline I use the latest azureml-sdk but error still ocurrs. I also tried other versions of azureml-sdk but haven't found a solution yet.

@YutongTie-MSFT, it's been 17 days already. Have you got any news about this issue?

Thank you

[2020-05-14 10:26] SamVanhoutte opened #972 "Strange exception when submitting ScriptRun locally"
Hello all,

Just followed the very basic steps to try to execute a ScriptRun locally.
I uploaded my repo notebook here: https://gist.github.com/SamVanhoutte/58433f6fc8646dd7c2aa4674ef4f28f0 - you should be able to run it against any AzureML workspace following the executions.

The code I executed is very straight forward:

[code]

The error I'm getting is very strange and does not help me at all,

[2020-05-14 12:56] zoekdestep opened #973 "Specify which metrics are supported to export to TensorBoard"
In this documentation, it is not specified which metrics are supported to export to TensorBoard. It seems that values (e.g. mse) are supported, but plots or images are not. Would be useful to specify.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db08b8e8-ce5e-1650-b6cb-2cc7fc7f7a23
* Version Independent ID:

[2020-05-14 14:58] v-strudm-msft commented on #972
@SamVanhoutte Thanks for your feedback. We're routing this to the appropriate team to follow up.

[2020-05-14 16:13] GiftA-MSFT commented on #973
@j-martens please review above feedback for doc enhancement. Thanks.

[2020-05-14 17:03] anliakho2 commented on #948
@svickers We have released the new version of `azureml-dataprep`
[link to pypi](https://pypi.org/project/azureml-dataprep/1.6.0/)

If you want you can try it and let us know if this resolves your issue.
Thanks !

[2020-05-14 20:13] #945 closed

[2020-05-14 20:15] adamthorne commented on #958
I can report back that this seems to be a local environment or local performance issue. The above issue i can replicate over and over on an i5 Gen 7 Windows 10 Enterprise computer. However I configured the exact same conda environment on an i7 Gen 8 Ubuntu machine and the script runs fine to completion with no time out I will close this issue.

[2020-05-14 20:15] #958 closed

[2020-05-14 20:19] adamthorne commented on #886
derdahn this is the same issue i have subequently reported here: https://github.com/Azure/MachineLearningNotebooks/issues/958

I replicated my environment from windows on an i5 chip to ubuntu i7 and this error disappeared.

[2020-05-14 20:30] adamthorne commented on #867
I think this is an excellent summary. I would still love to know what is with splitting the training dataset into train and valid (my assumption is that its used somehow for model scoring but would love to be clear!!!!)

[2020-05-14 23:40] GiftA-MSFT commented on #970
@ashoksamal6363 they are stored in your workspace.

![image](https://user-images.githubusercontent.com/51332022/81996334-bc425000-961a-11ea-8fe6-80aa111ef15b.png)

[2020-05-14 23:40] #970 closed

[2020-05-15 07:29] oo2316oo opened #974 "Dataflow can not work for AML run."
when we configure dataflow item for AUTOml RUN training data and validation data, it is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acefcd26-56c5-29eb-0399-a05c5aa2b5ff
* Version Independent ID: 3296fba4-71ac-585a-738e-d927eef8087d
* Content: [azureml.dataprep.Dataflow class - Azure Machine Learning Pyth

[2020-05-15 11:34] RohitMungi-MSFT commented on #974
@RohitMungi-MSFT Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-05-16 00:03] CESARDELATORRE opened #975 "[docs] Change X_valid mention in the cv_splits_indices parameter section in SDK Reference and mention validation_data instead"
Since X,y approach is being deprecated in AutoMLConfig class, change X_valid mention in the cv_splits_indices parameter section and mention validation_data instead.

Current text is:
"
Do not specify cv_splits_indices if specifying split validation data with X_valid. Specify either cv_splits_indices or n_cross_validations, but not both. Similarly, specify either cv_splits_indices or validation_siz

[2020-05-16 00:05] CESARDELATORRE commented on #916
@vmagelo - If this is done, can you close/hide this issue?
It's still appearing in the doc page.

[2020-05-16 00:05] CESARDELATORRE commented on #915
@vmagelo - If this is done, can you close/hide this issue?
It's still appearing in the doc page.

[2020-05-16 17:03] RohitMungi-MSFT commented on #975
@CESARDELATORRE Thanks for the feedback. I have assigned the issue to AutoML team to check and make this update.

[2020-05-16 17:03] KrishnaG-MSFT commented on #975
@j-martens please review above feedback for doc enhancement. Thanks.

[2020-05-16 19:50] adamthorne opened #976 "Can not return the inferred horizon values from beer forecasting"
In the beer forecasting tutorial it shows how to set up the experiment and then run and score the models but not how to actually produced the predicted values out to the max_horizon.

I tried to call infer directly to do this using the below code but it returns an error KeyError: test_data (even if dates unique and regardless of whether a grain exists)```

from infer import do_rolling_forecast
df_

[2020-05-17 01:14] omartin2010 commented on #875
by the way, I still don't see any changes in the doc. Can you point me to them? I'm having to point someone to it and right now... it doesn't work. This FROM ubuntu thing, I believe is broken b/c conda isn't there.

[2020-05-17 09:43] TravisCragg-MSFT commented on #976
@adamthorne can you post a link to the doc you are referring to?

[2020-05-17 12:35] adamthorne commented on #976
Travis thanks for response :)

I'm essentially looking at the beer forecasting tutorial from here: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-beer-remote/auto-ml-forecasting-beer-remote.ipynb

This tutorial returns the scores from the experiments to the summary_df but does not return the actually inferred values within th

[2020-05-17 16:02] j-martens commented on #975
@CESARDELATORRE - did you provide this feedback to marc when you reviewed the package docs?

cc: @vmagelo

[2020-05-17 16:03] #915 closed

[2020-05-17 16:03] #916 closed

[2020-05-17 23:49] CESARDELATORRE commented on #975
I don’t think I did provide this feedback until now. I think we missed that mention in the content.

This parameter is an advanced feature that until a recent fix only worked in local runs. In any case I think we missed it in that review weeks ago.

[2020-05-18 19:08] purnesh42H commented on #907
@beekill95 if you create the step again along with pipeline, after changing the argument, it will rerun. PipelineParameter is the correct way to achieve this for a published pipeline.

Alternatively, if you want to always trigger a new run, you can set allow_reuse flag to false for that step.

[2020-05-18 20:45] DebFro commented on #974
@oo2316oo sorry to hear you are having troubles.  Can you please provide additional context as to the steps you are taking and the error you are receiving.

[2020-05-19 12:48] vizhur commented on #959
@lehmus I believe that should work now. onnxruntime just released 3.8 version. If you see any issues please consider to user py37

[2020-05-20 01:33] Exlsunshine commented on #487
still seeing this error:
                                        More information can be found using '.get_logs()'
E                                                     Error:
E                                                     {
E                                                       "code": "KubernetesError",
E                                                       "statusCode": 400,
E

[2020-05-20 08:15] lehmus commented on #959
It seems that Python 3.8 is only supported for onnxruntime >= 1.2.0. This conflicts with requirement onnxruntime == 1.0.0 in 'azureml-train-automl' (latest version).

So the issue is not Ubuntu 20.04, but Python 3.8. I confirmed this by installing azureml-sdk[automl] with conda for both 3.7 and 3.8. Python 3.7 installation succeeds but 3.8 fails. So the current workaround is to use Python 3.7.

Th

[2020-05-20 08:18] lehmus commented on #959
Note that the Windows Store currently ships Python 3.8, so AutoML installation will probably fail on Windows as well...

[2020-05-20 17:08] tthpham opened #980 "Can't use AutoArima or Prophet for AutoMLConfig"
The config we try:
[code]
The error message:
[code]

[2020-05-21 04:07] GiftA-MSFT commented on #980
@tthpham we will review your feedback and get back to your shortly.  Thanks.

[2020-05-21 14:23] vmagelo commented on #955
We updated the docs for add_transformer_params with example and pointing to list of CUSTOMIZABLE_TRANSFORMERS attribute. We also improved the general class docs. Changes will go live in next release 1-2 weeks.

[2020-05-21 14:27] vmagelo commented on #953
We changed the example. Change will go live in 1-2 weeks with next release.

[2020-05-21 23:13] adamthorne commented on #976
On further experimentation now I understand that applying the trained model to test_data is the forecast and it will work up to the dates provided in the time-series in the test_data data frame.

Leaving this here for future reference of others.

[2020-05-21 23:13] #976 closed

[2020-05-22 10:14] dgcaron opened #981 "can't run mnist tutorial on remote cluster"
i was following the steps on this tutorial:

[https://github.com/Azure/MachineLearningNotebooks/tree/master/tutorials/image-classification-mnist-data](url)

i am unsure how to solve this issue effectively as it looks like the node image is misconfigured for joblib?

--- logs
bash: /azureml-envs/azureml_e43ff11e7e1d0c0598a1a23316061ca3/lib/libtinfo.so.5: no version information available (required b

[2020-05-22 14:20] ryotatomioka opened #982 "Explain the purpose of providing a name for PipelineData"
It is not clear from the documentation why `PipelineData` needs to have a name. Can it be blank? Does it need to be unique? The name seems to be used as part of blob storage path under `azureml/[run_id]/`. So I believe it is ok to use the same name for two independent runs but these are my speculations. It would be much more clear if the doc explained the significance of the name.

---
#### Docume

[2020-05-22 17:43] GiftA-MSFT commented on #981
@dgcaron we will review your feedback and get back to you shortly.

@maxluk can you please help looking into this issue

[2020-05-22 18:02] GiftA-MSFT commented on #982
@ryotatomioka as mentioned in the document, **name** represents the name of the PipelineData object, which can contain only letters, digits, and underscores. Name is required.

[2020-05-24 04:54] cmsimpson31 opened #983 "Failed to Build Deployment Environment - Possibly CUDA related"
Hello, I'm getting an error that's beyond me. This occurs when running running Model.deploy. My .yml file is quite simple:

name: deploy
dependencies:
  - python=3.6.0
  - azureml-defaults
  - azureml-sdk
  - tensorflow=2.2

Error logs below......
2020/05/24 04:28:30 Downloading source code...
2020/05/24 04:28:31 Finished downloading source code
2020/05/24 04:28:32 Creating Docker network: acb_def

[2020-05-24 09:18] ryotatomioka commented on #982
Thank you @GiftA-MSFT but the document does not explain __WHY__ a user needs to specify a name.

If you can think from a user's perspective, is there __ANY__ benefit for a user in giving PipelineData a name?

What happens if a user gives the same name to more than one PipelineData objects?

[2020-05-24 23:47] BharathNimmala-MSFT commented on #983
@cmsimpson31  Thank you for reaching out , can you please share the documentation link which you are referring, which would help our team to route you accordingly.

[2020-05-24 23:54] cmsimpson31 commented on #983
Thanks for looking into it! :)

This link should produce the same error message.

https://iobotanymlwork2011288214.blob.core.windows.net/azureml/ImageLogs/7318187b-cda2-40fe-9982-172bf51dbc8a/build.log?sv=2018-03-28&sr=b&sig=QZEqTrQdan5%2BRKnAG8rn6tk4swwJt63zxucthSqgLUQ%3D&st=2020-05-24T23%3A47%3A08Z&se=2020-05-25T07%3A52%3A08Z&sp=r

best,
Cory

[2020-05-26 15:05] GiftA-MSFT commented on #982
@ryotatomioka name is used as the output name in one step (unless 'output name' is provided) and as input of one or more subsequent steps.

[2020-05-26 18:57] csteegz commented on #487
The error message literally indicates the issue, none of the nodes have GPUs available.
Please take a look at the skus that [include GPUs](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster) or use an environment that does not require a GPU.

[2020-05-26 19:44] vmagelo commented on #936
We updated the docs. Changes will appear in next SDK release in 1-2 weeks. Thanks!

[2020-05-26 20:28] gvashishtha commented on #487
Thanks, Colin, for your help! @all on this thread, seems like you are being guided to use GPU's but may not actually need them. If you can share the link to the tutorial/documentation you were following, would be helpful to understand why you are trying to use GPU's.

[2020-05-27 04:55] GiftA-MSFT commented on #982
@sanpil please do you have any additional information to provide here?

[2020-05-27 12:44] szonp opened #985 "Missing documentation on get_model_path method behaviour when _workspace=None"
Example code

[code]

Obtaining model path using **get_model_path** method without giving it **_workspace** parameter limits the search for a model to local cache only. This behaviour is not documented and is a bit misleading, since model object has been created with reference to the workspace (**ws**).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-27 15:05] RohitMungi-MSFT commented on #985
@szonp Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-05-27 17:12] alexkalita commented on #982
PipelineData names are used to identify the outputs of a step.  After a pipeline run has completed, you can use the step name with an output name to access a particular output.  The names should be unique within a single step in a pipeline.

For example:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-wit

[2020-05-27 17:29] GiftA-MSFT commented on #982
@alexkalita thanks for your input.

@ryotatomioka will now proceed to close this thread. Thanks.

[2020-05-27 17:29] #982 closed

[2020-05-27 17:42] BreakingBI opened #986 ""enable_dnn" parameter is not listed in the reference for AutoMLConfig() function"
[Enter feedback here]

The "enable_dnn" parameter is specifically leveraged in a number of examples, but isn't present in the function documentation.  It's unclear how this should be leveraged or what exactly it does, if anything.  This makes it difficult to understand why DNN's don't appear in the AutoML run results.

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azurem

[2020-05-27 18:22] luuk-codebeez commented on #941
If so please close the issue :)

[2020-05-27 20:07] GiftA-MSFT commented on #986
@BreakingBI we will review your feedback and get back to you shortly. Thanks.

@Aniththa can you please review the above feedback? Thanks.

[2020-05-28 01:54] vizhur commented on #983
@cmsimpson31 from what I see from the logs, you have azureml dependencies in conda section. AzureML Python SDK is available on PyPI only. Please update your environment to

dependencies:
-python=3.6
-tensorflow=2.2
-pip:
 -azureml-defaults

please consider to avoid using azureml-sdk metapackage in your environments and reference packages you need. List of the packages and reference documentation i

[2020-05-28 02:08] vizhur commented on #981
@dgcaron scikit-learn deprecated vendored joblib starting 0.23. either downgrade scikit-learn by pinning upperbound to <0.23 or add joblib into environment and replace failing line with import joblib

[2020-05-28 05:12] sumitkuml commented on #972
Hi,
Getting same error while trying to start training using custom docker.
anyone spot a workaround for this?

[2020-05-28 05:47] SamVanhoutte commented on #972
I didn't get any of this to work locally, no.  Really hoping for a solution here, @maxluk ?

[2020-05-28 12:11] BreakingBI opened #987 "Depracated Tensorflow Models should be labeled as such"
[Enter feedback here]

In the Azure ML Python SDK Reference Guide, we list all of the supported AutoML models.  The Classification and Regression pages mention Tensorflow models.  These models appear to be implicitly black-listed, even though they do not appear in the list of Blacklisted models in Azure ML Studio.  If these are depracated, please update these documentation pages to reflect this.

[2020-05-28 12:36] j-martens commented on #987
@CESARDELATORRE - would you be able to  confirm the expected state of these please? Or tell us who can? Thank you!!

[2020-05-28 12:39] j-martens commented on #987
@BreakingBI - I see only one link here (copied twice). Did you mean to share 2 different links?

[2020-05-28 15:25] swanderz commented on #906
deleting, then recreating this compute target resolved the problem. I'll re-open if I see this behavior again.

[2020-05-28 15:25] #906 closed

[2020-05-28 15:38] tvaucher commented on #960
Hello,
Facing the same issue. Any update on that ? @kchaitanyabandi did you find a workaround ?
Thanks in advance.

[2020-05-28 16:04] BreakingBI commented on #987
My apologies.  The second link was supposed to be to the regression page.

https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.automl.constants.supportedmodels.regression?view=azure-ml-py

[2020-05-28 17:34] CESARDELATORRE commented on #987
@j-martens - The feedback provided is right. The TensorFlow models are currently not used unless whitelisted. In the upcoming releases those TF models will be removed, too.

Hence, those reference pages above should be updated plus this additional page where we're still listing the TF models (DNN based):

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-auto-train#select-yo

[2020-05-29 02:59] Mike-Ubezzi-MSFT commented on #983
@cmsimpson31
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-29 02:59] #983 closed

[2020-05-29 03:00] cmsimpson31 commented on #983
Thanks all!!!

On Thu, May 28, 2020, 7:59 PM Mike Ubezzi <notifications@github.com> wrote:

[2020-05-29 06:53] dgcaron commented on #981
ok, thanks for the feedback!

[2020-05-30 10:41] dem108 commented on #739
@alextran1502 Did service.get_logs() yield any useful information?

[2020-06-01 12:20] BreakingBI opened #988 "OJ Forecasting Example Notebook uses Unsupported Parameter in AutoMLConfig"
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-orange-juice-sales/auto-ml-forecasting-orange-juice-sales.ipynb

For the OJ Forecasting Example Notebook, we receive the following error when we submit the experiment.

WARNING - Received unrecognized parameter: experiment_timeout_hours 0.25

This parameter is explicitly listed i

[2020-06-01 13:53] BreakingBI opened #989 "Fatal Error in AutoML OJ Forecast Example Notebook when Forecasting Test Data"
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-orange-juice-sales/auto-ml-forecasting-orange-juice-sales.ipynb

For the OJ Forecasting Example Notebook, we receive the following error when we attempt to run the following code:

**CODE START**

y_predictions, X_trans = fitted_model.forecast(X_test)

**CODE END**
**OUTPUT START

[2020-06-01 16:16] #936 closed

[2020-06-01 17:28] Karishma-Tiwari-MSFT commented on #987
Test

[2020-06-01 17:33] Karishma-Tiwari-MSFT commented on #988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-01 20:55] Karishma-Tiwari-MSFT commented on #989
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-01 22:34] gvashishtha opened #990 "parameters appear malformed"
The parameters for this class appear malformed on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff1a3c8d-b8f9-e935-d60d-af2ff641d238
* Version Independent ID: c019227e-b16c-b5b9-d737-b8b7cc5339d9
* Content: [azureml.core.compute.computeinstance.ComputeInstanceStatus class - Azure Machine Learning Python](htt

[2020-06-01 23:42] MarileeTurscak-MSFT commented on #990
@j-martens
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 02:43] jonrbates opened #991 "Apex support"
How can I add Apex (ie. FP16) to a pytorch estimator?
https://github.com/NVIDIA/apex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb892243-d2f3-79a1-4061-b2d46235aff4
* Version Independent ID: a6e4c4ab-3665-c0d3-65ff-abc5cbb0b835
* Content: [azureml.train.dnn.PyTorch class - Azure Machine Learning Python](https://doc

[2020-06-02 16:56] SaurabhSharma-MSFT commented on #991
@jonrbates Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 18:16] Aniththa commented on #986
@BreakingBI Thanks for the feedback. We will work on exposing it in API docs. As you correctly mention, currently user facing notebooks have this flag available but yes it should be part of the API docs soon.

[2020-06-02 18:17] Aniththa commented on #986
@GiftA-MSFT this can be marked as resolved.

[2020-06-02 18:22] Aniththa commented on #980
@tthpham this is the expected behavior. Since we only recommend one iteration of prophet. If you only whitelist Prophet, then only 1 iteration will be run. We will work on defaulting this behavior so you don't run into this error.

[2020-06-02 19:19] tthpham commented on #980
@Aniththa Thank you for the response. Unfortunately, I retried with this settings below (I have already tried with and without `blacklist_models` parameter) and have another error.

[code]

The error message:
[code]

[2020-06-02 23:18] GiftA-MSFT commented on #986
Thanks @Aniththa. Will proceed to close.

[2020-06-02 23:18] #986 closed

[2020-06-02 23:23] kchaitanyabandi commented on #960
Hey @tvaucher ,

I found that CUDA is being detected when a compute target is a cluster of machines and not a compute instance (dedicated VM). The cluster would auto-scale according to your script. Let me know if that answers your question.

[2020-06-03 17:07] GiftA-MSFT commented on #991
@Aniththa can you please review above feedback. Do we currently support or have plans to support APEX?

[2020-06-03 19:13] Aniththa commented on #980
@tthpham did you specify the white list models: this doesnt look correct in the configuration: whitelist_models=whitelist_model,
blacklist_models=[],

[2020-06-03 20:25] tvaucher commented on #960
Hey @kchaitanyabandi,
Thanks for your reply, I'll check that too.

I found a workaround in the meantime, but it costed me way too much energy and time for something that *should* work out of the box. I ended up having to install [`nvidia-docker`](https://github.com/NVIDIA/nvidia-docker) on the VM, then create my own [`Environment`](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.c

[2020-06-03 21:07] vmagelo commented on #954
Thanks for the report. We addressed this in the docs and change will appear live in next SDK release in 1-2 weeks.

[2020-06-03 21:08] #954 closed

[2020-06-03 21:08] PeterCLu commented on #954
#please-close

[2020-06-04 02:02] #981 closed

[2020-06-04 02:03] vizhur commented on #959
resolving the issue as automl does not support python 3.8 at the moment until onboards with the latest onnx

[2020-06-04 02:12] GiftA-MSFT commented on #989
@BreakingBI I was able to run the notebook successfully. Please check result of prior steps.

![image](https://user-images.githubusercontent.com/51332022/83707071-267d5d80-a5e7-11ea-9a30-b0f6d21a3fa9.png)
![image](https://user-images.githubusercontent.com/51332022/83707125-3eed7800-a5e7-11ea-84dd-cf295fb5dadb.png)

[2020-06-04 02:29] GiftA-MSFT commented on #988
@BreakingBI I can confirm a successful submission. Can you try again, it could be an intermittent issue or issue with your set up? Refer to my response [here](https://github.com/Azure/MachineLearningNotebooks/issues/989) as well.

[2020-06-04 02:29] #988 closed

[2020-06-04 14:04] mikemowgli opened #993 "Estimators with Databricks compute target"
Hi,
Does an estimator support a compute target of type 'Databricks'?
If yes, how can I pass to the estimator the spark_version and the PyPiLibraries?
If not, is it on the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db16bca-3797-0285-3ef2-99de84e4a0be
* Version Independent ID: cba716ef-395b-c8f9-2cbc-967bbc

[2020-06-04 14:07] mikemowgli commented on #899
Also, a reason why a Databricks compute target is needed is that a HyperDrive parameter tuning relies on an estimator. So as long as the Estimator class does not support the Databricks compute target, nobody could ever run hyperparameter tuning on databricks... or am I seeing this wrongly?

[2020-06-04 14:07] mikemowgli commented on #993
Duplicate of #899

[2020-06-04 14:07] #993 closed

[2020-06-04 14:57] ryotatomioka commented on #982
Thanks @alexkalita for pointing me to the example.

[2020-06-05 15:46] GiftA-MSFT commented on #989
Will proceed to close this thread but feel free to comment below if you have updates or would like the thread to be reopened. Thanks.

[2020-06-05 15:46] #989 closed

[2020-06-05 15:53] vmagelo commented on #872
We added the note. Change will appear with next SDK release in 1-2 weeks.

[2020-06-05 15:59] vmagelo commented on #969
We added to the parameter description to link to more information and describe what this setting does a bit better. Changes will appear in next SDK release in 1-2 weeks.  Basically, some information is redacted for internally-collected telemetry but this has no impact on what users see. In addition, some additional encryption is performed as described here: https://docs.microsoft.com/azure/machine

[2020-06-05 20:20] #872 closed

[2020-06-05 20:20] #969 closed

[2020-06-05 22:10] v-strudm-msft commented on #251
#please-close

[2020-06-07 15:22] leoxiaobin opened #994 "using pytorch 1.5 problem"
[Enter feedback here]
When I set framework_version=1.5 in Pytorch Estimator. After submitting the job, it shows an error that "UserError: Unable to get image details : Specified base docker image pytorch:1.5-gpu not found".

When I want to use pytorch 1.5, do I need to do any other configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-06-07 16:20] MarileeTurscak-MSFT commented on #994
@leoxiaobin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 11:01] ignaciofls opened #995 "Broken link in amlsamples"
It doesnt find the link in "Projects using Azure Machine Learning" section

Visit following repos to see projects contributed by Azure ML users:

AMLSamples Number -> broken

[2020-06-08 16:52] GiftA-MSFT commented on #995
@ignaciofls we will review your feedback and get back to you shortly. Thanks.

[2020-06-08 18:16] GiftA-MSFT commented on #994
@leoxiaobin I tried running this [sample](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/deployment/train-hyperparameter-tune-deploy-with-pytorch/train-hyperparameter-tune-deploy-with-pytorch.ipynb) and specified "framework_version=1.5" without errors.
![image](https://user-images.githubusercontent.com/51332022/84065572-92b6e300-a992-11ea-9d1

[2020-06-08 18:23] GiftA-MSFT commented on #995
Hello @DebFro please do you know who's the appropriate POC to update the link?

[2020-06-08 23:21] DebFro opened #997 "test"

[2020-06-08 23:22] DebFro commented on #997
#Please-close

[2020-06-08 23:33] DebFro commented on #997
#please-close

[2020-06-09 03:38] a30001539 opened #998 "Add MsiAuthentication to signature for Workspace() auth parameter"
For the Workspace() auth parameter, I believe MsiAuthentication() is also supported, there are examples of its usage in MS docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90efe042-27ac-6e77-9292-10df77bb1c36
* Version Independent ID: 3b9f2576-7d3f-00f8-0afe-549960520f08
* Content: [azureml.core.Workspace class - A

[2020-06-09 03:43] a30001539 opened #999 "More than just Azure VM's can use Managed Identity for auth"
Update to say Managed Identity is supported on Azure Functions and Azure Data Factory too, or any Azure service that supports the AzureML Python SDK and Managed Identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeee5fbb-56db-817e-f095-928ea13e478e
* Version Independent ID: 10f2c77a-1dd7-29bb-7e04-c57885c39813
* C

[2020-06-09 05:05] leoxiaobin commented on #994
@GiftA-MSFT , I have tried again, however I still get the same error information. could you me any advice about how to debug it?

[2020-06-09 07:37] maxvfischer opened #1000 "Boolean choice breaks GridParameterSampling and BayesianParameterSampling"
**SETUP**
- macOS Catalina v. 10.15.4
- Python 3.7.6
- azureml-automl-core==1.4.0
- azureml-core==1.4.0.post1
- azureml-dataprep==1.4.6
- azureml-dataprep-native==14.1.0
- azureml-mlflow==1.4.0
- azureml-pipeline==1.4.0
- azureml-pipeline-core==1.4.0
- azureml-pipeline-steps==1.4.0
- azureml-sdk==1.4.0
- azureml-telemetry==1.4.0
- azureml-train==1.4.0
- azureml-train-automl-client==1.4.0
- azureml

[2020-06-09 15:27] DebFro commented on #997
#please-close

[2020-06-09 15:27] #997 closed

[2020-06-09 17:53] GiftA-MSFT commented on #999
@j-martens @DebFro can you please review above feedback for doc enhancement? Thanks.

[2020-06-09 17:55] GiftA-MSFT commented on #998
@j-martens @DebFro can you please review above feedback for doc enhancement? Thanks.

[2020-06-09 18:01] GiftA-MSFT commented on #1000
@maxvfischer we will review your feedback and get back to you shrotly.

@swatig007 can you please review above feedback? Thanks.

[2020-06-09 18:24] GiftA-MSFT commented on #994
@leoxiaobin did you try the sample notebook I provided above? Can you describe your development environment and resource location? Please share your estimator configurations if possible. Ensure that you have created a **gpu enabled compute cluster** and specified `use_gpu=True` in your estimator. Here's another [documentation/sample](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-t

[2020-06-09 19:03] swanderz commented on #982
@ryotatomioka totally understand where you are coming from. Managing the variable name that represents the `PipelineData` that also has its own `name` property can get confusing. I've had multi-hour "bugs" where it turned out that I was referencing the variable name instead of the `name` property.
also FWIW that the `name` is what is displayed in the UI of the Pipeline DAG. In the image below, `ex

[2020-06-09 21:13] swatig007 commented on #1000
@nagau can you pls take a look?

[2020-06-09 21:24] swatig007 commented on #1000
Hi @maxvfischer Choice parameter values should be 'int', 'string' or 'float'. Boolean is not supported. Can you please try resubmitting using 0/1 or string values?

[2020-06-09 21:24] Larleyt opened #1001 "AKS, can't deploy a model that reads and writes to DataStorage at scoring"
(First of all, sorry if this is the wrong repo for this issue. Seen something alike here.)
I have a model that detects something on an input image and outputs an image (so it is binary data and simple ModelDataCollector would not work here). I'm going to deploy it as AksWebservice. In `run()` function of `score.py` I need it to **read an image from a DataStorage** (or URL if reading from DS is not

[2020-06-10 08:13] Sup90 opened #1002 "auto-ml-classification-bank-marketing-all-features.ipynb doesn't work"
auto-ml-classification-bank-marketing-all-features.ipynb doesn't work at the "best_run_customized, fitted_model_customized = remote_run.get_output()" with this error.
![KakaoTalk_20200610_171212866](https://user-images.githubusercontent.com/30144765/84243744-9c307e80-ab3d-11ea-8272-94ccb3b45975.png)

i think because of xgboost version update

and same error occurred when i try to use auto ml best

[2020-06-10 09:45] ram-msft commented on #1001
@Larleyt Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-10 13:18] Radeju opened #1003 "dataset.download() Unsupported Linux distribution"
I am trying to download an AzureML dataset on Ubuntu 20.04. I am using azureml.core library. However, when I try to run it I get following error

[code]

Are you planning to support 20.04 version of Ubuntu? Is there any roadmap? I found this [issue](https://github.com/Azure/MachineLearningNotebooks/issues/713#issuecomment-573493076) from 6 months ago and would really appreciate to hear if anything

[2020-06-10 15:07] farh33n opened #1004 "No ready replicas for service"
Hi

I have deployed model using akswebservice(). When I call this service either by service.run() or by request.post(). I get this error message "No ready replicas for service". Any suggestions?

[2020-06-10 21:04] SamVanhoutte opened #1005 "Get access to the source information of a FileDataset"
Hello all,

I would like to get access to the source information of a FileDataset.
If you consider the following code:

[code]

Then there is an output like the following:
[code]

Is there a documented & supported way to get access to that source information (the data store name and the folder on that location)?  I want to reference the FileDataset and build a `DataReferenceConfiguration` object o

[2020-06-10 23:35] GiftA-MSFT commented on #994
Will proceed to close this issue, but feel free to comment below if you are still experiencing issues and need it reopened. Thanks.

[2020-06-10 23:35] #994 closed

[2020-06-11 00:01] DebFro commented on #995
@ignaciofls I will have the page updated.  Here is the new link https://github.com/microsoft/MLOps/tree/master/examples

[2020-06-11 00:01] #995 closed

[2020-06-11 00:12] Sup90 commented on #1002
@AshokPeddakotla-MSFT  https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/classification-bank-marketing-all-features/auto-ml-classification-bank-marketing-all-features.ipynb

[2020-06-11 04:08] waqassiddiqi opened #1006 "Unable to get dataset as pandas data frame from parquet file"
I have a registered dataset which is basically a 1gb parquet file residing in Azure blob storage. When I try to preview data using code below it takes forever

[code]

And if i try to get entire dataset `dataset.to_pandas_dataframe()` it always runs out of memory even though the azure vm I am using has 14 gb memory.

[code]

[2020-06-11 06:03] SamVanhoutte commented on #1005
Hey May,

I don't want to bother with file path & references in my scripts, etc.  So, I like to use the FileDatasets that are defined in my Workspace, without having to bother where they reside.
When using an Estimator for training, I can just pass these datasets as inputs, like shown in the following code:

[code]

Since I'm now trying to use the same pattern (making a FileDataset available on th

[2020-06-11 06:41] farh33n commented on #1004
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service
For calling service
Request-response consumption on https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-existing-model

[2020-06-11 06:43] grjzwaan commented on #707
@MayMSFT

Yes, the experiment runs successfully and the problem is that the model is registered _without_ reference to the input dataset.

[2020-06-11 06:48] MayMSFT commented on #1005
Hi Sam

You can pass in filedataset as argument in scriptrunconfig
from azureml.core import ScriptRunConfig
[code]
sample notebook: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/train-with-datasets/train-with-datasets.ipynb

[2020-06-11 06:51] SamVanhoutte commented on #1005
Thanks,
I have seen that yes, but I was hoping to be able to specify the folder location myself (like with the `path_on_compute` parameter in the DataReferenceConfiguration.  Is that possible in some way?

[2020-06-11 06:58] MayMSFT commented on #1005
yes. you can pass path_on_compute to the as_mount() method on dataset
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_consumption_config.datasetconsumptionconfig?view=azure-ml-py#as-mount-path-on-compute-none-

[2020-06-11 07:01] SamVanhoutte commented on #1005
Well, thanks!  I learned a lot in this thread.  So, my main problem is solved.
But the actual description of the issue (getting access to that FileDataset information, through the python SDK) is still worth being added , but the priority for me is definitely decreased now.  Thx for being so helpful

[2020-06-11 07:36] RohitMungi-MSFT commented on #1006
@waqassiddiqi Thanks for the question.  Here is the compute [guidance ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#compute-size-guidance)when using different file types that should help to estimate the VM size required.

[2020-06-11 10:36] SamVanhoutte opened #1007 "Error when mounting FileDataset on AmlCompute: StreamAccessException was caused by ThrottlingException."
Hello all,

I am submitting a training script, through a `ScriptRunConfig` and I have two FileDatasets mounted as_input.  These datasets contain around 10.000 images of an average size of 40Kb

This is the code I have:

[code]

This is the error I get:

Failed Step: 5d50e4e8-242a-4263-812a-6ccf16413b4c
Error Message: ScriptExecutionException was caused by StreamAccessException.
  StreamAccessExcep

[2020-06-11 17:18] MayMSFT commented on #707
@grjzwaan that's a missing feature. now you have to manually register the models with dataset. [run.register_model(datasets=(...))](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.run.run?view=azure-ml-py#register-model-model-name--model-path-none--tags-none--properties-none--model-framework-none--model-framework-version-none--description-none--datasets-none--sample-input-dat

[2020-06-11 17:33] MayMSFT commented on #1005
thanks for the feedback! glad that your issue has been resolved.

[2020-06-11 17:49] MayMSFT commented on #1003
thanks for the feedback. We have recorded the feedback and added it as a feature request on our roadmap.

[2020-06-11 23:08] kobulloc-MSFT commented on #1007
@SamVanhoutte Which document does this refer to?

[2020-06-12 04:49] SamVanhoutte commented on #1007
@kobulloc-MSFT - this is not specifically related to a documentation issue or so.  but every time, I'm searching for the github project of AzureML, I end up in this project.  So maybe you could point me to the right location?

Cheer

[2020-06-12 06:37] grjzwaan commented on #707
@MayMSFT Ok, thanks!

Perhaps it's good to add a note with the [run.input_datasets](https://docs.microsoft.com/nl-nl/python/api/azureml-core/azureml.core.run(class)?view=azure-ml-py#attributes) that the attribute `input_datasets` remains empty?

The first thing I tried was to use this information to register the dataset to the model.

[2020-06-12 07:20] kobulloc-MSFT commented on #1007
@SamVanhoutte No worries!  That helps for tagging purposes.  From your error and the number of images that you are working with, I'm pretty sure what you are running into are throttling limits:

- Subscription and service limits: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits
- Throttling Requests: https://docs.microsoft.com/en-us/azure/a

[2020-06-12 07:48] #1006 closed

[2020-06-12 10:21] jcalcant commented on #392
Hi! I am having the same issue. Can you provide a code example of your now working databricksstep, DataReference creation, and the part of your script where you get the input/output parameters. Thanks!!

[2020-06-12 11:23] zoekdestep opened #1009 "Typo: workflow provider"
Typo: _wokflow_provider instead of _workflow_provider

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dda9da4c-0110-704c-5c62-72660f8ab324
* Version Independent ID: 154ae3b0-25a5-b727-358f-43586c47b2b0
* Content: [azureml.pipeline.steps.ModuleStep class - Azure Machine Learning Python](https://docs.microsoft.com/en-us/p

[2020-06-12 13:57] RohitMungi-MSFT commented on #1009
@zoekdestep Thanks for reporting this. We shall fix this typo in our upcoming doc update of the SDK

[2020-06-12 16:20] MayMSFT commented on #1007
thanks Sam for the feedback. We will improve our documentation to list possible errors thrown by storage service and recommended actions

[2020-06-13 11:41] farh33n commented on #1004
This issue has been resolved. It was a problem with the azure itself. I had to do nothing to resolve it. I ran the same code hundredth time and service was successfully deployed.

[2020-06-13 11:41] #1004 closed

[2020-06-15 12:34] SamVanhoutte opened #1011 "Logging two curves to a table metrics in AzureML does not visualize well"
Hello all,

Please consider the following code

[code]

When executing this, the table itself is correctly saved to the AzureML run, as you can see in the following screenshot
![image](https://user-images.githubusercontent.com/3539605/84657686-f69e5600-af14-11ea-9030-e88b807a1fc9.png)

However, I would love to see this visualized as two combined line charts in a plot.  But when selecting the chart

[2020-06-15 14:17] YutongTie-MSFT commented on #1011
@SamVanhoutte

Thanks for your feedback! ^^ Please help with the link of document on which above document feedback request is created.

[2020-06-15 14:21] YutongTie-MSFT commented on #1003
@MayMSFT Hi May, are we good to close this or you want me to keep it open? Thanks.

[2020-06-15 14:37] Larleyt commented on #1001
Is there any updates on this? @ram-msft

[2020-06-15 15:51] SamVanhoutte commented on #1011
Here is the link : https://docs.microsoft.com/en-us/azure/machine-learning/how-to-track-experiments

It is not really a documentation issue, but more an SDK/Implementation issue.  I just cannot find the github SDK thing and always arrive here... So if you could point me out the repo for the Python SDK for AzureML, I'll post it there

[2020-06-15 16:16] Carzyx opened #1012 "do not contain any metrics with the primary metric name at this moment, policy cannot be applied."
Hi!
I'm working with Keras in Azure ML ([documentatnion](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-keras/train-hyperparameter-tune-deploy-with-keras.ipynb)) and I'm getting a error when I try define a BanditPolicy to do a prevent train stop.

In the execution script I was define an accuracy pri

[2020-06-15 21:24] #1007 closed

[2020-06-16 04:54] SnehaAgrawal-MSFT commented on #1012
@Carzyx Thanks for reaching here! Could you please share link of the document you are referring to help you better on this.

[2020-06-16 06:38] RohitMungi-MSFT commented on #1012
@Carzyx Could you please check if the value for accuracy needs to be logged as float. The example in the [documentation ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-tune-hyperparameters#specify-an-early-termination-policy)for accuracy specifies this.

[code]

[2020-06-16 09:08] Carzyx commented on #1012
I'm following this example.
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-keras/train-hyperparameter-tune-deploy-with-keras.ipynb

[2020-06-16 09:28] Carzyx commented on #1012
It seems that number is a float actually.

[2020-06-16 09:34] Carzyx commented on #1012
For example, now I'm doing this process
[code]
In my screen I'm getting accuracy value correctly , but for some reason errors comes again and train doesn't stops when slack_factor is reached.

![image](https://user-images.githubusercontent.com/8115989/84757829-ecd42b80-afc4-11ea-8212-163505189dbb.png)

![image](https://user-images.githubusercontent.com/8115989/84757866-fcec0b00-afc4-11ea-8dde-f4ae

[2020-06-16 18:22] j-martens commented on #987
@nibaccam

[2020-06-16 18:29] swatig007 commented on #1012
@Carzyx can you please look at the log to see if it tried to cancel run hd_4a...3 (run id associated with 108) specially between intervals 6 and 10?

Based on the config, run 106 started forst and completed. Run 107 perfromed better than 106 around interval 6 after the delay_evaluation period and hence was not cancelled. Run 108 is the one where the policy should have applied, hence that's the one

[2020-06-16 20:26] YutongTie-MSFT commented on #1011
@SamVanhoutte Hi Sam, I have assigned Daniel from SDK team to handle this problem. Thanks for your information.

[2020-06-17 01:13] norman-v opened #1013 "run.log* seems to have a limit of 3000b"
EDIT: This has been edited as I have seen that the limit is on a per-call basis (on run.log_list at least) instead of a limit on the collective set of metrics in the run.

After adding a metric, I started getting the following non-terminating error when calling run.log_* commands.

azureml._restclient.exceptions.ServiceException: ServiceException:
	Code: 400
	Message: (ValidationError) Metric Docu

[2020-06-17 03:49] SnehaAgrawal-MSFT commented on #1013
@norman-v Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 06:30] RothNRK opened #1014 "AzureMLTokenAuthentication for Run.get_context()"
While using a DatabricksStep I want to get the appropriate Run context so that I can log information to Azure ML.

I thought this might work:
1) Authenticate with AzureMLTokenAuthentication
2) Get an authenticated Workspace -> Experiment -> Run
3) Use the Run.get_context()

Although I can't use the AzureMLTokenAuthentication to authenticate the Workspace.

Can you please provide more information o

[2020-06-17 07:13] xkszltl commented on #1003
Hi! I'm planning to switch our pipeline from 18.04 to 20.04 soon as well.
Looks like this may be a blocking issue.
Do we have timeline regarding the fix?

Based on the log seems distro version is asserted by a whitelist. IMHO this is a bad design which can probably affect a lot of not-so-popular distros like arch or mint.

[2020-06-17 10:09] danjohnvelasco opened #1015 "AutoMLRun.get_output() gives error"
I'm running my notebooks on ml.azure.com. The steps from the examples notebooks runs smoothly until the automl_run.get_output() part.

**It gives me this error:**
`ImportError: cannot import name '_import_all_legacy_submodules'`

**I'm using:**
azureml-sdk v1.7.0
ML studio notebooks

**Stacktrace:**
ImportError                               Traceback (most recent call last)
<ipython-input-36-72de9

[2020-06-17 10:28] RohitMungi-MSFT commented on #1014
@RothNRK  The sample notebook for authentication steps that can be used are available [here](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/manage-azureml-service/authentication-in-azureml/authentication-in-azureml.ipynb).  CLI or service principal authentication can be used to get your workspace details

@aashishb Could you please advise?

[2020-06-17 12:18] RothNRK commented on #1014
@RohitMungi-MSFT Thank you for your response.

CLI Auth doesn't look like it meets my needs.

Using a Service Principal would work but it requires:
1) A Service Principal.
2) A key-vault mounted as a Secret Scope in Databricks.
This would be good if it were my only option but Azure ML is kind enough to send info to make a secure connection and log to Azure ML using the method I outlined above (whi

[2020-06-17 13:57] vmagelo commented on #990
This was addressed; changes will appear live in next release in a few days. Thanks!

[2020-06-17 14:30] SnehaAgrawal-MSFT commented on #1015
@danjohnvelasco Could you please share the document you are referring to help you better on this.

[2020-06-17 15:40] #913 closed

[2020-06-17 15:41] j-martens commented on #975
Thank you!

[2020-06-17 15:41] #975 closed

[2020-06-17 15:41] #990 closed

[2020-06-17 15:43] j-martens commented on #953
Thank you very much for your report. We have made the fix and will now proceed to close this issue. #please-close

[2020-06-17 15:43] #953 closed

[2020-06-17 15:43] j-martens commented on #955
Thank you very much for your report. We have made the fix and will now proceed to close this issue. #please-close

[2020-06-17 15:43] #955 closed

[2020-06-17 15:45] j-martens commented on #935
@MayMSFT - do we have an update here?

[2020-06-17 15:52] danjohnvelasco commented on #1015
@SnehaAgrawal-MSFT Here's the tutorial that I'm following:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/regression/auto-ml-regression.ipynb

[2020-06-17 16:26] vmagelo commented on #1009
Addressed. Will go live with next SDK release in 1-2 weeks. Thanks.

[2020-06-17 16:27] #1009 closed

[2020-06-17 16:31] MayMSFT commented on #1003
Unfortunately, it depends on legal approval. @tot0 to share more details

[2020-06-17 16:54] j-martens commented on #682
@CESARDELATORRE  is this fixed now?

[2020-06-17 16:55] j-martens commented on #289
@shivp950 @jpe316 what's the latest here?

[2020-06-17 16:56] j-martens commented on #512
@MayMSFT  has this been addressed?  cc: @nibaccam

[2020-06-17 16:58] #783 closed

[2020-06-17 16:58] j-martens commented on #802
@erwelch has your issue been resolved?

[2020-06-17 17:01] j-martens commented on #911
@peterclu - where is this now please?

[2020-06-17 17:05] j-martens commented on #934
@CESARDELATORRE - did you work with @vmagelo on this issue? After this month, reference content will be turned back over engineering completely.

[2020-06-17 17:12] j-martens commented on #972
@sdgilley - who on the PM team would be good here?

[2020-06-17 17:14] j-martens commented on #974
We have not heard back in the last month so we will proceed to close this issue. Please re-open if you still need help. #please-close

[2020-06-17 17:14] #974 closed

[2020-06-17 17:16] j-martens commented on #985
@vmagelo - did this get reviewed as part of core?

[2020-06-17 17:21] j-martens commented on #999
@vmagelo for core

[2020-06-17 17:38] CESARDELATORRE commented on #934
I did not talk to @vmagelo any further.
Basically, it'll be to add the information above as part of the AutoMLConfig class reference page:
https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.automl.automlconfig.automlconfig?view=azure-ml-py

Adding @Aniththa so she can coordinate and track this down. I don't have bandwidth to drive it.

[2020-06-17 17:44] CESARDELATORRE commented on #682
I think it's appearing the same way:
![image](https://user-images.githubusercontent.com/1712635/84931143-3c7b2b80-b087-11ea-8f3f-68089e19ab23.png)

My proposal is to have one parameter per line. It'll be longer, but at least it'll be more readable.
Or any other structure where it's easier to identify the parameters in the signature.

However, I'm not sure if this is easy to do or not because it mi

[2020-06-17 17:46] j-martens commented on #682
it is generated straight from the code. the engineer would have to fix formatting in the doc strings in VSO. If you know who can fix them, please assign them so they are aware.

[2020-06-17 17:54] CESARDELATORRE commented on #682
Adding @rtanase

[2020-06-17 18:13] MayMSFT commented on #512
@j-martens the method has been deprecated. pls close it.

[2020-06-17 18:17] MayMSFT commented on #935
Yes. the PR has been completed on last sunday. changes will go live in the next sdk release.

[2020-06-17 18:33] j-martens commented on #935
Thanks for your report. This issue has now been resolved. Thank you. #please-close

[2020-06-17 18:33] #935 closed

[2020-06-17 18:34] #512 closed

[2020-06-17 19:19] Carzyx commented on #1012
Yes! It seems to work correctly.
I thought it was going wrong because the non-metric logs.
But I suppose it will be due to the 'job' that is listening if the metric has been launched.

Thanks all for your support!

[2020-06-17 19:19] #1012 closed

[2020-06-17 19:53] rtanase commented on #682
@harneetvirk , is this something that can be controlled when docs get generated?

[2020-06-17 20:48] tot0 commented on #1003
@xkszltl Hi, I unfortunately don't have any concrete timeline for official support of new linux distros. The legal processes involved distributing open source packages so that normally Datasets 'just works' require care and aren't moving as fast as we'd hope.

Datasets will only return saying 'Unsupported Distro' if the required dependencies for .NET Core 2.1 are not present on default library pat

[2020-06-17 23:31] norman-v opened #1016 "run.log_table stores 1-item lists differently"
The following code:
[code]
will yield:
`{'test': {'x': ['asd', 'sdf'], 'y': [1, 2]}, 'test1': {'x': 'asd', 'y': 1}}`

It shows that single-item lists are stored differently than lists with multiple items.

This makes the JSON produced from these inconsistent types hard to parse down the line (e.g. outside of AML as in PowerBI for example).

If we pass in a list, we would expect that it is stored a

[2020-06-18 00:02] shivp950 commented on #289
no changes, it's still an int

[2020-06-18 04:23] SnehaAgrawal-MSFT commented on #1016
@norman-v Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 10:39] xkszltl commented on #1003
Of course, if it is just a matter of installing .NET it's totally fine for us.
Actually we will do that regardless of the use of AML Datasets.

Is 2.1 a exact or minimum requirement?
Can we use later version? Namely 2.2 or 3+

[2020-06-18 20:08] Larleyt commented on #1001
It turns out AKS deploy fails with the timeout if you try to create a Blob container in `score.py` (even inside `try-except` block). I've changed the code to get the existing container instead and it deployed ok. Not sure if it should fail this way on creation, though.

[2020-06-18 20:08] #1001 closed

[2020-06-19 00:01] rastala commented on #1014
@RothNRK The AzureMLTokenAuthentication is intended as Azure ML internal API.

Run.get_context() should simply work when you're within a context of Azure ML run, without any extra authentication required.

[2020-06-19 05:28] tarockey opened #1017 "Remarks for run.upload_file uses incorrect parameter"
In the example for run.upload_file, the example uses the parameter 'path', which does not exist. the correct parameter is 'path_or_stream'

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.run%28class%29?view=azure-ml-py#upload-file-name--path-or-stream-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-19 14:33] ram-msft commented on #1017
@tarockey Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-19 15:21] GiftA-MSFT commented on #1017
@DebFro can you please update 'path' to 'path_or_stream' in the upload_file remarks section. I don't have permissions to update this document. Thanks.
![image](https://user-images.githubusercontent.com/51332022/85149159-f789fd00-b21e-11ea-8b52-cf9b4a76823f.png)

[2020-06-19 16:06] nibaccam commented on #987
@BreakingBI Thank you for reporting this issue. The documents have been updated and the changes will be published in the next release cycle. @j-martens @PeterCLu please close this issue

[2020-06-19 16:59] #987 closed

[2020-06-19 19:06] saachigopal opened #1018 "Link issue"
[Enter feedback here]
The 'managing environments' link under the 'from_existing_conda_environment(name, conda_environment_name)' header leads to a non-existent page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be571abf-9f4f-50f0-67df-140cadb5c916
* Version Independent ID: 4f9eb5f5-6844-b21d-6666-b5edac2f9981
* Conte

[2020-06-19 20:58] swanderz commented on #972
what version of the SDK is this on?

[2020-06-20 03:40] SnehaAgrawal-MSFT commented on #1018
@saachigopal Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 21:42] Larleyt opened #1019 "Maximize Mask-RCNN (TF, Keras) inference time performance on AKS with CPU"
Hello!
The aim: run inference (no training needed) of a custom Mask-RCNN at CPU VM as an AksWebservice _as fast as possible_. (CPU is chosen mainly because it's cheaper.)

Default TF build from `pip` on inference sent warnings like:
`Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 AVX512F FMA`

So I tried to install provided CPU-optimized build using:
`Cond

[2020-06-21 09:25] SnehaAgrawal-MSFT commented on #1019
@Larleyt  Could you Please share the document link you are referring to help you better on this.

[2020-06-21 12:39] Larleyt commented on #1019
I'm not sure, what document are you talking about? If you mean Mask-RCNN itself [here it is](https://arxiv.org/abs/1703.06870), but we've changed it's last layers and some configs to detect our objects.

[2020-06-21 17:44] tot0 commented on #1003
Currently Datasets requires .NET Core 2.1

[2020-06-22 10:14] SparkSnail opened #1020 "Bugs in upload_file() function"
After I use run.upload_file() to upload a file to AML container from my local machine, I can check this file in AML's webportal, but I can not get the file from AML container.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a70336d-fb4a-4c18-26d0-68784b5b3d72
* Version Independent ID: e28876d8-08a

[2020-06-22 10:37] SparkSnail opened #1021 "question about child run"
Since one computer node in AML has many gpus, and I want to run multiple jobs in one run. If I use `submit_child()` in https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.run%28class%29?view=azure-ml-py#submit-child-config--tags-none----kwargs-, I could start many child runs under a run, does these child runs share same computer node under the parent run?
If these child runs coul

[2020-06-22 13:33] GiftA-MSFT commented on #1020
@SparkSnail we will review your feedback and get back to you shortly. Thanks.

[2020-06-22 13:35] GiftA-MSFT commented on #1021
@SparkSnail we will review your feedback and get back to you shortly. Thanks.

[2020-06-22 15:30] Larleyt commented on #1019
Is it okay that I'm getting drastically different inference times at F32s-v2, F16s-v2, F8s-v2, F4s-v2 , although, setting explicitly the same number of cores and RAM per replica of AksWebservice? Say, I'm setting 1 replica, 1 core, 2 gb RAM per replica, and the results are:
[code]
It seems like a bug to me, cause it uses the same CPU and should be the same when have the same amount of resources.

[2020-06-23 02:36] SparkSnail commented on #1020
![image](https://user-images.githubusercontent.com/22682999/85354195-9757cb80-b53c-11ea-8cc7-7ec66f5acfb8.png)
As you can see in this picture, I use a long-running process in container to monitor current folder, this process will run `pwd && ls`. Firstly I created a `file1` file in container's process, I can see this file in container output and webportal in the left side. Secondly, I call upload_

[2020-06-23 09:22] RothNRK commented on #1014
@rastala Thank you. That is what I expected but while in a `DatabricksStep` it doesn't seem to simply work.

Run.get_context(allow_offline=False) produces:
`KeyError                                  Traceback (most recent call last)
/databricks/python/lib/python3.7/site-packages/azureml/core/run.py in _load_scope(cls)
    215             # Load authentication scope environment variables
--> 216

[2020-06-23 13:08] vmagelo commented on #934
Info added. Will appear in next SDK release.

[2020-06-23 14:06] j-martens commented on #934
Thanks for your post. This has been addressed and we will now proceed to close the thread.

[2020-06-23 14:06] #934 closed

[2020-06-23 14:23] ram-msft commented on #1015
@danjohnvelasco Can you please install automl with the below.

Pip install azureml[automl]==1.7.0

This will install azureml with the automl version 1.7 and the run time.

[2020-06-23 16:00] BreakingBI opened #1023 "ScriptRunConfig() Documentation Doesn't Explicitly Call Out that the Entire Source Directory will be Uploaded"
The ScriptRunConfig() function in the Python SDK (linked below), does not explicitly call out that that the entire source_directory will be uploaded as part of the Experiment Run.

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.scriptrunconfig?view=azure-ml-py

It's understandable why this is the case, but this could represent a serious security risk for a customer who accid

[2020-06-23 21:06] mddiallo opened #1024 "No dataset present for labeled-datasets.ipynb"
The dataset named 'crack_labels' is not present for the paragraph "Train an image classification model"

[2020-06-24 04:04] BharathNimmala-MSFT commented on #1023
@BreakingBI Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-24 07:08] RohitMungi-MSFT commented on #1023
@danielsc Could we link this [article ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-save-write-experiment-files#storage-limits-of-experiment-snapshots) or mention to use the ignore files in the SDK documentation to avoid sensitive data being uploaded?

[2020-06-24 07:45] RohitMungi-MSFT commented on #1024
@mddiallo It would be great if you could let us know the documentation that you are referring to so we could check and fix the issue.

[2020-06-24 14:28] SUDEEPIOTTECH commented on #808
Hi Team,

I am also getting Similar  error. Could you let me know, how I will solve the issue or whom I have to contact or any link where I will post / support link ?

from azureml.core.webservice import Webservice

aci_service_name = 'tempsensor-iotedge-ml-2'
print(aci_service_name)
aci_service = Webservice.deploy_from_image(deployment_config = aciconfig,

[2020-06-24 14:41] YutongTie-MSFT commented on #1003
@Radeju
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-24 14:41] #1003 closed

[2020-06-24 14:47] YutongTie-MSFT commented on #1018
@saachigopal Hi Saachi, this should work fine now. Please let us know if it's not working for you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-24 14:47] #1018 closed

[2020-06-24 14:47] SUDEEPIOTTECH opened #1025 "Getting Timeout error (after 30 to 45 min) during running "Test model on Azure Container Instance" steps"
Hi Team,

I am also getting Similar  error. Could you let me know, how I will solve the issue or whom I have to contact or any link where I will post / support link ?

from azureml.core.webservice import Webservice

aci_service_name = 'tempsensor-iotedge-ml-1'
print(aci_service_name)
aci_service = Webservice.deploy_from_image(deployment_config = aciconfig,

[2020-06-24 19:11] mddiallo commented on #1024
Hi,
I am refering to this notebook.
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/labeled-datasets/labeled-datasets.ipynb
There is a reference to "cracks-labels" dataset. I don't see where it is coming from in the paragraph "Train an image classification model"
Thanks.

[2020-06-24 19:13] initmahesh opened #1026 "object detection notebook not working ..."
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/accelerated-models/accelerated-models-object-detection.ipynb

this notebook give 404 error :(

[2020-06-24 19:40] GiftA-MSFT commented on #1026
@initmahesh we will review your feedback and get back to you shortly.

@DebFro it seems this notebook has been moved. Can you please look into this issue? Thanks.

[2020-06-25 06:20] RohitMungi-MSFT commented on #1024
@mddiallo Thanks for the details. Yes, it looks like the reference to use crack_labels is not apparent in the notebook tutorial. @MayMSFT Could you please help how to check how we can add crack_labels dataset to the datastore?

[2020-06-25 13:27] j-martens commented on #999
@Blackmist & @aashishb thoughts?

[2020-06-25 13:28] j-martens commented on #998
@blackmist @aashishb - thoughts. tied to https://github.com/Azure/MachineLearningNotebooks/issues/999

[2020-06-25 13:36] ram-msft commented on #1025
@SUDEEPIOTTECH Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-25 19:58] j-martens commented on #597
improve syntax example for attach_configuration. User is asking for change in method parameters.

#assign:@rastala

[2020-06-26 03:00] tarockey opened #1028 "PipelineEndpoint.list() property "active_only" has no effect on results"
When using the PipelineEndpoint.list() method, setting active_only to True or False does not change the results - both inputs return all of the PipelineEndpoints in a workspace, active or disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7bc1e82-95e9-8e93-cef4-7f0576f5ca6f
* Version Independent ID: 4beb65ce-191

[2020-06-26 03:08] #1028 closed

[2020-06-26 03:08] tarockey commented on #1028
Misread the output - it was a nested series of objects (some of which were disabled), but the parent PipelineEndpoints were active

[2020-06-26 17:18] vmagelo commented on #1017
Thanks for pointing that out. Fix made and will appear in next SDK release in a few days.

[2020-06-26 17:19] vmagelo commented on #985
Yes, but that was missed. Thank @szonp for the feedback. We updated the docs. Change will appear in next release in a few days.

[2020-06-27 12:15] vizhur commented on #1026
Notebook has been removed, readme will be updated to resolve the broken links.
Sample is not supported at the moment, though you can access the old version that was tested with AzureML Python SDK 1.4.0

https://github.com/Azure/MachineLearningNotebooks/tree/azureml-sdk-1.4.0/how-to-use-azureml/deployment/accelerated-models

[2020-06-28 01:48] XiaYuanxiang opened #1029 "Found no resources for the input provided: 'https://pipelinedata.blob.core.chinacloudapi.cn/sampledata/batchscoring/images/'"
When I run machine-learning-pipelines-advanced/tutorial-pipeline-batch-scoring-classification.ipynb

from azureml.core.dataset import Dataset
from azureml.pipeline.core import PipelineData

input_images = Dataset.File.from_files((batchscore_blob, "batchscoring/images/"))
label_ds = Dataset.File.from_files((batchscore_blob, "batchscoring/labels/"))
output_dir = PipelineData(name="scores",

[2020-06-28 06:32] swathi-intelligent commented on #1014
I am facing the same issue as above, mentioned by @RothNRK . Further I need parent pipeline run ID from the `Run`.
If I run it with` Run.get_context()` I am getting an error with the `_OfflineRun`. Could you please point to an example of the same?

Thanks!

[2020-06-28 07:16] joshidp opened #1030 "Error: TimeSeriesImputer object has no attribute '_known_df'"
Hi azure ml,

Thanks for the great work.

I am running below notebook using azure ml and getting the error during forecast command. Please guide.

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-orange-juice-sales/auto-ml-forecasting-orange-juice-sales.ipynb

Command
# The featurized data, aligned to y, will also be returned.

[2020-06-29 05:08] RohitMungi-MSFT commented on #1030
@joshidp Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-29 06:49] RohitMungi-MSFT commented on #1029
@XiaYuanxiang Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-29 07:25] SUDEEPIOTTECH commented on #1025
Hi Team,

I tired with latest GitHub code … Still same issue (timeout after 30-40 minutes  running).

+++
5: Test model on Azure Container Instance¶
You can test the performance of your model by deploying the container to ACI. Note that the service creation can take few minutes.

**from azureml.core.webservice import AciWebservice
​
aciconfig = AciWebservice.deploy_configuration(cpu_cores = 1,

[2020-06-29 14:44] #1017 closed

[2020-06-29 14:45] #985 closed

[2020-06-29 15:09] saachigopal opened #1032 "Build_local() section typo"
[Enter feedback here]
The remarks under the build_local() method have a typo - they should say "To build a docker image set useDocker=True. To push a result image into AzureML workspace container registry after image build completion set pushImageToWorkspaceAcr=True"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be571

[2020-06-29 18:18] GiftA-MSFT commented on #1032
@saachigopal we will review your feedback and get back to you shortly. Thanks.

[2020-06-30 02:14] XiaYuanxiang opened #1033 "what datadrift baseline means？"
when I learn datadrift,

I run   http://localhost:8892/notebooks/Projects/algothrim-pipeline/MachineLearningNotebooks-master/how-to-use-azureml/work-with-data/datadrift-tutorial/datadrift-tutorial.ipynb
and read doc https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-datasets

I was confused about the baseline dataset. The tutorial choose January 2019 weather data as baseline da

[2020-06-30 13:34] rd-bluebank opened #1034 "Unable to extend Parameter space from one HyperDriveRun to next"
I have a completed HyperDriveRun using BayesianParameterSampling. The optimal value for one of the parameters searched was at the upper bound of a uniform distribution.

I would like to be able to use this run as the "resume_from" run with an extended distribution for this parameter, and the existing distribution for others. Without the ability to utilise the previous search results, the second HD

[2020-06-30 16:47] joshidp commented on #1030
@Aniththa Kindly confirm when fix for this issue will be available? Thanks!

[2020-06-30 18:23] Aniththa commented on #1030
@joshidp  This issue has been fixed. Please try again by installing the latest version of the SDK. Feel free to reach out if you have any other questions.

[2020-06-30 21:51] swinner95 commented on #1034
@swatig007 can you take a look?

[2020-06-30 23:19] SaurabhSharma-MSFT commented on #1033
@XiaYuanxiang Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 23:45] swatig007 commented on #1034
hi @rd-bluebank, thanks for your feedback. When using the resume_from (warm start) capability, the hyperparameter space definition needs to stay the same across runs.  When warm starting a hyperparameter tuning experiment with Bayesian sampling, trials from the previous run will be used as prior knowledge to intelligently pick new samples, to improve the primary metric. However, the parameter spac

[2020-07-01 00:58] kkkkkaran commented on #1030
@Aniththa Im facing the same issue, running on Azure Notebooks with SDK version 1.8.0

[2020-07-01 05:59] joshidp commented on #1030
@Aniththa issue has been fixed, thanks for the help.  I am facing another issue now with dnn enabled TimeSeries forecasting run. I am getting below error, can you please help with this?

UserError: User program failed with JSONDecodeError: Expecting value: line 1 column 653 (char 652)
![image](https://user-images.githubusercontent.com/7415276/86208326-f5645e80-bb8d-11ea-85ad-f1d9740751a5.png)

![i

[2020-07-01 13:28] SamVanhoutte commented on #972
I just retried (have everything wrapped in a custom library, that uses the above code) and it seems to be working without an issue for me now (and I still use the `show_output=True`)

[2020-07-01 23:06] kvijaykannan commented on #1033
All the data (rows)  between these dates  2019/01/01 to 2019/01/31 will be considered as a baseline dataset.

[2020-07-02 00:51] XiaYuanxiang commented on #1033
Thanks for your reply.  Then given dates 2019/02/01 to 2019/02/28 as a target dataset,  could you tell me how to calculate the datadrift？ sum( data(2019, 02,  x)  - baseline )，x vary from 01 to 28, is that right？

[2020-07-02 05:17] johansnels commented on #1030
@joshidp Do you run your notebook directly on your compute target? If so, how did you upgrade to the latest SDK? I've tried using the Jupyter terminal using the command `pip install --upgrade azureml-sdk` but doesn't seem to solve the issue for me. Thanks in advance!

[2020-07-02 16:21] Aniththa commented on #1030
@joshidp We are sorry you are facing this error. Our team is currently investigating and will reach out to you when we identify the reason for failure.

[2020-07-02 22:43] kvijaykannan commented on #1033
Thanks for getting back. We use a machine learning model (binary classifier) to compute the data drift.

Sharing the below document link for more details on datadrift -

[](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-datasets)

[2020-07-03 01:01] XiaYuanxiang commented on #1033
Thanks for your sharing. I have read the doc, but I'm still confusing about the ML model, could you explain it in more details?  you said it's a  binary classifier model, one class is baseline dataset,  then what the other class is?   I'm wondering if the model appropriate for our own datasets.

[2020-07-06 19:50] justinormont opened #1035 "Minor spelling: "reolace" in AutoML doc"
Doc has "reolace" instead of "replace".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 012e5d35-c6c0-db5b-9c90-5cc9c511172a
* Version Independent ID: 19f73566-8938-edff-2ced-bffcce8bf8e6
* Content: [azureml.automl.runtime.data_transformation module - Azure Machine Learning Python](https://docs.microsoft.com/en-us/pytho

[2020-07-07 00:27] jadhosn opened #1037 "'ModelDataCollector' object has no attribute '_handle'"
I'm currently testing deploying an endpoint on AKS, with `ModelDataCollector` enabled. Both the image and the service are healthy, but for some reason, whenever I ping the endpoint, this error is returned:

The main issue is the lack of potential ways to debug this. I'm not sure where to start in order to get to the bottom of this error (or any error in the future related to deployed services)

@C

[2020-07-07 17:09] gvashishtha commented on #1037
Can you share the source code you are using either here or via email? Agree that you should be able to debug this on your own but we can't help in this particular case without the ability to reproduce this error.

[2020-07-07 18:11] jadhosn commented on #1037
Sure thing

* Create image:
[code]

* Scoring script:
[code]

[2020-07-07 18:16] omartin2010 opened #1038 "Clarity around how resume_from works"
There is no example of how to use this resume_from option of the HyperDriveConfig class, and one has to search the samples to find details of the fact there`s a new --resume_from argument that includes a path to the actual model. Can we document this to make it easier in the SDK documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-07-07 19:44] thoo opened #1039 "Local Deployment with local conda package"
I am not sure how 'yml' file is utilized with conda environment. For local deployment , I have `environment.yml`  containing
as
[code]
But I got errors during the deployment saying `conda cannot access to my local channel ; 404 error` . I can search my local python package with `conda search -c file:////mylocal/channel myPackage` .  Is there anyway to get conda see a local channel? Thanks.

[2020-07-07 20:05] paledger commented on #1026
The readme has been updated with the old links.

[2020-07-07 20:05] #1026 closed

[2020-07-08 15:28] vizhur commented on #1032
resolved

[2020-07-08 15:28] #1032 closed

[2020-07-08 17:16] swatig007 commented on #1038
Hi omartin2010, Please refer to HyperDrive Warm Start documentation for details on how to use the resume_from parameter -
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-tune-hyperparameters#warm-start-your-hyperparameter-tuning-experiment-optional
Hope this helps.

[2020-07-08 17:26] omartin2010 commented on #1038
It does help, thanks,. It would be great if we actually linked to that from the SDK docs... that's missing from this specific doc (and many others too would benefit from concrete examples - call them guides on how to use this particular class/function). Examples of what parameters mean exactly (short description + type isn't always very helpful).

[2020-07-08 17:37] joshidp commented on #1030
Hi @Aniththa , Any update on this issue?

Thanks!

[2020-07-08 19:01] marktab opened #1041 "Replace with "opaque box""
Per https://docs.microsoft.com/en-us/style-guide/a-z-word-list-term-collections/b/black-box

please replace with "opaque box"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ef3eff-a772-e35a-5441-35e4901e14c2
* Version Independent ID: 3b1b8819-4aaf-ce33-5717-fea04d565813
* Content: [azureml.contrib.interpret.lime.lime

[2020-07-08 19:09] swanderz commented on #1039
As far as I'm aware this isn't possible, right @rastala?

Spitball ideas:
- roll package into a pip wheel and pass it directly to you environment definition
- host said package on Azure Artifacts and access via a `pip-index-url`?

[2020-07-08 19:24] swanderz opened #1042 "HyperDriveStep transient failure with "Failed to upload outputs due to: {ex}" & Aether stacktrace"
## Background

I've never seen this error before. I failed. I ran it again and it went away.
File this under ["transient" issue](https://github.com/Azure/MachineLearningNotebooks/issues?q=is%3Aissue+transient). If you have seen this error and find this issue, respond with your experience details!
cc: @swatig007 @rastala

Region: West US II

## Run IDs
PipelineRun: `a3f19685-7aad-4314-b47b-626d4fe3

[2020-07-08 19:33] #1042 closed

[2020-07-08 19:51] swatig007 commented on #1042
@nagau can you pls take a look?
@swanderz i see this issue is closed - does that mean it is resolved?

[2020-07-08 20:34] #1023 closed

[2020-07-09 03:03] swanderz commented on #1042
It happened once. Issue went away when I re-ran. I created this issue in
case it happens again.

On Wed, Jul 8, 2020 at 12:51 PM Swati Gharse <notifications@github.com>
wrote:

[2020-07-09 14:00] canopusatl opened #1043 "AzureMLCompute cluster gpu-cluster is in failed state and thus not ready for runs"
I am taking an plural sight ML course, thus I am a novice in ML, so pardon the below error if it seems so obvious. Am getting the below error when creating a pipeline - am working on the **Azure  Machine Learning Pipelines for batch prediction** inside JupyterLabs. When I click on **Run All Cells** everything passes up until the **Run the pipeline** section. I will appreciate your help on this.

[2020-07-09 17:00] wchill opened #1044 "KeyError: 'brand' when running an experiment using Azure automated machine learning SDK <1.8.0"
If a new environment was created after 10 June 2020 using SDK 1.7.0 or lower, training on local compute or an Azure Databricks customer may fail with the above error due to an update in the py-cpuinfo package. (Environments created on or before 10 June 2020 are unaffected, as well as experiments run on remote compute as cached training images are used.) To work around this issue, either of the two

[2020-07-09 17:01] wchill commented on #1044
@ram-msft can you label this issue appropriately and then close it? I've created this issue to make the fix a little more discoverable as a few users are still running into this.

[2020-07-10 01:47] swanderz opened #1045 "DataTransferSteps: `Failure in GetWorkspaceMsiToken while calling service AmlWorkspaceMsiToken`"
Today our team couldn't run pipelines for hours due to "transient" Aether bugs. Eventually this went away, but it would be nice to have empathy for painful developer experiences, that these "transient" issues bring.

Our Pipeline has 82 steps, 22 of which are `DataTransferSteps`

### Run IDs
#### Initially 1:23 AM PST
PipelineRun: `f36458bb-b0ae-433b-9f0a-bc7f3c73e28b`
DataTransferStep: `a986f46b-

[2020-07-10 01:58] swanderz opened #1046 "PythonScriptStep: Can't find Datastore's secret workspace's key vault"
In a attempt to give ML Service a chance to perform without the experience of #1045, a dev on our team, simply resubmitted the pipeline.

Lo and behold, a new "transient" issue.

PipelineRun: `b4a84670-6f03-410f-97ed-74380aa1751c`
PythonScriptStep: `049bd22f-213d-432c-b4d8-c5ff2b4c3689`

### bug as exposed in UI
[code]

### `executionlogs.txt`

[code]

[2020-07-10 02:10] swanderz opened #1047 "PythonScriptStep: Microsoft.MachineLearning.Common.WebApi.Exceptions.ForbiddenException"
After #1045 and #1046, we were stubborn enough to believe that the 3rd time was the charm and that ML service would get its act together. Unfortunately for us, we got a new  "transient " error.

## PipelineRun IDs
Pipeline: `62b2fa69-4094-49ac-9afe-d6c52e40e835`
PythonScriptStep: `868e2fa9-9cdf-46d7-bc01-d9ec3bee5c18`

[code]

[code]

[2020-07-10 03:36] omartin2010 opened #1048 "conda_dependencies contructor description is faulty"
conda_dependencies
CondaDependencies
When left at the default value of False, the system creates a Python environment, which includes the packages specified in conda_dependencies. When set true, an existing Python environment can be specified with the python_interpreter setting.

This doesn't make sense... it's suppsoed to be a CondaDependencies object, not a bool as the description implies.

[Ent

[2020-07-10 14:03] v-strudm-msft commented on #1044
@wchill - Thanks for posting this info. #please-close

[2020-07-10 14:03] #1044 closed

[2020-07-10 17:17] ryotatomioka opened #1049 "Please provide an example for using a private docker image"
The documentation says

However I cannot find an example of environment definition using a docker image from a private repository. Could you provide such an example? For example, how can I authenticate with an Azure Container Registry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db16bca-3797-0285-3ef2-99de84e4a0be

[2020-07-10 19:17] cbertolasio opened #1050 "Whats the recommended way to update an AksWebservice OR reclaim disk space before / after service.update?"
I apologize in advance if this is not the correct place to have this conversation.  Every time I call AksWebservice.update, the new deployment takes up more disk space on the k8s node instances and the disk space for old versions is never reclaimed.  What are the best practices to update an AksWebservice and to reclaim this disk space?

### Problem:
- there is no clear definition regarding how to

[2020-07-11 08:45] taeinkwon opened #1051 "Open3D import issue"
Hello,

I am trying to import Open3D but I got the following error.

Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import open3d
  File "/azureml-envs/azureml_1b18fe6d3f445740557538c7ce7c9459/lib/python3.6/site-packages/open3d/__init__.py", line 35, in <module>
    from .open3d import * # py2 py3 compatible
ImportError: libGL.so.1: cannot open shared object file: No

[2020-07-11 17:29] vizhur commented on #1048
@omartin2010 Hi Olivier, I'm confused,
constructor takes only one non-private parameter that is the path to conda environment yml file
CondaDependencies(conda_dependencies_file_path=None, _underlying_structure=None)

if you talking about RunConfiguration class, it takes only one boolean (auto_prepare_environment) that is deprecated

[2020-07-11 17:37] vizhur commented on #1049
few examples here https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/using-environments/using-environments.ipynb

in [Environment ](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment%28class%29?view=azure-ml-py) object [docker ](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment.dockersection?view=

[2020-07-11 17:38] vizhur commented on #1051
can you please share your dockerfile/base image and python dependencies of the environment

[2020-07-11 22:39] taeinkwon commented on #1051
I am using a default base image that is created automatically.
Python dependencies of the environment are like the followings

conda_packages=['mesa-libgl-cos6-x86_64','python==3.6.8', 'numpy', 'opencv', 'pytest-shutil', 'scipy', 'tqdm', 'matplotlib'],
pip_packages= ['opencv-python-headless','open3d==0.8.0','pickle5','glob3']

I got Estimator from "from azureml.train.estimator import Estimator"

[2020-07-11 22:41] taeinkwon commented on #1051
I tested this with other conditions and it works well without Open3d.

[2020-07-11 23:52] vizhur commented on #1051
You can try default gpu image for the environment, or custom docker file with apt get the dependency you need

[2020-07-12 14:30] taeinkwon commented on #1051
Running with the default gpu image also does not work.
However, now I succeed to run using custom docker.
Thank you.

[2020-07-12 14:30] #1051 closed

[2020-07-12 17:33] canopusatl commented on #1043
Good afternoon - any update or pointers on this?

[2020-07-13 04:49] joshidp opened #1052 "Time Series Forecasting Using LSTM"
Hi,

Can you please share an example of multivariate time series fornicating using lstm in azure ml?

thanks!

[2020-07-13 06:50] ryotatomioka commented on #1049
Thanks @vizhur

1. So from your message it sounds like there is an ACR for each Workspace? How can I access it? For example, how can I push an image to the registry?
2. Regarding your last comment about authenticating with other ACRs, I understand that username and password is an option but I think it is less ideal because we don't want to have a password in the code. Another option seems to be to

[2020-07-13 13:13] vizhur commented on #1049
from you workspace overview page you can navigate to registry
![image](https://user-images.githubusercontent.com/21002116/87308243-ef08a780-c4e8-11ea-8dfb-51c82cbae632.png)

if the base image in the same workspace, you do not need to provide username/password it will be resolved service side

[2020-07-13 15:14] kiranpradeep opened #1053 "Cannot use sample to submit training script to local machine python environment"
I used sample source in this docs page to submit training job to local machine. I am using current python environment (version 3.8.2 using `userManagedDependencies=True`) and not using conda environment. The experiment (named MyExperiment) is correctly created in my Azure ML workspace, run is also submitted, but `wait_for_completion` blocks for ever. Kindly see source and run output.

My training

[2020-07-13 15:34] #1053 closed

[2020-07-13 19:12] swanderz commented on #1046
FYI @jadhosn says his team also experienced this issue in the July 8-9 timeframe

[2020-07-13 19:24] swanderz commented on #1048
@vizhur look at the param description for `RunConfiguration`'s `conda_dependencies`:

I think @omartin2010 's point is:
1. the description should probably talk about how the param is most often used which is to pass a `CondaDependencies` object
2. `default value of False` directly contradicts the function signature provided at the top of the page which gives the default argument of `None`

[2020-07-13 19:26] swanderz commented on #1011
@danielsc any update on this?

[2020-07-13 19:50] omartin2010 commented on #1048
you nailed it, @swanderz . I would not imagine `conda_dependencies` to be a bool, but either a CondaDependencies object, or not exist at all and that in the docs of `RunConfiguration` we can (easily) know that CondaDependencies are set as part of the Environment (which is confusing because it's not part of the constructor which it could also be in my view).

[2020-07-14 04:34] swanderz commented on #875
@j-martens on SO, [this question](https://stackoverflow.com/questions/62886435/using-a-custom-docker-with-azure-ml/62888135#62888135) was just asked. So I searched here for more info on `base_dockerfile`. Do we have anything I can point OP to?

[2020-07-14 09:45] kiranpradeep opened #1054 "how-to-use-azureml/deployment/deploy-to-cloud/model-register-and-deploy.ipynb notebook does not deploy"
I was trying to run model-register-and-deploy.ipynb ([link](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-cloud/model-register-and-deploy.ipynb)) inside a local jupyter notebook (azure ml sdk version 1.9.0). The model was created and sucessfully registered. But failed when I tried to deploy the model. Error screenshots attached. Requesting he

[2020-07-14 12:31] kiranpradeep opened #1055 "LocalWebservice/Model.deploy() is pushing large docker images to cloud (also pulling same image again)"
I was trying deploying on local web service using [register-model-deploy-local.ipynb](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-local/register-model-deploy-local.ipynb) notebook provided in this repository. The program works correctly. But from logs, it is noticed that, there are 5 steps

1. Pull mcr.microsoft.com/azureml/intelmpi2018.3-u

[2020-07-14 12:36] omartin2010 commented on #875
I've just asked for a few more precisions because the `base_dockerfile` should be used when written this way. I've gotten this to work multiple times..

[2020-07-14 12:39] vizhur commented on #875
@omartin2010 https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment.dockersection?view=azure-ml-py

[2020-07-14 15:29] omartin2010 commented on #875
You’re right, I’ve asked the person on SO more precisions, i should’ve been clearer.

[2020-07-14 16:43] swanderz commented on #1045
From a support engineer:

Closing this ticket now.

[2020-07-14 16:43] #1045 closed

[2020-07-14 21:30] daniel-rodrigues809 commented on #1047
We had a bad node in our cluster that was unexpectedly returning 403s and also not emitting logs; we reset the node to recover from the issue and are investigating the root cause

[2020-07-15 23:34] krisbock opened #1057 "Datastore.register_azure_sql_database requires base SQL servername, not FQDN."
The following snippet:

   sql_datastore_name="azuresqldatastore"
   server_name=os.getenv("SQL_SERVERNAME", "<my_server_name>") # Name of the Azure SQL server
   database_name=os.getenv("SQL_DATABASENAME", "<my_database_name>") # Name of the Azure SQL database
   username=os.getenv("SQL_USER_NAME", "<my_sql_user_name>") # The username of the database user.
   password=os.getenv("SQL_USER_PASSWORD

[2020-07-16 16:29] swanderz opened #1058 "DataTransferStep: Failed to get data factory config from compute target"
file this under "transient" error. 2nd semi-persistent, transient issue we've seen with `DataTransferStep` in a week (see #1045 )

Created: `Jul 15, 2020 10:16 PM PST`
`DataTransferStep` id: `55478202-b1af-44ee-8197-89d3b201bd8d`
`PipelineRun` id: `9e754677-ac21-455c-a2b3-efa85ef8e9d2`

[code]

[2020-07-16 16:37] swanderz opened #1059 "Data TransferStep: CopyOperationEntity is not populated in DataCopyCommand"
another "transient" error with `DataTransferStep`. see (#1045, #1058)

RunId:`9b0b0f9e-3972-47a1-a874-76f525b7a5ed`
PipelineRunId: `5c6d9ccc-b2ff-48e9-9f4c-9da2fa976789`

[code]

[2020-07-16 16:40] swanderz commented on #1052
`LSTM` is not currently supported for AzureML.

[2020-07-16 18:50] DeeptiAgl commented on #793
Still not working

[2020-07-17 03:24] joshidp commented on #1052
ok, thanks for the information.

[2020-07-17 03:24] #1052 closed

[2020-07-17 07:58] #1033 closed

[2020-07-17 15:58] swanderz commented on #1059
happened again today on our daily scheduled ML pipeline. We'd be 100% down if our team lead didn't babysit this run and re-submit until the step passed worked.
Pipeline: `2e86e9bc-1720-407f-a666-6ba8b766e1c6`
StepRun: `a56cb941-e200-48c0-81bf-32d8121af45d`

### `executionlogs.txt`
[code]

[2020-07-17 16:23] vla6 opened #1060 "Please define feature importances"
The documentation says the explain method returns "feature importances" but I would like more information about what these mean.   Are these SHAP values?  For a classification problem do these relate to the log odds or probability?  Are they relative to the mean training data values passed to the original explainer, which I guess is usually a tabular explainer?  Thank you!

---
#### Document Detai

[2020-07-17 17:06] akshay-0 commented on #1059
@swanderz i'm looking into these and other issues you reported recently

[2020-07-17 17:17] myshylin commented on #1046
The underlying root cause is the same infrastructure problem in https://github.com/Azure/MachineLearningNotebooks/issues/1047
Should be recovered by now.

[2020-07-17 17:20] swanderz commented on #1046
ok great. I'll re-open if it happens again

[2020-07-17 17:20] #1046 closed

[2020-07-17 19:03] jadhosn opened #1061 "CondaDependencies: can only concatenate str (not "NoneType") to str"
Currently running into this error `CondaDependencies` on SDK 1.9. Any idea what might be causing this?

@CESARDELATORRE

[code]
returns this error

  File "C:/Users/sishakb/code/bc.model.appscore-frontline.api/main/pipeline.py", line 122, in <module>
    pin_sdk_version=False)
  File "C:\miniconda3\envs\appscore-frontline-api\lib\site-packages\azureml\core\conda_dependencies.py", line 198, in crea

[2020-07-20 14:41] fwaris opened #1062 "How to obtain 'Pipeline' information using python sdk from an AutoML run"
When I run an AutoML job, the widget shows the model algorithms used under the 'Pipeline' column as shown below:

![pipeline](https://user-images.githubusercontent.com/289968/87949523-1ffe5480-ca74-11ea-89df-0b416585d3e0.PNG)

However I am unable to find a why to retrieve the algorithm information from the AuoML run output.

I have explored the data returned by Model.list, run.get_metrics and run.

[2020-07-21 00:16] vizhur commented on #1061
there is a known issue with conda packages that start with python. As a workaround please instantiate CondaDependencies object from yml file

[code]

CondaDependencies("myenv.yml")
or
Environment.from_conda_specification("myenv", "myenv.yml")

Side note, please try to avoid meta-packages like azureml-sdk in your dependencies

[2020-07-22 13:57] robert4os opened #1064 "replica_max_concurrent_requests"
The parameter replica_max_concurrent_requests seems to enable queuing in AKS (something that is the default in ACI).

Why is the documentation so strange regarding this parameter?
i.e. "Do not change this setting from the default value of 1 unless instructed by Microsoft Technical Support or a member of Azure Machine Learning team."

This parameter seems very important and useful, since without it

[2020-07-22 13:59] robert4os opened #1065 "max_request_wait_time parameter"
When enabling queuing by using replica_max_concurrent_requests > 1 ...the related parameter max_request_wait_time seems to have no effect.

What is the status of queuing in AKS in general, is this officially supported?

Thank you and best regards, Robert

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-22 16:32] swanderz commented on #1059
@akshay-0, unfortunately this bug is still rearing its ugly head despite the hotfix.

PipelineRun: `dfa2b1e0-7e62-471e-889b-748b2dff7561`
StepRunId : `410f3332-caa3-4979-95da-301ca13b89c1`

[code]

[2020-07-22 16:33] akshay-0 commented on #1059
Looking..

[2020-07-22 20:33] ahyerman commented on #1062
Hi Faisal,

`get_output()` is able to select a parameter `iteration` which will help you here. You can use the following code snippet to view every model:
[code]

[2020-07-23 04:24] kartiez commented on #1054
Please use

` ws.webservices['service-name'].get_logs()`

 to get the error details.

[2020-07-23 04:33] kartiez opened #1066 "ModuleNotFoundError: No module named 'sklearn.ensemble._forest. Worker exiting"
I'm getting this error while deploying a Random Forest model.

I have deployed other random forest models in Azure AKS & ACI, But this one is not getting deployed. After my hours of troubleshooting, I found the issue is with the model, because changing just the model name to a previously trained model works.

It's trained using the same method, just the data that changed!

Any guesses?

Please hel

[2020-07-23 15:28] RothNRK commented on #1014
Just a friendly reminder that this ticket still exists.

[2020-07-23 15:37] aashishb commented on #1014
@rastala , please check and create ICM for pipelines team if needed. Thanks!

[2020-07-23 17:25] kracekumar commented on #579
I'm facing a similar issue.

[code]

### output on macOSx

[code]

### Dependencies

[code]

### Python Version
[code]

Should I open a new issue?

[2020-07-23 18:05] kartiez commented on #1066
I fixed it,
It was due to sklearn verison mismatch.

Also, it's same as #https://github.com/Azure/MachineLearningNotebooks/issues/1066

[2020-07-23 18:05] #1066 closed

[2020-07-23 19:09] areed145 commented on #1015
I'm having the same issue within Azure Machine Learning using remote compute:
`The experiment failed. Finalizing run...
Cleaning up all outstanding Run operations, waiting 300.0 seconds
42 items cleaning up...
Cleanup took 15.721911668777466 seconds
Traceback (most recent call last):
  File "register_model.py", line 109, in <module>
    best_run, fitted_model = automl_run.get_output()
  File "/azu

[2020-07-24 08:48] robert4os opened #1067 "Missing documentation to deprecated forecasting parameters"
Hi,

I am receiving the deprecate warnings, but the documentation is not reflecting these changes.

e.g.
WARNING - Forecasting parameter country_or_region will be deprecated in the future, please use holiday_country instead.
WARNING - Forecasting parameter max_horizon will be deprecated in the future, please use forecast_horizon instead.
WARNING - Forecasting parameter grain_column_names will be d

[2020-07-24 09:21] UncooleBen opened #1068 "We should add some hint for Dataset class document."
I noticed that creating a `Dataset` with `Dataset.Tabular.from_delimited_files` method (possibly many other factory shortcuts)  only exposes new APIs, i.e. `AbstractDataset`'s methods, to the user. Calling these methods can be confusing. Users might believe that they're calling the deprecated ones since they are using methods directly reachable from the `Dataset` class to construct the objects. Es

[2020-07-24 12:53] vizhur commented on #1049
closing the issue

[2020-07-24 12:53] #1049 closed

[2020-07-24 12:56] #696 closed

[2020-07-24 12:58] #729 closed

[2020-07-24 12:59] vizhur commented on #834
sample is moved/renamed closing the isse

[2020-07-24 12:59] #834 closed

[2020-07-24 15:02] #1062 closed

[2020-07-24 17:31] minthigpen commented on #1041
@marktab Thanks for your feedback! Microsoft is moving towards language that does not perpetuate systemic oppression. We will be following up with our team to update our documentation and terms.

[2020-07-24 23:17] #826 closed

[2020-07-27 19:08] swanderz commented on #1059
@akshay-0 got another one last night

run id: `1b89acb4-1a40-4078-bc9e-c4de0810a22f`
pipeline id: `5bd1f504-1901-4bd5-82d3-bb5c82228af1`

[code]

[2020-07-27 19:24] akshay-0 commented on #1059
This seems like a different issue than the ones i saw before. I'll follow up with the right team. Just to double check, were you able to run data transfer successfully later (using same data factory resource, same workspace)?

[2020-07-27 21:25] cartacioS commented on #1067
Hello,

Thanks for your comment! I have updated all the AutoML documentation to refer to the new forecasting parameter names. The updates should be live within 1 or 2 days at most. Please feel free to close now, or when you see the changes reflected.

Thanks,
Sabina

[2020-07-27 23:13] prapanw opened #1069 "Unclear documentation on AzureCliAuthentication"
It is absolutely unclear where you want the user to run 'az login' and how it is associated with AzureCliAuthentication object. I have been trying to simply run a published pipeline. I already have an endpoint and it has now taken more than 4 hours to investigate this even though we have article/documentation around this: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-f

[2020-07-27 23:19] swanderz commented on #1059
@akshay-0 yeah, if we run it again it works. My teammate is just sick of having to manually run the pipeline every time it fails. We're kicking off work on the `OutputDataset` Private Preview w/ @MayMSFT and team soon. If that's successful, then we don't need any `DataTransferSteps`

[2020-07-28 01:40] thoo commented on #1054
It looks like your path doesn't exist. Make sure you type your model path including `pkl` like
` model_path = os.path.join(os.getenv('AZUREML_MODEL_DIR'), 'iris_model.pkl')` not just the name in `score.py`.

[2020-07-28 01:48] thoo commented on #1039
The work around for me is just add the source directory when I add the `score.py` file.

[2020-07-28 16:40] thoo opened #1070 "Limit of the length of string in description when the model is registered."
Register with a long description:
[code]

**Return**
[code]

It works if you have a shorter description like
[code]

[2020-07-28 16:54] MayMSFT commented on #1068
Thanks for your feedback. We added notes and redirection page to get users on the right page here: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.dataset.dataset?view=azure-ml-py

For register method, we also have redirection link on the notes.
![image](https://user-images.githubusercontent.com/47834041/88696403-14381100-d0b8-11ea-8e1f-9e4a40b30c3e.png)

Do you have other su

[2020-07-28 19:43] shbijlan commented on #741
#please-close

[2020-07-28 19:43] #741 closed

[2020-07-28 19:50] shbijlan commented on #836
#please-close

[2020-07-28 19:50] #836 closed

[2020-07-28 19:52] shbijlan commented on #838
#please-close

[2020-07-28 19:52] #838 closed

[2020-07-28 19:56] shbijlan commented on #907
#please-close

[2020-07-28 19:56] #907 closed

[2020-07-28 19:58] shbijlan commented on #941
#please-close

[2020-07-28 19:58] #941 closed

[2020-07-28 20:24] shbijlan commented on #684
#please-close

[2020-07-28 20:24] #684 closed

[2020-07-29 15:25] mutazag commented on #749
is there an update on this issue?

I have a scenario where I need to vary the path of the input dataset to ParallelRunStep when calling a published pipeline. I can pass in the subfolder path to the published pipeline using the REST end point, but there does not seem to be a way to affect a change on the input dataset to the step.

failing to achieve this means that the run() method in the entry sc

[2020-07-30 14:56] stevenluda opened #1071 "Submit child run with HyperDriveConfig failed"
Is submit_child method able to accept HyperDriveConfig?

I got the following error when submitting a HyperDriveConfig:
Traceback (most recent call last):
  File "hyper_tuning.py", line 145, in <module>
    run.submit_child(hyperdrive_run_config)
  File "/azureml-envs/azureml_1fa689a622c520f6bf39101e973af28a/lib/python3.6/site-packages/azureml/core/run.py", line 586, in submit_child
    return self

[2020-07-30 15:31] rtanase commented on #966
@jadhosn, I believe we have already fixed the underlying issue which was preventing the stack ensemble flag to be passed down to the pipeline. Can you please confirm?

[2020-07-30 17:14] stevenluda opened #1072 "Ways to parameterize hyperparameter sampling space as PipelineParameter"
Currently, the HyperDriveStep receives a HyperDriveConfig, but we can't find a way to make the hyperparameter_sampling in HyperDriveConfig accepting PipelineParameter. Is there any solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c38a69-084f-2185-60b2-b5bdedd45c65
* Version Independent ID: d9d1234e-c713-ba08-

[2020-07-30 18:25] jadhosn commented on #966
I didn't get a chance to try it on my end, but Harsh gave it a try on our repro from the AML side so it should be good to go. I'll close this issue and re-open if I face something similar or if the change didn't propagate.

[2020-07-30 18:25] #966 closed

[2020-07-30 21:34] yangsiyu007 opened #1073 "Code snippets in Remarks section not formatted correctly"
In the Remarks section of `as_named_input()` (https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.abstract_dataset.abstractdataset?view=azure-ml-py#as-named-input-name-), the two code snippets are not formatted correctly. There's a sentence that should not be a part of the code snippet in the first one, and extra ``` in the second one.

---
#### Document Details

⚠ *Do not edit t

[2020-07-30 22:08] swatig007 commented on #1072
HI @stevenluda , are you looking for a way to pass a Pipeline run to the HyperDriveConfig (so that each hyperparmeter configuration explored a different Pipeline)? if so, you could pass the Pipeline parameter to the HyperDriveConfig as callled out in -
https://docs.microsoft.com/en-us/python/api/azureml-train-core/azureml.train.hyperdrive.hyperdriverunconfig?view=azure-ml-py

[2020-07-30 22:52] stevenluda commented on #1072
No, I have a HyperDriveStep in pipeline, and I want to the sampling space
to be dynamically defined by PipelineParameter.

On Thu., Jul. 30, 2020, 6:08 p.m. Swati Gharse <notifications@github.com>
wrote:

[2020-07-30 23:27] vinpalapact opened #1074 "Unable to load serialized object persisted on Azure Blob storage"
We are using Scikit-learn Pipeline to create a Feature Engineering pipeline

[code]
We then fit it on training data and serialize this pipeline object and store it on Azure Blob Storage to be used for transforming data during inference

[code]

In Score function we read this from Blob storage as follows

[code]
For this we are getting

`UnpicklingError: invalid load key, 'f'.`

We have tried using

[2020-07-31 05:41] XiaYuanxiang opened #1075 "monitor schedule failed"
I am trying datadrift example on MachineLearningNotebooks-master/how-to-use-azureml/work-with-data/datadrift-tutorial/datadrift-tutorial.ipynb
when I run monitor.enable_schedule()  I got the error
"
Current state: Enabling
...State transitioning failed, please try again. status: EnableFailed
"
I have tried many times, but still got this problem, how should I sovle this?

[2020-07-31 10:04] sebastianfastert opened #1076 "Cant install azureml-sdk with automl"
I'm trying to setup a docker image for development.
This Dockerfile is a minimal example for my problem
[code]

But when running `docker build . -t jupyter`.
I get the error:
[code]

Thanks a lot for your help!

[2020-07-31 12:22] vizhur commented on #1076
@sebastianfastert

AzureML AutoML does not support python 3.8 at the moment. The reason for that is missing py38 dependencies like nimbus from your error https://pypi.org/project/nimbusml/1.7.1/#files.
We are working on python 3.8 support and will ship it soon.

Please consider to use python 3.7 for now.

[2020-07-31 14:12] #1076 closed

[2020-07-31 16:14] kelmahrsi opened #1077 "Passed FeaturizationConfig is ignored when in a pipeline AutoMLStep"
I have an Azure ML pipeline that contains an Auto ML step. The step involves custom featurization, which consists in dropping unwanted columns. It is created by a function that looks like this:

[code]

A separate code snippet uses the function to create the step and integrate it into a pipeline. It goes something like this:

[code]

The pipeline is then submitted remotely for execution. However,

[2020-07-31 19:14] MayMSFT commented on #1073
Thank you for the feedback. We will track it as bug in our documentation and fix in the next few SDK release

[2020-07-31 20:49] tmccrmck commented on #832
Sorry for the long response. I thought you commented that the problem was fixed? The issue is you have a deployed webservice that is already using the FPGA. You can delete that service with:

[code]

The accelerated-models-quickstart creates a cluster with a single node and single attached FPGA. When provisioning you can give a  higher `agent_count` which will allow you to have more than one servi

[2020-08-03 18:10] robert4os opened #1080 "Classes and methods are confused"
Classes and methods are confused in this article.

E.g. in "working directly with their corresponding factory methods TabularDatasetFactory and FileDatasetFactory"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed683fb5-825c-23fa-ad73-02432e9ba89e
* Version Independent ID: a45ba4d2-5789-5b99-3780

[2020-08-03 20:08] gaugup commented on #1035
Thanks for reporting this issue. This is fixed now.

[2020-08-03 22:12] justinormont commented on #1035
Thanks @gaugup for the status update. Was the PR put into another repo? I don't see the change in two places yet [[1](https://docs.microsoft.com/en-us/python/api/azureml-automl-runtime/azureml.automl.runtime.data_transformation?view=azure-ml-py), [2](https://github.com/MicrosoftDocs/MachineLearning-Python-pr/blob/live/AzureML-Docset/stable/docs-ref-autogen/azureml-automl-runtime/azureml.automl.run

[2020-08-04 04:02] gaugup commented on #1035
This was fixed by an internal PR within Microsoft. There was a pypi release today and the if the docs are re-generated then this typo should be fixed. Else we would need to follow up with docs team to check why the docs aren't being updated..

[2020-08-04 08:49] robert4os opened #1082 "Indicate that there is a GA version for this class"
Please indicate in the documentation when there is a GA version corresponding to a class from the 'contrib' package.
i.e. in this case azureml.pipeline.steps.ParallelRunStep

This is also true for ParallelRunConfig and likely for other classes in the contrib package.

This is especially important, because the search function does not rank GA classes higher and so GA classes do not even show up in

[2020-08-04 19:00] thoo opened #1083 "Feature Request : Better integration with Prometheus"
I saw the docker image has installed prometheus client for python. It would be really helpful to have a better integration like the endpoint from the web service tied to Prometheus.

[2020-08-04 19:49] shbijlan commented on #961
@RoozbehBandpey Thank you for your feedback regarding the inconsistency on character limits across AML Pipelines. I am part of the Pipelines team and have opened a work item to track this issue which will be addressed in the planning and release cycle.

[2020-08-04 19:49] shbijlan commented on #961
#please-close

[2020-08-04 19:50] #961 closed

[2020-08-04 19:52] shbijlan commented on #749
@rongduan-zhu do you have any update for this ask?

[2020-08-04 19:58] shbijlan commented on #938
@DjangoPeng @ram-msft can we close this issue?

[2020-08-04 20:05] shbijlan commented on #1043
@canopusatl are you still having this issue?

[2020-08-04 20:09] shbijlan commented on #871
Thank you for your feedback. I have opened a work item to investigate this. We will update you as we have more information.

[2020-08-04 20:11] #840 closed

[2020-08-04 20:16] #725 closed

[2020-08-04 21:24] rongduan-zhu commented on #749
We have added support for using dataset with pipeline parameter. Please see the example [here](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-showcasing-dataset-and-pipelineparameter.ipynb). We currently only support parameterizing based on the Dataset ID but not from a datastore + path on datastore. We a

[2020-08-05 06:23] SturgeonMi commented on #1080
Thanks for the feedback! We are looking into this.

[2020-08-05 12:11] aliasneo1 opened #1084 "SSLCertVerificationError during Model Register Operation"
I'm getting SSLCertVerificationError while registering pretrained  model in local.

from azureml.core.model import Model
model = Model.register(model_path = "./models",
                       model_name = "BART-MNLI",
                       description = "BART Zero shot classifier",
                       workspace = ws)

Error trace:
ClientRequestError                        Traceback (most recen

[2020-08-05 12:18] justas-exadel opened #1085 "auto-ml-classification-bank-marketing-all-features.ipynb does not return ONNX model if AutoML is used as AutoMLStep"
I want to create a pipeline that has an AutoMLStep and returns ONNX model.
I started with auto-ml-classification-bank-marketing-all-features.ipynb by changing it into a pipeline with AutoMLStep.
My expectations were that AutoMLStep output will contain ONNX file.
It did not happen, the output did not contain ONNX file
![image](https://user-images.githubusercontent.com/69246763/89411863-cdd55880-d72

[2020-08-05 12:19] justas-exadel commented on #1077
I have a similar issue and filled in a [ticket](https://github.com/Azure/MachineLearningNotebooks/issues/1085)

[2020-08-05 16:55] luistelmocosta opened #1086 "Azureml-train-automl-runtime is not installed. Submitting run to a new conda environment."
Hello, I installed azure ML through pip, using: `azureml-sdk[automl_databricks]` so I could use AutoML with Databricks.
My dataset is a pandas dataframe with a couple millions of lines

I am using the following config:

[code]

However, when I try to run, I get the following warning: `Azureml-train-automl-runtime is not installed. Submitting run to a new conda environment.` and it hangs forever.

[2020-08-05 17:59] cartacioS commented on #866
Hi @adgustaf seems the notebook has been updated as I only see one reference to 'from matplotlib import pyplot as plt'. Can we please close this issue? Thanks!

[2020-08-05 18:12] cartacioS commented on #861
Hello @jadhosn, you can view the tags for a run if you go to the experiments tab and click on your experiment.
![image](https://user-images.githubusercontent.com/9436875/89448375-63abbc00-d70c-11ea-9117-46861ceb0f00.png)

If you still have a question, please let us know. If this resolves your question, please do close this issue :).

Thanks!

[2020-08-05 18:21] MayMSFT commented on #1080
Thanks for your feedback. What are you trying to do here? Have you checked out the article that introduce dataset and how to create them?
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets

[2020-08-05 18:24] cartacioS commented on #1067
Hey @robert4os  just a ping that the documentation is live now:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast

[2020-08-05 18:28] cartacioS commented on #1035
Hi @justinormont seems the changes are in. Can you please confirm and close this issue if you agree? Thanks!

[2020-08-05 18:31] cartacioS commented on #1030
Hi @joshidp checking in on this - are you still facing issues with forecasting DNN's?

[2020-08-05 18:34] justinormont commented on #1035
Thanks for fixing!

[2020-08-05 18:34] #1035 closed

[2020-08-05 18:51] jiajinghu19 opened #1087 "TypeError: register() got an unexpected keyword argument 'create_new_version'"
I have updated azureml sdk, but still got the error saying unexpected key word 'create_new_version' :

[code]

error message:

[code]

[2020-08-06 00:06] swanderz commented on #1074
when our team gets serialization errors, it is normally because there is an environment mismatch between when the object was pickled and when its unpickled. e.g. it was pickled on with `sklearn==0.20.3`, and we're attempting to unpickle with `0.22.1`

[2020-08-06 01:08] swanderz opened #1088 "AML Environments are not fully-reproducible"
SDK version: `1.7.0`
region: `West US II`

We had the below snippet unchanged in our codebase since at least 9/16/2019. It is a `train.py` script that is used as part of a `HyperDriveStep`. Fortunately, we never referenced this `'c:\\\\temp\\output'` folder, but, unfortunately, this undocumented change in service behavior has brought all of our pipelines for this workstream (including scheduled pr

[2020-08-06 04:00] sonnypark commented on #1088
We are investigating this issue. Will keep you updated.

[2020-08-06 04:25] joshidp commented on #1030
Hi, Yeah issue still exists. Thanks

[2020-08-06 06:40] lingfeidiewu opened #1089 "How to write batch scoring results to data lake?"
I'm trying to write the output of batch scoring into datalake:
[code]
However I meet the error: "code": "UserError",
        "message": "User program failed with Exception: Missing argument --output or its value is empty.",
How to resolve the problem?

[2020-08-06 11:58] #858 closed

[2020-08-06 16:13] swanderz commented on #1088
what linux distro does AMLCompute use? My guess is there was a distro update.

[2020-08-06 17:46] swanderz commented on #1059
@akshay-0  another issue today with `GetComputeResourceAndSecrets`

[code]

[2020-08-06 21:22] cartacioS commented on #892
Hi @jadhosn, reaching out to see if you are still facing this issue?

[2020-08-06 21:24] cartacioS commented on #980
Hello @tthpham, I was reaching out to see if you were unblocked from this issue?

[2020-08-06 21:25] shbijlan commented on #703
Thank you for the feedback. I'm not sure I understand the issue you are facing. Can you please explain the steps to reproduce the failing scenarios and the errors you are getting.

[2020-08-06 21:30] cartacioS commented on #1030
For the error around TimeSeries forecasting with DNN's can you ensure that you set all the required params mentioned in this notebook: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-beer-remote/auto-ml-forecasting-beer-remote.ipynb
_i.e. set enable_dnn=True_

Documentation: https://docs.microsoft.com/en-us/azure/machine-learn

[2020-08-06 21:33] cartacioS commented on #1086
azureml-sdk[automl-databricks] has been deprecated, please try again with azureml-sdk[automl]. Documentation is here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment#install-the-correct-sdk-into-a-databricks-library

[2020-08-06 21:48] ryanwadebg opened #1090 "The link to the GitHub site is broken"
[Enter feedback here]

The link to the GitHub site is broken. I tried to find similar documentation in the repo but could not find any. Please advise where I should go.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd3321a1-39ab-8e41-f678-68ddbb939a17
* Version Independent ID: b49c840c-1dca-7113-4160-bc767cc4f31e
* Co

[2020-08-06 22:27] ashic opened #1091 "Trying to register a dataset with the python sdk"
I'm trying to programmatically register a dataset with the python sdk. The dataset will be from a datastore for a storage container, and point to a csv file. I'm trying the following:

[code]

Now this fails when I run it from archlinux, stating that archlinux is not supported. Going through the stack trace, it looks like the ml sdk is asking the dot net core 2 python package to install additional

[2020-08-06 22:31] tiferet commented on #642
Did you ever figure this out? I'm seeing the same error.

[2020-08-06 22:44] cartacioS commented on #1015
Hi @areed145 can you please run `pip freeze' in your notebook and share the output here? This can help us better guide you.

Thanks!

[2020-08-07 00:00] sonnypark commented on #1088
Yes that's what we are checking with compute team. BTW, thx for the reproducible example. But I guess below wouldn't ever worked in the linux compute node?
os.makedirs('c:\\\\temp\\output', exist_ok=True)
And I confirmed we still able to create dir like '/tmp\\dir1'.
So I assume what you have in your script is more like relative paths with current directory which possibly mounted blob path instead

[2020-08-07 00:32] swanderz commented on #1088
`os.makedirs('c:\\temp\output', exist_ok=True)` worked every day from Sep 2019 (the day that line got introduced) until this Tuesday. This behavior wasn't intentional (obvs misguided).

Our issue is that when we publish a pipeline, we expect it to run in the exact same way on the same environment (including distro). If the code worked for 9 months and we don't change anything, it shouldn't break (

[2020-08-07 00:44] swanderz commented on #1091
I'm pretty sure you can do this from the Azure ML UI ([Create Datasets in the Studio](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#create-datasets-in-the-studio)). Another alternative would be to use another os, or a Azure ML Compute Instance Notebook VM.

[2020-08-07 00:57] ashic commented on #1091
I've managed to make some progress. It appears the dependency that's missing is python lttngust. This isn't a pip / conda package, but an optional dependency of dot net core, and is installed at the os level. I'm running archlinux, so

[code]
allowed me to progress beyond the point where it was checking for dependencies. Looking through the codebase, it appears that azureml puts dotnetcore2 in sit

[2020-08-07 01:46] swanderz commented on #1091
@ashic you rock for:
1) being a problem-solver, and
2) sharing your findings back with the community
gold star for you!
cc: @MayMSFT

[2020-08-07 04:22] sonnypark commented on #1088
Thx for the details. Now I got it. We just confirmed we have regression on blobfuse update and was able to confirm below code worked with the old version of it:
**_os.makedirs('c:\\temp\output', exist_ok=True)_**
what it actually does: creating directory with the name c:/temp/output in your current working dir. So full path is looking like:
/mounted_path/c:/temp/output
We are working on reverting

[2020-08-07 05:41] SturgeonMi commented on #1090
Hi, what is the issue you encountered when you open https://github.com/microsoft/AMLDataPrepDocs?
I can open the link and view the files.

[2020-08-07 09:06] robert4os commented on #1080
Hi,

I am just pointing out that the documentation uses the terms 'methods' and
'classes' in an imprecise way. Like in the text quote in my initial post it
should say 'factory classes' or 'factory methods of Tabular...'.

Best regards, Robert

On Wed, Aug 5, 2020 at 8:21 PM May Hu <notifications@github.com> wrote:

[2020-08-07 10:18] ryanwadebg commented on #1090
Hello. That is interesting because I get a 404 error.

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Xun Wang <notifications@github.com>
Sent: Friday, August 7, 2020 1:42:05 AM
To: Azure/MachineLearningNotebooks <MachineLearningNotebooks@noreply.github.com>
Cc: Ryan Wade <rwade@blue-granite.com>; Author <author@noreply.gi

[2020-08-07 13:07] ryanwadebg commented on #1090
This is what I see when I click on the link:

![image](https://user-images.githubusercontent.com/56444898/89648550-5f5adc80-d88d-11ea-92c2-5f137500c539.png)

[2020-08-07 13:40] dem108 commented on #750
@YutongTie-MSFT This dead link is still not fixed. Can anyone fix this? If we're no longer providing .dbc, the reference to it should be eliminated.

[2020-08-07 14:43] rhooper1967 commented on #657
Hello, I have been experiencing the same issue when following DP100 training lab 7B. Can you please indicate if the problem is intermittent or there is an underlying issue with the compute resource or other that I need to address?

Many thanks for your help

[2020-08-07 15:57] swanderz commented on #1088
Our issue isn't that we can't do this anymore: `os.makedirs('c:\\\\temp\\output', exist_ok=True)`. We already pushed a hotfix to remove the code causing the error, so reverting isn't necessary. Our issue has always been that `blobfuse` versions (and perhaps other packages) can change on a published pipeline without any advance warning. A solution would be to guarantee that changes like this can't

[2020-08-07 18:37] MayMSFT commented on #657
hi @rhooper1967

How are you generating the profile? through studio UI?

[2020-08-08 01:05] sonnypark commented on #1088
There was a regression from the storage team specifically when paths have a “\” that we had to work with them on rolling back. They are making a fix to handle this scenario, but we are also hardening our system to test this specific use case before releasing.

[2020-08-08 19:09] svickers commented on #948
Yes, much better!

[2020-08-08 19:09] #948 closed

[2020-08-08 23:17] ashic opened #1092 "Listing PipelineDrafts throw errors for pipeline created in the designer"
If I use

[code]
when there's a pipeline draft in the workspace that's been created in the designer, it fails with the following exception:

[code]

The factory function seems to require an experiment name, but if you simply create a new pipeline in the designer, no experiment name is attached to it. During the list operation, the factory function is used that expects the experiment name, and this

[2020-08-09 02:01] ashic opened #1093 "Creating pipelines in code with modules from the designer"
Is it possible to use the python sdk to define a machine learning pipeline using some of the modules available in the designer? For example, Clean Missing Data, Train, LinearRegression, etc? Or are these modules only available in the designer?

Also, is it possible to export the definition of a pipeline built in the designer to some xml / yaml / json format that can then be taken to a different az

[2020-08-09 03:15] joshidp commented on #1030
Hi,

Issue has been resolved

Thanks

[2020-08-10 04:30] SturgeonMi commented on #1090
It seems the link is set as "internal".  Let me confirm with the team and get back to you.

[2020-08-10 09:24] luistelmocosta opened #1094 "Time rolling window forecast"
Hello, I would like to know if there is any out of the box function for a time rolling window forecast.

The idea is the following:
- Train until a certain date, e.g, 31-12-2020
- Increase one window, train again and make predictions
- Repeat the process until the window is over

Is there any quick way of doing this or we need to train for every window?

Regards,
Luís

[2020-08-10 11:25] #933 closed

[2020-08-10 13:42] kelmahrsi commented on #1094
There is one for AutoML forecasting tasks (cf. https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast). I hope it does what you're looking for.

[2020-08-10 13:47] luistelmocosta commented on #1094
Thank you for your reply. I already checked that link, it is about the general parameters of auto ml forecast. What I am talking about is completely different.
Time rolling window is widely used for forecast problems, the idea is to increase the time window iteratively so you can have a smaller lag. I would like to know if this problem has already been tackled or not.

[2020-08-10 16:39] swanderz commented on #1088
We don't care about `'\'`'s in paths. This was just a symptom of the larger problem: that `Environments` of Published Pipeline are not fully guaranteed to stay the same even when the Environment definition is the same! @rastala

[2020-08-10 18:34] #749 closed

[2020-08-10 18:45] shbijlan commented on #814
@himat-shell, are you still facing an issue with this? Could you share the parallel run config you created? We'll need some additional info to reproduce the issue.

[2020-08-10 19:23] shbijlan commented on #1029
@XiaYuanxiang, I tried to reproduce the issue you are facing with the tutorial: machine-learning-pipelines-advanced/tutorial-pipeline-batch-scoring-classification.ipynb. I am unable to reproduce the error you see.

Can you check if you have made the input data available to your workspace correctly? I am able to run the code below without any issues.

from azureml.core.datastore import Datastore

b

[2020-08-10 19:25] #1047 closed

[2020-08-10 19:28] shbijlan commented on #1058
@swanderz Thank you for your feedback. We are investigating each transient error independently. Let us know if this issue still persists.

[2020-08-10 19:31] shbijlan commented on #1059
@swanderz Thank you for your feedback. We have raised an incident for this and are investigating. Please let us know if the issue still persists.

[2020-08-11 09:49] pbartos opened #1096 "AzureML Python SDK: Model deserilization ignores tags"
Version azureml.core:
1.11.0

[code]
Result:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1517f63f-2d2e-1539-060e-0a471c1c438a
* Version Independent ID: 9e466042-1059-b835-8c92-01e9d9858166
* Content: [azureml.core.model.Model class - Azure Machine Learning Python](https://docs.microsoft.com/en-us/python/api/

[2020-08-11 09:57] brunocous commented on #414
Too bad, this issue is already closed, because I facing the same issue.

[2020-08-11 10:01] brunocous commented on #1014
I'm facing the exact same problem as the original poster of this issue. Still couldn't get it to work.

[2020-08-11 11:32] pbartos commented on #1094
AutoML forecast supports rolling forecast when you try to predict the horizon longer than the window size. It predicts one window and use these predicted values to predict the next one.
There is no good reason to train on predicted values.

[2020-08-11 13:19] ryanwadebg commented on #1090
Thanks SturgeonMi,

I look forward to what you find.

Ryan

[2020-08-11 15:14] vizhur commented on #1088
@swanderz with the same environment definition AzureML guarantees reproducibility, unless
- derived image was deleted from Workspace ACR
- base_image:tag was updated

For the second case consider to use base_image:@sha256=digest or at least version tag if AzureML base image is used as a base image

[2020-08-11 15:29] asears commented on #995
This is also broken in the project readme.md which links to following:

https://github.com/Azure/AMLSamples

[2020-08-11 20:18] SturgeonMi commented on #1090
@MayMSFT As we synced offline, you indicated the Dataprep SDK is deprecated, we are having new SDK experience.

@ryanwadebg Do you have specific questions towards some specific tasks? Or you want to check what's the current Github folder for instructions towards tasks/contents contained in https://github.com/microsoft/AMLDataPrepDocs?
(Tasks e.g.
	How to load data is an overview guide on how to lo

[2020-08-11 20:22] jadhosn commented on #892
@cartacioS I haven't faced this issue since opening this thread. We learned that there's an invisible limit on the number of concurrent jobs per workspace (roughly 100 runs). Once I baked that into my scenarios, I stopped facing this issue. I will close this thread.

[2020-08-11 20:22] #892 closed

[2020-08-11 20:23] #861 closed

[2020-08-11 22:55] alexkalita commented on #839
This issue should be fixed in the current SDK.

[2020-08-11 22:57] #839 closed

[2020-08-11 23:10] shbijlan commented on #1092
@ashic Thank you for your feedback. We are investigating this issue and will update you shortly.

[2020-08-12 20:23] marktab commented on #523
@YutongTie-MSFT should this ticket be open still?

[2020-08-12 22:44] swanderz commented on #1088
Looked like a drafted a response yesterday and never actually posted it...

The derived image  wasn't deleted from ACR, you can see that in both run instances the image GUID was the same.

My understanding is that `blobfuse` (a.k.a. azure-storage-fuse) is not included in the azureml_base image ( I can't find it in the [Dockerfile](https://github.com/Azure/AzureML-Containers/blob/master/base/cpu/in

[2020-08-13 05:55] XiaYuanxiang commented on #1029
Thanks for your reply, I have tried to use other dataset

[2020-08-13 05:55] #1029 closed

[2020-08-13 07:32] pbartos commented on #1096
Workaround:

`deserialized_model.update(tags=serialized.tags)`

[2020-08-13 07:49] lingfeidiewu opened #1097 "Load data from azure datalake 1 failed"
I use below code to load data from adls:

[code]

But it failed with below error:

[code]

It may success after I retry for some times. Do you have any idea about this?

[2020-08-13 17:37] shbijlan commented on #1074
@vinpalapact did resolving the environment mismatch solve the issue?

[2020-08-13 17:51] GiftA-MSFT commented on #817
Closing this thread since its outdated. Please comment below if you need further assistance. Thanks.

[2020-08-13 17:51] #817 closed

[2020-08-13 17:54] GiftA-MSFT commented on #751
Closing this thread since its outdated. Please comment below if you need further assistance. Thanks.

[2020-08-13 17:54] #751 closed

[2020-08-13 18:00] YutongTie-MSFT commented on #523
@marktab If this error has been fixed we can go ahead to close it. Thanks.

[2020-08-13 18:07] GiftA-MSFT commented on #750
@DebFro can you please update **DBC link** under **Single File** in this [document](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/azure-databricks)? Thanks.

[2020-08-13 18:23] GiftA-MSFT commented on #764
Hello, please refer to this [document ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-pipelines#logging-options-and-behavior) and [resource](https://docs.python.org/2/library/logging.html). Thanks.

[2020-08-13 18:23] #764 closed

[2020-08-14 13:16] Strauman opened #1098 "PipelineOutputTabularDataset registers as a File type dataset"
Consider the following `PipelineData` setup

[code]
After pipeline run, the dataset shows up under datasets, but as a "File" type dataset and not as a "Tabular" type.

[2020-08-14 17:03] AndrewLouw opened #1099 "Model Name too short for MLFlow"
The requirements for the model name, when registering a model are:
"It must only consist of letters, numbers, dashes, periods, or underscores, start with a letter or number, and be between 1 and 32 characters long."

This doesn't allow a name of exactly 32 characters (must actually be less than 32)

MLFlow experiment id's are exactly 32 characters long. This makes it impossible to use mlflow exper

[2020-08-14 20:13] vizhur commented on #1088
Sorry, I don't quite understand the problem.

You are correct that azure-storage-fuse is not included into the dockerfile/base image. We don't have a python layer on the base images. That gets created from the Encironment object from the conda dependencies.
You will use cached image until you have it in ACR and Environment object is the same. If you want to update to the latest version of any unpi

[2020-08-14 21:33] swanderz commented on #1088
@vizhur , I appreciate you hanging in here with me.

Our problem is that we expected the same environment that we had been using in a Published Pipeline to stay the same. Unfortunately, blobfuse was upgraded and it broke our pipeline. If blobfuse isn’t in the docker image, and it isn’t a pin-able python package, how can we harden our environment to prevent future breaking changes introduced by blo

[2020-08-14 21:50] vizhur commented on #1088
as I can see from the sample you shared, you did hit the cache as there is no build step. so the environment itself is reproducible. so the image itself is fine, but that was a service side regression as far as I understand

[2020-08-16 14:52] marktab commented on #523
@YutongTie-MSFT I believe you were correct to tag product team (which I am not)

@Farhad-Heybati have you solved the original question?

[2020-08-17 05:20] sudeepgupta90 opened #1101 "Converting Dataset into Spark dataframe (Dataset.to_spark_dataframe()) gives duplicate rows"
I have a AzureML Dataset which is versioned. The data is append only, and comes in weekly. The dataset hence gets a "new weekly version". It is organised on the Azure Blob Container as follows:

[code]

I have this dataset in an AzureML Workspace. I also have a Notebook in Azure Databricks Worspace, where I was accessing this Dataset

[code]

If you look at the Spark Dataframe output for version2-

[2020-08-17 05:31] lingfeidiewu opened #1102 "ParallelRunStep failed in run(data) function"
I tried to use ParallelRunStep to do batch score. The code of step is below:
[code]
But when it failed at the begining of run(data) function in "use_model.py" script. The error in driver_log is below:

[code]
And the error in logs/sys/error is below:
`2020-08-17 03:43:22,051|ERROR|238|Stop for run() unable to finish within 90 seconds for {"agent": "agent000", "task_id": 0, "dequeue_count": 1, "met

[2020-08-17 13:42] jwood803 opened #1103 ""No usable environment found" error when deploying AutoML model"
I was following the steps in [this section](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/classification-bank-marketing-all-features/auto-ml-classification-bank-marketing-all-features.ipynb) of an AutoML sample with a different data set.

When running the `aci_service.wait_for_deployment(True)` command, I get the below error:
[code]

He

[2020-08-18 00:00] shbijlan commented on #871
@swanderz this issue was fixed in azureml-core 1.1.5.5.

[2020-08-18 00:00] #871 closed

[2020-08-18 03:40] BillmanH opened #1105 ".get_output crashes due with version error"
I have a notebook that crashes when on 'get_output'.

[code]
The error I get:
[code]
However, I ran this code all in one notebook. So the env that I trained the model is the same that I ran the cell above.  The run completes successfully. I can't share the exact notebook, but I could probably mask a couple of things and attach that. The notebook isn't doing anything other than a standard AUTOML ru

[2020-08-18 10:56] pbartos opened #1106 "Invalid int parameter seasonality: auto"
AzureML Python SDK: 1.12.0

[code]

**Error:**

[2020-08-18 10:30:05Z] Failed to start the job because of error: **Invalid int parameter seasonality: auto**, stack_trace:    at Microsoft.Aether.AutoMLCloud.Service.StructuredInterfaceParser.GetNullableInt(String jobId, Dictionary`2 parameters, String name) in d:\dbs\sh\Ae\0808_020019_1\cmd\22\src\aether\platform\backendV2\BlueBox\Clouds\AutoMLCloud

[2020-08-18 12:01] pbartos commented on #1105
Please share AutoMLConfig and compute_target setup.

[2020-08-18 12:11] BillmanH commented on #1105
Sure.
[code]

and the compute target:
[code]

[2020-08-18 12:35] pbartos commented on #1105
SDK packages on your remote target are different than on your local machine. Usually, automl experiment sent information about packages version from local env to remote target, but this can be overridden by conda/pip settings.
Find these overrides or reinstall your local sdk version to 1.11.0 and restart the notebook.

[2020-08-18 12:40] BillmanH commented on #1105
So you are saying that the SKD will pick a version that is different that the local machine? good to know. If this is a case could you make the error message reply with the version that the cloud used? That way I can follow along. Otherwise I would have to guess. Just having it say that it's out of sync doesn't help me solve the problem.

[2020-08-18 12:47] BillmanH commented on #1105
I'm updating now. I'll post if this solves the problem.

[2020-08-18 14:11] BillmanH commented on #1105
I used `pip install --upgrade azureml-sdk` per the docs.
And it updated to `1.12.0`.  I assumed that this was the stable version as package managers tend to hold back versions that aren't stable.

Running again I got a slightly different error:
[code]

I'm going to try to install the specific version above (1.11.0), but future viewers should be aware that this solution will likely not work in the

[2020-08-18 15:43] BillmanH commented on #1105
`1.11.0` didn't work either. Same error.

[code]

[2020-08-18 17:57] shbijlan commented on #1098
@Strauman Thank you for your feedback. I am trying to reproduce the issue. Can you share the code you use to create and run the pipeline with this data?

[2020-08-18 17:57] BillmanH commented on #1105
I was actually able to do this by using the pip installer for the specific *extra* attachments
`pip install --upgrade azureml-sdk[explain,automl]`
That updated my notebook version to `1.12.0`.
That seems to have updated the `RollingOriginValidator` and the notebook was able to complete.

However, there is a larger issue that the AML version in the cloud no longer matches the local version when cre

[2020-08-18 17:58] #1105 closed

[2020-08-18 18:25] shivp950 commented on #1099
can you share what version of the SDK you're using? We have increased the character limit, I'll follow up on my end as well

[2020-08-19 08:54] AndrewLouw commented on #1099
Using:
import azureml
azureml.core.__version__
'1.0.85'

I've checked again and the problem looks like it's gone - thanks. I think I was debugging while you guys were updating everything last weekend. I'll update to the latest version and start using the URI properly. Is this preview now live? https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-mlflow

Thanks

[2020-08-19 10:27] AndrewLouw opened #1107 "SSL error on ws.compute_targets"
Trying to get ws.compute_targets hangs for a long time (max retries) then eventually produces an error. The actual error is:
Max retries exceeded
but this is due to an underlying bad handshake

This does not happen on 1.0.85

To replicate:
1. create a new azureml workspace resource
2. pip install --upgrade azure-sdk
3. download config file
4 run below:

import azureml
from azureml.core import Work

[2020-08-19 13:04] chengyu-liu-cs commented on #972
I am also having the same error. I have tried different versions including latest 1.12.0. But the problem remains.

I was running locally

[2020-08-19 16:12] shivp950 commented on #1099
That's great to hear! Yup MLflow is public preview,you can use it today. We are actively working on improving the integration.

[2020-08-19 16:38] rtanase commented on #1106
@jialiu103 can you please have a look here? The forecasting parameters might have introduced a breaking change in the contract, wrt datatype of seasonality parameter.

[2020-08-19 19:17] jialiu103 commented on #1106
Absolutely. @pbartos this is an known issue and the fix is ready to be deployed to prod regions. It might take 1-2 weeks to reach all the regions.

[2020-08-20 11:08] Strauman commented on #1098
Here is an MVE. All that has to be done is put the two files below in the same directory, download the workspace config.json and set `COMPUTE_TARGET_NAME `.

Afterwards the dataset is registered as a File dataset, and not a Tabular as I would expect.

[code]

and

[code]

[2020-08-20 19:57] shbijlan commented on #1092
@ashic Thank you for bringing this bug to our attention. It has now been addressed and fixed by engineering. I am closing this issue. Please feel free to re-open if the issue persists.

[2020-08-20 19:57] #1092 closed

[2020-08-20 21:50] MayMSFT commented on #1089
PipelineData does not support datalake. We just released the surport of data lake via dataset API. documentation will be published next week. stay tuned!

[2020-08-20 22:54] v-strudm-msft commented on #579
@CESARDELATORRE please take a look. Thanks!

[2020-08-21 06:40] Strauman commented on #1098
Thanks, that's awesome!

[2020-08-21 08:54] chengyu-liu-cs opened #1108 "Why is Image class DEPRECATED?"
[Enter feedback here]
We have been using Image class a lot in our customer deliveries. The typical use cases are that we train and test ML models and packetize the models in a docker format and ship to customers. Customer are feel to deploy the docker image to anywhere as they wish, e.g., cloud, kubernetes or virtual machines.  In the document Environment is suggested for the replacement. But Envi

[2020-08-21 09:01] chengyuliu-cs opened #1109 "ModuleNotFoundError: No module named 'ruamel' Error from built docker image"
Hi,
I am using Azureml SDK 1.12.0 and here is a piece of codes for building a docker image.
`

        image_config = ContainerImage.image_configuration(
                    runtime='python',
                    execution_script='score.py',
                    conda_file=conda_score.py)

        image = Image.create(workspace=ws,
                    name='docker_image',
                    models

[2020-08-21 09:03] chengyu-liu-cs opened #1110 "ModuleNotFoundError: No module named 'ruamel' error from built image"
Hi,
I am using Azureml SDK 1.12.0 and here is a piece of codes for building a docker image.
`

        image_config = ContainerImage.image_configuration(
                    runtime='python',
                    execution_script='score.py',
                    conda_file=conda_score.py)
        self.image = Image.create(workspace=ws,
                    name='docker_image',
                    mod

[2020-08-21 21:56] BillmanH opened #1111 "error: azureml-train-automl-runtime is required however it is included"
```Azure ML SDK Version:  1.11.0```

In a ```PythonScriptStep``` I'm getting a crash error that: "
[code]

Here is my RunConfiguration:
[code]

here is the step:
[code]

The environment is obviously included, but also definitely missing.  I'm stuck and now none of my pipelines, that were running in previous version, will work.

[2020-08-22 18:24] #1109 closed, assigned to nobody

[2020-08-23 15:17] BillmanH opened #1112 "Location of AutoMLStep please."
Azure ML SDK Version:  1.12.0

```from azureml.pipeline.steps import AutoMLStep```

Per this doc:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-automated-machine-learning-step.ipynb

It looks like you can import the AutoMLStep, however I can't find it.

[code]

[2020-08-24 03:07] NathanNZ opened #1113 "Error when running ML Pipeline (Failed to upload outputs and mark job as failed)"
Our ML pipeline in Azure ML Learning (using 1.12.0 libraries) finishes successfully however the overall experiment is marked as failed. This is complicated further as each of the Steps within the experiment are marked as successful.

Digging more into the last step that registers the model the following error (below) can be found in the executionlogs.txt output. This does not seem to effect the re

[2020-08-25 03:18] luzhang06 commented on #1113
Hi NathanNZ,

Thanks for reporting this issue. Can you please share with us the notebook you used so that we can repro the issue?

Thanks,
Lu

[2020-08-25 03:22] luzhang06 commented on #1112
Hi BillmanH, can you please share more details about what you mean by "you cannot find the AutoMLStep"? Any error you get when importing AutoMLStep?

[2020-08-25 03:29] luzhang06 commented on #1093
We have a feature in private preview which can help you leverage the modules in Designer in SDK. Please reach out to me: luzhan@microsoft.com if you have interest.

Regarding pipeline yaml format, it's in our road map to support it.

[2020-08-25 14:49] brunocous commented on #899
I'm experiencing the same issue. I would like to use a HypderDrive parameter tuning step with Databricks as compute target. I haven't been able to achieve this. Any suggestions are certainly welcome.

[2020-08-25 15:55] BillmanH opened #1115 "Unable to ensure consistent versions of the SDK in AzureML Pipelines"
User program failed with ImportError: cannot import name 'RollingOriginValidator'

Using 1.12.0

I learned in [this issue](https://github.com/Azure/MachineLearningNotebooks/issues/1105#event-3667500065) that `RollingOriginValidator` is caused due to discrepancies in different SDK versions in pipeline runs. Like when your local version is different than the version in which an AutoML model is train

[2020-08-25 15:59] BillmanH commented on #1112
Actually it looks like an older version of the SDK.

The solution was that if you use `pip install --upgrade azureml-sdk` it will upgrade the VERSION to 1.12.0, however it won't upgrade all of the dependent packages. This gives the user the false impression that they are current, when they aren't.

In order to ensure that you have upgraded correctly you need to use `pip install --upgrade azureml-s

[2020-08-25 15:59] #1112 closed

[2020-08-25 16:01] BillmanH commented on #1115
FWIW, here is the AutoML step:
[code]

It's the same as in the link above.

[2020-08-25 16:24] CESARDELATORRE commented on #682
#please-close this issue as it's stale and not actionable since signatures are created the same way for all APIs.

[2020-08-25 16:24] #682 closed

[2020-08-25 16:25] CESARDELATORRE commented on #1067
#please-close this issue since the doc is already available.

[2020-08-25 16:25] #1067 closed

[2020-08-25 16:25] swanderz commented on #1088
closing this issue, as I just heard from the support engineer that:

[2020-08-25 16:27] #1088 closed

[2020-08-25 16:32] lostmygithubaccount commented on #1021
@GiftA-MSFT any updates?

[2020-08-25 16:34] MayMSFT commented on #1024
Hi @mddiallo  you need to create the labeled dataset from labeling service.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-label-images

[2020-08-25 16:38] lostmygithubaccount commented on #1016
@SnehaAgrawal-MSFT any updates?

[2020-08-25 16:56] lostmygithubaccount commented on #943
@ram-msft any updates?

[2020-08-25 17:02] lostmygithubaccount commented on #920
@ram-msft any update?

[2020-08-25 17:04] lostmygithubaccount commented on #880
@femsulu any updates?

[2020-08-25 17:04] #879 closed

[2020-08-25 17:07] lostmygithubaccount commented on #753
@omartin2010 we're working on restructuring the examples - please reach out if you'd like to learn more

[2020-08-25 17:07] #753 closed

[2020-08-25 17:09] #666 closed

[2020-08-25 17:11] lostmygithubaccount commented on #251
we are removing the notebook and no longer supporting it

[2020-08-25 17:11] #251 closed

[2020-08-25 17:14] #1099 closed

[2020-08-25 17:15] #1093 closed

[2020-08-25 17:18] lostmygithubaccount commented on #1087
@jiajinghu19 is `ds` a Dataset?

[2020-08-25 17:27] #964 closed

[2020-08-25 17:28] lostmygithubaccount commented on #850
@shivp950

[2020-08-25 17:28] lostmygithubaccount commented on #770
@jpe316 any updatesa?

[2020-08-25 17:58] MayMSFT commented on #1087
how did you create the ds? and which sdk version are you using. we'd recommend to upgrade to the latest azureml-sdk version and follow this doc to create & register dataset.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets

[2020-08-25 17:58] #1091 closed

[2020-08-25 18:01] CESARDELATORRE commented on #640
Here's the HOW TO for AutoMLStep:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-automlstep-in-pipelines

Closing this issue.
#please-close

[2020-08-25 18:01] #640 closed

[2020-08-25 18:08] MayMSFT commented on #523
this is likely due to the permission of the service principal. you can also register sqldb with sql username and password as an alternative.

[2020-08-25 18:44] tracychms commented on #1102
Would you share "use_model.py"? The run() is timed out due to error: no 'total' attribute in 'Entity'. Seems you are using a non-exist attribute in run() method.

[2020-08-25 18:57] jpe316 commented on #770
Still working on it, tagging 2.0

[2020-08-25 18:57] mx-iao commented on #649
Assuming you mean DDP, yes - here is a tutorial: https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/ml-frameworks/pytorch/training/distributed-pytorch-with-nccl-gloo

[2020-08-25 18:57] #649 closed

[2020-08-25 19:01] mx-iao commented on #1069
@johnwu0604 @jpe316 please take a look

[2020-08-25 19:05] mx-iao commented on #991
@jonrbates If you want to use Apex for training, you will have to build a custom Docker image that includes Nvidia Apex, create an Azure ML Environment for the image (see [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#use-a-custom-docker-image-or-dockerfile)), and pass that into the `environment_definition` parameter of the PyTorch estimator.

[2020-08-25 19:07] jpe316 commented on #794
Deprecated, won't fix https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-package-models

[2020-08-25 19:07] #794 closed

[2020-08-25 19:08] jiajinghu19 commented on #1087
Hey thanks, I was able to get it work now

[2020-08-25 19:08] #1087 closed

[2020-08-25 19:08] #1054 closed

[2020-08-25 19:16] MayMSFT commented on #1090
The dataprep package is deprecated for internal use only. Customers are encouraged to use [auzreml dataset](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets) to access and load data from cloud.

We are working on removing the API reference for dataprep to avoid user confusion in the future. sorry for this.

[2020-08-25 19:32] MayMSFT commented on #1075
sorry for the late reply.
Which region is your machine learning workspace in? and which SDK version are you using? can you also share the drift id for us to investigate? You can find drift id from the monitor object. Thanks!

![image](https://user-images.githubusercontent.com/47834041/91219125-02558800-e6cf-11ea-8f37-808aa4db189e.png)

[2020-08-25 19:47] nishankgu commented on #597
#assign @sauryadas

[2020-08-25 19:53] #1110 closed

[2020-08-25 19:54] nishankgu commented on #597
I see this alread fixed here @j-martens : https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-training-targets#hdinsight

What am I missing?

[2020-08-25 19:58] gvashishtha commented on #585
If QuantizedSsdVgg wasn't in the accel-models samples, then unfortunately we don't have one.

[2020-08-25 19:59] jpe316 commented on #923
Estimators are being deprecated - the recommended path will be to use ScriptRunConfig and Environments to specify these. We will follow up with a new example, thank you!

[2020-08-25 20:00] jpe316 commented on #899
Not supported - by design

[2020-08-25 20:00] #899 closed

[2020-08-25 20:20] nishankgu commented on #1107
#assign @sauryadas

[2020-08-25 20:25] #1111 closed

[2020-08-25 20:25] BillmanH commented on #1111
upgraded to 1.12.0, which solved this problem and opened other issues.

[2020-08-25 20:29] BillmanH commented on #1115
Just a heads up,

Here are some things I've tried:
1) specifying the version of all of the packages individually:
[code]

2) specifying no version (hoping that AutoML will pick a version that is consistent):
[code]

[2020-08-25 20:31] BillmanH commented on #1115
Just to note:
This is all in the same run, I don't understand how it the final step would have a package inconsistency when the others won't.  They are all using the same config:

![image](https://user-images.githubusercontent.com/10108711/91224465-fcfc3b80-e6d6-11ea-808f-a92f84247c1b.png)

[2020-08-25 20:45] #991 closed

[2020-08-25 20:47] #585 closed

[2020-08-25 20:51] lostmygithubaccount commented on #579
@kracekumar please do open a new issue if still experiencing this after running `pip install --upgrade azureml-sdk[automl]`

[2020-08-25 20:51] #579 closed

[2020-08-25 20:56] lostmygithubaccount commented on #650
@mx-xiao

[2020-08-25 20:57] lostmygithubaccount commented on #651
@bcafferky is this still an issue? can you provide more details on the notebook that is failing?

[2020-08-25 20:59] lostmygithubaccount commented on #652
@oussamachelly is this still an issue?

[2020-08-25 21:00] lostmygithubaccount commented on #653
@martinezgjuan @oussamachelly has this been fixed? @swatig007 fyi

[2020-08-25 21:06] lostmygithubaccount commented on #683
@trevorbye is this enabled?

[2020-08-25 21:13] lostmygithubaccount commented on #703
closing given no response - feel free to reopen with more details

[2020-08-25 21:28] j-martens commented on #597
Great! This has been fixed. #please-close

[2020-08-25 21:28] #597 closed

[2020-08-25 22:14] #1068 closed

[2020-08-25 22:16] chengyu-liu-cs commented on #1108
So far what I understand based on documents and guesses is that an image will be built only when a model is deployed either in webservice (ACI or AKS). But the image names not intuitive. It is almost impossible to find the image without clicking one-by-one. If the same pipeline runs several times, then there will several images with new hash name. Again it is very hard to figure out which image is

[2020-08-25 22:56] jpe316 commented on #1108
Did you read the documentation on packaging a model into an image? https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-package-models

Webservice.deploy_from_image should be marked as deprecated. I'm adding @gvashishtha to address your feedback

[2020-08-26 01:29] NathanNZ commented on #1113
Currently working on acquiring a notebook that I can share. As it's not a blocking error at this stage this may not be possible, but i'll see what I can do!

[2020-08-26 02:13] kiranpradeep commented on #1054
@jpe316 Why is this closed? It still does not deploy. Also I had raised 3 points which causes error. None of them are addressed.

[2020-08-26 03:01] junshi356 commented on #1082
Hi! I am the engineer of Docs.ApiBrowser service. Just want to remind that if you want to update ApiBrowser index of **Python/Javascript/Java/Powershell**, please kindly send us (Me juns@microsoft.com or Osmond) emails to contact us. Otherwise the index will stay still since they are not already supported by automated re-index feature in ApiBrowser yet. :)

[2020-08-26 08:30] chengyu-liu-cs commented on #1108
@jpe316 There is always a way to build a solution, like in the document, download the image and run locally. But a better way will be (in our case), we train and test the model and packetize in a docker format and deploy to webservice from the docker image. Clients can test webservice directly and if clients are satisfied then we just deliver the docker image that is used in the webservice. Becaus

[2020-08-26 12:58] AndrewLouw commented on #1107
I got this issue on release day for version: 1.12.0 (and I suspect new infrastructure on cloud service).

[2020-08-26 14:22] Meenakshi-subramanian commented on #844
@CESARDELATORRE
Hi ,
I have registered my dataset using a python script step and I have given the dataset (Tabular Dataset) as input to AutoMLConfig. When I submit the AutoMLConfig as an experiment, The run is successful.

**Problem with AutoMLstep:**
However when I include the AutoMLConfig in the AutoML step and try to submit the pipeline. I face the followig error.

![image](https://user-images.